.row-fluid
  .span12.header-row
    %h1= "Discover #{@model.pluralize} on Loomio"
    .input-append
      = form_tag public_groups_path, method: 'get', class: 'form-search' do |f|
        = text_field_tag :query, params[:query], class: 'search-query'
        .add-on
          %i.icon-search
            = submit_tag "", class: 'submit-search'
.public-groups-container

  %ul.selector-list.bordered
    - @public_items.each do |item|
      = link_to item do
        %li.selector-item
          .group-name
            = item.title
          .group-description.clearfix
            = item.description.to_s

= paginate @public_items, :window => 3
