%section{"role" => "region", "aria-labelledby" => "comments"}
  %h2#comments= t :"new_help.comments.title"
  %h3.anchor#posting-comments= t :"new_help.comments.posting_comments.title"
  .row
    .col-sm-6
      %p= t :"new_help.comments.posting_comments.body"
      %h3.anchor#markdown= t :"new_help.comments.markdown.title"
      %p= t :"new_help.comments.markdown.body_html"
    .col-sm-6
      =image_tag "comment-box.png", alt: "comment box", class: "screenshot"
  %h3.anchor#attaching-files= t :"new_help.comments.attaching_files.title"
  .row
    .col-sm-8
      %p= t :"new_help.comments.attaching_files.body"
    .col-sm-4
      =image_tag "attachment-icon.png", alt: "attachment icon", class: "screenshot"
  %h3.anchor#mentioning= t :"new_help.comments.mentioning_group_members.title"
  .row
    .col-sm-6
      %p= t :"new_help.comments.mentioning_group_members.body_html"
    .col-sm-6
      =image_tag "mentioning.png", alt: "mentioning a user in a comment", class: "screenshot"
  %h3.anchor#editing-comments= t :"new_help.comments.editing_comments.title"
  %p= t :"new_help.comments.editing_comments.body_html"
  %h3.anchor#liking-comments= t :"new_help.comments.liking_comments.title"
  .row
    .col-sm-6
      %p= t :"new_help.comments.liking_comments.body.liking_html"
    .col-sm-6
      =image_tag "comment-like.png", alt: "comment with like link", class: "screenshot"
  .row
    .col-sm-6
      %p= t :"new_help.comments.liking_comments.body.unliking_html"
    .col-sm-6
      =image_tag "liked-comment.png", alt: "liked comment with unlike link", class: "screenshot"
  %h3.anchor#deleting-comments= t :"new_help.comments.deleting_comments.title"
  .row
    .col-sm-6
      %p= t :"new_help.comments.deleting_comments.body_html"
    .col-sm-6
      =image_tag "delete-comment-icon.png", alt: "comment with delete icon", class: "screenshot"
  = render "help_links"
