%section{"role" => "region", "aria-labelledby" => "contributing"}
  %h2#contributing= t :"new_help.contributing.title"
  %p= t :"new_help.contributing.body.intro"
  %ul#how-to-contribute
    %li
      %strong= t :"new_help.contributing.body.open_source.title_html"
    %p= t :"new_help.contributing.body.open_source.body_html"
    %li
      %strong
        %a{href: "#translation"}= t :"new_help.contributing.body.translation.title_html"
    %li
      %strong
        %a{href: "#loomio-community"}= t :"new_help.contributing.body.loomio_community.title_html"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"}= t :"new_help.back_to_top"
