%section{"role" => "region", "aria-labelledby" => "table-of-contents"}
  #contents
    %h2#table-of-contents= t :"new_help.contents.title"
    .row
      .col-sm-3
        %ul
          %li
            %h3
              %a{href: "#what-is-loomio"}= "What is Loomio?"
        %ul
          %li
            %h3
              %a{href: "#how-loomio-works"}= "How Loomio works"
        %ul
          %li
            %h3
              %a{href: "#getting-started"}= t :"new_help.contents.getting_started.title_html"
          %li
            %a{href: "#starting-new-group"}= t :"new_help.contents.getting_started.starting_new_group_html"
          %li
            %a{href: "#invited-into-group"}= t :"new_help.contents.getting_started.invited_into_group_html"
          %li
            %a{href: "#joining-existing-group"}= t :"new_help.contents.getting_started.joining_existing_group_html"
          %li
            %a{href: "#single-sign-on"}= t :"new_help.contents.getting_started.single_sign_on_html"
        %ul
          %li
            %h3
              %a{href: "#group-settings"}= t :"new_help.contents.group_settings.title_html"
          %li
            %a{href: "#group-profile"}= t :"new_help.contents.group_settings.group_profile_html"
          %li
            %a{href: "#group-privacy"}= t :"new_help.contents.group_settings.group_privacy_html"
          %li
            %a{href: "#group-permissions"}= t :"new_help.contents.group_settings.group_permissions_html"
        %ul
          %li
            %h3
              %a{href: "#coordination"}= t :"new_help.contents.coordination.title_html"
          %li
            %a{href: "#adding-cover-photo"}= t :"new_help.contents.coordination.adding_cover_photo_html"
          %li
            %a{href: "#manage-membership"}= t :"new_help.contents.coordination.managing_membership_html"
          %li
            %a{href: "#deactivating-groups"}= t :"new_help.contents.coordination.deactivating_groups_html"
      .col-sm-3
        %ul
          %li
            %h3
              %a{href: "#inviting-members"}= t :"new_help.contents.inviting_members.title_html"
          %li
            %a{href: "#importing-contacts"}= t :"new_help.contents.inviting_members.importing_contacts_html"
          %li
            %a{href: "#pending-invitations"}= t :"new_help.contents.inviting_members.pending_invitations_html"
        %ul
          %li
            %h3
              %a{href:"#discussion-threads"}= t :"new_help.contents.discussion_threads.title_html"
          %li
            %a{href: "#starting-discussions"}= t :"new_help.contents.discussion_threads.starting_discussions_html"
          %li
            %a{href: "#providing-context"}= t :"new_help.contents.discussion_threads.providing_context_html"
          %li
            %a{href: "#discussion-privacy"}= t :"new_help.contents.discussion_threads.discussion_privacy_html"
          %li
            %a{href: "#editing-discussions"}= t :"new_help.contents.discussion_threads.editing_discussions_html"
          %li
            %a{href: "#moving-discussions"}= t :"new_help.contents.discussion_threads.moving_discussions_html"
          %li
            %a{href: "#deleting-discussions"}= t :"new_help.contents.discussion_threads.deleting_discussions_html"
        %ul
          %li
            %h3
              %a{href: "#comments"}= t :"new_help.contents.comments.title_html"
          %li
            %a{href: "#posting-comments"}= t :"new_help.contents.comments.posting_comments_html"
          %li
            %a{href: "#attaching-files"}= t :"new_help.contents.comments.attaching_files_html"
          %li
            %a{href: "#mentioning"}= t :"new_help.contents.comments.mentioning_html"
          %li
            %a{href: "#editing-comments"}= t :"new_help.contents.comments.editing_comments_html"
          %li
            %a{href: "#liking-comments"}= t :"new_help.contents.comments.liking_comments_html"
          %li
            %a{href: "#deleting-comments"}= t :"new_help.contents.comments.deleting_comments_html"
      .col-sm-3
        %ul
          %li
            %h3
              %a{href: "#proposals"}= t :"new_help.contents.proposals.title_html"
          %li
            %a{href: "#starting-proposals"}= t :"new_help.contents.proposals.starting_proposals_html"
          %li
            %a{href: "#editing-proposals"}= t :"new_help.contents.proposals.editing_proposals_html"
          %li
            %a{href: "#stating-positions"}= t :"new_help.contents.proposals.stating_positions_html"
          %li
            %a{href: "#changing-positions"}= t :"new_help.contents.proposals.changing_positions_html"
          %li
            %a{href: "#setting-outcome"}= t :"new_help.contents.proposals.setting_outcome_html"
          %li
            %a{href: "#closing-proposals"}= t :"new_help.contents.proposals.closing_proposals_html"
          %li
            %a{href: "#previous-decisions"}= t :"new_help.contents.proposals.previous_decisions_html"
        %ul
          %li
            %h3
              %a{href: "#subgroups"}= t :"new_help.contents.subgroups.title_html"
          %li
            %a{href: "#subgroup-privacy"}= t :"new_help.contents.subgroups.subgroup_privacy_html"
        %ul
          %li
            %h3
              %a{href: "#dashboard"}= t :"new_help.contents.dashboard.title_html"
        %ul
          %li
            %h3
              %a{href: "#keeping-up-to-date"}= t :"new_help.contents.keeping_up_to_date.title_html"
          %li
            %a{href: "#volume"}= t :"new_help.contents.keeping_up_to_date.volume_html"
          %li
            %a{href:"#email-settings"}= t :"new_help.contents.keeping_up_to_date.email_settings_html"
          %li
            %a{href: "#yesterday-on-loomio"}= t :"new_help.contents.keeping_up_to_date.yesterday_on_loomio_html"
      .col-sm-3
        %ul
          %li
            %h3
              %a{href: "#user-profile"}= t :"new_help.contents.user_profile.title_html"
          %li
            %a{href: "#language-settings"}= t :"new_help.contents.user_profile.language_settings_html"
          %li
            %a{href: "#usernames"}= t :"new_help.contents.user_profile.usernames_html"
          %li
            %a{href: "#updating-personal-settings"}= t :"new_help.contents.user_profile.updating_personal_settings_html"
          %li
            %a{href: "#profile-photo"}= t :"new_help.contents.user_profile.profile_photo_html"
          %li
            %a{href: "#changing-passwords"}= t :"new_help.contents.user_profile.changing_passwords_html"
          %li
            %a{href: "#account-deactivation"}= t :"new_help.contents.user_profile.account_deactivation_html"
          %li
            %a{href: "#account-reactivation"}= t :"new_help.contents.user_profile.account_reactivation_html"
        %ul
          %li
            %h3
              %a{href: "#leaving-groups"}= t :"new_help.contents.leaving_groups.title_html"
        %ul
          %li
            %h3
              %a{href: "#translation"}= t :"new_help.contents.translation.title_html"
        %ul
          %li
            %h3
              %a{href: "#security"}= t :"new_help.contents.security.title_html"
        %ul
          %li
            %h3
              %a{href: "#contributing"}= t :"new_help.contents.contributing.title_html"
        %ul
          %li
            %h3
              %a{href: "#loomio-community"}= t :"new_help.contents.loomio_community.title_html"
        %ul
          %li
            %h3
              %a{href: "#loomio-development"}= t :"new_help.contents.loomio_development.title_html"
        %ul
          %li
            %h3
              %a{href: "#faq"}= t :"new_help.contents.faq.title_html"
