%section{"role" => "region", "aria-labelledby" => "coordination"}
  %h2#coordination= t :"new_help.coordination.title"
  %p= t :"new_help.coordination.intro_html"
  .row
    .col-sm-8
      %h3.anchor#adding-cover-photo= t :"new_help.coordination.adding_cover_photo.title"
      = t :"new_help.coordination.adding_cover_photo.body_html"
    .col-sm-4
      =image_tag "cover-photo-upload.png", class: "screenshot"
  %h3.anchor#manage-membership= t :"new_help.coordination.manage_membership.title"
  .row
    .col-sm-8
      %p= t :"new_help.coordination.manage_membership.body_html"
    .col-sm-4
      =image_tag "manage-members.png", class: "screenshot"
  %h4= t :"new_help.coordination.manage_membership.membership_requests.title"
  %p= t :"new_help.coordination.manage_membership.membership_requests.body.approval_process_html"
  .row
    .col-sm-8
      %p= t :"new_help.coordination.manage_membership.membership_requests.body.pending_requests_html"
    .col-sm-4
      =image_tag "pending-requests.png", class: "screenshot"
  =image_tag "pending-request.png", class: "screenshot"
  %h4= t :"new_help.coordination.manage_membership.email_group_members.title"
  .row
    .col-sm-8
      %p= t :"new_help.coordination.manage_membership.email_group_members.body_html"
    .col-sm-4
      =image_tag "email-group-members.png", class: "screenshot"
  %h4= t :"new_help.coordination.manage_membership.group_coordinators.title"
  %p= t :"new_help.coordination.manage_membership.group_coordinators.body_html"
  =image_tag "add-remove-coordinator.png", class: "screenshot"
  %h4= t :"new_help.coordination.manage_membership.group_members.title"
  %p= t :"new_help.coordination.manage_membership.group_members.body_html"
  %h3.anchor#deactivating-groups= t :"new_help.coordination.deactivating_groups.title"
  .row
    .col-sm-8
      %p= t :"new_help.coordination.deactivating_groups.body_html"
    .col-sm-4
      =image_tag "deactivate-group.png", class: "screenshot"
  %h3.anchor#coordinator-tips= t :"new_help.coordination.coordinator_tips.title"
  %h4
    %a{href: "#customising-invitations"}= t :"new_help.coordination.coordinator_tips.customise_invitation.title_html"
  %h4= t :"new_help.coordination.coordinator_tips.engaging_proposal.title"
  %p= t :"new_help.coordination.coordinator_tips.engaging_proposal.body"
  %h4= t :"new_help.coordination.coordinator_tips.encourage_mentioning.title_html"
  %p= t :"new_help.coordination.coordinator_tips.encourage_mentioning.body"
  = render 'help/help_links'
