%section{"role" => "region", "aria-labelledby" => "discussion-threads"}
  %h2#discussion-threads= t :"new_help.discussion_threads.title"
  .row
    .col-sm-6
      = t :"new_help.discussion_threads.intro_html"
    .col-sm-6
      =image_tag "example-discussion.png", class: "screenshot"
  %h3.anchor#starting-discussions= t :"new_help.discussion_threads.starting_discussions.title"
  .row
    .col-sm-8
      %p= t :"new_help.discussion_threads.starting_discussions.body_html"
    .col-sm-4
      =image_tag "start-discussion.png", class: "screenshot"
  %h3.anchor#providing-context= t :"new_help.discussion_threads.providing_context.title"
  .row
    .col-sm-7
      = t :"new_help.discussion_threads.providing_context.body_html"
      %h3.anchor#discussion-privacy= t :"new_help.discussion_threads.discussion_privacy.title"
      %p= t :"new_help.discussion_threads.discussion_privacy.body_html"
    .col-sm-5
      =image_tag "new-discussion-form.png", class: "screenshot"
  %h3.anchor#editing-discussions= t :"new_help.discussion_threads.editing_discussions.title"
  .row
    .col-sm-8
      = t :"new_help.discussion_threads.editing_discussions.body_html"
    .col-sm-4
      =image_tag "edit-discussion.png", class: "screenshot"
  %h3.anchor#moving-discussions= t :"new_help.discussion_threads.moving_discussions.title"
  .row
    .col-sm-7
      %p= t :"new_help.discussion_threads.moving_discussions.body_html"
    .col-sm-5
      =image_tag "move-discussion.png", class: "screenshot"
  %h3.anchor#deleting-discussions= t :"new_help.discussion_threads.deleting_discussions.title"
  .row
    .col-sm-8
      %p= t :"new_help.discussion_threads.deleting_discussions.body_html"
    .col-sm-4
      =image_tag "delete-discussion.png", class: "screenshot"
  = render 'help/help_links'
