%section{"role" => "region", "aria-labelledby" => "faq"}
  %h2#faq= t :"new_help.faq.title"
  .row
    .col-sm-12
      %h3= t :"new_help.faq.confirmation_email.title"
      %p= t :"new_help.faq.confirmation_email.body"
      %h3= t :"new_help.faq.forgotten_password.title"
      %p= t :"new_help.faq.forgotten_password.body_html"
      %h3= t :"new_help.faq.loomio_account.title"
      %p= t :"new_help.faq.loomio_account.body"
      %h3= t :"new_help.faq.cost.title"
      %p= t :"new_help.faq.cost.body_html"
      %h3= t :"new_help.faq.single_sign_on.title"
      %p= t :"new_help.faq.single_sign_on.body_html"
      %h3= t :"new_help.faq.loomio_instance.title"
      %p= t :"new_help.faq.loomio_instance.body_html"
      %h3= t :"new_help.faq.functional_group_size.title"
      %p= t :"new_help.faq.functional_group_size.body"
      %h3= t :"new_help.faq.approved_membership_request.title"
      %p= t :"new_help.faq.approved_membership_request.body"
      %h3= t :"new_help.faq.email_signature_included_in_reply_title"
      = t :"new_help.faq.email_signature_included_in_reply_body_html"
      = image_tag "email-signature.png", alt: "email signature block with preceding double-dash", class: "img-responsive", id: "screenshot"
      %h3= t :"new_help.faq.search_for_private_group.title"
      %p= t :"new_help.faq.search_for_private_group.body"
      %h3= t :"new_help.faq.mobile_responsive.title"
      %p= t :"new_help.faq.mobile_responsive.body"
      %h3= t :"new_help.faq.account_reactivation.title"
      %p= t :"new_help.faq.account_reactivation.body_html"
      %h3= t :"new_help.faq.restore_group.title"
      %p= t :"new_help.faq.restore_group.body_html"
      %h3= t :"new_help.faq.feature_idea.title"
      %p= t :"new_help.faq.feature_idea.body_html"
      %h3= t :"new_help.faq.development_pipeline.title"
      %p= t :"new_help.faq.development_pipeline.body_html"
      %h3= t :"new_help.faq.loomio_api.title"
      %p= t :"new_help.faq.loomio_api.body"
      %h3= t :"new_help.faq.subdomain.title"
      %p= t :"new_help.faq.subdomain.body_html"
