%section#faq
  %h1= t :"new_help.faq.title"
  .row
    .col-sm-12
      %h3= t :"new_help.faq.confirmation_email.title"
      %p= t :"new_help.faq.confirmation_email.body"
      %h3= t :"new_help.faq.approved_membership_request.title"
      %p= t :"new_help.faq.approved_membership_request.body"
      %h3= t :"new_help.faq.forgotten_password.title"
      %p= t :"new_help.faq.forgotten_password.body_html"
      %h3= t :"new_help.faq.loomio_account.title"
      %p= t :"new_help.faq.loomio_account.body"
      %h3= t :"new_help.faq.cost.title"
      = t :"new_help.faq.cost.body_html"
      %h3= t :"new_help.faq.single_sign_on.title"
      %p= t :"new_help.faq.single_sign_on.body_html"
      %h3= t :"new_help.faq.loomio_instance.title"
      %p= t :"new_help.faq.loomio_instance.body_html"
      %h3= t :"new_help.faq.feature_idea.title"
      %p= t :"new_help.faq.feature_idea.body_html"
      %h3= t :"new_help.faq.development_pipeline.title"
      %p= t :"new_help.faq.development_pipeline.body_html"
      %h3= t :"new_help.faq.max_group_size.title"
      %p= t :"new_help.faq.max_group_size.body_html"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"}= t :"new_help.back_to_top"
    .col-sm-6
      %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"}= t :"new_help.faq.feedback_link"
