%section{"role" => "region", "aria-labelledby" => "getting-started"}
  %h2#getting-started= t :"new_help.getting_started.title"
  %p= t :"new_help.getting_started.intro"
  %h3.anchor#starting-new-group= t :"new_help.getting_started.starting_new_group.title"
  .row
    .col-sm-8
      %p= t :"new_help.getting_started.starting_new_group.body_html"
    .col-sm-4
      =image_tag "try-loomio-beta.png", class: "screenshot"
  %h3.anchor#invited-into-group= t :"new_help.getting_started.invited_into_group.title"
  %p= t :"new_help.getting_started.invited_into_group.body_html"
  %h3.anchor#joining-existing-group= t :"new_help.getting_started.joining_existing_group.title_html"
  =image_tag "explore-link-footer.png", class: "screenshot"
  %p= t :"new_help.getting_started.joining_existing_group.body.explore_page_html"
  .row
    .col-sm-8
      %p= t :"new_help.getting_started.joining_existing_group.body.open_to_join_html"
    .col-sm-4
      =image_tag "join-group.png", class: "screenshot"
  .row
    .col-sm-8
      %p= t :"new_help.getting_started.joining_existing_group.body.by_request_html"
    .col-sm-4
      =image_tag "ask-to-join-group.png", class: "screenshot"
  %p= t :"new_help.getting_started.joining_existing_group.body.invitation_only_html"
  %h3.anchor#single-sign-on= t :"new_help.getting_started.single_sign_on.title"
  .row
    .col-sm-7
      = t :"new_help.getting_started.single_sign_on.body_html"
    .col-sm-5
      =image_tag "login-page.png", class: "screenshot"
  = render 'help/help_links'
