%section{"role" => "region", "aria-labelledby" => "group-settings"}
  %h2#group-settings= t :"new_help.group_settings.title"
  .row
    .col-sm-7
      %p= t :"new_help.group_settings.intro_html"
      %h3.anchor#group-profile= t :"new_help.group_settings.group_profile.title"
      %p= t :"new_help.group_settings.group_profile.body_html"
    .col-sm-5
      =image_tag "group-settings.png", alt: "group settings form", class: "screenshot"
  =image_tag "explore-page.png", alt: "explore page", class: "screenshot"
  %h3.anchor#group-privacy= t :"new_help.group_settings.group_privacy.title"
  .row
    .col-sm-7
      %p= t :"new_help.group_settings.group_privacy.intro_html"
      %h4= t :"new_help.group_settings.group_privacy.who_can_find_this_group.title"
      %p= t :"new_help.group_settings.group_privacy.who_can_find_this_group.body.anyone_html"
      %p= t :"new_help.group_settings.group_privacy.who_can_find_this_group.body.members_only_html"
    .col-sm-5
      =image_tag "group-privacy.png", alt: "group privacy section of group settings form", class: "screenshot"
  %h4= t :"new_help.group_settings.group_privacy.how_do_people_join.title"
  .row
    .col-sm-8
      %p= t :"new_help.group_settings.group_privacy.how_do_people_join.body.open_html"
    .col-sm-4
      =image_tag "join-group.png", alt: "join group button", class: "screenshot"
  .row
    .col-sm-8
      %p= t :"new_help.group_settings.group_privacy.how_do_people_join.body.by_request_html"
    .col-sm-4
      =image_tag "ask-to-join-group.png", alt: "ask to join group button", class: "screenshot"
  .row
    .col-sm-5
      =image_tag "request-membership.png", alt: "request membership form", class: "screenshot"
    .col-sm-7
      %p= t :"new_help.group_settings.group_privacy.how_do_people_join.body.membership_requests_html"
      =image_tag "pending-request.png", alt: "pending membership request", class: "screenshot"
  %p= t :"new_help.group_settings.group_privacy.how_do_people_join.body.invitation_only_html"
  %h4= t :"new_help.group_settings.group_privacy.who_can_see_discussions.title"
  %p= t :"new_help.group_settings.group_privacy.who_can_see_discussions.body.public_only_html"
  %p= t :"new_help.group_settings.group_privacy.who_can_see_discussions.body.public_and_private_html"
  %p= t :"new_help.group_settings.group_privacy.who_can_see_discussions.body.private_only_html"
  %h3.anchor#group-permissions= t :"new_help.group_settings.group_permissions.title"
  .row
    .col-sm-7
      = t :"new_help.group_settings.group_permissions.body_html"
    .col-sm-5
      =image_tag "group-permissions.png", alt: "group permissions section of group settings form", class: "screenshot"
  %h4= t :"new_help.group_settings.group_permissions.what_can_members_do.title"
  %p.permissions-subhead= t :"new_help.group_settings.group_permissions.what_can_members_do.invite_and_approve_new_members.title"
  %p= t :"new_help.group_settings.group_permissions.what_can_members_do.invite_and_approve_new_members.body_html"
  %p.permissions-subhead= t :"new_help.group_settings.group_permissions.what_can_members_do.create_subgroups.title"
  %p= t :"new_help.group_settings.group_permissions.what_can_members_do.create_subgroups.body_html"
  %p.permissions-subhead= t :"new_help.group_settings.group_permissions.what_can_members_do.start_discussions.title"
  %p= t :"new_help.group_settings.group_permissions.what_can_members_do.start_discussions.body_html"
  %p.permissions-subhead= t :"new_help.group_settings.group_permissions.what_can_members_do.edit_discussion_context.title"
  %p= t :"new_help.group_settings.group_permissions.what_can_members_do.edit_discussion_context.body_html"
  %p.permissions-subhead= t :"new_help.group_settings.group_permissions.what_can_members_do.edit_comments.title"
  .row
    .col-sm-6
      %p= t :"new_help.group_settings.group_permissions.what_can_members_do.edit_comments.body_html"
    .col-sm-6
      =image_tag "edited-comment.png", alt: "edited comment", class: "screenshot"
  %p.permissions-subhead= t :"new_help.group_settings.group_permissions.what_can_members_do.raise_proposals.title"
  %p= t :"new_help.group_settings.group_permissions.what_can_members_do.raise_proposals.body_html"
  %p.permissions-subhead= t :"new_help.group_settings.group_permissions.what_can_members_do.vote_on_proposals.title"
  %p= t :"new_help.group_settings.group_permissions.what_can_members_do.vote_on_proposals.body_html"
  %h3.after-group-setup= t :"new_help.group_settings.group_permissions.what_next.title"
  %p= t :"new_help.group_settings.group_permissions.what_next.body_html"
  = render 'help/help_links'
