%section#how-to
  %h1= t :"new_help.how_to.title"
  %ul#get-started
    %li
      %strong
        %a{href: "#starting-new-group"}=t :"new_help.how_to.start_group_link"
      %span=t :"new_help.how_to.start_group_description"
    %li
      %strong
        %a{href: "#inviting-members"}=t :"new_help.how_to.invite_people_link"
      %span=t :"new_help.how_to.invite_people_description"
    %li
      %strong
        %a{href: "#starting-discussions"}= t :"new_help.how_to.start_discussion_link"
      %span= t :"new_help.how_to.start_discussion_description"
    %li
      %strong
        %a{href: "#starting-proposals"}= t :"new_help.how_to.make_proposal_link"
      %span= t :"new_help.how_to.make_proposal_description"
    %li
      %strong
        %a{href: "#stating-positions"}= t :"new_help.how_to.decide_together_link"
      %span= t :"new_help.how_to.decide_together_description"
  %h2= t :"help.how_it_works"
  %p= t :"help.video_tutorial_description"
  <iframe width='356px' height='267px' src="//www.youtube.com/embed/eu6A1IQar0g" frameborder="0" allowfullscreen></iframe>