.row
  .subhead
    %h1= t :"help.how_it_works"
.row#video-tutorial
  .col-sm-12
    %h2= t :"help.video_tutorial"
  .col-md-8
    %p= t :"help.video_tutorial_description"
    - unless signed_in?
      = link_to "Start a group", start_group_path, class: 'btn btn-success btn-lg', id: 'start-group-btn'
  .col-md-4
    <iframe width='356px' height='267px' src="//www.youtube.com/embed/eu6A1IQar0g" frameborder="0" allowfullscreen></iframe>
.row#getting-started
  .col-sm-12
    %h2= t :"help.getting_started"
  .col-sm-8
    %p= t :"help.getting_started_description"
  .col-sm-4
    =link_to(image_tag("how-it-works-overview-ss.jpg"), image_path("how-it-works-overview-big.jpg"))
.row#have-a-discussion
  .col-sm-12
    %h2= t :"help.have_a_discussion"
  .col-sm-8
    %p= t :"help.have_a_discussion_description"
  .col-sm-4
    =link_to(image_tag("how-it-works-discussion-ss.jpg"), image_path("how-it-works-discussion-big.jpg"))
.row#make-a-decision
  .col-sm-12
    %h2= t :"help.make_a_decision"
  .col-sm-8
    %p= t :"help.make_a_decision_description"
  .col-sm-4
    =image_tag("how-it-works-decision-ss.jpg")
.row#have-your-say
  .col-sm-12
    %h2= t :"help.have_your_say"
  .col-sm-6
    = t :"help.have_your_say_details_html"
  .col-sm-6
    .positions
      =image_tag("hand-yes.png", class: "pull-left")
      %p= t(:"help.positions_agree_description").html_safe
      =image_tag("hand-abstain.png", class: "pull-left")
      %p= t(:"help.positions_abstain_description").html_safe
      =image_tag("hand-no.png", class: "pull-left")
      %p= t(:"help.positions_disagree_description").html_safe
      =image_tag("hand-block.png", class: "pull-left")
      %p= t(:"help.positions_block_description").html_safe
