%section{"role" => "region", "aria-labelledby" => "how-loomio-works"}
  %h2#how-loomio-works=t :"new_help.how_loomio_works.title"
  %ul#get-started
    %li
      %strong
        %a{href: "#starting-new-group"}=t :"new_help.how_loomio_works.start_group_link"
      %span=t :"new_help.how_loomio_works.start_group_description"
    %li
      %strong
        %a{href: "#inviting-members"}=t :"new_help.how_loomio_works.invite_people_link"
      %span=t :"new_help.how_loomio_works.invite_people_description"
    %li
      %strong
        %a{href: "#starting-discussions"}= t :"new_help.how_loomio_works.start_discussion_link"
      %span= t :"new_help.how_loomio_works.start_discussion_description"
    %li
      %strong
        %a{href: "#starting-proposals"}= t :"new_help.how_loomio_works.make_proposal_link"
      %span= t :"new_help.how_loomio_works.make_proposal_description"
    %li
      %strong
        %a{href: "#stating-positions"}= t :"new_help.how_loomio_works.decide_together_link"
      %span= t :"new_help.how_loomio_works.decide_together_description"
  .row
    .col-sm-12#video-tutorial
      %p= t :"help.video_tutorial_description"
      %iframe{allowfullscreen: "", frameborder: "0", height: "267px", src: "//www.youtube.com/embed/eu6A1IQar0g", width: "356px"}
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"}= t :"new_help.back_to_top"
