%section#how-to
  %h1= t :"new_help.how_to.title"
  %ul#get-started
    %li= t :"new_help.how_to.start_group_html"
    %li= t :"new_help.how_to.invite_people_html"
    %li= t :"new_help.how_to.start_discussion_html"
    %li= t :"new_help.how_to.make_proposal_html"
    %li= t :"new_help.how_to.decide_together_html"
  %h2= t :"help.how_it_works"
  %p= t :"help.video_tutorial_description"
  <iframe width='356px' height='267px' src="//www.youtube.com/embed/eu6A1IQar0g" frameborder="0" allowfullscreen></iframe>