%section{"role" => "region", "aria-labelledby" => "inviting-members"}
  %h2#inviting-members= t :"new_help.inviting_members.title"
  .row
    .col-sm-8
      %p= t :"new_help.inviting_members.body.intro_html"
    .col-sm-4
      =image_tag "invite-people-button.png", class: "screenshot"
  .row
    .col-sm-7
      %p= t :"new_help.inviting_members.body.invitation_instructions_html"
      %p.anchor#customising-invitations= t :"new_help.inviting_members.body.customising_invitations_html"
      %p= t :"new_help.inviting_members.body.invitation_link"
      =image_tag "invitation-email.png", class: "screenshot"
    .col-sm-5
      =image_tag "invitation-form.png", class: "screenshot"
  %h3.anchor#importing-contacts= t :"new_help.inviting_members.importing_contacts.title"
  %p= t :"new_help.inviting_members.importing_contacts.body.intro_html"
  .row
    .col-sm-6
      %p= t :"new_help.inviting_members.importing_contacts.body.instructions_html"
    .col-sm-6
      =image_tag "import-contacts-link.png", class: "screenshot"
      =image_tag "import-contacts-permission.png", class: "screenshot"
  %h3.anchor#pending-invitations= t :"new_help.inviting_members.pending_invitations.title"
  %p= t :"new_help.inviting_members.pending_invitations.body_html"
  =image_tag "pending-invitation.png", class: "screenshot"
  = render 'help/help_links'
