%section{"role" => "region", "aria-labelledby" => "keeping-up-to-date"}
  %h2#keeping-up-to-date= t :"new_help.keeping_up_to_date.title"
  %h3.anchor#volume= t :"new_help.keeping_up_to_date.volume.title"
  .row
    .col-sm-7
      = t :"new_help.keeping_up_to_date.volume.body.intro_html"
      %ul#volume-options
        %li
          %strong= t :"new_help.keeping_up_to_date.volume.body.loud_title"
          %span= t :"new_help.keeping_up_to_date.volume.body.loud_description"
        %li
          %strong= t :"new_help.keeping_up_to_date.volume.body.normal_title"
          %span= t :"new_help.keeping_up_to_date.volume.body.normal_description"
        %li
          %strong= t :"new_help.keeping_up_to_date.volume.body.quiet_title"
          %span= t :"new_help.keeping_up_to_date.volume.body.quiet_description"
        %li
          %strong= t :"new_help.keeping_up_to_date.volume.body.mute_title"
          %span=t :"new_help.keeping_up_to_date.volume.body.mute_description_html"
      %p= t :"new_help.keeping_up_to_date.volume.body.upon_joining_group_html"
    .col-sm-5
      =image_tag "group-volume.png", alt: "group volume options dropdown", class: "screenshot"
  .row
    .col-sm-6
      %p= t :"new_help.keeping_up_to_date.volume.body.set_all_group_volume_html"
    .col-sm-6
      =image_tag "group-volume-settings.png", alt: "options for group volume default settings", class: "screenshot"
  .row
    .col-sm-7
      = t :"new_help.keeping_up_to_date.volume.body.discussion_volume_html"
    .col-sm-5
      =image_tag "discussion-volume.png", alt: "discussion volume options dropdown", class: "screenshot"
  .row
    .col-sm-6
      %p= t :"new_help.keeping_up_to_date.volume.body.reply_via_email_html"
    .col-sm-6
      =image_tag "email-footer.png", alt: "email footer with links", class: "screenshot"
  %h3.anchor#email-settings= t :"new_help.keeping_up_to_date.email_settings.title"
  .row
    .col-sm-9
      %p= t :"new_help.keeping_up_to_date.email_settings.body_html"
    .col-sm-3
      =image_tag "email-settings.png", alt: "email settings option in user dropdown", class: "screenshot"
  .row
    .col-sm-5
      %h3.anchor#yesterday-on-loomio= t :"new_help.keeping_up_to_date.yesterday_on_loomio.title"
      %p= t :"new_help.keeping_up_to_date.yesterday_on_loomio.body_html"
    .col-sm-7
      =image_tag "email-settings-page.png", alt: "email settings page", class: "screenshot"
  = render 'help/help_links'
