%section#keeping-up-to-date
  %h1= t :"new_help.keeping_up_to_date.title"
  %h3.anchor#volume= t :"new_help.keeping_up_to_date.volume.title"
  .row
    .col-sm-7
      = t :"new_help.keeping_up_to_date.volume.body.intro_html"
      %ul#volume-options
        %li= t :"new_help.keeping_up_to_date.volume.body.loud_html"
        %li= t :"new_help.keeping_up_to_date.volume.body.normal_html"
        %li= t :"new_help.keeping_up_to_date.volume.body.quiet_html"
        %li= t :"new_help.keeping_up_to_date.volume.body.mute_html"
      %p= t :"new_help.keeping_up_to_date.volume.body.upon_joining_group_html"
    .col-sm-5
      =image_tag "group-volume.png", class: "screenshot"
  .row
    .col-sm-6
      %p= t :"new_help.keeping_up_to_date.volume.body.set_all_group_volume_html"
    .col-sm-6
      =image_tag "group-volume-settings.png", class: "screenshot"
  .row
    .col-sm-7
      = t :"new_help.keeping_up_to_date.volume.body.discussion_volume_html"
    .col-sm-5
      =image_tag "discussion-volume.png", class: "screenshot"
  .row
    .col-sm-6
      %p= t :"new_help.keeping_up_to_date.volume.body.reply_via_email_html"
    .col-sm-6
      =image_tag "email-footer.png", class: "screenshot"
  %h3.anchor#email-settings= t :"new_help.keeping_up_to_date.email_settings.title"
  .row
    .col-sm-9
      %p= t :"new_help.keeping_up_to_date.email_settings.body_html"
    .col-sm-3
      =image_tag "email-settings.png", class: "screenshot"
  .row
    .col-sm-5
      %h3.anchor#yesterday-on-loomio= t :"new_help.keeping_up_to_date.yesterday_on_loomio.title"
      %p= t :"new_help.keeping_up_to_date.yesterday_on_loomio.body_html"
    .col-sm-7
      =image_tag "email-settings-page.png", class: "screenshot"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"}= t :"new_help.back_to_top"
    .col-sm-6
      %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"}= t :"new_help.feedback_discussion"
