%section{"role" => "region", "aria-labelledby" => "loomio-development"}
  %h2#loomio-development= t :"new_help.loomio_development.title"
  %p= t :"new_help.loomio_development.intro"
  %ul#progress-resources
    %li
      %strong
        %a{href: "https://github.com/loomio/loomio"}= t :"new_help.loomio_development.github_repo_html"
    %li
      %strong
        %a{href: "https://github.com/loomio/loomio/issues"}= t :"new_help.loomio_development.github_issues_html"
    %li
      %strong
        %a{href: "https://loomio.org/angular"}= t :"new_help.loomio_development.angular_html"
    %li
      %strong
        %a{href: "https://trello.com/b/tM6QGCLH/loomio-roadmap"}= t :"new_help.loomio_development.roadmap_html"
    %li
      %strong
        %a{href: "https://twitter.com/loomio"}= t :"new_help.loomio_development.twitter_html"
    %li
      %strong
        %a{href: "https://codeclimate.com/github/loomio/loomio"}= t :"new_help.loomio_development.code_climate_html"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"}= t :"new_help.back_to_top"
