%section#loomio-development
  %h1= t :"new_help.loomio_development.title"
  %p= t :"new_help.loomio_development.intro"
  %ul#progress-resources
    %li= t :"new_help.loomio_development.github_repo_html"
    %li= t :"new_help.loomio_development.github_issues_html"
    %li= t :"new_help.loomio_development.angular_html"
    %li= t :"new_help.loomio_development.roadmap_html"
    %li= t :"new_help.loomio_development.twitter_html"
    %li= t :"new_help.loomio_development.code_climate_html"
  .row#bottom-links
    %a.back-to-top{:href => "#contents"}= t :"new_help.back_to_top"
