.row
  %h1= t :"help.getting_the_most"
.row#starting-an-engaging-discussion
  .col-md-10
    %h2= t :"help.start_discussion"
.row
  .col-md-8
    = t :"help.start_discussion_html"
.row#writing-a-clear-proposal
  .col-md-8
    %h2= t :"help.start_proposal"
    = t :"help.start_proposal_html"
.row#different-ways-to-use-Loomio
  .col-md-9
    %h2= t :"help.different_ways"
.row
  .col-md-8
    .example
      = t :"help.example1_html"
    .example
      = t :"help.example2_html"
