.row-fluid#prompt-people
  .span10
    %h2= t :"help.prompt_people_html"
.row-fluid
  .span8
    %p= t :"help.prompt_people_details"
.row-fluid#keep-up-to-date
  .span8
    %h2= t :"help.keep_up_to_date"
    = t :"help.keep_up_to_date_html", link: email_preferences_path
.row-fluid#images-and-text-formatting
  .span8
    %h2= t :"help.images_and_text_formatting"
    = t :"help.images_and_text_formatting_html"
