.row-fluid
  %h1= t :"help.getting_the_most"
.row-fluid#starting-an-engaging-discussion
  .span10
    %h2= t :"help.start_discussion"
.row-fluid
  .span8
    = t :"help.start_discussion_html"
.row-fluid#writing-a-clear-proposal
  .span8
    %h2= t :"help.start_proposal"
    = t :"help.start_proposal_html"
.row-fluid#different-ways-to-use-Loomio
  .span9
    %h2= t :"help.different_ways"
.row-fluid
  .span8
    .example
      = t :"help.example1_html"
    .example
      = t :"help.example2_html"
