.row#prompt-people
  .col-md-10
    %h2= t :"help.prompt_people_html"
.row
  .col-md-8
    %p= t :"help.prompt_people_details"
.row#keep-up-to-date
  .col-md-8
    %h2= t :"help.keep_up_to_date"
    = t :"help.keep_up_to_date_html", link: email_preferences_path
.row#images-and-text-formatting
  .col-md-8
    %h2= t :"help.images_and_text_formatting"
    = t :"help.images_and_text_formatting_html"
