%section{"role" => "region", "aria-labelledby" => "proposals"}
  %h2#proposals= t :"new_help.proposals.title"
  %p= t :"new_help.proposals.intro_html"
  %h3.anchor#starting-proposals= t :"new_help.proposals.starting_proposals.title"
  .row
    .col-sm-9
      %p= t :"new_help.proposals.starting_proposals.body.instructions_html"
    .col-sm-3
      =image_tag "create-proposal-button.png", alt: "create proposal button", class: "screenshot"
  .row
    .col-sm-6
      = t :"new_help.proposals.starting_proposals.body.additional_info_html"
      %h3.anchor#editing-proposals= t :"new_help.proposals.editing_proposals.title"
      %p= t :"new_help.proposals.editing_proposals.body.intro_html"
    .col-sm-6
      =image_tag "new-proposal-form.png", alt: "new proposal form", class: "screenshot"
  .row
    .col-sm-6
      %p= t :"new_help.proposals.editing_proposals.body.instructions_html"
    .col-sm-6
      =image_tag "proposal-screenshot.png", alt: "current decision panel with active proposal and edit link", class: "screenshot"
  %h3.anchor#stating-positions= t :"new_help.proposals.stating_positions.title"
  .row
    .col-sm-4
      %p= t :"new_help.proposals.stating_positions.body.intro_html"
    .col-sm-8
      .positions
        =image_tag("hand-yes.png", alt: "yes icon", class: "pull-left")
        %p= t(:"help.positions_agree_description").html_safe
        =image_tag("hand-abstain.png", alt: "abstain icon", class: "pull-left", style: "clear: both")
        %p= t(:"help.positions_abstain_description").html_safe
        =image_tag("hand-no.png", alt: "no icon", class: "pull-left")
        %p= t(:"help.positions_disagree_description").html_safe
        =image_tag("hand-block.png", alt: "block icon", class: "pull-left")
        %p= t(:"help.positions_block_description").html_safe
  .row
    .col-sm-6
      = t :"new_help.proposals.stating_positions.body.additional_info_html"
    .col-sm-6
      =image_tag "position-statements.png", alt: "position statements", class: "screenshot"
  %h3.anchor#changing-positions= t :"new_help.proposals.changing_positions.title"
  .row
    .col-sm-6
      %p= t :"new_help.proposals.changing_positions.body_html"
    .col-sm-6
      =image_tag "edit-position.png", alt: "position statement with edit link", class: "screenshot"
  %h3.anchor#setting-outcome= t :"new_help.proposals.setting_outcome.title"
  .row
    .col-sm-6
      %p= t :"new_help.proposals.setting_outcome.body_html"
    .col-sm-6
      =image_tag "outcome-statement.png", alt: "proposal outcome input", class: "screenshot"
  %h3.anchor#closing-proposals= t :"new_help.proposals.closing_proposals.title"
  .row
    .col-sm-6
      %p= t :"new_help.proposals.closing_proposals.body_html"
    .col-sm-6
      =image_tag "proposal-screenshot.png", alt: "current decision panel with active proposal and edit link", class: "screenshot"
      =image_tag "close-proposal.png", alt: "close proposal button", class: "screenshot"
  %h3.anchor#previous-decisions= t :"new_help.proposals.previous_decisions.title"
  .row
    .col-sm-6
      %p= t :"new_help.proposals.previous_decisions.body_html"
    .col-sm-6
      =image_tag "previous-decisions.png", alt: "previous decisions panel with closed proposal", class: "screenshot"
  = render 'help/help_links'
