%section{"role" => "region", "aria-labelledby" => "subgroups"}
  %h2#subgroups= t :"new_help.subgroups.title"
  %p= t :"new_help.subgroups.body.intro_html"
  .row
    .col-sm-9
      %p= t :"new_help.subgroups.body.creation_instructions_html"
    .col-sm-3
      =image_tag "create-subgroup.png", alt: "create subgroup link in subgroups panel on group page", class: "screenshot"
  %h3.anchor#subgroup-privacy= t :"new_help.subgroups.subgroup_privacy.title"
  .row
    .col-sm-7
      = t :"new_help.subgroups.subgroup_privacy.body.settings_html"
    .col-sm-5
      =image_tag "subgroup-settings.png", alt: "new subgroup form", class: "screenshot"
  .row
    .col-sm-9
      %p= t :"new_help.subgroups.subgroup_privacy.body.editing_settings_html"
    .col-sm-3
      =image_tag "edit-subgroup.png", alt: "edit group settings option in group dropdown", class: "screenshot"
  = render 'help/help_links'
