%section{"role" => "region", "aria-labelledby" => "user-profile"}
  %h2#user-profile= t :"new_help.user_profile.title"
  .row
    .col-sm-9
      %p= t :"new_help.user_profile.intro_html"
    .col-sm-3
      =image_tag "user-profile.png", alt: "profile option in user dropdown", class: "screenshot"
  .row
    .col-sm-6
      %h3.anchor#language-settings= t :"new_help.user_profile.language_settings.title"
      %p= t :"new_help.user_profile.language_settings.body_html"
      %h3.anchor#usernames= t :"new_help.user_profile.usernames.title"
      %p= t :"new_help.user_profile.usernames.body_html"
      %h3.anchor#updating-personal-settings= t :"new_help.user_profile.updating_personal_settings.title"
      %p= t :"new_help.user_profile.updating_personal_settings.body_html"
      %h3.anchor#profile-photo= t :"new_help.user_profile.profile_photo.title"
      %p= t :"new_help.user_profile.profile_photo.body_html"
    .col-sm-6
      =image_tag "profile-page.png", alt: "profile page", class: "screenshot"
  %h3.anchor#changing-passwords= t :"new_help.user_profile.changing_passwords.title"
  %p= t :"new_help.user_profile.changing_passwords.body_html"
  %h3.anchor#account-deactivation= t :"new_help.user_profile.account_deactivation.title"
  .row
    .col-sm-8
      = t :"new_help.user_profile.account_deactivation.body.instructions_html"
      %ul.deactivation
        = t :"new_help.user_profile.account_deactivation.body.implications_html"
    .col-sm-4
      =image_tag "deactivation-button.png", alt: "deactivate account button", class: "screenshot"
  %h3.anchor#account-reactivation= t :"new_help.user_profile.account_reactivation.title"
  %p= t :"new_help.user_profile.account_reactivation.body_html"
  = render 'help/help_links'
