.col-md-12#help-content
  %section#how-it-works
    .inner-container
      = render 'help/how_it_works'
      = render 'help/more_feature_help'
  %section#getting-the-most-out-of-Loomio
    .inner-container
      = render 'help/more_culture_help'
  %section#coordinating-your-Loomio-group
    .inner-container
      = render 'help/coordinator_help'
  %section#get-in-touch
    .inner-container
      = render 'help/feedback'
.clearfix