.span3#sidenav
  %ul.nav.nav-tabs.nav-stacked.affix
    %li= link_to 'How it works', '#how-it-works'
    %li.sub= link_to 'Video tutorial', '#video_tutorial'
    %li.sub= link_to 'Getting started', '#getting_started'
    %li.sub= link_to 'Have a discussion', '#have_a_discussion'
    %li.sub= link_to 'Make a decision', '#make_a_decision'
    %li.sub= link_to 'See how everyone feels', '#how_everyone_feels'
    %li.sub= link_to 'Build shared understanding', '#shared_understanding'
    %li= link_to 'Get in touch', '#feedback'

.span8#help_content
  = render 'help/how_it_works'
  = render 'help/feedback'
