.row
  .col-md-12#help-content
    %h1#help-header= t :"new_help.title"
    = render "contents"
    = render "what_is_loomio"
    = render "how_loomio_works"
    = render "getting_started"
    = render "group_settings"
    = render "coordination"
    = render "inviting_members"
    = render "discussion_threads"
    = render "comments"
    = render "proposals"
    = render "subgroups"
    = render "dashboard"
    = render "keeping_up_to_date"
    = render "user_profile"
    = render "leaving_group"
    = render "translation"
    = render "security"
    = render "contributing"
    = render "loomio_community"
    = render "loomio_development"
    = render "faq"
