<style>
td {
  vertical-align: top;
}
</style>
<table>
<tr><td>
<pre id='markdown-src'>
<%= t(:'markdown.intro.title') %>

<%= t(:'markdown.intro.body') %>

<%= t(:'markdown.headers.body')  %>

<%= t(:'markdown.emphasis.title')  %>

<%= t(:'markdown.emphasis.body')  %>

<%= t(:'markdown.lists.title')  %>

<%= t(:'markdown.lists.body')  %>

<%= t(:'markdown.links.title')  %>

<%= t(:'markdown.links.body')  %>


</pre>
</td>
<td id='content'>
</td></tr></table>

<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script>
  document.getElementById('content').innerHTML = marked(document.getElementById('markdown-src').innerHTML)
</script>
