.sub-panel#groups
  %h3 Groups
  = icon_button(request_new_group_path, 'Request new group', '/assets/group-18.png', 'request-new-group')
  %ul#dashboard-groups-list
    - current_user.root_groups.each do |group|
      %li
        .group-link.clearfix
          .group-link-name= link_to group.name, group_path(group), :class => 'view_'+group.viewable_by.to_s
          .group-link-activity= render '/application/group_activity', user: current_user, group: group
        - if group.subgroups.size > 0
          - group.subgroups.each do |subgroup|
            - if (current_user && current_user.group_membership(subgroup))
              %li.sub-group
                .group-link.clearfix
                  .group-link-name= link_to subgroup.name, group_path(subgroup), :class => 'view_'+subgroup.viewable_by.to_s
                  .group-link-activity= render '/application/group_activity', user: current_user, group: subgroup
