%li
  %h3.group-panel
    = link_to group.name, group_path(group)
    .parent-name= link_to "(#{group.parent.name})", group_path(group.parent) if group.parent
  %ul.selector-list.bordered
    #discussions-with-motions
      - group.discussions_with_current_motion_not_voted_on(current_user).each do |discussion|
        %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
      - group.discussions_with_current_motion_voted_on(current_user).each do |discussion|
        %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
    - if current_user && current_user.discussions.count == 0
      %li.empty-list-message.hidden There are no discussions in any of your groups
    - group.discussions.each do |discussion|
      - if ((discussion.never_read_by(current_user) || discussion.number_of_comments_since_last_looked(current_user) > 0) && (not discussion.current_motion))
        %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
    %li.new-discussion-link
      %a{:href => '#new-discussion', 'data-toggle' => 'modal', 'data-group' => group.id}
        Start a new discussion in this group