- if current_user.parent_groups.present?
  =render '/groups/title', group: nil
  .clearfix
    = icon_button(new_discussion_path, t(:start_a_discussion), '/assets/topic-18.png', 'start-new-discussion')
  .row.main-content
    %section.span9
      %ul.selector-list.bordered
        #all-discussions-loading
          %li.selector-item.loading= t(:loading)
        #discussions-with-motions
          - @discussions_with_current_motion_not_voted_on.each do |discussion|
            %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
          - @discussions_with_current_motion_voted_on.each do |discussion|
            %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
          .discussion-with-motion-divider.hidden
        - if current_user && current_user.discussions.count == 0
          %li.empty-list-message.hidden= t(:empty_discussion_index)
      #user-discussions.hidden= t(:loading)
    %section.span3
      =render 'groups'
      =render '/application/see_closed_motions'
    =render '/application/closed_motions', user: current_user, group: nil
- else
  = link_to t(:request_new_group), request_new_group_path
  = t(:request_new_group_details)
