- if current_user.parent_groups.present?
  .group-title
    %h1.home-title
      = link_to t(:home), "/"
  .clearfix
    = icon_button(href: new_discussion_path, text: t(:start_a_discussion), icon: '/assets/topic-18.png', id: 'start-new-discussion', class: 'btn-grey')
  .row.main-content
    =render 'discussions/discussion_list'

    %section.span3
      =render 'groups'
      .sub-panel.previous-discussions-panel
        %h4= t(:previous_decisions)
        = link_to t(:see_previous_decisions), motions_path, class: 'bottom-panel-link'
- else
  = link_to t(:start_a_group), new_group_path
  = t(:request_new_group_details)
