- if current_user && (not current_user.has_read_dashboard_notice?)
  - message = "Welcome to Loomio! This page is the Dashboard, where you can see a list of topics "
  - message += "that you can participate in.  You can start a new topic by clicking on the big start button.\n\n"
  - message += "If you have any questions or feedback we’d love to hear from you: "
  - message += "#{link_to "contact@loom.io", 'mailto:contact@loom.io', :target =>'_blank'}\n\n"
  =render '/application/helper_info', message: message, path: dismiss_dashboard_notice_for_user_path

#dashboard-home
  - if @groups.present?
    =render '/application/loomio-process-flow'
    .group-title.clearfix
      %h1
        #page-title= "Dashboard "
        (all your groups)
    .row
      %section.span8#dasboard-topic-list
        .selector-panel
          .clearfix
            %h2.panel-header
          %ul.selector-list
            #discussions-with-motions
              - @discussions_with_current_motion_not_voted_on.each do |discussion|
                %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
              - @discussions_with_current_motion_voted_on.each do |discussion|
                %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
            #user-discussions.hidden Loading...
      %section.span4
        .sub-panel
          %h3 Groups
          .dropdown
            = link_to image_tag("dropdown.png", title:'group settings', alt:'group settings'), "#", class: "dropdown-toggle", 'data-toggle' => 'dropdown'
            %ul.dropdown-menu.pull-right
              %li= link_to "Create a group +", new_group_path
          %ul#dashboard-groups-list
            - current_user.root_groups.order('name').each do |group|
              %li
                = link_to group.name, group_path(group), :class => 'view_'+group.viewable_by.to_s
                - if group.subgroups.size > 0
                  - group.subgroups.each do |subgroup|
                    - if can? :show, subgroup
                      %li.sub-group
                        = link_to subgroup.name, group_path(subgroup), :class => 'view_'+subgroup.viewable_by.to_s
    = render '/discussions/new_topic', discussion: @discussion, user_groups: @groups
  - else
    = link_to 'Create a group', new_group_path
    or wait until you are invited to one.

