- if current_user.groups.present?
  .row
    .col-md-9
      .group-title
        .row
          .col-xs-4
            %h1.home-title
              - if sifting_unread? or sifting_followed?
                %a.js-tooltip{href: dashboard_path, title: t(:"discussion_list.clear_filters")}
                  = t(:'common.dashboard')
              - else
                = t(:'common.dashboard')
          .col-xs-8
            = render "application/filter_discussions_buttons"
      =render 'discussions/discussion_list'

    .col-md-3
      %a.btn.btn-primary.btn-block.primary-action{href: new_discussion_path, id: 'start-new-discussion'}
        = t(:start_a_discussion)
      =render 'groups'
      .panel.panel-default.previous-discussions-panel
        .panel-heading
          %h4= t(:previous_decisions)
        .panel-body
          = link_to t(:see_previous_decisions), motions_path, class: 'bottom-panel-link'
        .panel-footer

- else
  %h1= t(:no_group_header)
  .no-groups.row
    .col-md-4.actions
      .action-button= link_to t(:start_new_group), start_group_path, class: 'btn btn-large btn-primary btn-block'
      .intro-desc= t(:start_new_group_hint)
    .col-md-4.actions
      .action-button= link_to t(:"find_a_group"), explore_path, class: 'btn btn-large btn-success btn-block'
      .intro-desc= t(:find_a_group_hint)
