- if current_user && (not current_user.has_read_dashboard_notice?)
  - message = "This is the Home page, where you can see a list of the discussions "
  - message += "going on in all of your groups. To the right is a list of the groups you are a member of. "
  - message += "You can start a discussion on a new topic by clicking on the “Start a discussion” button.\n\n"
  - message += "If you have any questions or feedback we’d love to hear from you: "
  - message += "#{link_to "contact@loom.io", 'mailto:contact@loom.io', :target =>'_blank'}\n\n"
  =render '/application/helper_info', message: message, path: dismiss_dashboard_notice_for_user_path

- if @groups.present?
  -#=render '/application/loomio_process_flow'
  =render '/groups/title', group: nil

  = icon_button('#new-discussion', 'Start a discussion', '/assets/topic-18.png', 'start-new-discussion', true)
  .row
    %section.span8
      %ul.selector-list.bordered
        #all-discussions-loading
          %li.selector-item.loading Loading...
        #discussions-with-motions
          - @discussions_with_current_motion_not_voted_on.each do |discussion|
            %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
          - @discussions_with_current_motion_voted_on.each do |discussion|
            %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
          .discussion-with-motion-divider.hidden
        - if current_user && current_user.discussions.count == 0
          %li.empty-list-message.hidden There are no discussions in any of your groups
      #user-discussions.hidden Loading...
    %section.span4
      =render 'groups'
      =render '/application/see_closed_motions'
    =render '/application/closed_motions', user: current_user, group: nil
    =render '/discussions/new', discussion: @discussion, user_groups: @groups
- else
  = link_to 'Create a group', new_group_path
  or wait until you are invited to one.
