#dashboard-home
  - if @groups.present?
    .process-flow= link_to image_tag("process-flow.png", title:'start a loomio', alt:'start a loomio'), "#",  "data-toggle" => "modal"
    .row
      %section.span10#dashboard-main-section
        .group-title.clearfix
          %h1 All your groups
        .selector-panel
          .clearfix
            %h2.panel-header Loomios with decisions that need your attention
          %ul.selector-list
            - current_motions_exist = false
            - @discussions_with_current_motion_not_voted_on.each do |discussion|
              %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
              - current_motions_exist = true
            - @discussions_with_current_motion_voted_on.each do |discussion|
              %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
              - current_motions_exist = true
            - unless current_motions_exist
              %li.selector-item.no-proposals= "There are no loomios with current decisions "
        .selector-panel
          .clearfix
            %h2.panel-header Latest loomios
          #user-discussions.hidden Loading...
    = render '/discussions/new_loomio'
  - else
    = link_to 'Create a group', new_group_path
    or wait until you are invited to one.
