#dashboard-home
  - if @groups.present?
    .row.main-header
      .span11
        %h4.sub-header
          Open motions
        .motions-list
          = render "open_motions", motions: @motions
        %h4 Closed motions
        .motions-list
          = render "closed_motions", motions: @motions
      .span5
        .group-panel
          %h4.title-row
            Your groups
          #group-list
            - current_user.groups.each do |group|
              %h4
                = link_to group.name, group_path(group)
                %span
                  = link_to "+",
                    new_motion_path({group_id: group.id}),
                    :class => 'new_motion',
                    :title => 'new motion for this group'


          = link_to "Create new group", new_group_path, :class => 'btn primary small'
  - else
    = link_to 'Create a group', new_group_path
    or wait until you are invited to one.
