#dashboard-home
  - if @groups.present?
    .row
      %section.span4
        .sub-panel
          %h3 Groups
          .dropdown
            = link_to image_tag("dropdown.png", title:'group settings', alt:'group settings'), "#", class: "dropdown-toggle", 'data-toggle' => 'dropdown'
            %ul.dropdown-menu.pull-right
              %li= link_to "Create a group +", new_group_path
          %ul
            - current_user.root_groups.order('name').each do |group|
              %li= link_to group.name, group_path(group)
              - if group.subgroups.size > 0
                - group.subgroups.each do |sub_group|
                  %li.sub-group= link_to sub_group.name, group_path(sub_group)
      %section.span8
        .selector-panel
          .clearfix
            %h1#proposal-phase Current proposals
            .dropdown#proposals
              = link_to image_tag("dropdown.png", title:'proposal settings', alt:'proposal settings'), "#", class: "dropdown-toggle", 'data-toggle' => 'dropdown'
              %ul.dropdown-menu.pull-right
                %li
                  %a{ href: '#', id: 'display-current' }
                    = "Current proposals"
                    = image_tag "tick.png", class: 'tick', id: 'tick-current'
                %li
                  %a{ href: '#', id: 'display-closed' }
                    = "Closed proposals"
                    = image_tag "tick.png", class: 'tick hidden', id: 'tick-closed'
          %ul
            #open
              - if @motions_not_voted && @motions_not_voted.size > 0
                - @motions_not_voted.each do |motion|
                  %li.undecided= render '/motions/motion_preview', motion: motion, this_group: nil
                - motions_exist = true
              - if @motions_voted && @motions_voted.size > 0
                - @motions_voted.each do |motion|
                  %li= render '/motions/motion_preview', motion: motion, this_group: nil
                - motions_exist = true
              - unless motions_exist
                %li.no-proposals= "There are no current proposals"
            #closed.hidden
              - if @motions_closed && @motions_closed.exists?
                - @motions_closed.each do |motion|
                  %li= render '/motions/motion_preview', motion: motion, this_group: @group
              - else
                %li.no-proposals= "There are no closed proposals"
        .selector-panel
          .clearfix
            %h1 Discussions
          %ul
            - @discussions.each do |discussion|
              %li= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
  - else
    = link_to 'Create a group', new_group_path
    or wait until you are invited to one.
