%span= t(:"group.stats.general")
%tr
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.members")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.subgroups")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.threads")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.polls")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.votes")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.comments")
