%tr
  %th
    %p{ style: "text-align: center" }= poll_type_count["proposal"] || 0
  %th
    %p{ style: "text-align: center" }= poll_type_count["count"] || 0
  %th
    %p{ style: "text-align: center" }= poll_type_count["poll"] || 0
  %th
    %p{ style: "text-align: center" }= poll_type_count["dot_vote"] || 0
  %th
    %p{ style: "text-align: center" }= poll_type_count["score"] || 0
  %th
    %p{ style: "text-align: center" }= poll_type_count["ranked_choice"] || 0
  %th
    %p{ style: "text-align: center" }= poll_type_count["meeting"] || 0
