%span= t(:"group.stats.polls")
%tr
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.proposal")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.count")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.choose")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.allocate")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.score")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.rank")
  %th
    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.time")
