- if Rails.application.secrets.chargify_app_name
  - @appConfig['chargify'] = {}
  - @appConfig['chargify']['appName'] = Rails.application.secrets.chargify_app_name
  - @appConfig['chargify']['host'] = "http://#{Rails.application.secrets.chargify_app_name}.chargify.com/"

  - @appConfig['chargify']['plans'] = {}
  - @appConfig['chargify']['plans']['standard'] = {}
  - @appConfig['chargify']['plans']['standard']['name'] = Rails.application.secrets.chargify_standard_plan_name
  - @appConfig['chargify']['plans']['standard']['path'] = "subscribe/#{Rails.application.secrets.chargify_standard_plan_key}/#{Rails.application.secrets.chargify_standard_plan_name}"
  - @appConfig['chargify']['plans']['plus'] = {}
  - @appConfig['chargify']['plans']['plus']['name'] = Rails.application.secrets.chargify_plus_plan_name
  - @appConfig['chargify']['plans']['plus']['path'] = "subscribe/#{Rails.application.secrets.chargify_plus_plan_key}/#{Rails.application.secrets.chargify_plus_plan_name}"
  - @appConfig['chargify']['nagCache'] = {}

  - @appConfig['chargify']['donation_url'] = Rails.application.secrets.chargify_donation_url
