.container
  %section.first
    .inner-container
      .row
        .col-md-12
          - if !@enabled
            %h1= t(:"angular.enable.title")
            %p= t(:'angular.enable.intro')
            = button_to t(:"angular.enable.button_text"), angular_on_path, class: 'btn btn-primary'
            = t(:"angular.enable.body_html")
          - else
            %h1= t(:"angular.disable.title")
            = t(:"angular.disable.body_html")
            %p= t(:'angular.disable.give_feedback')
            = semantic_form_for @feedback, url: angular_off_path do |f|
              = f.input :feedback, as: :text, label: false
              = f.submit t(:"angular.disable.button_text"), class: 'btn btn-primary'
