%h2 Resend confirmation instructions
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %h5
    Email
    .left-format= f.email_field :email
  .standard-button= f.submit "Resend confirmation instructions", class: "btn primary"
= render :partial => "devise/shared/links"
