- poll = event.eventable.poll
- results = poll.results

.poll-mailer-common-results
  %table.v-table{style: 'min-width: 600px'}
    %thead
      %tr
      - poll.result_columns.each do |col|
        - case col
        - when 'chart'
          %th.text-left.text-subtitle-2
            = poll.closed_at ? t(:"poll_common.results") : t(:"poll_common.current_results")
        - when 'name'
          %th.text-left.text-subtitle-2= t('common.option')
        - when 'score_percent'
          %th.text-right.text-subtitle-2= t('poll_ranked_choice_form.pct_of_points')
        - when 'voter_percent'
          %th.text-right.text-subtitle-2= t('poll_ranked_choice_form.pct_of_voters')
        - when 'rank'
          %th.text-right.text-subtitle-2= t('poll_ranked_choice_form.rank')
        - when 'score'
          %th.text-right.text-subtitle-2= t('poll_ranked_choice_form.points')
        - when 'average'
          %th.text-right.text-subtitle-2= t('poll_ranked_choice_form.average')
        - when 'voter_count'
          %th.text-right.text-subtitle-2= t('membership_card.voters')
        - when 'voters'
          %th.text-left.text-subtitle-2
    %tbody
      - results.each_with_index do |option, index|
        %tr
          - poll.result_columns.each do |col|
            - case col
            - when 'chart'
              - case poll.chart_type
              - when 'pie'
                - if (index == 0)
                  %td.pr-2.py-2{rowspan: results.size} 
                    .poll-mailer-proposal__chart.poll-mailer__results-chart.d-flex.align-center
                      %img.poll-mailer-proposal__chart-image{style: "height: 128px; width: 128px", src: google_pie_chart_url(poll)}
              - when 'bar'
                %td.pr-2.py-2{style: 'width: 128px'}
                  %div.rounded{style: "background-color: #{option[:color]}; height: 24px; width: #{option[poll.chart_column.to_sym].round}%"} 
              - when 'grid'
                / - if (index == 0)
                /   %td.pr-2.py-2{rowspan: results.size} 
                /       %img.poll-mailer-proposal__chart-image{style: "height: 128px; width: 128px", src: google_pie_chart_url(poll)}
            - when 'name'
              %td{style: "border-left: solid #{(poll.chart_type == 'pie') ? 4 : 0}px #{option[:color]}"}
                - case option[:name_format]
                - when 'i18n'
                  = t(option[:name])
                - when 'iso1806'
                  = format_iso8601_for_humans(option[:name], @recipient.time_zone || poll.time_zone)
                - else
                  = option[:name]
            - when 'rank'
              %td.text-right= option[:rank]
            - when 'score'
              %td.text-right= option[:score]
            - when 'voter_count'
              %td.text-right= option[:voter_count]
            - when 'average'
              %td.text-right= option[:average]
            - when 'voter_percent'
              %td.text-right #{option[:voter_percent].round}%
            - when 'score_percent'
              %td.text-right #{option[:score_percent].round(1)}%
            - when 'voters'
              %td.text-left
                .d-flex.align-center
                  %div{style: 'display: inline-block; height: 32px; width:1px'}
                  - User.where(id: option[:voter_ids]).each do |user|
                    =render 'base_mailer/avatar', user: user, size: 24
