.light-discussion{id: discussion.key}
  %h3= link_to(discussion.title, discussion_url(discussion))
  %p by #{discussion.author.name} to #{link_to discussion.group_full_name, group_url(discussion.group)}
  - if discussion.created_at >= @time_since
    - if discussion.uses_markdown?
      = render_email_markdown discussion.description
    - else
      = render_email_plaintext discussion.description

  - if motion = discussion.motions.voting_or_closed_after(@time_since).first
    = render 'user_mailer/missed_yesterday/motion', motion: motion

  %hr
  - discussion.items.where('created_at > ?', @time_since).order('created_at').each do |item|
    - next unless ['new_comment', 'new_vote', 'motion_closed', 'motion_closed_by_user'].include? item.kind
    = render "user_mailer/missed_yesterday/#{item.kind}", item: item
  %p
    Link:
    = link_to discussion_url(discussion), discussion_url(discussion)
