- comment = item.eventable
- user = comment.user
%table
  %tr
    %td.icon
      = link_to user_url(user) do
        %div{class: "medium-user-avatar #{user.avatar_kind}-user-avatar avatar-canvas"}
          = render "avatar", user: user
    %td.content
      %b= comment.author.name
      %p= render_rich_text(comment.body, comment.body_format)
      = render "discussion_mailer/attachments", resource: comment if comment.documents.any?
