- comment = item.eventable
- user = comment.user
%table
  %tr
    %td.icon
      = render "avatar", user: user
    %td.content
      - if comment.discarded?
        = t(:'thread_item.removed')
      - else
        %b= comment.author.name
        %p= render_rich_text(comment.body, comment.body_format)
        = render "discussion_mailer/attachments", resource: comment if comment.documents.any?
