- stance = item.eventable
- participant = stance.participant_for_client

%table
  %tr
    %td.icon
      = link_to user_url(participant) do
        %div{class: "medium-user-avatar #{participant.avatar_kind}-user-avatar avatar-canvas"}
          = render "avatar", user: participant
    %td= raw t(:"poll_mailer.#{stance.poll.poll_type}.body.voted", participant: participant.name)
    %td
      %table
        - stance.stance_choices.order("score desc").each do |choice|
          %tr= render "poll_mailer/common/poll_option", poll_option: choice.poll_option, stance_choice: choice, small: true

%p= render_rich_text(stance.reason, stance.reason_format)
