= t("email.create_discussion.intro")
\
= "#{t('email.view_discussion')}:"
= discussion_url(@discussion)
\
= "#{t(:discussion)}:"
= @discussion.title
\
= "#{t(:group)}:"
= @discussion.group.full_name
\
= "#{t('email.create_discussion.started_by')}:"
= @discussion.author.name
\

-if @discussion.description.present?
  \
  Details:
  = @discussion.description


= render 'user_mailer/unsubscribe_link_text'
