= t :"email.create_discussion.intro", who: @discussion.author.name, which_group: @discussion.group.full_name
\
= @discussion.title
= '-----'
\
-if @discussion.description.present?
  = @discussion.description
\
= "#{t('email.view_discussion')}:"
= discussion_url(@discussion)
\
= render 'user_mailer/unsubscribe_link_text'
