= render '/application/mailer_doctype'
%html
  %p= t :"email.create_discussion.intro", who: @discussion.author.name, which_group: @discussion.group.full_name

  %strong
    = link_to(@discussion.title, discussion_url(@discussion))

  -if @rendered_discussion_description.present?
    = @rendered_discussion_description

  %p= link_to(t("email.view_discussion"), discussion_url(@discussion))

  = render 'user_mailer/unsubscribe_link'
