= render '/application/mailer_doctype'
%html
  %p A new discussion was created in a Loomio group that you belong to.

  %p
    = link_to("Click here to view this discussion", discussion_url(@discussion))

  %table
    %tr
      %th
        Discussion
      %td
        = @discussion.title
    %tr
      %th
        Group
      %td
        = @discussion.group.full_name
    %tr
      %th
        Started by
      %td
        = @discussion.author.name

  = render 'user_mailer/unsubscribe_link'
