- if poll.current_outcome
  %h5= t(:"poll_common.outcome")
  - if option = poll.current_outcome.poll_option
    - if poll.poll_option_name_format == 'iso8601'
      %p Event: #{poll.current_outcome.event_summary}
      %p Date:  #{format_iso8601_for_humans(option.name, @recipient.time_zone, @recipient.date_time_pref)}
      %p Location: #{poll.current_outcome.event_location}
      / - if poll.poll_option_name_format == 'i18n'
      /   = t(option.name)
      / - if poll.poll_option_name_format == 'plain'
      /   = option.name
  %p= render_rich_text(poll.current_outcome.statement, poll.current_outcome.statement_format)
  %h5= t(:"poll_types.#{poll.poll_type}")
