- if (poll.decided_voters_count > 0) || poll.closed_at
  - if poll.show_results?
    %h5= t(poll.closed_at ? :'poll_common.results' : :'poll_common.current_results')
    - if poll.poll_type == "meeting"
      = render "chatbot/matrix/meeting", poll: poll
    - else
      = render "chatbot/matrix/simple", poll: poll
  - else 
    %h5= t('poll_common_action_panel.results_hidden_until_closed')

  = render "chatbot/matrix/undecided", poll: poll
