= render "chatbot/matrix/notification", event: @event
= render "chatbot/matrix/title", eventable: @poll
= render "chatbot/matrix/outcome", poll: @poll
= render "chatbot/matrix/body", eventable: @poll
= render "chatbot/matrix/vote", poll: @poll
= render "chatbot/matrix/results", poll: @poll
