.container
  .section#woc-index
    .inner-container
      .row-fluid
        .span12
          %h2.buffer{style: "text-align: center"} We The People: A Constitutional Conversation for New Zealand

      .row-fluid
        .span2
          &nbsp;
        .span8
          %p{style: "font-weight: bold"} A discussion space to develop our ideas about the constitution

      .row-fluid
        .span2
          &nbsp;
        .span8
          %p.buffer People all over New Zealand are getting together online to compare notes, swap opinions and shape up some deeper questions for the constitutional review. Aspects of these conversations will be submitted to the Constitutional Review Panel.
      .row-fluid
        .span4
          &nbsp;
        .span4
          %p
            %a.btn.btn-large.btn-info{href: @campaign.showcase_url, style: "width: 100%"}
              Take a look
          %p.buffer
            %a.btn.btn-large.btn-success{href: "#participate", style: "width: 100%", 'data-toggle' => "modal"} Click here to participate
      .row-fluid
        .span2
          &nbsp;
        .span8
          %p This is a chance for everyone to put their heads together and share our visions for this country, and lay out what kind of New Zealand we need our constitution to enable. Everyone one is welcome.

          %p
            You can find out more detail about the role Action Station is playing to host this conversation at <a href="http://www.wethepeople.kiwi.nz" target="_blank">www.wethepeople.kiwi.nz</a>, and you can find out more about the constitutional review at <a href="http://www.ourconstitution.org.nz/" target="_blank">http://www.ourconstitution.org.nz</a>.
          %p
            You can find out more detail about
            =link_to "how Loomio works here.", "https://www.loomio.org/about#how-it-works", target: "_blank"

#participate.modal.hidden
  .modal-header
    %button.close{"data-dismiss" => "modal"}×
    %h2= "Register to participate"
  = form_tag send_request_we_the_people_path do
    .modal-body
      %p Please fill in your name and email. We'll get back to you within 24 hours with an invite to join the discussion.
      .control-group
        = label_tag "requested_email", "Your full name"
        = text_field_tag "requested_name", nil, class: "validate-presence"
        .inline-help Please fill in your name
        = label_tag "requested_email", "Your email"
        = text_field_tag "requested_email", nil, class: "validate-presence"
        .inline-help Please fill in your email address
        = text_field_tag :robot_trap, "", placeholder: "Leave this field blank if you're a human", class: "robot_trap"
    .modal-footer
      = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-grey"
      = submit_tag "Send request", class: "btn btn-success run-validations"

