%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %h5.padding
    Name
    .standard-input= f.text_field :name
    Email
    .standard-input= f.email_field :email
    Password
    .standard-input= f.password_field :password
    Password confirmation
    .standard-input= f.password_field :password_confirmation
    .standard-button= f.submit "Sign up", class: "btn primary small"
= render :partial => "devise/shared/links"
