%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %h5.login
    Name
    .login-input= f.text_field :name
    Email
    .login-input= f.email_field :email
    Password
    .login-input= f.password_field :password
    Password confirmation
    .login-input= f.password_field :password_confirmation
    = f.submit "Sign up", class: "btn primary small"
= render :partial => "devise/shared/links"
