= render "poll_mailer/common/header", poll: @poll, event: @event, action_name: @action_name
= render "poll_mailer/common/summary", poll: @poll, recipient: @recipient, action_name: @action_name, include_outcome: true
= render "poll_mailer/#{@poll.poll_type}/chart", poll: @poll, recipient: @recipient
= render "poll_mailer/#{@poll.poll_type}/responses", poll: @poll, recipient: @recipient, event: @event
= render "poll_mailer/common/footer", poll: @poll, recipient: @recipient
