= render "poll_mailer/common/header"
= render "poll_mailer/common/summary", include_outcome: true
= render "poll_mailer/#{@info.poll_type}/chart"
= render "poll_mailer/#{@info.poll_type}/responses"
= render "poll_mailer/common/footer"
