= render "poll_mailer/common/header_no_actor", poll: @poll, action_name: @action_name, event: @event
= render "poll_mailer/common/summary", poll: @poll, recipient: @recipient, action_name: @action_name, include_outcome: true
= render "poll_mailer/#{@poll.poll_type}/chart", poll: @poll, recipient: @recipient
= render "poll_mailer/#{@poll.poll_type}/vote", poll: @poll, recipient: @recipient
= render "poll_mailer/#{@poll.poll_type}/responses", poll: @poll, recipient: @recipient, event: @event
= render "poll_mailer/common/undecided", poll: @poll
= render "poll_mailer/common/footer", poll: @poll, recipient: @recipient
