= render "poll_mailer/common/header"
= render "poll_mailer/common/option_added"
= render "poll_mailer/#{@info.poll_type}/vote", title_key: 'poll_mailer.common.option_added_you_voted'
= render "poll_mailer/common/footer"
