%div{ class: "payment-option-container box-#{option_color}" }
  Up to
  %strong= people
  people
  = link_to "$#{amount}/month",
    group_subscription_path(group, amount: amount),
    method: :post,
    class: "subscription btn btn-#{option_color}"

