%table#pricing_table
  - first_amount = PaypalCheckout::AMOUNT_OPTIONS.first
  %tr#first
    %td= "Up to #{PaypalCheckout::DOLLARS_TO_PEOPLE[first_amount]} people"
    %td
      %span US
      = "$#{first_amount}/mo"
  - PaypalCheckout::AMOUNT_OPTIONS[1, PaypalCheckout::AMOUNT_OPTIONS.count - 1].each do |amount|
    %tr
      %td= "Up to #{PaypalCheckout::DOLLARS_TO_PEOPLE[amount]}"
      %td
        %span US
        = "$#{amount}/mo"
  %tr
    %td More than 100
    %td <a href='mailto:accounts@loomio.org' target='_blank'>Talk to us!</a>
