Well done, Chap!

%p= @paypal.token
%p= @paypal.get_checkout_details_query
%p= @paypal.checkout_details_response.inspect
%p= @paypal.create_recurring_payment_query
%p= @paypal.recurring_payments_response.inspect
