.row
  .span9
    - set_title @group.name, "", @group.parent
    = render '/groups/title', group: @group
.row
  .span5
    %h1 Select your plan

.row
  .span12#please-wait.hidden
    Redirecting you to PayPal, please wait...
.row#payment-options
  .span9
    = render 'payment_option', option_color: 'lt-blue', people: 10, amount: 30, group: @group
    = render 'payment_option', option_color: 'lime', people: 25, amount: 50, group: @group
    = render 'payment_option', option_color: 'yellow', people: 50, amount: 100, group: @group
    = render 'payment_option', option_color: 'orange', people: 100, amount: 200, group: @group
    #us-dollars Prices are in US dollars
  .span7
    #footer
      %p
        Money shouldn’t be a barrier to good collaborative decision-making. If your group is larger than 100 people, or if this fee is outside your means, talk to us:
        = mail_to "accounts@loomio.org"
    #note-about-paypal
      %p
        Our payment system currently uses Paypal. If you can't use Paypal, please contact us at
        = mail_to "accounts@loomio.org"
        to set up a payment method that works for you.
