- set_title @group.name, 'Group subscription', @group.parent
= render '/groups/title', group: @group
.row.iconrow
  .col-md-2
    = image_tag 'loomio-users.png'
  .col-md-7
    %h1 Group subscription
    %h2 You choose how much to pay
.row
  .col-md-7.offset2
    %p
      Groups with a budget typically choose a monthly rate of about
      %span.nowrap $2 - $5 per person.
    %p
      %em (e.g. business, government, community orgs)

    %p
      If your group is flat broke, you can even
      %span.nowrap
        choose $0!
.row.iconrow
  .col-md-2
    = image_tag 'colablove.png', id: 'colablove'
  .col-md-5
    = simple_form_for @subscription_form, url: checkout_group_subscription_path(@group) do |f|
      %h2 Set your group subscription:
      = f.input :preset_amount, collection: @subscription_form.amounts, as: :radio_buttons, label: false
      #lovenote.hidden
        &hearts; We'll still love you, even if you can't afford a group subscription. The members of your group will have an opportunity to contribute later. &hearts;

      %input{type: 'submit', id: 'subscription-submit', value: 'Pay now with Paypal', class: 'btn btn-success btn-block btn-lg', data: {disable_with: 'Pay now with Paypal'}}

    %p.small Amounts are in USD. You can change your payment at any time.
