.row
  .span9
    - set_title @group.name, "", @group.parent
    = render '/groups/title', group: @group
    %h1= t("subscriptions.details")
    - amount = @group.subscription_plan
    %p= t("subscriptions.current_plan_html", subscription_plan: I18n.t('subscriptions.description', people: PaypalCheckout::DOLLARS_TO_PEOPLE[amount], amount: amount))
    %p= t("subscriptions.people_in_group", count: @group.members.count)
    %p= t("subscriptions.payment_plan_contact_html")
.row
  .span4
    .info-box#organisation
      %h3= t("subscriptions.subscription.table.title_html")
      = render("groups/subscriptions/pricing_table")
