- set_title @group.name, "Subscription", @group.parent
= render '/groups/title', group: @group
.row.iconrow
  .col-md-2
    = image_tag 'colablove.png', id: 'colablove'
  .col-md-10
    %h1= "Subscription for #{@group.name}"
    - amount = @group.subscription_plan
.row
  .col-md-6.offset2
    %p
      You are currently paying:
      ="US#{number_to_currency amount} per month"
    %h3 Thanks!
    %p
      If you'd like to change how much you're paying or have any other questions contact us at
      = "#{mail_to 'accounts@loomio.org'}.".html_safe
