.row
  .span9
    - set_title @group.name, "", @group.parent
    = render '/groups/title', group: @group
    %h1= t("subscriptions.details")
    %p= t("subscriptions.current_plan_html", subscription_plan: PaypalCheckout.subscription_text_for(@group.subscription_plan))
    %p= t("subscriptions.people_in_group", count: @group.members.count)
    %p= t("subscriptions.payment_plan_contact_html")
.row
  .span4
    .info-box#organisation
      %h3= t("subscriptions.subscription.table.title_html")
      = render("groups/subscriptions/pricing_table")
