%li.activity-item-container
  %div{:class => "activity-icon " + icon }
    = render 'motions/display_icons', position: position if position
  %span.activity-item-actor
    - if actor.nil?
      ="An expirey "
    - else
      =link_to actor.name, "#", "title" => actor.name,
        "data-content" => "#{render 'users/name_popover', user: actor, group: group}", class: "user-name-with-popover"
  %span.activity-item-header= header
  %span.activity-item-content.word-break= body
  .activity-item-time= time_ago_in_words(time) + " ago"