%ul#activity-list
  .top-pagination
    = link_to_previous_page items, "Show earlier comments"

  -marked_first_unread = false
  - items.each do |event|
    last_read_at: #{@discussion_reader.inspect} this item updated at: #{event.updated_at}
    - next if event.kind == 'new_discussion'
    - unless marked_first_unread
      - if @discussion_reader.has_read?(event)
        read it
      -else
        not read it
        -#- unless event.belongs_to? current_user_or_visitor
        - marked_first_unread = true
        .shifted_anchor#latest-activity
        .dog-ear#js-dog-ear
          &nbsp;
        .new-activity-divider

    %li.activity-item-container
      - if event.kind == 'new_comment'
        = render event.eventable
      - else
        - discussion_item = DiscussionItem.new(event)
        = render 'discussion_item', :item => discussion_item
