- if can? :add_comment, discussion
  = form_tag add_comment_discussion_path(discussion), :remote => true, id: "new-comment-form" do
    = render 'avatar', user: current_user, size: "medium", kind: nil, id: nil
    #comment-input{ data: {group: @group.id} }
      = text_area_tag 'comment', "", id: 'new-comment', placeholder: "Say something..."
      = submit_tag "Post comment", class: "btn submit", id: 'post-new-comment', :data => {:disable_with => "Post comment"}
  .dropdown#markdown-dropdown
    %a.dropdown-toggle{href:'#markdown-dropdown', id:'markdown-dropdown-link', 'data-toggle'=> 'dropdown'}
      = markdown_img(@uses_markdown)
    = render 'markdown_settings'
