- if last_page?
  = form_tag add_comment_discussion_path(discussion), :remote => true, id: "new-comment-form" do
    = hidden_field_tag 'authenticity_token', form_authenticity_token
    = render 'avatar', user: current_user_or_visitor
    #comment-input{ data: {group: @group.id, autocomplete_path: members_autocomplete_group_path(@group) } }
      .form-container
        = text_area_tag 'comment', "", id: 'new-comment', class: 'js-warn-before-navigating-away', placeholder: t(:comment_form_placeholder), dir: text_direction(current_user_or_visitor)
        #attachment-container

      .form-group.comment-toolbar
        = submit_tag t(:comment_form_submit_button), class: "btn btn-primary submit", id: 'post-new-comment', :data => {:disable_with => t(:comment_form_submit_button)} 
        - if user_signed_in?
          -unless browser.ie? && browser.version.to_i < 10
            .btn.attachment-icon#add-attachment-icon
          .markdown-label.pull-right
            = check_box_tag 'uses_markdown', 1, current_user.uses_markdown
            = label_tag :uses_markdown, 'Markdown'
            = surround '(', ')' do
              = link_to t(:'help.help'), markdown_path, title: t(:'common.markdown_help_tooltip'), class: 'js-tooltip-left', target: '_blank'

  - if user_signed_in?
    -unless browser.ie? && browser.version.to_i < 10
      = s3_uploader_form post: attachments_url, as: "attachment[location]", redirect_url: iframe_upload_result_attachments_url do
        = file_field_tag :file, multiple: true

      %script#template-upload-in-progress{type: "text/x-tmpl"}
        .attachment-uploader
          .uploading-filename
            {%=o.name%}
          %button.close.cancel-upload &times;
          .progress.active
            .progress-bar

      %script#template-upload--attached{type: "text/x-tmpl"}
        .attachments
          .attachment-success{data: { 'attachment-id' => "{%=o.id%}" } }
            = link_to "{%=o.name%}", "{%=o.location%}", target: "_blank"
            ({%= (parseInt(o.size) / (1024*1024)).toFixed(2) + " MB" %})
            %button.close.remove-attachment &times;

      %script#template-upload--comment-input{type: "text/x-tmpl"}
        %input{type: 'hidden', name: "attachments[]", value: '{%=o.id%}', data: { 'attachment-id' => "{%=o.id%}" }}
