- if local_assigns[:size] == 'small'
  .v-avatar{:href => user_url(user), :title => user.name, :style => "height: 24px; min-width: 24px; width: 24px;"}
    - if user.avatar_url(:small)
      = image_tag user.avatar_url(:small), alt: "#{user.name}"
    - else
      = user.avatar_initials
- else
  .v-avatar{:href => user_url(user), :title => user.name, :style => "height: 40px; min-width: 40px; width: 40px;"}
    - if user.avatar_url(:medium)
      = image_tag user.avatar_url(:medium), alt: "#{user.name}"
    - else
      = user.avatar_initials
