.modal-header
  %button.close{"data-dismiss" => "modal"}×
  %h2 Revision history
.modal-header
  .user-profile-fields
    %h4 User Profile Fields
    %p= "Edited about #{time_ago_in_words(@discussion.updated_at)} ago by #{@discussion.originator}"
  .revision-version
    %h4 Version
    %p
      -if @discussion.previous_version.nil?
        =link_to "Prev", "#", :method => :post, :class => "disabled",  :remote => true
      -else
        =link_to "Prev", preview_version_discussion_path(@discussion.previous_version.version), :method => :post, :remote => true
      =" | "
      -if @discussion.next_version.nil?
        =link_to "Next", "#", :method => :post, :class => "disabled", :remote => true
      -else
        =link_to "Next", preview_version_discussion_path(@discussion.next_version.version), :method => :post, :remote => true
.modal-body
  %p= @discussion.description
.modal-footer
  = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-small btn-grey"
  =button_to "Go back to this version", update_description_discussion_path(@discussion), "data-dismiss" => "modal", :method => :post, :class => "btn btn-info", :data => { :disable_with => "Applying changes..." }
