.description-container
  .description-body#discussion-description
    .js-render-as-markdown.markdown
      = preserve description

    - if can? :update_description, discussion
      = link_to t(:edit_discussion_context), "#", class: "edit-description edit-discussion-description bottom-panel-link", id: 'edit_description'

  - if can? :update_description, discussion
    = form_tag update_description_discussion_path(discussion), :id => "description-edit-form", :class => "hidden" do |f|
      = hidden_field_tag 'id'
      .control-group
        = text_area_tag 'description', description, {id: 'wmd-input-discussion-description', class: 'js-warn-before-navigating-away', :autofocus => true }
      #wmd-button-bar-discussion-description.wmd-button-bar
      .save-buttons.clearfix
        = submit_tag t(:save), class: 'btn btn-success run-validations submit', id: 'add-description-submit', :data => {:disable_with => t(:saving)}
        = link_to t(:cancel), "#", id: 'cancel-add-description', class: 'btn'
