.modal-header
  %button.close{"data-dismiss" => "modal"}×
  %h2 Revision history
.modal-header
  .user-profile-fields
    %h3= @discussion.title
    %p.font-size-85pc
      = "Edited about #{time_ago_in_words(@discussion.last_versioned_at)} ago by #{@originator.name}"
      %em= " (current)" if @discussion.live?
  .revision-version
    %h3 Version
    %p
      -if @discussion.has_previous_versions?
        =link_to "Prev", preview_version_discussion_path(@discussion, @discussion.previous_version.version), :method => :post, :id => "discussion-previous-version", :remote => true
      -else
        =link_to "Prev", "#", :class => "disabled"
      =" | "
      -if @discussion.next_version.present?
        =link_to "Next", preview_version_discussion_path(@discussion, @discussion.next_version.version), :method => :post, :id => "discussion-next-version", :remote => true
      -elsif !(@discussion.live?)
        =link_to "Next", preview_version_discussion_path(@discussion), :method => :post, :remote => true
      -else
        =link_to "Next", "#", :class => "disabled"
.modal-body
  %p= @discussion.description
.modal-footer
  = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-small btn-grey"
  -if @discussion.live?
    =link_to "Go back to this version", "#","data-dismiss" => "modal", :method => :post, :class => "btn btn-info disabled", :id => "revert-to-version", :disabled => true
  -else
    =link_to "Go back to this version", update_version_discussion_path(@discussion.version), :method => :post, :class => "btn btn-info", :remote => true, :id => "revert-to-version", :data => { :disable_with => "Applying changes..." }
