.row
  .col-sm-8
    .description-container
      .description-body{dir: text_direction(@discussion)}
        .long-description
          = render_rich_text(@discussion.description, @discussion.uses_markdown)
        .translation-spacer.translated
        .translated-description.translated
          = t(:loading_translation)
        - if can?(:edit, @discussion)
          = link_to edit_discussion_path(@discussion) do
            %i.fa.fa-pencil
            = t :edit
        - if TranslationService.can_translate? @discussion
          = translate_link_for @discussion
  .col-sm-3.col-sm-offset-1.right-context
    .discussion-additional-info
      = t("discussion_context.started_html",
          when: time_ago_in_words(@discussion.created_at),
          who: @discussion.author.name,
          link: user_path(@discussion.author),
          link_class: 'user-name')
      -if @discussion.has_previous_versions?
        .last-edited-by
          = link_to t(:"common.edited", when: time_ago_in_words(@discussion.last_versioned_at)), show_description_history_discussion_path(@discussion), :method => :post, :class => "see-description-history", :remote => true

      - if can? :set_volume, @discussion
        %h4 Notifications
        .following-status
          .btn-group
            %button{type: 'button', class:"btn btn-default dropdown-toggle", 'data-toggle': "dropdown", 'aria-expanded': false}
              = t :"volume.#{@discussion_reader.volume}"
              %span.caret
            %ul.dropdown-menu{role: 'menu'}
              %li.dropdown-menu-item
                = link_to set_volume_discussion_path(@discussion, volume: :email), method: :post do
                  %i.fa.fa-lg.fa-envelope
                  %b Email
                  %br
                  Activity will be emailed to you immediately.

              %li.dropdown-menu-item
                = link_to set_volume_discussion_path(@discussion, volume: :normal), method: :post do
                  %i.fa.fa-lg.fa-volume-up
                  %b Normal
                  %br
                  You'll see activity on your dashboard and emailed daily.

              %li.dropdown-menu-item
                = link_to set_volume_discussion_path(@discussion, volume: :mute), method: :post do
                  %i.fa.fa-lg.fa-volume-off
                  %b Mute
                  %br
                  Hide the thread from your dashboard or emails - unless someone mentions you.


        -#.following-status
          -#- if @discussion_reader.following?
            -#= link_to unfollow_discussion_path(@discussion), method: :post, class: "btn btn-default js-tooltip cuke-unfollow", title: t(:"discussion_context.click_to_unfollow") do
              -#%i.fa.fa-volume-up
              -#= t :"common.following"
            -#%p= t :"discussion_context.following_details"
          -#- else
            -#= link_to follow_discussion_path(@discussion), method: :post, class: "btn btn-default js-tooltip cuke-follow", title: t(:"discussion_context.click_to_follow") do
              -#%i.fa.fa-volume-down
              -#= t :"common.not_following"
            -#%p= t :"discussion_context.not_following_details"


#description-revision-history.modal
