%div{ class: css_class_for(discussion) }
  %a{ href: discussion_path(discussion) }
    %span.full-discussion-title
      .discussion-title= truncate(discussion.title, :length => 70, :separator => ' ')
      .notification-info
        .discussion-icon-container{ class: enabled_icon_class_for(discussion, current_user) }
          - if activity_count_for(discussion, current_user) > 0
            .activity-count.span.label.label-important
              = activity_count_for(discussion, current_user)

      .comment-info
        .relative-time= discussion.latest_history_time
        .total-comments
          = pluralize(discussion.comments.count + discussion.votes.count, 'msg')

    = DiscussionDecorator.new(discussion).display_group_name(this_group)

    - motion = discussion.current_motion
    - if motion.present?
      .proposal-container
        .vote-icon
          - if current_user
            = render "motions/display_icons", position: current_user.position(motion)

        .proposal-title-container
          %span.proposal-label Proposal:
          %span.proposal-title= motion.name
          .proposal-close-date
            - if motion.close_date.present?
              closing in
              = time_ago_in_words(motion.close_date)
