.row
  .span8
    .description-container
      .description-body
        .long-description
          = render_rich_text(@discussion.description, @discussion.uses_markdown)
        .translation-spacer.translated
        .translated-description.translated
          = t(:loading_translation)
        - if can?(:edit, @discussion)
          = link_to edit_discussion_path(@discussion) do
            %i.fa.fa-pencil
            = t :edit
        - if TranslationService.can_translate? @discussion
          = translate_link_for @discussion
  .span3.right-context
    .helper-text.discussion-description-helper-text.hidden
      = render "application/hint", text: t(:"hint.context"), anchor: 'starting-an-engaging-discussion'
    .discussion-additional-info
      = t("discussion_context.started_html",
          when: time_ago_in_words(@discussion.created_at),
          who: @discussion.author.name,
          link: user_path(@discussion.author),
          link_class: 'user-name')
      -if @discussion.has_previous_versions?
        .last-edited-by
          = link_to t(:"discussion_context.edited", when: time_ago_in_words(@discussion.last_versioned_at)), show_description_history_discussion_path(@discussion), :method => :post, :class => "see-description-history", :remote => true

      - if can? :follow, @discussion
        .following-status
          - if @discussion_reader.following?
            = link_to unfollow_discussion_path(@discussion), method: :post, class: "btn js-tooltip cuke-unfollow", title: t(:"discussion_context.click_to_unfollow") do
              %i.fa.fa-volume-up
              = t :"common.following"
            %p= t :"discussion_context.following_details"
          - else
            = link_to follow_discussion_path(@discussion), method: :post, class: "btn js-tooltip cuke-follow", title: t(:"discussion_context.click_to_follow") do
              %i.fa.fa-volume-down
              = t :"common.not_following"
            %p= t :"discussion_context.not_following_details"

#description-revision-history.modal.hidden
