- class_name = " voting"
- group = discussion.group
- if discussion.current_motion.present? && discussion.current_motion.voting?
  - motion = discussion.current_motion
  - if motion.voting? && motion.blocked?
    - class_name = " blocked"
%div{ class: "discussion panel" + class_name }
  .discussion-title-container
    %h4.discussion-title
      - title = truncate(discussion.title, :length => 75, :separator => ' ')
      = link_to title, discussion_path(discussion)
      .alert-info
        - discussion_count = 0
        - discussion_count = current_user.discussion_activity_count(discussion) if current_user
        - if discussion_count > 0
          .discussion-icon-container.discussion-enabled-icon
            #activity-count.span.label.important= discussion_count
        - else
          .discussion-icon-container.discussion-disabled-icon
            #activity-count.span
      .comment-info
        #last-comment
          - if discussion.comments.size > 0
            - last_updated = discussion.last_comment_updated_at?
          - else
            - last_updated = discussion.created_at
          - last_updated_date = last_updated.to_date
          - if last_updated_date == Date.today
            = last_updated.strftime("%I:%M %p")
          - else
            = last_updated.strftime("%d %b")
        #total-comments
          = pluralize(discussion.comments.count, 'msg')
  - if params[:controller] == 'dashboard'
    #group-name
      = link_to group.name, group_path(group)
  - if discussion.current_motion.present? && discussion.current_motion.voting?
    .proposal-container
      .vote-icon
        - if motion.user_has_voted?(current_user)
          - position = current_user.motion_vote(motion).position
        =render partial: "motions/display_icons", locals: {position: position}
      .proposal-title-container
        %span.proposal-label Proposal:
        %span.proposal-title= discussion.current_motion.name
      .proposal-stats
        .proposal-close-date
          - if motion.close_date.present?
            closing in
            = time_ago_in_words(motion.close_date)
          -#.proposal-engagement
            -##percentage-to-vote
              -#- percent_voted = (100-(motion.no_vote_count/motion.group_count.to_f * 100)).to_i
              -#= "#{percent_voted}% engagement (#{motion.group_count - motion.no_vote_count}/#{motion.group_count})"
