- if discussion_surely_has_no_current_motion
  - current_motion = nil
- else
  - current_motion = discussion.current_motion

.clearfix
  %div{ class: css_class_unread_discussion_activity_for(this_group, discussion, current_user), id: "discussion-preview-#{discussion.id}" }
    %a.selector-discussion-link{ href: discussion_path(discussion) }
      - current_motion = discussion.current_motion
      = render '/discussions/preview_vote_icon', motion: current_motion, user: current_user, group: this_group
      .discussion-title
        = truncate(discussion.title, :length => 60, :separator => ' ')
        .group-name= DiscussionDecorator.new(discussion).display_group_name(this_group)
      = render '/discussions/preview_motion_activity', current_motion: current_motion
      = render '/discussions/preview_discussion_activity', discussion: discussion, user: current_user
      .discussion-date-info
        -if current_motion
          - if discussion.current_motion_closing_at
            .proposal-close-date= "#{time_ago_in_words(discussion.current_motion_closing_at)} until close"
        - else
          .latest-comment-time= "#{t('ago', :quantity_of_time => time_ago_in_words(discussion.last_comment_at))}"
