.row
  .span8
    =render '/application/description', model: @discussion, model_name: "discussion", description_markdown_setting: @discussion.uses_markdown
  .span3.right-context
    .helper-text.discussion-description-helper-text.hidden
      %p= t "discussion_context.helper_text"
    .discussion-additional-info
      = t("discussion_context.started_when", when: time_ago_in_words(@discussion.created_at))
      .started-by
        = t :by
        = " "
        =link_to @discussion.author.name, "#", "title" => @discussion.author.name,
          "data-content" => "#{render 'users/name_popover', user: @discussion.author, group: @discussion.group}",
          class: "user-name-with-popover"
      -if defined? @last_collaborator
        .last-edited-by
          = t("discussion_context.last_edited", when: time_ago_in_words(@discussion.last_versioned_at))
          =link_to @last_collaborator.name, "#", "title" => @last_collaborator.name,
            "data-content" => "#{render 'users/name_popover', user: @last_collaborator, group: @discussion.group}",
            class: "user-name-with-popover"
        .see-revision-history
          %i.icon-time
          =link_to t("discussion_context.see_revision_history"), show_description_history_discussion_path(@discussion), :method => :post, :class => "see-description-history", :remote => true
#description-revision-history.modal.hidden
