%div{ class: css_class_for(discussion, current_user) }
  %a.selector-link{ href: discussion_path(discussion) }
    %span
      .clearfix
        .discussion-title
          = truncate(discussion.title, :length => 60, :separator => ' ')
          .group-name= DiscussionDecorator.new(discussion).display_group_name(this_group)
        .discussion-icon-container{ class: enabled_icon_class_for(discussion, current_user) }
          - if activity_count_for(discussion, current_user) > 0
            .activity-count.span.label.label-important
              = activity_count_for(discussion, current_user)
        .discussion-date-info
          - if discussion.has_current_motion
            .proposal-close-date= "#{time_ago_in_words(discussion.current_motion_close_date)} until close"
          - else
            .latest-comment-time= "#{time_ago_in_words(discussion.latest_comment_time)} ago"
