%section.main-content
  - if @discussions.any?
    .discussions
      - discussions_with_motions = @discussions.select(&:current_motion)
      - if discussions_with_motions.any?
        %ul.selector-list.bordered#discussions-with-motions
          - discussions_with_motions.each do |discussion|
            %li.selector-item= render '/discussions/discussion_preview', discussion: discussion
      %ul.selector-list.bordered#discussions-without-motions
        - @discussions.select{|d| d.current_motion.nil? }.each do |discussion|
          %li.selector-item= render '/discussions/discussion_preview', discussion: discussion

    .text-center= paginate @discussions, :window => 3

  -else
    - # no discussions visible
    - if sifting_unread? or sifting_followed?
      =(t :'discussion_list.empty.no_discussions_matching_filters_html', link: dashboard_path)
    - else
      - if @group
        - if @group.public_discussions_only?
          - # there are no discussions
          = t(:'discussion_list.empty.no_discussions_in_group')

        - else
          - # there might be private discussions
          - if can?(:see_private_content, @group)
            - # there are no discussions in the group at all
            = t(:'discussion_list.empty.no_discussions_in_group')
          -else
            - # explain why the list is empty
            - if @group.private_discussions_only?
              = t :'discussion_list.empty.discussions_are_private'
            - else
              = t :'discussion_list.empty.no_public_discussions'

            - # explain how one becomes a member
            - if @group.membership_granted_upon_approval?
              = t :'discussion_list.empty.request_membership_html', href: new_group_membership_request_path(@group)
            - elsif @group.members_can_add_members?
              = t :'discussion_list.empty.membership_is_invitation_only'
            - else
              = t :'discussion_list.empty.membership_is_invitation_by_admin_only'

            - # invite them to login
            - unless current_user_or_visitor.is_logged_in?
              = t(:'discussion_list.empty.log_in_html', href: new_user_session_path(return_to: request.original_url))

      - else # dashboard
        - # there are no discussions in any of your groups
        = t(:'discussion_list.empty.no_discussions')
