.row
  .span5
    = simple_form_for discussion, :validate => true do |f|
      .control-group
        - if @user_groups && params[:group_id].blank?
          %p= t "discussion_form.new.who"
          = f.collection_select :group_id, user_groups.sort{|a,b| a.full_name <=> b.full_name}, :id, :full_name, {include_blank: true}
        - else
          = f.input :group_id, :as => :hidden
      = f.input :title, autofocus: true, input_html: {class: 'js-warn-before-navigating-away'}, label: false
      = f.input :description, input_html: {class: 'js-warn-before-navigating-away'}, label: false
      .dropdown#discussion-markdown-dropdown.global-markdown-setting
        %a.dropdown-toggle{href:'#discussion-markdown-dropdown', id:'discussion-markdown-dropdown-link', 'data-toggle'=> 'dropdown'}
          = markdown_img(discussion.uses_markdown)
        = render 'markdown_setting', target: current_user

      - if discussion.group.present? and discussion.group.is_hidden?
        .hidden-group-discussion-privacy
          %h3.header= t :'simple_form.labels.group.privacy'
          %i.fa.fa-lock
          %span.subhead= t :'simple_form.labels.discussion.privacy_private_header'
          .description= t :'simple_form.labels.discussion.privacy_hidden_description'
          = f.input_field :private, as: :hidden, value: true
      - else
        = f.input :private, as: :radio_buttons, collection: discussion_privacy_options(discussion), label: t('simple_form.labels.group.privacy')
      = f.input 'uses_markdown', as: :hidden, id: 'global-uses-markdown'
      = f.submit :class => "btn btn-large btn-info", id: "discussion-submit", :data => {:disable_with => t(:saving)}
      = render 'application/hint', text: t(:"hint.discussion"), anchor: 'starting-an-engaging-discussion'
