= form_for(discussion) do |f|
  .modal-body
    .row
      .span5
        - if params[:controller] == 'dashboard'
          .control-group
            = f.label :group_id, "Group", {class: "control-label", for: "validate-presence"}
            .presence-error-message.hidden Please select a group
            = f.collection_select :group_id, user_groups, :id, :full_name, {:prompt => "Which group would you like to engage in this discussion?"}, {:class => 'validate-presence'}
        - else
          = f.hidden_field :group_id
        .control-group
          = f.label :title, "Title", { class: "control-label", for: "validate-presence"}
          .presence-error-message Please fill in a title
          = f.text_field :title, :placeholder => "What is the topic you'd like to discuss?", class: "validate-presence inputError limit-150"
          .character-counter
        .control-group
          = f.label :description, "Context", { class: "control-label", for: "validate-presence"}
          .presence-error-message Please fill in some info on the discussion
          = f.text_area :description, :placeholder => "This information will appear at the top of the discussion page. Introduce the topic and give enough context for your group to have a well-informed discussion."
        .control-group
          = f.check_box :notify_group_upon_creation
          = f.label :notify_group_upon_creation,
            "Email group members to announce the new discussion.", class: "checkbox-label"
  .modal-footer
    = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-small btn-grey"
    = f.submit "Start", class: "btn btn-info run-validations", id: "discussion-submit", :data => { :disable_with => "Starting" }
