.row
  .span5
    = simple_form_for discussion, :validate => true do |f|
      %h2= t "discussion_form.header"
      .control-group
        - if @user_groups
          %p= t "discussion_form.who"
          = f.collection_select :group_id, user_groups.sort{|a,b| a.full_name <=> b.full_name}, :id, :full_name
        - else
          = f.input :group_id, :as => :hidden
      = f.input :title, autofocus: true
      = f.input :description
      = f.hidden_field 'uses_markdown', value: @uses_markdown, id: 'global-uses-markdown'
      = f.submit :class => "btn btn-large btn-info", id: "discussion-submit", :data => {:disable_with => t(:starting)}
      .dropdown#discussion-markdown-dropdown.global-markdown-setting
        %a.dropdown-toggle{href:'#discussion-markdown-dropdown', id:'discussion-markdown-dropdown-link', 'data-toggle'=> 'dropdown'}
          = markdown_img(@uses_markdown)
        = render 'markdown_setting', target: current_user
