.row
  .col-md-5
    = simple_form_for discussion, :validate => true do |f|
      .form-group
        - if params[:group_id].blank?
          - if discussion.new_record?
            %p= t "discussion_form.new.who"
            = f.collection_select :group_id, current_user.groups_discussions_can_be_started_in, :id, :full_name, {include_blank: true}, class: 'form-control'
          - else
            %strong= discussion.group.full_name
        - else
          = f.input :group_id, :as => :hidden
      = f.input :title, autofocus: true, input_html: {class: 'js-warn-before-navigating-away', dir: text_direction(discussion)}
      = f.input :description, input_html: {class: 'js-warn-before-navigating-away', dir: text_direction(discussion)}

      .markdown-label.pull-right
        = f.check_box :uses_markdown
        = f.label :uses_markdown, 'Markdown'
        = surround '(', ')' do
          = link_to t(:'help.help'), markdown_path, title: t(:'common.markdown_help_tooltip'), class: 'js-tooltip-left', target: '_blank'

      - if discussion.group.present? and discussion.group.beta_feature_enabled?('discussion_iframe') and can?(:update, discussion.group)
        =f.input :iframe_src

      - if discussion.group.present?
        - group = discussion.group
        - if group.is_visible_to_parent_members? && group.parent_members_can_see_discussions?
          .hidden-group-discussion-privacy
            %i.fa.fa-lock
            = t :'common.private'
            = t :'discussion_form.privacy.will_be_private_to_parent_group', parent_group_name: group.parent.name, group_name: group.name
            = f.input_field :private, as: :hidden, value: true
        - else
          - if group.private_discussions_only?
            .hidden-group-discussion-privacy
              %i.fa.fa-lock
              = t :'common.private'
              = t :'discussion_form.privacy.will_be_private_to_group', group_name: group.name
              = f.input_field :private, as: :hidden, value: true
          - elsif group.public_discussions_only?
            .hidden-group-discussion-privacy
              %i.fa.fa-globe
              = t :'common.public'
              = t :'discussion_form.privacy.will_be_public'
              = f.input_field :private, as: :hidden, value: false
          - else
            .radio_buttons
              = label_tag t('simple_form.labels.group.privacy') do
                .radio
                  = label_tag "discussion_private_false" do
                    = f.radio_button :private, false
                    = discussion_privacy_collection(discussion)[0][0]
                .radio
                  = label_tag "discussion_private_true" do
                    = f.radio_button :private, true
                    = discussion_privacy_collection(discussion)[1][0]
      - else
        .radio_buttons
          = label_tag t('simple_form.labels.group.privacy') do
            .radio
              = label_tag "discussion_private_false" do
                = f.radio_button :private, false
                = discussion_privacy_collection(discussion)[0][0]
            .radio
              = label_tag "discussion_private_true" do
                = f.radio_button :private, true
                = discussion_privacy_collection(discussion)[1][0]
      = f.submit :class => "btn btn-lg btn-primary", id: "discussion-submit", :data => {:disable_with => t(:saving)}
