- if user_signed_in?
  .popover-current-position
    = "Your position"
    .popover-current-position-icon= render "motions/display_icons", position: user.get_position_for(motion)

.popover-engagement
  = "Engagement #{motion.percent_voted}%"


- if user_signed_in?
  - new_vote_count = 0
  - if motion_activity > 0
    .popover-header
      New activity
    %ul.popover-activity-list
      - new_vote_count = user.motion_activity_count(motion)
      - motion.votes.order('created_at')[(0..new_vote_count)].each do |vote|
        %li.popover-item
          = render "discussions/graph_preview_pop_over_votes", vote: vote, motion: motion
    / - motion.votes.order('created_at')[(new_vote_count..4 - new_vote_count)].each do |vote|
    /   %li.popover-item
    /     = render "discussions/graph_preview_pop_over_votes", vote: vote, motion: motion
  - else
    .popover-header
      New activity
    %ul.popover-activity-list
      - motion.votes.order('created_at').each do |vote|
        %li.popover-item
          = render "discussions/graph_preview_pop_over_votes", vote: vote, motion: motion