= render 'avatar', user: vote.user, size: "medium", kind: nil, id: nil
%div{:class => 'activity-icon ' + vote_icon_name(vote.position)}
%strong= vote.user.name 
- if vote.statement != ""
  = " - " 
  = vote.statement
.vote-time
  = time_ago_in_words(vote.created_at) + " ago"