- if history.count == 0
  %h2 There are no messages yet in this discussion.
- else
  %ul
    - history.each do |message|
      - if message.is_a?(Comment)
        %li= render message
      - if message.is_a?(Vote)
        %li
          .comment.position.clearfix
            .position-icon
              = render partial: "motions/display_icons", locals: { position: message.position }
            .comment-username= link_to(message.user_name, "#")
            .position-message
              - if message.statement.present?
                .comment-word-break= "#{message.statement}"
              - else
                = " has made a decission. "
            .comment-time
              = time_ago_in_words(message.created_at) + " ago"
      - if message.is_a?(Motion)
        %li
          - classes = "comment proposal clearfix"
          - classes += " current" if (message == discussion.current_motion)
          %div{class: classes}
            .comment-username= link_to(message.author_name, "#")
            .proposal-label created a proposal
            .proposal-text.comment-word-break= message.name
            .comment-time
              = time_ago_in_words(message.created_at) + " ago"
  :coffeescript
    $ ->
      @linkify = new Loomio.Views.Utils.Linkify
        el: $(".comment-body, .proposal-text, .position-message")
