%ul.history-list
  - if history.count == 0
    %li.selector-item.empty-list-message.history-item
      There are no messages yet in this discussion.
  - else
    - history.each do |message|
      - if message.is_a?(Comment)
        %li.history-item= render message
      - if message.is_a?(Vote)
        %li.history-item
          .comment.position.clearfix
            .position-icon
              = render partial: "motions/display_icons", locals: { position: message.position }
            .comment-username= link_to(message.user_name, "#")
            .comment-label= message.position_to_s + " the proposal. " + ( message.previous_vote != nil ? " (Previously: " + message.previous_vote.position_to_s + " the proposal.)" : "" )
            .position-message
              - if message.statement.present?
                .word-break= "#{message.statement}"
              - else
            .comment-time
              = time_ago_in_words(message.created_at) + " ago"
      - if message.is_a?(Motion)
        %li.history-item
          - classes = "comment proposal clearfix"
          - classes += " current" if (message == discussion.current_motion)
          %div{class: classes}
            .comment-avatar
              .medium-user-avatar.avatar-canvas
                - if message.author.avatar_url.nil?
                  %span.medium-user-initials.initials-decoration= message.author.avatar_initials
                - else
                  = image_tag message.author.avatar_url("medium")
            .comment-right
              .tool-bar-item-proposal
              .comment-username= link_to(message.author_name, "#")
              .comment-label created a proposal
              .proposal-info
                %span.proposal-text.word-break= "#{message.name}"
                %span.proposal-description.word-break= '- "' + h(truncate(message.description,
                length: 120, omission: '...', separator: ' ')) + '"' if message.description.nil?
              .comment-time
                = time_ago_in_words(message.created_at) + " ago"
