%ul.history-list
  - if history.count == 0
    %li.history-item#no-messages
      There are no messages yet in this discussion.
  - else
    - history.each do |message|
      - if message.is_a?(Comment)
        %li.history-item= render message
      - if message.is_a?(Vote)
        %li.history-item
          .comment.position
            .position-icon
              = render partial: "motions/display_icons", locals: { position: message.position }
            %span.comment-username= link_to(message.user_name, "#")
            %span.comment-label= message.position_to_s + " the proposal. " + ( message.previous_vote != nil ? " (Previously: " + message.previous_vote.position_to_s + " the proposal.)" : "" )
            - if message.statement.present?
              %span.position-message.word-break= " - '#{message.statement}'"
            .comment-time
              = time_ago_in_words(message.created_at) + " ago"
      - if message.is_a?(Motion)
        %li.history-item
          - classes = "comment proposal"
          - classes += " current" if (message == discussion.current_motion)
          %div{class: classes}
            .proposal-icon
            %span.comment-username= link_to(message.author_name, "#")
            %span.comment-label created a proposal -
            %span.proposal-text.word-break= " '#{message.name}'"
            .comment-time
              = time_ago_in_words(message.created_at) + " ago"
  :coffeescript
    $ ->
      @linkify = new Loomio.Views.Utils.Linkify
        el: $(".comment-body, .proposal-text, .position-message")
