%ul.dropdown-menu#markdown-setting-dropdown
  %li#enable-markdown
    %a{href: '#', id: 'enable-markdown-link'}
      %i{:class => css_for_markdown_link(current_user, true)}
      = t :enable
  %li#disable-markdown
    %a{href: '#', id: 'disable-markdown-link'}
      %i{:class => css_for_markdown_link(current_user, false)}
      = t :disable
  .divider
  %li
    %a{href: 'https://www.loomio.org/discussions/1124'}
      = t :markdown_settings_more_info
= form_tag set_markdown_user_path(current_user.id), remote: true, id: 'markdown-settings-form' do
  = hidden_field_tag 'id', current_user.id
  = hidden_field_tag 'uses_markdown', @uses_markdown, {id: 'uses_markdown'}
