#new-topic.modal.hidden
  .modal-header
    %button.close{"data-dismiss" => "modal"}×
    %h2 What topic do you want your group to engage with?
  = form_for discussion do |f|
    .modal-body
      .row
        .span10
          - if params[:controller] == 'dashboard'
            .row
              .span5
                .control-group
                  = f.label :group_id, "Group", {class: "control-label", for: "validate-presence"}
                  .presence-error-message.hidden Please select a group
                  = f.collection_select :group_id, user_groups, :id, :name, {:prompt => "Select group"}, {:class => 'validate-presence'}
              .span5
                .helper-text.align-with-input
                  %p Select the group you want to engage
          - else
            = f.hidden_field :group_id
          .row
            .span5
              .control-group
                = f.label :title, "Title", {class: "control-label", for: "validate-presence"}
                .presence-error-message Please fill in a title
                = f.text_field :title, class: "validate-presence inputError limit-150"
                .character-counter
            .span5
              .helper-text.align-with-input
                %p The topic you wish to discuss, e.g. “...”
          = f.label :description, "Description"
          .row
            .span5
              = f.text_area :description
            .span5
              .helper-text
                %p Give some background, etc...
          = f.check_box :notify_group_upon_creation
          = f.label :notify_group_upon_creation,
            "Send email notification to group members", class: "checkbox-label"
    .modal-footer
      = f.submit "Start", class: "btn btn-info run-validations"
      = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-small"
