.dropdown#discussion-options
  %a.dropdown-toggle{href:"#", id: "options-dropdown", 'data-toggle' => 'dropdown'}
    %i.fa.fa-cog
  %ul.dropdown-menu.pull-right
    - if can?(:edit, discussion)
      %li= link_to t(:edit_discussion), edit_discussion_path, class: 'edit-discussion'
    - if can?(:move, @discussion)
      %li= link_to t(:move_discussion), '#move-discussion-modal', "data-toggle" => "modal", id: 'move-discussion'
    -if can? :destroy, discussion
      %li= link_to t(:delete_discussion), discussion_path(discussion), method: :delete, data: { confirm: t(:confirm_delete_discussion) }

- if can?(:move, @discussion)
  #move-discussion-modal.modal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal"}×
          %h3= t :move_discussion_where
        = form_tag move_discussion_path(discussion), method: :post,
          data: { public_group_ids: destination_ids_for(discussion, current_user, :public),
                  hidden_group_ids: destination_ids_for(discussion, current_user, :private),
                  private_discussion: @discussion.private ? 1 : 0 },
          class: 'move-discussion-form' do
          .modal-body
            = select_tag :destination_group_id, options_for_select(@destination_groups.map{|g| [g.full_name, g.id]}), class: 'form-control'
          .warn-move.warn-move-will-make-private{style: "display: none"}
            %i.fa.fa-lock
            = t(:move_discussion_to_hidden_group)
          .warn-move.warn-move-will-make-public{style: "display: none"}
            %i.fa.fa-unlock
            = t(:move_discussion_to_public_group)
          .modal-footer
            = submit_tag t(:move_discussion), class: "btn btn-info", id: 'move-discussion-submit', :data => { :disable_with => t(:'move_discussion') }
            = link_to t(:cancel), "#", "data-dismiss" => "modal", class: "btn btn-default"
