.clearfix
  .large-icon.topic-icon
  .discussion-title-container
    %h2#discussion-title
      = discussion.title

    #edit-discussion-title.hidden
      = form_tag send("edit_title_discussion_path"), :remote => true do |f|
        = hidden_field_tag 'id'
        .control-group
          = text_field_tag 'title', discussion.title, {id: 'discussion-input', class: 'inputError limit-150'}
          .character-counter
        .save-buttons.clearfix
          = submit_tag "Save", class: 'btn btn-small run-validations', id: 'edit-title-submit', :data => {:disable_with => "Saving"}
          = link_to "Cancel", "#", id: 'cancel-edit-title'
  - if can?(:edit_title, discussion) || can?(:move, discussion) || can?(:destroy, discussion)
    =render "discussions/options", discussion: discussion
