= form_for @discussion do |f|
  .padding
    = f.label :title, "Title"
    = f.text_field :title
    = f.label :comment, "Comment"
    = f.text_area :comment
  = f.submit "Create discussion", class: "btn primary"
  = f.hidden_field :group_id
