=render '/groups/title', group: @group
%h1 New Discussion
= form_for @discussion do |f|
  .control-group
    = f.label :title, "Title", {class: "control-label", for: "validate-presence"}
    = f.text_field :title, class: "validate-presence inputError limit-150"
    .presence-error-message Please fill in a discussion title
  .character-counter
  = f.label :comment, "Comment"
  = f.text_area :comment
  = f.check_box :notify_group_upon_creation
  = f.label :notify_group_upon_creation,
    "Send email notification to group members that this discussion has been created",
    class: "checkbox-label"
  = f.submit "Create discussion", class: "btn btn-info run-validations", :disable_with => "Creating Discussion"
  = f.hidden_field :group_id
