%h2.headerspace.group-title
  = link_to @group.parent.name, group_path(@group.parent), title: "group" unless @group.parent.nil?
  = " > " unless @group.parent.nil?
  = @group.name
= form_for @discussion do |f|
  .padding
    = f.label :title, "Title"
    .clearfix
      .presence-required= f.text_field :title, class: "presence-required input"
      .error-message Title can not be blank
    = f.label :comment, "Comment"
    = f.text_area :comment
    .check-presence= f.submit "Create discussion", class: "btn primary"
  = f.hidden_field :group_id
