.group-title
  %span
    %h2
      = link_to @group.parent.name, group_path(@group), title: "group" unless @group.parent.nil?
      = " - " unless @group.parent.nil?
      = link_to @group.name, group_path(@group)
  %h3 New Discussion
= form_for @discussion do |f|
  = f.label :title, "Title"
  #new-proposal-title
    .control-group.text-present
      .presence-required= f.text_field :title, class: "presence-required inputError limit"
      .error-message Please fill in a discussion title
    .character-counter
  = f.label :comment, "Comment"
  = f.text_area :comment
  = f.check_box :notify_group_upon_creation
  = f.label :notify_group_upon_creation,
    "Notify group members that this discussion has been created",
    class: "checkbox-label"
  .check-presence= f.submit "Create discussion", class: "btn btn-info"
  = f.hidden_field :group_id
