%h2.headerspace.group-title
  = link_to @group.parent.name, group_path(@group.parent), title: "group" unless @group.parent.nil?
  = " > " unless @group.parent.nil?
  = link_to @group.name, group_path(@group)

.row
  .span8#discussion-panel
    = render 'comments', discussion: @discussion, comments: @comments
  .span8#motion-panel
    - if @current_motion && @current_motion.voting?
      = render @current_motion, unique_votes: @unique_votes
    - @discussion.motions.each do |motion|
      - if motion.closed?
        .row#closed-motions
          .span8
            %h4.title-row Closed proposals
            .motion-row
              = motion.name
              .closed-date
                = "Closed #{time_ago_in_words(motion.close_date)} ago"
:coffeescript
  $ ->
    # Display vote graph
    @pie_graph_view = new Tautoko.Views.Utils.GraphView
      el: '#graph.pie'
      id_string: 'graph'
      legend: true
      data: #{@votes_for_graph.to_json.html_safe}
      type: 'pie'
      tooltip_selector: '#tooltip'

