%h2.headerspace.group-title
  = link_to @group.parent.name, group_path(@group.parent), title: "group" unless @group.parent.nil?
  = " > " unless @group.parent.nil?
  = link_to @group.name, group_path(@group)

.row
  .span8#discussion-panel
    = render 'comments', discussion: @discussion, comments: @comments
  .span8#motion-panel
    #current-motion-container
      - if not @selected_closed_motion == nil
        .motion-row
        - if @current_motion.voting?
          %h4.title-row Current proposal
          = link_to @current_motion.name, "#"
        = render @selected_closed_motion, unique_votes: @unique_votes
      - else
        - if @current_motion && @current_motion.voting?
          = render @current_motion, unique_votes: @unique_votes
        - else
          .btn-new-motion= link_to "Create a new proposal", new_proposal_discussion_path(@discussion.id), class: 'btn small primary',
            id: 'new-proposal'
          .motion-placeholder
    #closed-motions
      - @discussion.motions.each do |closed_motion|
        - if closed_motion.closed?
          - unless @selected_closed_motion == closed_motion
            .row
              .span8
                %h4.title-row Previous proposals
                .motion-row
                  = link_to closed_motion.name, discussion_path(@discussion, proposal: closed_motion.id)
                  .closed-date
                    = "Closed #{time_ago_in_words(closed_motion.close_date)} ago"
:coffeescript
  $ ->
    # Display vote graph
    @pie_graph_view = new Tautoko.Views.Utils.GraphView
      el: '#graph.pie'
      id_string: 'graph'
      legend: true
      data: #{@votes_for_graph.to_json.html_safe}
      type: 'pie'
      tooltip_selector: '#tooltip'
