.group-title
  %span
    %h2= @group.fancy_link
  %h1.discussion-title
    = @discussion.title
.row.content-discussion
  .span6#content-history
    - if can? :add_comment, @discussion
      #new-comment-area
        = form_tag add_comment_discussion_path(@discussion), id: "new-comment-form" do
          = text_area_tag 'comment', "", id: 'new-comment', placeholder: "Say something..."
          #new-comment-submit
            = submit_tag "Post comment", class: "btn btn-info submit", id: 'post-new-comment'
    = render 'history', discussion: @discussion, history: @discussion.history
  .span6#content-proposal
    .content-block
      - if @selected_closed_motion
        - if @current_motion
          #current-proposal
            %h1 Current proposal
            .content
              .panel
                .motion-row
                  = link_to @current_motion.name, discussion_path(@discussion)
                  .close-date
                    = "Closing in #{time_ago_in_words(@current_motion.close_date)}"
        - else
          #new-proposal
            .content
              = link_to "Create a new proposal", new_proposal_discussion_path(@discussion.id), class: 'btn btn-info',
                id: 'new-proposal'
      - else
        - if @current_motion
          #current-proposal
            %h1 Current proposal
            .content
              .panel
                = render @current_motion, unique_votes: @unique_votes
        - else
          #no-current-proposal
            .content
              = link_to "Create a new proposal", new_proposal_discussion_path(@discussion.id), class: 'btn btn-info',
                id: 'new-proposal'
    - if @discussion.motions.where("phase = 'closed'").count > 0
      #previous-proposals
        .content-block
          %h1 Previous proposals
          .content
            - @discussion.motions.order("close_date desc").each do |closed_motion|
              - if closed_motion.closed?
                - if @selected_closed_motion == closed_motion
                  .panel
                    = render @selected_closed_motion, unique_votes: @unique_votes
                - else
                  .panel
                    .motion-row
                      = link_to closed_motion.name, discussion_path(@discussion, proposal: closed_motion.id)
                      .close-date
                        = "Closed #{time_ago_in_words(closed_motion.close_date)} ago"
