- set_title @group.name, @discussion.title, @group.parent
=render '/groups/title', group: @group
=render 'application/helper_bot' 
.row
  .span12
    .selector-panel
      = render 'title', discussion: @discussion
      #discussion-panel-content
        #discussion-context
          =render 'discussion_context'
        #description-revision-history.modal.hidden
        .row
          .span6#content-history
            .large-icon.discussion-icon.enabled-icon
            %h3.header-text Discussion
            #content-history-body
              = render 'add_comment', discussion: @discussion
              = render 'history', discussion: @discussion, history: @discussion.history

          .span6#content-proposal
            .large-icon.decision-icon
            %h3.header-text Current decision
            .content-proposal-body
              %ul.selector-list
                - if @current_motion
                  - if (not @selected_motion) && (can? :close_voting, @current_motion)
                    %li= link_to "Close proposal", close_motion_voting_path(@current_motion),
                      :data => {confirm: "Are you sure you want to close this motion?"}, method: :post, class: 'btn btn-small proposal-btn', id: 'close-voting'
                  - if @selected_motion && (@selected_motion != @current_motion)
                    %li.selector-item.current-proposal
                      = render '/motions/motion_preview', motion: @current_motion, this_group: @group
                  - else
                    %li.selector-item.current-proposal
                      = render @current_motion, unique_votes: @unique_votes
                - else
                  - if can? :create, Motion.new(discussion_id: @discussion.id)
                    = link_to "Create new proposal", new_proposal_discussion_path(@discussion.id), class: 'btn btn-small proposal-btn', id: 'new-proposal'
                  %li.selector-item.empty-list-message= "There is not currently an open proposal under discussion"

            - if @discussion.motions.where("phase = 'closed'").count > 0
              #previous-proposals
                .clearfix
                  .large-icon.decision-icon
                  %h3.header-text Previous decisions

                .content-proposal-body
                  %ul.selector-list
                    - @discussion.motions.order("close_date desc").each do |closed_motion|
                      - if closed_motion.closed?
                        - if closed_motion == @selected_motion
                          %li.selector-item= render @selected_motion, unique_votes: @unique_votes, this_group: @group
                        - else
                          %li.selector-item= render '/motions/motion_preview', motion: closed_motion, this_group: @group
