- set_title @group.name, @discussion.title, @group.parent

.row
  .span9
    =render '/groups/title', group: @group, discussion: @discussion
  .span3#button-container
    = request_membership_button(@group)

.row
  .span12
    .selector-panel
      = render 'title', discussion: @discussion
      #discussion-content-container
        #discussion-context= render 'discussion_context'
        - if @group.beta_feature_enabled?('discussion_iframe') and @discussion.iframe_src.present?
          .row
            .span12
              %iframe.discussion-iframe{src: @discussion.iframe_src}
        .row
          .span6#content-comments
            - if enough_activity_for_jump_link?
              - if @discussion_reader.returning_user_and_unread_content_exist?
                = link_to path_of_latest_activity, id: 'jump-to-latest', class: 'jump-to-latest-activity btn' do
                  %i.fa.fa-arrow-down
              -else
                = link_to path_of_add_comment, id: 'jump-to-latest', class: 'jump-to-add-comment btn' do
                  %i.fa.fa-arrow-down
            .large-icon.discussion-icon.enabled-icon
            %h3.header-text= t :discussion
            #discussion-activity-body
              #activity-feed
                = render 'activity', items: @activity
                = render 'add_comment', discussion: @discussion
                = paginate @activity

          .span6#content-proposal
            .large-icon.decision-icon
            %h3.header-text= t :current_decision
            .content-proposal-body
              %ul.selector-list
                - if can? :start_proposal, @discussion
                  = link_to t(:create_new_proposal),
                            new_proposal_discussion_path(@discussion),
                            class: 'btn new-proposal-btn',
                            id: 'new-proposal'
                  %li.selector-item.empty-list-message#start-proposal-text
                    = t :empty_decision_list_html # should be "start a proposal"

                - if @discussion.current_motion
                  -if @motion == @discussion.current_motion
                    %li.selector-item.current-proposal
                      = render @motion
                  -else
                    %li.selector-item
                      = render 'motions/motion_preview', motion: @discussion.current_motion

            - if @closed_motions.any?
              #previous-proposals
                .clearfix
                  .large-icon.decision-icon
                  %h3.header-text= t :previous_decisions
                .content-proposal-body
                  %ul.selector-list
                    - @closed_motions.each do |motion|
                      - if motion == @motion
                        %li.selector-item= render @motion
                      - else
                        %li.selector-item= render 'motions/motion_preview', motion: motion

/ the question should be broader: perhaps can? :participate
- unless can? :add_comment, @discussion
  - if current_user_or_visitor.is_logged_in?
    = render 'discussions/prompt_logged_in_user_to_join_modal'
  - else
    = render 'discussions/prompt_logged_out_user_to_authenticate_or_signup_modal'
