- set_title @group.name, @discussion.title, @group.parent

.row
  .col-md-9
    = render '/groups/title', group: @group, discussion: @discussion
  .col-md-3#button-container
    = join_group_button(@group)

.row.translate-parent{id: "discussion-#{@discussion.key}" }
  .col-md-12
    .selector-panel
      = render 'title', discussion: @discussion
      #discussion-content-container
        #discussion-context= render 'discussion_context'
        - if @group.beta_feature_enabled?('discussion_iframe') and @discussion.iframe_src.present?
          .row
            .col-md-12
              %iframe.discussion-iframe{src: @discussion.iframe_src}
        .row
          .col-sm-6.col-sm-push-6#content-proposal
            .large-icon.decision-icon
            %h3.header-text= t :current_decision
            .content-proposal-body
              %ul.selector-list
                - if can? :create, Motion.new(discussion: @discussion)
                  = link_to t(:create_new_proposal),
                            new_proposal_discussion_path(@discussion),
                            class: 'btn btn-primary new-proposal-btn',
                            id: 'new-proposal'
                  %li.selector-item.empty-list-message#start-proposal-text
                    = t :empty_decision_list_html # should be "start a proposal"

                - if @discussion.current_motion
                  - if @motion == @discussion.current_motion
                    %li.selector-item.current-proposal
                      = render @motion
                  - else
                    %li.selector-item
                      = render 'motions/motion_preview', motion: @discussion.current_motion

            - if @closed_motions.any?
              #previous-proposals
                .clearfix
                  .large-icon.decision-icon
                  %h3.header-text= t :previous_decisions
                .content-proposal-body
                  %ul.selector-list
                    - @closed_motions.each do |motion|
                      - if motion == @motion
                        %li.selector-item= render @motion
                      - else
                        %li.selector-item= render 'motions/motion_preview', motion: motion
          .col-sm-6.col-sm-pull-6#content-comments
            .large-icon.discussion-icon.enabled-icon
            %h3.header-text= t :discussion
            #discussion-activity-body
              #activity-feed
                = render 'activity', items: @activity
                = render 'add_comment', discussion: @discussion
                = paginate @activity
                - unless last_page?
                  %p.go-to-add-comment
                    = t( :go_to_add_comment_html, href: path_of_add_comment )


/ the question should be broader: perhaps can? :participate
- unless can? :add_comment, @discussion
  - if current_user_or_visitor.is_logged_in?
    = render 'discussions/prompt_logged_in_user_to_join_modal'
  - else
    = render 'discussions/prompt_logged_out_user_to_authenticate_or_signup_modal'
