- set_title @group.name, @discussion.title, @group.parent
- if current_user && (not current_user.has_read_discussion_notice?)
  - message = "The discussion topic is at the top of the page, followed by background information and context.\n\n"
  - message += "Discussion is on the left: to add a comment, write in the text box and click ‘Post comment’.\n\n"
  - message += "Decisions are on the right. If you think the group is ready to make a decision, "
  - message += "you can make a proposal for the group to consider. If someone has already made a proposal, "
  - message += "you can see how the group feels on the pie graph, and state your position underneath.\n\n"
  =render '/application/helper_info', message: message, path: dismiss_discussion_notice_for_user_path

=render '/groups/title', group: @group
=render 'application/helper_bot' 
.row
  .span12
    .selector-panel
      = render 'title', discussion: @discussion
      #discussion-panel-content
        #discussion-context
          .row
            .span8
              =render '/application/description', model: @discussion, model_name: "discussion"
            .span3.right-context
              .helper-text.discussion-description-helper-text.hidden
                %p Use this panel to give enough context for your group to have a well-informed discussion. As the discussion progresses, anyone can add information to make it easy for new people to get up to speed.
              .discussion-additional-info
                = "Started #{time_ago_in_words(@discussion.created_at)} ago"
                .started-by
                  = "By #{@discussion.originator}"
                  =link_to @discussion.author.name, "#", "title" => @discussion.author.name,
                    "data-content" => "#{render 'users/name_popover', user: @discussion.author, group: @discussion.group}",
                    class: "user-name-with-popover"
                .last-edited-by
                  = "By "
                .see-revision-history
                  =link_to "See revision history", show_description_history_discussion_path(@discussion), :method => :post, :class => "see-description-history", :remote => true
        #description-revision-history.modal.hidden
        .row
          .span6#content-history
            .large-icon.discussion-icon.enabled-icon
            %h2.header-text Discussion
            #content-history-body
              = render 'add_comment', discussion: @discussion
              = render 'history', discussion: @discussion, history: @discussion.history

          .span6#content-proposal
            .large-icon.decision-icon
            %h2.header-text Current decision
            .content-proposal-body
              %ul.selector-list
                - if @current_motion
                  - if (not @selected_motion) && (can? :close_voting, @current_motion)
                    %li= link_to "Close proposal", close_motion_voting_path(@current_motion),
                      :data => {confirm: "Are you sure you want to close this motion?"}, method: :post, class: 'btn btn-small proposal-btn', id: 'close-voting'
                  - if @selected_motion && (@selected_motion != @current_motion)
                    %li.selector-item.current-proposal
                      = render '/motions/motion_preview', motion: @current_motion, this_group: @group
                  - else
                    %li.selector-item.current-proposal
                      = render @current_motion, unique_votes: @unique_votes
                - else
                  - if can? :create, Motion.new(discussion_id: @discussion.id)
                    = link_to "Create new proposal", new_proposal_discussion_path(@discussion.id), class: 'btn btn-small proposal-btn', id: 'new-proposal'
                  %li.selector-item.empty-list-message= "There is not currently an open proposal under discussion"

            - if @discussion.motions.where("phase = 'closed'").count > 0
              #previous-proposals
                .clearfix
                  .large-icon.decision-icon
                  %h2.header-text Previous decisions

                .content-proposal-body
                  %ul.selector-list
                    - @discussion.motions.order("close_date desc").each do |closed_motion|
                      - if closed_motion.closed?
                        - if closed_motion == @selected_motion
                          %li.selector-item= render @selected_motion, unique_votes: @unique_votes, this_group: @group
                        - else
                          %li.selector-item= render '/motions/motion_preview', motion: closed_motion, this_group: @group
