- set_title @group.name, @discussion.title, @group.parent
.row
  .span9
    =render '/groups/title', group: @group, discussion: @discussion
  .span3#button-container
    = request_membership_button(@group)
.row
  .span12
    .selector-panel
      = render 'title', discussion: @discussion
      #discussion-content-container
        #discussion-context= render 'discussion_context'
        .row
          .span6#content-comments
            - if enough_activity_for_jump_link?
              - if @discussion_reader.returning_user_and_unread_content_exist?
                = link_to path_of_latest_activity, id: 'jump-to-latest', class: 'jump-to-latest-activity btn' do
                  %i.icon-arrow-down
              -else
                = link_to path_of_add_comment, id: 'jump-to-latest', class: 'jump-to-add-comment btn' do
                  %i.icon-arrow-down
            .large-icon.discussion-icon.enabled-icon
            %h3.header-text= t :discussion
            #discussion-activity-body
              #activity-feed
                = render 'activity', items: @activity
                = render 'add_comment', discussion: @discussion
                = paginate @activity


          .span6#content-proposal
            .large-icon.decision-icon
            %h3.header-text= t :current_decision
            .content-proposal-body
              %ul.selector-list
                - if @current_motion.nil?
                  - if can? :create, Motion.new(discussion: @discussion)
                    = link_to t(:create_new_proposal), new_proposal_discussion_path(@discussion), class: 'btn new-proposal-btn', id: 'new-proposal'
                    %li.selector-item.empty-list-message#start-proposal-text
                      = t :empty_decision_list_html
                - else
                  - if @displayed_motion == @current_motion
                    - if can? :close_voting, @current_motion
                      %li= render '/motions/admin_buttons', :motion => @current_motion
                    %li.selector-item.current-proposal
                      = render @current_motion
                  - else
                    %li.selector-item.current-proposal
                      = render '/motions/motion_preview', motion: @current_motion, this_group: @group

            - if can? :edit_close_date, @current_motion
              = render '/motions/edit_close_date', motion: @current_motion, user: @current_user, input_time: @input_time

            - if @discussion.closed_motions.any?
              #previous-proposals
                .clearfix
                  .large-icon.decision-icon
                  %h3.header-text= t :previous_decisions
                .content-proposal-body
                  %ul.selector-list
                    - @discussion.closed_motions.each do |closed_motion|
                      - if closed_motion == @displayed_motion
                        %li.selector-item= render closed_motion, this_group: @group
                      - else
                        %li.selector-item= render '/motions/motion_preview', motion: closed_motion, this_group: @group

- unless current_user
  = render 'discussions/prompt_visitor_to_authenticate_modal'
