- if current_user && (not current_user.has_read_discussion_notice?)
  - message = "The left-hand panel below is the place to post comments, "
  - message += "share information, and have a discussion. To add a comment, write in the text box and click “Post comment”.\n\n"
  - message += "The right-hand panel is the place to see the current proposal, and how the group feels about it. "
  - message += "Once a discussion has progressed to the point where a possible proposal for an action or decision is clear, "
  - message += "a group member can create a proposal and it will appear in this panel. "
  - message += "If there is not yet a proposal, the right-hand panel will be blank.\n\n"
  =render '/application/helper_info', message: message, path: dismiss_discussion_notice_for_user_path

=render '/application/loomio-process-flow'
=render '/groups/title', group: @group

.row
  .span12
    .selector-panel
      .clearfix
        .header-icon#discussion
        %h1#discussion-title= @discussion.title
      #discussion-panel-content
        #discussion-context
          = @discussion.description
        .row
          .span6#content-history
            .clearfix
              .header-icon#discussion
              %h2.header-text Discussion
            #content-history-body
              - if can? :add_comment, @discussion
                = form_tag add_comment_discussion_path(@discussion), id: "new-comment-form" do
                  .medium-user-avatar.avatar-canvas
                    - if current_user.avatar_url
                      = image_tag current_user.avatar_url(:medium)
                    - else
                      %span.medium-user-initials.initials-decoration= current_user.avatar_initials
                  = text_area_tag 'comment', "", id: 'new-comment', placeholder: "Say something..."
                  = submit_tag "Post comment", class: "btn btn-small submit", id: 'post-new-comment', :disable_with => "Post comment"
              = render 'history', discussion: @discussion, history: @discussion.history

          .span6#content-proposal
            .clearfix
              .header-icon#decision
              %h2.header-text Decision

            #content-proposal-body
              %ul.selector-list
                - if @current_motion
                  - if can? :close_voting, @current_motion
                    %li= link_to "Close proposal", close_motion_voting_path(@current_motion),
                      confirm: "Are you sure you want to close this motion?", method: :post, class: 'btn btn-small proposal-btn'
                  - if @selected_motion && (@selected_motion != @current_motion)
                    %li.selector-item.current-proposal
                      = render '/motions/motion_preview', motion: @current_motion, this_group: @group
                  - else
                    %li.selector-item.current-proposal
                      = render @current_motion, unique_votes: @unique_votes
                - else
                  - if can? :create, Motion.new(discussion_id: @discussion.id)
                    = link_to "Create new proposal", new_proposal_discussion_path(@discussion.id), class: 'btn btn-small proposal-btn'
                  %li.selector-item.empty-list-message= "There is no current proposal for this discussion"

              - if @discussion.motions.where("phase = 'closed'").count > 0
                #previous-proposals
                  .clearfix
                    %h2 Previous decisions
                  %ul.selector-list
                    - @discussion.motions.order("close_date desc").each do |closed_motion|
                      - if closed_motion.closed?
                        - if closed_motion == @selected_motion
                          %li.selector-item= render @selected_motion, unique_votes: @unique_votes
                        - else
                          %li.selector-item= render '/motions/motion_preview', motion: closed_motion, this_group: @group
