%table.with-font-and-width
  %tr
    %td.full-width-cell
      %hr

- if discussion.created_since?(@activity_summary.last_sent_at)
  %table.with-font-and-width
    %tr
      = render 'activity_item_avatar', user: discussion.author, item: discussion, item_text: t('email.activity_summary.started_a_discussion')

%table.with-font-and-width
  %tr
    %td.icon-cell
      %img.icon-type{ src:'assets/discussion-24.png' }
    %td.discussion-title-cell
      %h3= discussion.title
    %td.view-link-cell
      %a{ href: discussion_url(discussion) } View discussion
  %tr
    %td.icon-cell
    %td.created-by-cell
      %div.sub-title= t('email.activity_summary.discussion_started_by', who: discussion.author.name)

- unless discussion.description.blank?
  %table.with-font-and-width
    %tr
      %td.icon-cell
      %td
        %p= display_description(discussion.description, discussion.created_since?(@activity_summary.last_sent_at))

- motion = discussion.current_motion
- if motion && new_or_unread?(motion, @activity_summary)
  = render 'activity_item_motion', motion: motion

- discussion.comments_since(@activity_summary.last_sent_at).each do |comment|
  = render 'activity_item_comment', comment: comment