%html#activity_summary
  %table.main
    %tr
      %td
        %table.with-font-and-width
          %tr
            %td.header-cell
              %h1= t('email.activity_summary.heading')
          %tr
            %td.last-read-cell
              %div.sub-title= t('email.activity_summary.sub_header', since_time: @since_time)
        - @groups.each do |group|
          %table.with-font-and-width.group
            %tr
              %td
                %h2= group.full_name

          - group.discussions.each do |discussion|
            %table.with-font-and-width
              %tr
                %td.full-width-cell
                  %hr
            %table.with-font-and-width
              %tr
                %td.icon-cell
                  %img.icon-type{ src:'assets/discussion-24.png' }
                %td.discussion-title-cell
                  %h3= discussion.title
                %td.view-link-cell
                  %a{ href: discussion_url(discussion) } View discussion
              %tr
                %td.icon-cell
                %td.created-by-cell
                  %div.sub-title= t('email.activity_summary.discussion_started_by', who: discussion.author.name) 
            %table.with-font-and-width
              %tr
                %td.icon-cell
                %td
                  %p= discussion.description

            - motion = discussion.current_motion
            - if motion
              %table.with-font-and-width
                %tr
                  %td.icon-cell
                  %td.content-cell
                    %hr

              %table.with-font-and-width
                %tr
                  %td.icon-cell
                  %td.icon-sub-cell
                    %img.icon-type{ src:'assets/pie-24.png' }
                  %td
                    %h3= motion.name
                %tr
                  %td.icon-cell
                  %td.icon-sub-cell
                  %td.created-by-cell
                    %div.sub-title= t('email.activity_summary.proposed_by', who: motion.author.name)
                    %div.sub-title= t(:proposal_closing_when, when: time_ago_in_words(motion.closing_at))
              %table.with-font-and-width
                %tr
                  %td.icon-cell
                  %td.icon-sub-cell
                  %td
                    %p= motion.description

              - motion.votes.each do |vote|
                %table.with-font-and-width
                  %tr
                    %td.icon-cell
                    %td.icon-sub-cell
                    %td.content-sub-cell
                      %hr
                %table.with-font-and-width
                  %tr
                    %td.icon-cell
                    %td.icon-cell
                    = render 'activity_item_avatar', user: vote.user, item: vote, item_text: "has #{vote.position.to_s}"
                %table.with-font-and-width                
                  %tr
                    %td.icon-cell
                    %td.icon-sub-cell
                    %td.icon-sub-cell.position-cell
                      %img{ src: "assets/hand-#{vote.position}-18.png" }
                    %td
                      %p= vote.statement

            - discussion.comments.each do |comment|
              %table.with-font-and-width
                %tr
                  %td.icon-cell
                  %td.content-cell
                    %hr
              %table.with-font-and-width
                %tr
                  %td.icon-cell
                  = render 'activity_item_avatar', user: comment.user, item: comment, item_text: 'commented'
              %table.with-font-and-width
                %tr
                  %td.icon-cell
                  %td
                    %p= comment.body
                %tr
                  %td.icon-cell
                  %td.like-cell
                    %a{ href: discussion_url(discussion) } Like
                    %a{ href: discussion_url(discussion) } Reply
        %table.with-font-and-width.footer
          %tr
            %td
              = render 'unsubscribe_link'