%html
  %table{ width: '100%' }
    %tr
      %td
        %table{ width: '600', align: 'center', style: 'margin:0 0 10 0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; max-with:600' }
          %tr
            %td{ width: '600', style: 'padding:10; background-color:#FAC270;' }
              %h1{ align: 'left', style: 'color:#fff;' }= t('email.activity_summary.heading')
          %tr
            %td{ align: 'right', style: 'padding-top:5; color:#AAA;' }
              %div{ style: 'color:#AAA; font-size:13;'}= t('email.activity_summary.sub_header', since_time: @since_time)
        - @groups.each do |group|
          %table{ width: '600', style: 'margin-bottom:0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
            %tr
              %td
                %h2{ style: 'color:#AAA;' }= group.full_name
                %hr

          - group.discussions.each do |discussion|
            %table{ width: '600', style: 'margin-bottom:0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
              %tr
                %td{ width: '50', align: 'center' }
                  %img{ src:'assets/discussion-24.png', style: 'margin:5 0 0 0; width:24;' }
                %td{ width: '448' }
                  %h3= discussion.title
                %td{ width: '104' }
                  %a{ href: discussion_url(discussion), align: 'right', style: 'font-size:13;' } View discussion
            %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;'  }
              %tr
                %td{ width: '50' }
                %td
                  %p= discussion.description

            - motion = discussion.current_motion
            - if motion
              %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
                %tr
                  = render 'activity_item_avatar', user: motion.author, item: motion, item_text: 'proposed'

              %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
                %tr
                  %td{ width: '50' }
                  %td{ width: '40', align: 'center' }
                    %img{ src:'assets/pie-24.png', style: 'margin:5 0 0 0; width:24;' }
                  %td
                    %div{ style: 'margin-left:5;' }= motion.name
                    %div{ style: 'margin-left:5; color:#AAA; font-size:13;' }= t(:proposal_closing_when, when: time_ago_in_words(motion.closing_at))
              %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
                %tr
                  %td{ width: '50' }
                  %td{ width: '45' }
                  %td
                    %p= motion.description
                    %hr

              - motion.votes.each do |vote|
                %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
                  %tr
                    %td{ width: '50' }
                    = render 'activity_item_avatar', user: vote.user, item: vote, item_text: "has #{vote.position.to_s}"
                %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }                 
                  %tr
                    %td{ width: '50' }
                    %td{ width: '40' }
                    %td{ width: '50', align: 'center', style: 'position:relative; bottom:8;' }
                      %img{ src: "assets/hand-#{vote.position}-18.png", style: 'width:18;' }
                    %td
                      %p= vote.statement
                      %hr

            - discussion.comments.each do |comment|
              %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
                %tr
                  = render 'activity_item_avatar', user: comment.user, item: comment, item_text: 'commented'
              %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
                %tr
                  %td{ width: '50' }
                  %td
                    %p= comment.body
                %tr
                  %td{ width: '50' }
                  %td{ style: 'padding-top:5;' }
                    %a{ href: discussion_url(discussion), style: 'font-size:13; padding-right:5' } Like
                    %a{ href: discussion_url(discussion), style: 'font-size:13;' } Reply
                    %hr
        = render 'unsubscribe_link'