%html
  %table{ width: '100%' }
    %tr
      %td
        %table{ width: '600', align: 'center', style: 'margin:0 0 10 0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; max-with:600' }
          %tr
            %td{ width: '600', style: 'padding:10; background-color:#FAC270;' }
              %h1{ align: 'left', style: 'color:#fff;' }= t('email.activity_summary.heading')
          %tr
            %td{ align: 'right', style: 'padding-top:5; color:#AAA;' }
              %div{ style: 'color:#AAA; font-size:13;'}= t('email.activity_summary.sub_header', since_time: @since_time)
        - @groups.each do |group|
          %table{ width: '600', style: 'margin-bottom:0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
            %tr
              %td
                %h2{ style: 'color:#AAA;' }= group.full_name
                %hr
          - group.discussions.each do |discussion|
            %table{ width: '600', style: 'margin-bottom:0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
              %tr
                %td{ width: '50', align: 'center' }
                  %img{ src:'assets/discussion-24.png', style: 'margin:5 0 0 0; width:24;' }
                %td{ width: '448' }
                  %h3= discussion.title
                %td{ width: '104' }
                  %a{ href: discussion_url(discussion), align: 'right', style: 'font-size:13;' } View discussion
            %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;'  }
              %tr
                %td{ width: '50' }
                %td
                  %p= discussion.description
            - discussion.comments.each do |comment|
              %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
                %tr
                  %td{ width: '50' }
                  %td{ width: '40', height: '40', align: 'center', style: 'background-color:#CCC;' }
                    - kind = comment.user.avatar_kind
                    - if kind == 'initials'
                      %span{ width: '40', style: 'font-size:20;' }= comment.user.avatar_initials
                    - elsif kind == "gravatar"
                      %img{ src: "#{comment.user.gravatar_url(:size => User::MEDIUM_IMAGE)}", style: 'margin:0' }
                    - elsif kind == "uploaded"
                      %img{ src: "#{comment.user.uploaded_avatar.url('medium')}", style: 'margin:0'}
                  %td{ width: '478' }
                    %span{ style: 'margin-left:5; font-weight:strong, font-size:14;' }= comment.user_name
                    %span{style: 'font-size:14;' }
                      commented
                    %div{ style: 'margin-left:5; color:#AAA; font-size:13;' }= comment.created_at.strftime('%A, %-d %B')
              %table{ width: '600', style: 'font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;' }
                %tr
                  %td{ width: '50' }
                  %td
                    %p= comment.body
                %tr
                  %td{ width: '50' }
                  %td{ style: 'padding-top:5;' }
                    %a{ href: discussion_url(discussion), style: 'font-size:13; padding-right:5' } Like
                    %a{ href: discussion_url(discussion), style: 'font-size:13;' } Reply
                    %hr
        = render 'unsubscribe_link'