= t("email.to_join_discussion.content", discussion: @discussion.title)
\
= t("email.to_join_discussion.message_intro", who: @inviter.name)
\
= @message
\
= t("email.to_join_discussion.link")
= discussion_url(@discussion)
