= render '/application/mailer_doctype'
%html
  %p
    - if @inviter != nil
      = "#{@inviter.name} added you to a group called '#{@group.name}' on Loomio."
    - else
      = "You have been added to a group called '#{@group.name}' on Loomio."

  %p
    = link_to "Click here to view the group", group_url(@group)

  = render 'unsubscribe_link'
