- if @inviter != nil
  = "#{@inviter.name} added you to a group called '#{@group.name}' on Loomio."
- else
  = "You have been added to a group called '#{@group.name}' on Loomio."

= "View group: #{group_url(@group)}"
