= "Your weekly summary for #{@stats[:since].strftime('%m/%d')} - #{@stats[:till].strftime('%m/%d')}"
= '---------------------------------------------------------------------------'

= t(:"email.analytics.stats", @stats)

= "Name | Motions created | Discussions created | Comments created | Votes created"
= '---------------------------------------------------------------------------'

- @stats[:active_users].each do |u|
  = "#{u[:name]}|#{u[:motions_created]}|#{u[:discussions_created]}|#{u[:comments_created]}|#{u[:votes_created]}"

= raw t(:"email.analytics.contact_us")

- if @stats[:is_trial]
  - if @stats[:expires_at] > Time.zone.now
    = raw t(:"email.analytics.trial_subscription", which_group: @stats[:group_name], expires_at: @stats[:expires_at])
  - else
    = raw t(:"email.analytics.trial_expired", which_group: @stats[:group_name])

= t(:"email.analytics.heart")

= '---------------------------------------------------------------------------'
= raw t(:"email.analytics.unsubscribe")
