%h2= t(:"email.analytics.title", since: @since.strftime('%m/%d'), till: @till.strftime('%m/%d'))

%p= t(:"email.analytics.stats", @stats)

%table
  %thead
    %th= t(:"email.analytics.user_table.name")
    %th= t(:"email.analytics.user_table.motions_created")
    %th= t(:"email.analytics.user_table.discussions_created")
    %th= t(:"email.analytics.user_table.comments_created")
    %th= t(:"email.analytics.user_table.votes_created")
  %tbody
    - @stats[:active_users].each do |u|
      %tr
        %td= u[:name]
        %td= (u[:motions_created]     if u[:motions_created] > 0)
        %td= (u[:discussions_created] if u[:discussions_created] > 0)
        %td= (u[:comments_created]    if u[:comments_created] > 0)
        %td= (u[:votes_created]       if u[:votes_created] > 0)

%p= raw t(:"email.analytics.contact_us")
- if @group.subscription.kind == 'trial'
  - if @group.subscription.expires_at > Time.zone.now
    %p= raw t(:"email.analytics.trial_subscription", which_group: @group.full_name, expires_at: @group.subscription.expires_at)
  - else
    %p= raw t(:"email.analytics.trial_expired", which_group: @group.full_name)

%p= t(:"email.analytics.heart")

%p= raw t(:"email.analytics.unsubscribe")
