= t("email.daily_activity.heading")
\
= t("email.daily_activity.intro")
\
-@groups.each do |group|
  -next unless @activity[group.full_name].present?
  - @motions = @activity[group.full_name][:motions]
  - @discussions = @activity[group.full_name][:discussions]
  \
  =group.full_name
  -if @motions.present?
    \
    = t :decisions
    \
    -@motions.each do |motion|
      =motion.name
      =motion_url(motion)
      -if motion.close_at.present?
        \- closes in #{time_ago_in_words(motion.close_at)}
        \
  -if @discussions.present?
    = t :discussions
    \
    -@discussions.each do |discussion|
      =discussion.title
      =discussion_url(discussion)
      - num_new_comments = discussion.number_of_comments_since(@since_time)
      - if num_new_comments > 0
        \- #{pluralize(num_new_comments, "new comment", "new comments")}
      - else
        \- new discussion
        \
= render 'unsubscribe_link_text'
