= render '/application/mailer_doctype'
%html
  %h1= t("email.daily_activity.heading")
  %p= t("email.daily_activity.intro")

  -@groups.each do |group|
    -next unless @activity[group.full_name].present?
    - @motions = @activity[group.full_name][:motions]
    - @discussions = @activity[group.full_name][:discussions]
    %h2=group.full_name
    -if @motions.present?
      %h4= t :decisions
      %p
        -@motions.each do |motion|
          =link_to(motion.name, motion_url(motion))
          -if motion.close_at.present?
            \- closes in #{time_ago_in_words(motion.close_at)}
          %br
    -if @discussions.present?
      %h4= t :discussions
      %p
        -@discussions.each do |discussion|
          =link_to(discussion.title, discussion_url(discussion))
          - num_new_comments = discussion.number_of_comments_since(@since_time)
          - if num_new_comments > 0
            \- #{pluralize(num_new_comments, "new comment", "new comments")}
          - else
            \- new discussion
          %br

  = render 'unsubscribe_link'
