= "Hello"
:plain

= "#{@inviter.name} has invited you to participate in group discussion and decision making using a new tool called Loomio."
:plain

= "Click the link below to accept their invitation."
= "#{accept_invitation_url(@new_user, :invitation_token => @new_user.invitation_token)}"
:plain

= "If you have any questions contact #{@inviter.email} or find out more about Loomio at http://loomio.org"
:plain
