= render '/application/mailer_doctype'
%html
  %p
    = t("email.mentioned.intro")
    = link_to "#{@discussion.title}", discussion_url(@discussion)

  %p= t("email.mentioned.said", comment_author: @comment.author.name)

  %table
    %tr
      %td.comment
        :plain
          #{@rendered_comment_body}

  %p
    = link_to t("email.view_comment"), discussion_url(@discussion)+"#comment-#{@comment.id}"

  = render 'unsubscribe_link'
