= render '/application/mailer_doctype'
%html
  %p
    You were mentioned in a discussion:
    = link_to "#{@discussion.title}", discussion_url(@discussion)

  %p #{@comment.author.name} said:

  %table
    %tr
      %td.comment
        :plain
          #{@rendered_comment_body}

  %p
    = link_to "see the comment on Loomio", discussion_url(@discussion)+"#comment-#{@comment.id}"

  = render 'unsubscribe_link'
