%p You were mentioned in a discussion titled #{@discussion.title}

%p #{@comment.author.name} said:

%p #{@comment.body}

%p
  = link_to "Click here to view this discussion", @discussion

= render 'unsubscribe_link'
