= t("email.mentioned.intro")
#{@discussion.title}
\
= t("email.mentioned.said", comment_author: @comment.author.name)
\
#{@comment.body}
\
= t("email.view_comment")
= discussion_url(@discussion)+"#comment-#{@comment.id}"
\
= render 'unsubscribe_link_text'
