= render '/application/mailer_doctype'
%html
  %head
    = stylesheet_link_tag 'thread_mailer'
  %body
    .everything
      %p
        %em
          %small= t(:'email.missed_yesterday.click_here_to_mark_all_as_read_html',
                    link: mark_summary_as_read_url_for(@user))
      %h1= t(:'email.missed_yesterday.headlines')
      .toc
        =render 'user_mailer/missed_yesterday/headlines'
      %hr
      - @user.inbox_groups.each do |group|
        - next unless @discussions_by_group.has_key?(group)
        %h1= link_to group.full_name, group_url(group)
        - @discussions_by_group[group].each do |discussion|
          = render 'user_mailer/missed_yesterday/discussion', discussion: discussion

    %p
      = t(:'email.missed_yesterday.thanks_for_reading')
      %br
      =link_to(t('email.missed_yesterday.mark_as_read'), mark_summary_as_read_url_for(@user))
      %img{src: mark_summary_as_read_url_for(@user, format: 'gif'), alt: '', width: 1, height: 1}
    =render 'user_mailer/unsubscribe_link'
