.everything
  %p
    = t(:'email.missed_yesterday.heres_what_happened', site_name: AppConfig.theme[:site_name])
    = t(:'email.missed_yesterday.do_not_reply')
  %h1= t(:'email.missed_yesterday.headlines')
  .toc
    =render 'user_mailer/missed_yesterday/headlines'
  %hr
  - @groups.each do |group|
    - next unless @discussions_by_group.has_key?(group)
    %h1= link_to group.full_name, group_url(group)
    - @discussions_by_group[group].each do |discussion|
      = render 'user_mailer/missed_yesterday/discussion', discussion: discussion

%p
  = t(:'email.missed_yesterday.thanks_for_reading')
  %img{src: mark_summary_as_read_url_for(@user, format: 'gif'), alt: '', width: 1, height: 1}
  %br
=render 'user_mailer/unsubscribe_link'
