= t(:"email.proposal_closing_soon.headline", author: @motion.author_name, group: @group.full_name)
\
\
= @motion.name
= motion_url(@motion, @utm_hash).html_safe
\
- if @motion.description.present?
  =@motion.description
\
= t(:"email.proposal_closing_soon.closes_at")
= @motion.closing_at.in_time_zone(TimeZoneToCity.convert @user.time_zone).strftime('%l:%M%P - %A %-d %b')
\
- if @motion.unique_votes.present?
  = "#{t :positions}:"
  \
  - @motion.unique_votes.each do |vote|
    #{vote.user_name} #{vote.position_to_s}
    - if vote.statement.present?
      \ - #{vote.statement}
      \

=render 'user_mailer/unsubscribe_link_text'
