= render '/application/mailer_doctype'
%html
  %table
    %tr
      %th= t :proposal
      %td= link_to(@motion.name, motion_url(@motion))
    %tr
      %th= t :group
      %td= @motion.group.name
    %tr
      %th= t :author
      %td= @motion.author.name

    - if @motion.has_close_date?
      %tr
        %th.nowrap= t "email.proposal_closing_soon.closes_in"
        %td= time_ago_in_words(@motion.close_at) + " (" + @motion.close_at.localtime.strftime('%a %d %b %Y, %I:%M%p, %Z') + ")"

    - if @rendered_motion_description.present?
      %tr
        %th &nbsp;
        %td &nbsp;
      %tr
        %th= t :details
        %td= @rendered_motion_description
    %tr
      %th &nbsp;
      %td &nbsp;
    %tr
      %th= t "proposal_closing_soon.summary"
      %td
        -#-if @motion.user_has_voted?(@user)
          -#- vote = @user.get_vote_for(@motion)
          -#Your position
          -#=vote.position
        -#-else
          -#Please state your position
        -#%br
        -@motion.votes_for_graph.each do |results|
          ="#{results[0]}, "
        %br
        = t :engagement_on_open_proposal,
              percent: @motion.percent_voted,
              numerator: @motion.group_count - @motion.no_vote_count,
              denominator: @motion.group_count
    %tr
      %th &nbsp;
      %td &nbsp;
    %tr
      %th= t :positions
      %td
        %table
          -@motion.unique_votes.each do |vote|
            %tr
              %td.border-bottom= vote.user_name
              %td.border-bottom.proposal-position{class: vote.position_to_s}= vote.position_to_s
              %td.border-bottom
                -if vote.statement.present?
                  = vote.statement

  %p #{link_to 'Click here', motion_url(@motion)} to visit this proposal on loomio

  =render 'unsubscribe_link'
