= "#{t :proposal}:"
= @motion.name
\
= "#{t('email.view_proposal')}:"
= motion_url(@motion)
\
= "#{t :group}:"
= @motion.discussion.group.name
\
= "#{t :author}:"
= @motion.author.name
\
= "#{t 'email.proposal_closing_soon.closes_in'}:"
= time_ago_in_words(@motion.close_at) + " (" + @motion.close_at.localtime.strftime('%a %d %b %Y, %I:%M%p, %Z') + ")"
\
= "#{t :details}:"
= @motion.description
\
- if @motion.description.present?
  = "#{t 'email.proposal_closing_soon.summary'}:"
  =@motion.description
\
- @motion.votes_for_graph.each do |results|
  = results[0]
\
= t :engagement_on_open_proposal,
      percent: @motion.percent_voted,
      numerator: @motion.group_count - @motion.no_vote_count,
      denominator: @motion.group_count
\
= "#{t :positions}:"
\
- @motion.unique_votes.each do |vote|
  #{vote.user_name} #{vote.position_to_s}
  - if vote.statement.present?
    \ - #{vote.statement}
    \

=render 'unsubscribe_link_text'
