= render '/application/mailer_doctype'
%html
  %p.author-action= t(:"email.proposal_closing_soon.headline", author: @motion.author_name, group: @group.full_name)
  %p.motion-name= link_to @motion.name, motion_url(@motion, @utm_hash)

  -if @rendered_motion_description.present?
    = @rendered_motion_description

  %p
    = t(:"email.proposal_closing_soon.closes_at")
    = @motion.closing_at.in_time_zone(TimeZoneToCity.convert @user.time_zone).strftime('%l:%M%P - %A %-d %b')

  - unless @motion.user_has_voted?(@user)
    %h4.have-say-title= t(:"help.have_your_say")
    =render '/motion_mailer/vote_buttons'
    %br

  -if @motion.unique_votes.present?
    %h4.positions-title= t(:positions).capitalize
    %table
      -last_vote = @motion.unique_votes.last
      -@motion.unique_votes.each do |vote|
        %tr{ :class => ("cell-border-bottom" unless vote==last_vote) }
          %td= vote.user_name
          %td.proposal-position{class: vote.position.to_s}= vote.position_to_s
          %td
            -if vote.statement.present?
              = vote.statement

  =render 'unsubscribe_link'
