= render '/application/mailer_doctype'
%html
  %head
    = stylesheet_link_tag 'email'
  %body
    %p= t :"email.create_discussion.intro", who: @discussion.author.name, which_group: @discussion.group.full_name

    %strong
      = link_to @discussion.title, discussion_url(@discussion, @utm_hash)

    -if @rendered_discussion_description.present?
      = @rendered_discussion_description

    %p= link_to t("email.view_discussion"), discussion_url(@discussion, @utm_hash)

    = render 'user_mailer/unsubscribe_link', utm_hash: @utm_hash
