%p.user-mailer__context= t(:"email.reactivate.intro", name: (@user[:name] || @user.email), site_name: AppConfig.theme[:site_name])
%p.user-mailer__message-container
  = link_to t(:"email.reactivate.login", name: (@user[:name] || @user.email), site_name: AppConfig.theme[:site_name]),
    login_token_url(@token.token, @utm_hash),
    data: { "skip-click": true },
    class: "base-mailer__button base-mailer__button--primary"
%p.user-mailer__code-helptext= t(:"email.common.or_enter_code")
%p.user-mailer__code= @token.code
%p.user-mailer__resend
  %span= t(:"email.common.resend")
