.activity-item-time
  = link_to(t('ago', :quantity_of_time => time_ago_in_words(comment.created_at)), "#comment-#{comment.id}")
  - if @can_like_comments ||= can?(:like_comments, @discussion)
    = " · "
    - if comment.likers_include?(current_user)
      = link_to t(:unlike), like_comment_path(id: comment, like: 'false'), method: :post, remote: true, id: "unlike-comment-#{comment.id}"
    - else
      = link_to t(:like), like_comment_path(id: comment, like: 'true'), method: :post, remote: true, id: "like-comment-#{comment.id}"
  - if can? :destroy, comment
    = " · "
    = link_to t(:delete), "#", 'data-title' => t(:delete_comment), 'data-body' => t(:confirm_delete_comment), 'data-confirm-path' => comment_path(comment), 'data-method-type' => 'delete', class: 'confirm-dialog', id: "delete-comment-#{comment.id}"
  - if false # (temporarily disable translation feature) I18n.locale.to_s != comment.author.primary_language
    = " . "
    = link_to t(:translate_this_string, language: current_language), translate_comment_path(id: comment), method: :post, remote: true, class: 'translate-comment', id: "translate-comment-#{comment.id}", rel: 'nofollow'
- if comment.liker_ids_and_names.size > 0
  .activity-item-likes
    - liker_links = comment.liker_ids_and_names.map { |id, name| name }
    - if liker_links.size == 1
      - likers = liker_links.first
    - else
      - likers = liker_links.slice(0, liker_links.size - 1).join(", ").concat(" and " + liker_links.last)
    = t(:liked_by, who: likers).html_safe
