.activity-item-time
  - if comment.is_edited?
    =link_to t(:"common.edited"), comment
    =link_to(t('ago', :quantity_of_time => time_ago_in_words(comment.edited_at)), "#comment-#{comment.id}")
  - else
    =link_to(t('ago', :quantity_of_time => time_ago_in_words(comment.created_at)), "#comment-#{comment.id}")
  - if @can_like_comments ||= can?(:like, comment)
    = " · "
    - if comment.likers_include?(current_user)
      = link_to t(:unlike), unlike_comment_path(comment), method: :post, remote: true, id: "unlike-comment-#{comment.id}"
    - else
      = link_to t(:like), like_comment_path(comment), method: :post, remote: true, id: "like-comment-#{comment.id}"

  - if current_user_or_visitor.is_logged_in? && TranslationService.can_translate?(comment)
    = " · "
    = translate_link_for comment
- if comment.liker_ids_and_names.size > 0
  .activity-item-likes
    - liker_links = comment.liker_ids_and_names.map { |id, name| name }
    - if liker_links.size == 1
      - likers = liker_links.first
    - else
      - likers = liker_links.slice(0, liker_links.size - 1).join(", ").concat(" and " + liker_links.last)
    = t(:liked_by, who: likers).html_safe
