.row
  .col-sm-6
    %h1= t :"edit_comment.edit_comment"
    - if can? :edit, @comment
      = simple_form_for @comment do |f|
        =f.input :body, label: false, input_html: {class: 'js-warn-before-navigating-away'}
        =f.submit t(:update), class: "btn btn-info"
        .markdown-label.pull-right
          = check_box_tag 'comment[uses_markdown]', 1, @comment.uses_markdown
          = label_tag :uses_markdown, 'Markdown'
          = surround '(', ')' do
            = link_to t(:'help.help'), markdown_path, title: t(:'common.markdown_help_tooltip'), class: 'js-tooltip-left', target: '_blank'
