.light-discussion{id: discussion.key}
  %h2= link_to(discussion.title, discussion_url(discussion))
  - if discussion.created_at >= @time_start
    %p
      %em by #{discussion.author.name}
    .description= render_rich_text(discussion.description, discussion.description_format)

  - discussion.polls.active_or_closed_after(@time_start).each do |poll|
    = render "poll_mailer/common/catch_up", poll: poll

  .activity-feed
    - reader = @reader_cache.get_for(discussion)
    - discussion.items.where('created_at > ?', reader.last_read_at || @time_start).order('created_at').each do |item|
      - next unless ['new_comment', 'new_vote', 'stance_created', 'discussion_closed'].include? item.kind
      = render "discussion_mailer/#{item.kind}", item: item

  %p= link_to t(:"email.reply_to_this_discussion"), discussion_url(discussion, @utm_hash)
