-unless omniauth_authenticated_and_waiting?
  .row-fluid.sso-btn-row
    .span4.btn-container
      = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-facebook btn-large login' do
        = t :facebook
    .span4.btn-container
      = link_to user_omniauth_authorize_path(:google), class: 'btn btn-google btn-large login' do
        = t :google
    .span4.btn-container
      = link_to user_omniauth_authorize_path(:browser_id), class: 'btn btn-persona btn-large login', id: 'persona-login-btn' do
        Persona
