%table
  - @info.poll.poll_options.each do |option|
    %tr
      %td= image_tag "poll_mailer/vote-button-#{option.name}.png", alt: "#{option.name} icon", class: 'poll-mailer-proposal__thumb-image'
      %td= link_to t("poll_proposal_options.#{option.name}"), poll_url(@info.poll, poll_option_id: option.id)
