%table
  - @info.poll.poll_options.each do |option|
    %tr
      %td= render 'poll_mailer/common/chip', color: option.color
      %td= image_tag "poll_mailer/vote-button-#{option.name}.png", alt: "#{option.name} icon"
      %td= link_to option.name, poll_url(@info.poll, poll_option_id: option.id)
