= render 'nav'
%h1= @network.name

%h2= t :'networks.groups_header'

%table
  %tbody
    - @groups.each do |g|
      %tr
        %td= link_to g.full_name, group_path(g)
        %td.text-right= t(:'networks.members_count', count: g.memberships_count)