.row
  .col-md-12
    = render 'nav'
    %h1= @network.name

.row
  .col-md-6
    = render_rich_text @network.description
.row
  .col-md-12
    %h2= t :'networks.threads_header'
    = render 'discussions/discussion_list'

