%table
  %thead
    %tr
      %td
      - @info.poll.poll_options.each do |option|
        %td.poll-mailer-meeting__cell= format_poll_option_name(option, @info.time_zone)
  %tbody
    %tr
      %td= t(:"poll_mailer.meeting.total")
      - @info.poll.stance_counts.each do |count|
        %td.poll-mailer-meeting__cell= count
    - @info.poll.stances.latest.each do |stance|
      %tr
        %td.poll-mailer-meeting__participant-name= stance.participant.name
        - @info.poll.poll_options.each do |option|
          - if stance.poll_options.include?(option)
            %td.poll-mailer-meeting__check-cell.poll-mailer-meeting__cell--active
              = image_tag "poll_mailer/vote-button-yes.png", alt: "yes icon", class: "poll-mailer-#{@info.poll.poll_type}__option-icon"
          - else
            %td.poll-mailer-meeting__check-cell.poll-mailer-meeting__cell--inactive
