%table
  %thead
    %tr
      %td
      - @info.poll_options.each do |option|
        %td.poll-mailer-meeting__cell
          %div= @info.display_time option.name, @info.time_zone
          %div= @info.display_day  option.name, @info.time_zone
          %div= @info.display_date option.name, @info.time_zone
  %tbody
    - @info.poll.stances.latest.each do |stance|
      %tr
        %td.poll-mailer-meeting__participant-name= stance.participant.name
        - @info.poll_options.each do |option|
          %td.poll-mailer-meeting__check-cell
            -# TODO: this can be done more efficiently
            - case stance.stance_choices.find_by(poll_option:option)&.score.to_i
            - when 0
              = image_tag "poll_mailer/vote-icon-disagree.png", alt: "disagree icon"
            - when 1
              = image_tag "poll_mailer/vote-icon-abstain.png", alt: "abstain icon"
            - when 2
              = image_tag "poll_mailer/vote-icon-agree.png", alt: "agree icon"

    %tr
      %td= t(:"poll_meeting_chart_legend.can_attend")
      - @info.poll.meeting_score_tallies.each do |option, tally|
        %td.poll-mailer-meeting__cell
          %span= "#{tally[:yes].to_i}"
    %tr
      %td= t(:"poll_meeting_chart_legend.maybe_attend")
      - @info.poll.meeting_score_tallies.each do |option, tally|
        %td.poll-mailer-meeting__cell
          %span= "#{tally[:maybe].to_i}"
