.row
  .col-md-12
    %h1= t('.title')
    =simple_form_for(@user, url: update_email_preferences_path, method: :put) do |f|
      -if params[:unsubscribe_token]
        =hidden_field_tag :unsubscribe_token, params[:unsubscribe_token]
      .checkbox
        = label_tag "user_email_missed_yesterday" do
          = f.check_box :email_missed_yesterday
          = t('.email_missed_yesterday')
      .checkbox
        = label_tag "user_email_when_mentioned" do
          = f.check_box :email_when_mentioned
          = t('.email_when_mentioned')
      .checkbox
        = label_tag "user_email_followed_threads" do
          = f.check_box :email_followed_threads
          = t('.email_followed_threads')
      .checkbox
        = label_tag "user_email_when_proposal_closing_soon" do
          = f.check_box :email_when_proposal_closing_soon
          = t('.email_when_proposal_closing_soon')
      .checkbox
        = label_tag "user_email_new_discussions_and_proposals" do
          = f.check_box :email_new_discussions_and_proposals, id: 'js_email_new_discussions_and_proposals'
          = t('.email_new_discussions_and_proposals')

      .per-group-email-settings
        %p= t('.for_these_groups')
        .control-group
          = f.collection_check_boxes(:email_new_discussions_and_proposals_group_ids,
                                     @user.memberships.sorted_by_group_name,
                                     :group_id,:group_full_name, {},
                                     {:class => 'checkbox'}){ |input| input.label(:class => 'checkbox') { input.check_box + input.text } }

      = f.submit t('.submit'), :class => "btn btn-primary"
