.row
  .col-md-8
    %h1= t(:'email_settings.title')

    =simple_form_for(@user, url: update_email_preferences_path, method: :put) do |f|
      -if params[:unsubscribe_token]
        =hidden_field_tag :unsubscribe_token, params[:unsubscribe_token]


      %strong= t :'email_settings.group_volume'
      %p
        = t :'email_settings.group_volume_description'

      .set-group-volume
        %ul
          - ['loud', 'normal', 'quiet'].each do |level|
            %li
              = radio_button_tag 'set_group_volume', level
              %label{ for: "set_group_volume_#{level}"}
                = t("volume.#{level}")
                %span
                  \-
                  = t :"group_volume.#{level}_description"
          %li
            =radio_button_tag 'set_group_volume', 'unchanged', true
            %label{ for: "set_group_volume_unchanged"}
              =t :'email_settings.no_change'
              %span
                \-
                = t :'email_settings.no_change_description'
        %p
          %em= t :'email_settings.to_change_one_group'

      .checkbox
        = label_tag "user_email_on_participation" do
          = f.check_box :email_on_participation
          %strong= t(:'email_settings.discussion_activity')
          %p= t(:'email_settings.discussion_activity_description')

      .checkbox
        = label_tag "user_email_missed_yesterday" do
          = f.check_box :email_missed_yesterday
          %strong= t(:'email_settings.yesterday_on_loomio')
          %p= t(:'email_settings.yesterday_on_loomio_description')

      .checkbox
        = label_tag "user_email_when_mentioned" do
          = f.check_box :email_when_mentioned
          %strong= t(:'email_settings.email_when_mentioned')
          %p= t(:'email_settings.email_when_mentioned_description')

      .checkbox
        = label_tag "user_email_when_proposal_closing_soon" do
          = f.check_box :email_when_proposal_closing_soon
          %strong= t(:'email_settings.proposal_closing_soon')
          %p= t(:'email_settings.proposal_closing_soon_description')

      = f.submit t('email_settings.submit'), class: 'btn btn-primary'
