.row
  .span12
    %h1= t('.title')
    =simple_form_for(@user, url: update_email_preferences_path, method: :put) do |f|
      -if params[:unsubscribe_token]
        =hidden_field_tag :unsubscribe_token, params[:unsubscribe_token]

      = f.input :email_missed_yesterday, as: :boolean, inline_label: t('.email_missed_yesterday'), label: false
      = f.input :email_when_proposal_closing_soon, as: :boolean, inline_label: t('.email_when_proposal_closing_soon'), label: false
      = f.input :email_when_mentioned, as: :boolean, inline_label: t('.email_when_mentioned'), label: false
      = f.input :email_followed_threads, as: :boolean, inline_label: t('.email_followed_threads'), label: false

      %p= t '.you_follow_when_you_get_involved'

      -#%h2= t '.groups_to_auto_follow'

      -#.control-group
        -#=f.collection_check_boxes(:following_by_default_group_ids, @email_preferences.all_memberships, :id, :group_full_name, {}, {:class => 'checkbox'}){ |input| input.label(:class => 'checkbox') { input.check_box + input.text } }

      =f.submit t('.submit'), :class => "btn btn-info btn-large"
