.row
  .col-md-12
    %h1= t('.title')
    =simple_form_for(@user, url: update_email_preferences_path, method: :put) do |f|
      -if params[:unsubscribe_token]
        =hidden_field_tag :unsubscribe_token, params[:unsubscribe_token]
      .checkbox
        = label_tag "user_email_missed_yesterday" do
          = f.check_box :email_missed_yesterday
          = t('.email_missed_yesterday')
      .checkbox
        = label_tag "user_email_when_mentioned" do
          = f.check_box :email_when_mentioned
          = t('.email_when_mentioned')
      .checkbox
        = label_tag "user_email_on_participation" do
          = f.check_box :email_on_participation
          = t('.email_on_participation')
      .checkbox
        = label_tag "user_email_when_proposal_closing_soon" do
          = f.check_box :email_when_proposal_closing_soon
          = t('.email_when_proposal_closing_soon')

      .per-group-email-settings
        %table.table
          %thead
            %tr
              %th= t :group
              %th= t :'volume.notifications'
              %th= t('.email_new_discussions_and_proposals')
          %tbody
            - current_user.groups.order('full_name asc').each do |group|
              - membership = group.membership_for(current_user)
              - opts = Membership.volumes.keys.map { |v| [ t(:"volume.#{v}"), v ] }
              = membership.volume
              %tr
                %td= group.full_name
                %td= select_tag '', options_for_select(opts, membership.volume)
                %td
                  = check_box_tag ''



      = f.submit t('.submit'), :class => "btn btn-primary"
