= render :partial => "application/donate-tab"
.container#contact_message
  %section.first
    .inner-container
      .row-fluid
        .span5#contact_form
          %h1 Contact us
          = simple_form_for @contact_message, :defaults => {:required => true}, :validate => true do |f|
            = f.input :name, label: "Your name"
            = f.input :email, label: "Your email address"
            = f.input :message, label: "Your message"
            = f.submit :submit, :value => "Send message", class: 'btn btn-info btn-large'
        .span5.offset1#direct_contact
          %p Fill out this form, or just drop us a line at <a href="mailto:contact@loomio.org">contact@loomio.org</a>
          %p If you'd rather speak to someone directly, you can call Ben on +64 21 0232 5433
