- if motion.disable_discussion
  - if motion.discussion_url.present?
    %h4= "Discuss this motion here: <a href='#{motion.discussion_url}'>#{motion.discussion_url}</a>".html_safe
  - else
    %h4 Comments have been disabled for this motion
- else
  - if discussion.can_be_commented_on_by? current_user
    = form_tag add_comment_discussion_path(discussion), id: "new-comment-form" do
      = text_area_tag 'comment', "", id: 'new-comment', placeholder: "Say something..."
      #new-comment-submit
        = submit_tag "Post comment", class: "btn primary submit"
  - @comments.each do |comment|
    = render comment
  - if discussion.comment_threads.count == 0
    %h4 There are no comments yet on this motion
