#edit-close-date.modal.hidden
  .modal-header
    %button.close{"data-dismiss" => "modal"}×
    %h3= "Change the close date for the proposal '#{motion.name}'"
  = form_for motion, :url => edit_close_date_motion_path(motion.id) do |f|
    .modal-body#closing-inputs
      .control-group
        = text_field_tag :input_date, nil, class: "date-input validate-motion-close-date inputError"
        = select_hour(input_time, ampm: true)
        %span.date-error-message
          ="Please give a future close date"
        =f.hidden_field :close_date
    .modal-footer
      = submit_tag "Change", class: "motion btn btn-info", id: 'change-close-date', :data => { :disable_with => "Changing" } # run-validations
      = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-small"
