.row
  .span5
    #motion-form
      = simple_form_for @motion, validate: true do |f|
        = f.input :name, id: "motion-name", input_html: {class: 'js-warn-before-navigating-away'}, hint: t('motion_form.name_helper'), disabled: !@motion.can_be_edited?
        .timezone= "#{Time.zone.now.strftime('%Z')} (GMT #{Time.zone.formatted_offset})"
        = f.input :closing_at
        = f.input :description, input_html: {class: 'js-warn-before-navigating-away'}, disabled: !@motion.can_be_edited?
        = f.input :discussion_id, as: :hidden, input_html: {value: @motion.discussion_id}
        - if action == :update
          = f.submit submit_text,
            :class => "btn btn-info",
            id: "proposal-submit",
            data: {disable_with: t("common.please_wait") }
        - else
          = f.submit submit_text,
            :class => "btn btn-info",
            id: "proposal-submit"
        = link_to t('common.cancel'), @motion.discussion, :class => "btn btn-cancel"

      -if can? :close, @motion
        %h3=t('motion_form.close_proposal_heading')
        = link_to t(:close_proposal), "#",
          'data-title' => t(:close_proposal),
          'data-body' => t(:confirm_close_proposal),
          'data-confirm-path' => close_motion_path(@motion),
          'data-method-type' => 'put',
          class: 'btn confirm-dialog',
          id: 'close-voting'
    %script{src: localisation_datetime_input_translations_path, charset: 'UTF-8'}

