#motion-form
  = simple_form_for @motion, validate: true do |f|
    %h2 New proposal
    .row
      .span5
        = f.input :name, label: "Title", id: "motion-name", :placeholder => "What is your proposed course of action?"
      .span5
        %p Make the title as clear and succinct as possible so people know exactly what it means when they agree or disagree with your proposal.
    .row
      .span3
        = f.input :close_date, label: "Closes at", as: :string
      .span2.date-hour
        = select_hour(@close_hour, ampm: true)
    .row
      .span5
        #description
          = f.input :description, label: "Details", placeholder: "Give enough information so that anyone in your group can make a well-informed decision."
        = hidden_field_tag :local_default_close_time, Time.now.localtime + 3.days
        = f.input :discussion_id, as: :hidden, input_html: {value: @motion.discussion_id}
        = f.submit 'Start proposal', :class => "btn btn-large btn-info run-validations", id: "proposal-submit", :data => {:disable_with => "Starting"}
