#motion-form
  .row
    .span10
      =form_for(*form_args) do |f|
        .row
          .span5
            .control-group
              = f.label :name, "Title", {class: "control-label", for: "inputError"}
              .presence-error-message Please fill in a proposal title
              = f.text_field :name, placeholder: "What is your proposed course of action?", class: "validate-presence inputError limit-150", id: "motion-name"
            .character-counter
            #closing-inputs
              .control-group
                = f.label :close_date, "Closing", {class: "control-label", for: "date-input", id: "close-date-label"}
                = text_field_tag :input_date, nil, class: "date-input validate-motion-close-date inputError"
                = select_hour(@input_time, ampm: true)
                %span.date-error-message
                  ='Please give a future close date (The date you gave has past)'
            #description
              .row
                .span5
                  = f.label :description, "Details"
                  = f.text_area :description, placeholder: "What is the topic you'd like to discuss?"
        =f.submit submit_text, class: "btn submit btn-info run-validations",
          :data => { :disable_with => "Creating proposal" }
        =f.hidden_field :close_date, as: :hidden
        =f.hidden_field :phase, as: :hidden, value: "voting"
        =f.hidden_field :facilitator_id, as: :hidden, value: current_user.id
        =f.hidden_field :discussion_id, as: :hidden, value: @motion.discussion_id
