.row
  .span6
    = simple_form_for @motion, validate: true do |f|
      %p= t "motion_form.name_helper"
      = f.input :name
      = render 'motions/close_at_inputs', form: f, user: @current_user
      = f.input :description
      = f.input :discussion_id, as: :hidden
      = f.submit submit_btn_text, :class => "btn btn-large btn-info run-validations", id: "proposal-submit", :data => {:disable_with => disable_btn_text}
      = render 'application/hint', text: t(:"hint.proposal"), anchor: 'writing-a-clear-proposal'
