#motion-form
  =form_for(*form_args) do |f|
    .control-group
      = f.label :name, "Title", {class: "control-label", for: "inputError"}
      = f.text_field :name, class: "validate-presence inputError limit-250"
      %span.presence-error-message Please fill in a proposal title
    .character-counter
    #closing-inputs
      .control-group
        = f.label :close_date, "Closing", {class: "control-label", for: "date-input"}
        = text_field_tag :input_date, nil, class: "date-input validate-motion-close-date inputError"
        = select_hour(@input_time, ampm: true)
        %span.date-error-message
          ='Please give a future close date (The date you gave has past)'
    #description
      = f.label :description, "Details"
      = f.text_area :description
    =f.submit class: "btn submit btn-info run-validations", :disable_with => "Proccesing"
    =f.hidden_field :close_date, as: :hidden
    =f.hidden_field :phase, as: :hidden, value: "voting"
    =f.hidden_field :facilitator_id, as: :hidden, value: current_user.id
    =f.hidden_field :discussion_id, as: :hidden, value: @motion.discussion_id
