#motion-form
  = simple_form_for @motion, validate: true do |f|
    %h2= t "motion_form.header"
    .row
      .span5
        = f.input :name, id: "motion-name"
      .span5
        %p= t "motion_form.name_helper"

    .row
      .span5
        #closing-inputs
          .control-group
            = f.label :close_date, t(:closing), {class: "control-label", for: "date-input", id: "close-date-label"}
            = text_field_tag :input_date, nil, class: "date-input validate-motion-close-date inputError"
            = select_hour(@input_time, ampm: true)
            %span.date-error-message= t(:proposal_close_date_error)

        #description
          = f.input :description

        = f.input :close_date, as: :hidden
        = f.input :phase, as: :hidden, input_html: {value: "voting"}
        = f.input :facilitator_id, as: :hidden, input_html: {value: current_user.id}
        = f.input :discussion_id, as: :hidden, input_html: {value: @motion.discussion_id}
        = f.submit :class => "btn btn-large btn-info run-validations", id: "proposal-submit", :data => {:disable_with => :starting}

