.motion
  .row
    .span4.motion-header-info
      .clearfix
        %h3.motion-title.word-break= motion.name
        - if motion.closed?
          %span.label.label-important Closed
      #closing-info
        - if motion.has_close_date?
          - if motion.voting?
            = "Closing in #{time_ago_in_words(motion.close_date)}"
          - else
            %span= "Closed #{time_ago_in_words(motion.close_date)} ago"
        - else
          No close date
      .proposed-by
        = "Proposed #{time_ago_in_words(motion.created_at)} ago by #{motion.author_name}"
    .span2.motion-admin-buttons
      = render '/motions/admin_buttons', motion: motion unless motion.closed?
    =render "motions/outcome_statement", motion: motion, this_group: this_group if motion.closed?

  .description

    <!--[if IE 7]>
    .long-description
      ~ markdown(motion.description)
    <![endif]-->

    <!--[if !IE 7]><!-->
    - too_long = true if motion.description && motion.description.length > 200
    .short-description
      ~ markdown(truncate(motion.description, length: 200, omission: '...', separator: ' '))
    .long-description{style: "display: none"}
      ~ markdown(motion.description)
    = link_to "Show More", "#", class: 'see-more' if too_long
    <!--<![endif]-->

  .pie{id: "graph_#{motion.id}"}
  .percentage-to-vote
    = "#{motion.percent_voted}% of members "
    = "have " unless motion.closed?
    = "stated their position (#{motion.group_count - motion.no_vote_count}/#{motion.group_count})"
  .votes
    - if display_vote_buttons?(motion, current_user)
      %h3 State your position
      .vote-buttons.clearfix
        =link_to image_tag("hand-yes.png", title:"I agree", alt:"I agree"), new_motion_vote_path(motion_id: motion.id, position: 'yes'), "title" => "I agree", "data-content" => "I agree with this and want it to go ahead.", class: "position btn vote-yes", id: "yes-vote"
        =link_to image_tag("hand-abstain.png", title:"I abstain", alt:"I abstain"), new_motion_vote_path(motion_id: motion.id, position: 'abstain'), "title" => "I abstain", "data-content" =>  "I am happy with what the group decides without me.", class: "position btn vote-abstain", id: "abstain-vote"
        =link_to image_tag("hand-no.png", title:"I disagree", alt:"I disagree"), new_motion_vote_path(motion_id: motion.id, position: 'no'), "title" => "I disagree", "data-content" => "I think we can do better, but if the rest of the group feels like it’s the best course of action then I’m OK with it going ahead.", class: "position btn vote-disagree", id: "no-vote"
        =link_to image_tag("hand-block.png", title:"I block", alt:"I block"), new_motion_vote_path(motion_id: motion.id, position: 'block'), "title" => "I block", "data-content" => "I have strong objections to this proposal and am not OK with it going ahead.", class: "position btn vote-block", id: "block-vote"

    .votes-table= render "motions/votes_table", motion: motion, unique_votes: unique_votes

  :coffeescript
    $ ->
      # Display vote graph
      make_the_graph = ->
        @pie_graph_view = new Loomio.Views.Utils.GraphView
          el: '.pie'
          id_string: "graph_#{motion.id}"
          legend: true
          data: #{motion.votes_for_graph.to_json}
          type: 'pie'
          tooltip_selector: '#tooltip'
          diameter: 200
          padding: 0
          gap: 5
          shadow: 2

      # IE8 FIX - for some reason we have to load the graph after everything else.
      # Otherwise, the graph doesn't display in IE8.
      #
      # Ideally, we'd like to be able to delete this line:
      $(window).load(make_the_graph)
