.motion
  .row
    .span5#name_and_description
      %h3.motion-title.word-break= motion.name
      - if motion.closed?
        %span.label.label-important#closed-label
          = t(:closed)
      .description
        .long-description
          = render_rich_text(motion.description, false)
    .span4#additional-info
      - if motion.closed?
        %span= t(:proposal_closed_when, when: time_ago_in_words(motion.close_at))
      - else
        = t(:proposal_closing_when, when: time_ago_in_words(motion.close_at))
      #proposed_by_and_revision_link
        %div= t(:proposed_when_by_who, when: time_ago_in_words(motion.created_at), who: motion.author_name)
        - if motion.has_revisions?
          %i.icon-time
          = link_to t(:revision_history), revision_history_motion_path(motion), id: 'motion-revision-link'
    .span2.admin-buttons
      = render '/motions/admin_buttons', motion: motion unless motion.closed?
  .row
    .span5
      =render "motions/outcome_statement", motion: motion, this_group: this_group if motion.closed?
  .pie{id: "graph_#{motion.id}"}
  .percentage-to-vote
    - if motion.closed?
      = t(:engagement_on_closed_proposal, percent: motion.percent_voted, :numerator => (motion.group_count - motion.no_vote_count), denominator:  motion.group_count)
    - else
      = t(:engagement_on_open_proposal, percent: motion.percent_voted, :numerator => (motion.group_count - motion.no_vote_count), denominator:  motion.group_count)

  .votes
    - if display_vote_buttons?(motion, current_user)
      %h3= t :state_your_position
      .vote-buttons.clearfix
        =link_to image_tag("hand-yes.png", :title => t(:yes_position), :alt => t(:yes_position)),
                 new_motion_vote_path(motion_id: motion.id, position: 'yes'),
                 "title" => t(:yes_position), "data-content" => t(:yes_details),
                 class: "position btn vote-yes", id: "yes-vote"
        =link_to image_tag("hand-abstain.png", :title => t(:abstain_position), :alt => t(:abstain_position)),
                 new_motion_vote_path(motion_id: motion.id, position: 'abstain'),
                 "title" => t(:abstain_position), "data-content" => t(:abstain_details),
                 class: "position btn vote-abstain", id: "abstain-vote"
        =link_to image_tag("hand-no.png", :title => t(:no_position), :alt => t(:no_position)),
                 new_motion_vote_path(motion_id: motion.id, position: 'no'),
                 "title" => t(:no_position), "data-content" => t(:no_details),
                 class: "position btn vote-disagree", id: "no-vote"
        =link_to image_tag("hand-block.png", :title => t(:block_position), :alt => t(:block_position)),
                 new_motion_vote_path(motion_id: motion.id, position: 'block'),
                 "title" => t(:block_position), "data-content" => t(:block_details),
                 class: "position btn vote-block", id: "block-vote"

    .votes-table= render "motions/votes_table", motion: motion, unique_votes: unique_votes

  :coffeescript
    $ ->
      # Display vote graph
      make_the_graph = ->
        @pie_graph_view = new Loomio.Views.Utils.GraphView
          el: '.pie'
          id_string: "graph_#{motion.id}"
          legend: true
          data: #{motion.votes_for_graph.to_json}
          type: 'pie'
          tooltip_selector: '#tooltip'
          diameter: 200
          padding: 0
          gap: 5
          shadow: 0

      # IE8 FIX - for some reason we have to load the graph after everything else.
      # Otherwise, the graph doesn't display in IE8.
      #
      # Ideally, we'd like to be able to delete this line:
      $(window).load(make_the_graph)
