%div.motion-preview.clearfix
  %a.selector-link{ href: motion_path(motion) }
    .clearfix
      .vote-icon
        - if current_user
          - position = motion.last_position_by_user(current_user)
          %div.activity-icon{ class: "position-#{position}-icon" }
      .proposal-title-container
        .proposal-title.word-break= truncate(motion.name, :length => 60, :separator => ' ')
        .clearfix
          - if motion.outcome.present?
            .proposal-outcome
              = t(:outcome) + ": " + motion.outcome
          .proposal-close-date
            - if motion.voting?
              = t(:proposal_closing_when, when: time_ago_in_words(motion.closing_at))
            - else
              = t(:proposal_closed_when, when: time_ago_in_words(motion.closed_at))
      .pie.motion-sparkline
        -values = motion.vote_counts.values
        -if values.sum == 0
          0,0,0,0,1
        -else
          =values.join(',')
