.motion-preview.clearfix
  %a{ href: motion_path(motion) }
    %span
      .vote-icon
        - if current_user
          = render "motions/display_icons", position: current_user.position(motion)
      .proposal-title-container
        .proposal-title.word-break= truncate(motion.name, :length => 60, :separator => ' ')
        .clearfix
          .proposal-close-date
            - if motion.close_date.present?
              - if motion.voting?
                = "closing in #{time_ago_in_words(motion.close_date)}"
              - else
                = "closed #{time_ago_in_words(motion.close_date)} ago"
              =" · " unless this_group
          .proposal-group-name= DiscussionDecorator.new(motion.discussion).display_group_name(this_group)
      %div{class: 'pie', id: "graph_#{motion.id}"}
      -#.engagement
        -#= "#{motion.percent_voted}%"

  :coffeescript
    $ ->
      # Display vote graph
      @pie_graph_view = new Loomio.Views.Utils.GraphView
        el: 'graph_#{motion.id}.pie'
        id_string: 'graph_#{motion.id}'
        legend: true
        data: #{@votes_for_graph.to_json.html_safe}
        type: 'pie'
        tooltip_selector: '#tooltip'
        diameter: 20
        padding: 0
        gap: 0
        shadow: 0.5
