%div{ :class => get_motion_preview_class(motion) }
  %a.selector-link{ href: motion_path(motion) }
    .clearfix
      - if current_user
        .vote-icon
          - if current_user.group_membership(this_group) || this_group.nil?
            = render "motions/display_icons", position: current_user.position(motion)
      .proposal-title-container
        .proposal-title.word-break= truncate(motion.name, :length => 60, :separator => ' ')
        .clearfix
          .proposal-close-date
            - if motion.close_date.present?
              - if motion.voting?
                = "closing in #{time_ago_in_words(motion.close_date)}"
              - else
                = "closed #{time_ago_in_words(motion.close_date)} ago"
            - else
              = "no close date"
            =" · " unless this_group
          .proposal-group-name= DiscussionDecorator.new(motion.discussion).display_group_name(this_group)
      .pie{id: "graph_#{motion.id}", 'data-votes' => motion.votes_graph_ready.to_json}
      - if motion.voting? && motion_activity_count_for(motion, current_user) > 0
        .activity-count.span.label.label-important
          = motion_activity_count_for(motion, current_user)

- if params[:controller] == 'discussions'
  -#:coffeescript
    -#$ ->
      -## Display vote graph
      -#@pie_graph_view = new Loomio.Views.Utils.GraphView
        -#el: '.pie'
        -#id_string: "graph_#{motion.id}"
        -#legend: false
        -#data: #{motion.votes_graph_ready.to_json}
        -#type: 'pie'
        -#tooltip_selector: '#tooltip'
        -#diameter: 25
        -#padding: 1
        -#gap: 1
        -#shadow: 0.75
