.row
  .span1.icon-container
    .vote-icon
      - if motion.user_has_voted?(current_user)
        - voted = true
        - position = current_user.get_vote_for(motion).position
        =render partial: "motions/display_icons", locals: {position: position}
      - else
        #no-vote-dash
          = " "
  .span6#motion-header
    #motion-title
      = link_to motion.name, motion, class: 'no-toggle'
    .group-name
      =link_to motion.group.name, motion.group, class: 'no-toggle'
  .span3.close-info
    - if motion.close_date
      - if motion.closed?
        closed
        = time_ago_in_words(motion.close_date)
        ago
      - else
        closing in
        = time_ago_in_words(motion.close_date)
    - else
      no close date
  .span1.alert-info
    - vote_count = 0
    -# Jon: No longer applicable
    -#- vote_count = current_user.vote_activity_count(motion) if current_user
    - if vote_count > 0
      .vote-icon-container.vote-alert-icon
        #activity-count.span.label.important= vote_count
    - else
      .vote-icon-container.vote-disabled-icon
        #activity-count.span
    - discussion_count = 0
    - discussion_count = current_user.discussion_activity_count(motion.discussion) if current_user
    - if discussion_count > 0
      .discussion-icon-container.discussion-alert-icon
        #activity-count.span.label.important= discussion_count
    - else
      .discussion-icon-container.discussion-disabled-icon
        #activity-count.span

:coffeescript
  jQuery ->
    # @pie_graph_view_#{motion.id} = new Loomio.Views.Utils.GraphView
    #   motion_id: #{motion.id}
    #   el: 'vgraph_#{motion.id}'
    #   id_string: 'vgraph_#{motion.id}'
    #   legend: true
    #   data: #{motion.votes_graph_ready.to_json.html_safe}
    #   type: 'pie'
    #   tooltip_selector: '#tooltip_#{motion.id}'
