.motion
  .clearfix
    %h3.word-break= motion.name
    - if motion.closed?
      %span.label.label-important Closed
  .closing-info
    - if motion.has_close_date?
      - if motion.voting?
        = "Closing in #{time_ago_in_words(motion.close_date)}"
      - else
        %span= "Closed #{time_ago_in_words(motion.close_date)} ago"
    - else
      No close date
  - if motion.closed?
    =render "motions/outcome_statement", motion: motion, this_group: this_group
  .proposed-by
    = "Proposed #{time_ago_in_words(motion.created_at)} ago by #{motion.author_name}"
  .description
    - too_long = true if motion.description && motion.description.length > 200
    .short-description
      ~ markdown(truncate(motion.description, length: 200, omission: '...', separator: ' '))
      = link_to "Show More >>", "#", title: "see the full description", class: 'see-more' if too_long
    .long-description{style: "display: none"}
      ~ markdown(motion.description)
      = link_to "Show Less", "#", title: "see the full description", class: 'see-more' if too_long
  #graph.pie
  .percentage-to-vote
    = "#{motion.percent_voted}% of members "
    = "have " unless motion.closed?
    = "stated their position (#{motion.group_count - motion.no_vote_count}/#{motion.group_count})"
  .votes
    - if motion.voting? && @group.users_include?(current_user) && (not @user_already_voted)
      %h3 State your position
      .vote-buttons.clearfix
        =link_to image_tag("hand-yes.png", title:"I agree", alt:"I agree"), "#", "title" => "I agree",
          "data-content" => "I agree with this and want it to go ahead.",
          "data-toggle" => "modal", href: "#vote-statement", class: "position btn vote-yes",
          onclick: "$('#vote_position').val('yes'); $('#position-title').text('You have decided to agree');"
        =link_to image_tag("hand-abstain.png", title:"I abstain", alt:"I abstain"), "#", "title" => "I abstain",
          "data-content" =>  "I am happy with what the group decides without me.",
          "data-toggle" => "modal", href: "#vote-statement", class: "position btn vote-abstain",
          onclick: "$('#vote_position').val('abstain'); $('#position-title').text('You have decided to abstain');"
        =link_to image_tag("hand-no.png", title:"I disagree", alt:"I disagree"), "#", "title" => "I disagree",
          "data-content" => "I think we can do better, but if the rest of the group feels like it’s the best course of action then I’m OK with it going ahead.",
          "data-toggle" => "modal", href: "#vote-statement", class: "position btn vote-disagree",
          onclick: "$('#vote_position').val('no'); $('#position-title').text('You have decided to disagree');"
        =link_to image_tag("hand-block.png",title:"I block", alt:"I block"), "#", "title" => "I block",
          "data-content" => "I have strong objections to this proposal and am not OK with it going ahead.",
          "data-toggle" => "modal", href: "#vote-statement", class: "position btn vote-block",
          onclick: "$('#vote_position').val('block'); $('#position-title').text('You have decided to block');"

    .votes-table= render "motions/votes_table", motion: motion, unique_votes: unique_votes
    #vote-statement.modal.hidden
      .modal-header
        %button.close{"data-dismiss" => "modal"}×
        - position = :vote_position
        %h3#position-title
      = form_for([motion, @vote], html:{class:'form-stacked'}) do |f|
        .modal-body
          .control-group
            = f.text_area :statement, placeholder: "Give a reason for your decision (optional)", class: "statement inputError limit-250"
            .character-counter
          =f.hidden_field :position
        .modal-footer
          = submit_tag "Confirm position", class: "vote btn btn-info run-validations", :data => { :disable_with => "Confirming position" }
          = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-small"

  :coffeescript
    $ ->
      # Display vote graph
      @pie_graph_view = new Loomio.Views.Utils.GraphView
        el: '#graph.pie'
        id_string: 'graph'
        legend: true
        data: #{@votes_for_graph.to_json.html_safe}
        type: 'pie'
        tooltip_selector: '#tooltip'
        diameter: 200
        padding: 0
        gap: 5
        shadow: 2
