.motion
  #motion-title.clearfix
    %h2.word-break= motion.name
    - if motion.closed?
      %span.label.label-important Closed
  .closing-info
    - if motion.has_closing_date?
      No close date
    - else
      - if motion.voting?
        = "Closing in #{time_ago_in_words(motion.close_date)}"
      - else
        %span= "Closed #{time_ago_in_words(motion.close_date)} ago"
  .proposed-by
    = "Proposed #{time_ago_in_words(motion.created_at)} ago by #{motion.author_name}"
    - if motion.updated_at != motion.created_at
      = "(edited: #{time_ago_in_words(motion.updated_at)} ago)"
  .description
    - too_long = true if motion.description && motion.description.length > 200
    .short-description
      = simple_format h(truncate(motion.description, length: 200, omission: '...', separator: ' '))
      = link_to "Show More >>", "#", title: "see the full description", class: 'see-more' if too_long
    .long-description{style: "display: none"}
      = simple_format h(motion.description)
      = link_to "Show Less", "#", title: "see the full description", class: 'see-more' if too_long
  #graph.pie
  .percentage-to-vote
    = "#{motion.percent_voted}% of members "
    = "have " unless motion.closed?
    = "decided on this proposal (#{motion.group_count - motion.no_vote_count}/#{motion.group_count})"
  .votes
    - if motion.voting? && @group.users_include?(current_user) && (not @user_already_voted)
      .vote-buttons.clearfix
        =link_to image_tag("hand-yes.png", title:"I agree", alt:"I agree"), "#", "title" => "I agree",
          "data-content" => "I agree with this and want it to go ahead.",
          "data-toggle" => "modal", href: "#vote-statement", class: "position btn vote-yes", onclick: "$('#vote_position').val('yes');"
        =link_to image_tag("hand-abstain.png", title:"I abstain", alt:"I abstain"), "#", "title" => "I abstain",
          "data-content" =>  "I am happy with what the group decides without me.",
          "data-toggle" => "modal", href: "#vote-statement", class: "position btn vote-abstain", onclick: "$('#vote_position').val('abstain');"
        =link_to image_tag("hand-no.png", title:"I disagree", alt:"I disagree"), "#", "title" => "I disagree",
          "data-content" => "I think we can do better and would like to see something else happen, but if the group feels like it is the best way then I am ok with that.",
          "data-toggle" => "modal", href: "#vote-statement", class: "position btn vote-disagree", onclick: "$('#vote_position').val('no');"
        =link_to image_tag("hand-block.png",title:"I block", alt:"I block"), "#", "title" => "I block",
          "data-content" => "I have strong objections to this motion and am not ok with it going ahead.",
          "data-toggle" => "modal", href: "#vote-statement", class: "position btn vote-block", onclick: "$('#vote_position').val('block');"

    .votes-table= render "motions/votes_table", motion: motion, unique_votes: unique_votes
    #vote-statement.modal.hidden
      .modal-header
        %button.close{"data-dismiss" => "modal"}×
        %h3= "Give a reason for your decission"
      = form_for([motion, @vote], html:{class:'form-stacked'}) do |f|
        .modal-body
          .control-group
            = f.text_area :statement, class: "statement inputError limit-250"
          .character-counter
          =f.hidden_field :position
        .modal-footer
          = submit_tag "Confirm position", class: "vote btn btn-small"

  :coffeescript
    $ ->
      # Display vote graph
      @pie_graph_view = new Loomio.Views.Utils.GraphView
        el: '#graph.pie'
        id_string: 'graph'
        legend: true
        data: #{@votes_for_graph.to_json.html_safe}
        type: 'pie'
        tooltip_selector: '#tooltip'

      @linkify = new Loomio.Views.Utils.Linkify
        el: $('#motion h2, #motion #description, #votes .statement')
