.motion-preview.clearfix
  %a{ href: motion_path(motion) }
    %span
      - if current_user
        .vote-icon
          = render "motions/display_icons", position: current_user.position(motion)
      .proposal-title-container
        .proposal-title.word-break= truncate(motion.name, :length => 60, :separator => ' ')
        .clearfix
          .proposal-close-date
            - if motion.close_date.present?
              - if motion.voting?
                = "closing in #{time_ago_in_words(motion.close_date)}"
              - else
                = "closed #{time_ago_in_words(motion.close_date)} ago"
              =" · " unless this_group
          .proposal-group-name= DiscussionDecorator.new(motion.discussion).display_group_name(this_group)
