:javascript
  $(function(){
    make_the_graph = function(){
      this.pie_graph_view = new Loomio.Views.Utils.GraphView(
       {el: '.pie',
        id_string: "graph_#{motion.id}",
        legend: #{legend},
        data: #{motion.votes_for_graph.to_json},
        type: 'pie',
        tooltip_selector: '#tooltip',
        diameter: #{diameter},
        padding: #{padding},
        gap: #{gap},
        shadow: 0})
    }

    // IE8 FIX - for some reason we have to load the graph after everything else.
    // Otherwise, the graph doesn't display in IE8.
    //
    // Ideally, we'd like to be able to delete this line:
    $(window).load(make_the_graph);
  });
