.row
  .span1{class: "centered vote-icon"}
    - if motion.user_has_voted?(current_user)
      - voted = true
      - position = current_user.motion_vote(motion).position
      =render partial: "motions/display_icons", locals: {position: position}
    - else
      #no-vote-dash
        = " "
  .span7
    - if voted
      =link_to motion.name, motion, class: 'no-toggle'
    - else
      %strong
        =link_to motion.name, motion, class: 'no-toggle'
  .span4.close-info
    - if motion.close_date
      - if motion.closed?
        closed on
      - else
        closes on
      = motion.close_date.strftime("%d/%m/%Y")
    - else
      no close date
  .span1.toggle-button
    +
.row
  .span12.offset1.group-name
    =link_to motion.group.name, motion.group, class: 'no-toggle'

:coffeescript
  jQuery ->
    @pie_graph_view_#{motion.id} = new Tautoko.Views.Utils.GraphView
      motion_id: #{motion.id}
      el: 'vgraph_#{motion.id}'
      id_string: 'vgraph_#{motion.id}'
      legend: true
      data: #{motion.votes_graph_ready.to_json.html_safe}
      type: 'pie'
      tooltip_selector: '#tooltip_#{motion.id}'
