.motion-preview.clearfix
  %a{ href: motion_path(motion) }
    %span
      .vote-icon
        - if current_user
          = render "motions/display_icons", position: current_user.position(motion)
      .proposal-title-container
        .proposal-title.word-break= truncate(motion.name, :length => 60, :separator => ' ')
        .proposal-close-date
          - if motion.close_date.present?
            closing in
            = time_ago_in_words(motion.close_date)
      .engagement
        = "#{motion.percent_voted}%"
