#outcome-statement
  - if motion.has_outcome?
    #outcome-display
      .statement-display.well
        .clearfix
          - if can? :create_outcome, motion
            = button_to t(:edit), "#", class: 'btn btn-primary outcome-edit-button', id: 'edit-outcome'
          .outcome-label= t(:outcome)
          %p= motion.outcome

  - if can?(:create_outcome, motion)
    - if motion.has_outcome?
      - path = update_outcome_motion_path(motion)
      - outcome_form_style = 'display: none'
    - else
      - path = create_outcome_motion_path(motion)
      - outcome_form_class = ''

    #outcome-form{style: outcome_form_class}
      = form_for motion, url: path do |f|
        .form-group
          = f.text_area :outcome, :placeholder => t(:outcome_placeholder), class: 'form-control'
        .save-button.clearfix
          = f.submit t(:outcome_submit), class: 'btn btn-primary', id: 'add-outcome-submit'
