#outcome-statement
  - if motion.has_outcome?
    #outcome-display
      .statement-display.well
        .clearfix
          - if can? :create_outcome, motion
            = link_to "#", class: 'btn pull-right', id: 'edit-outcome' do
              %i.fa.fa-pencil
          .outcome-label= t(:outcome)
          .motion-outcome= render_rich_text(motion.outcome, true)

  - if can?(:create_outcome, motion)
    - if motion.has_outcome?
      - path = update_outcome_motion_path(motion)
    - else
      - path = create_outcome_motion_path(motion)

    #outcome-form
      = form_for motion, url: path do |f|
        .form-group
          = f.text_area :outcome, :placeholder => t(:outcome_placeholder), class: 'form-control'
        .save-button.clearfix
          = f.submit t(:outcome_submit), class: 'btn btn-primary', id: 'add-outcome-submit'
