%h3= t :positions
- if motion.has_votes?
  - if current_user && motion.user_has_voted?(current_user)
    - current_user_vote = motion.last_vote_by_user(current_user)

  -if current_user_vote
    = render "motions/votes_table_vote", vote: current_user_vote, motion: motion

  - motion.unique_votes.each do |vote|
    - unless vote == current_user_vote
      = render "motions/votes_table_vote", vote: vote, motion: motion

#yet-to-vote.hidden
  - Queries::Voters.group_members_that_havent_voted_on(motion).each do |user|
    .position-row.clearfix
      .activity-icon= image_tag "questionmark.png"
      = link_to user.name, user_path(user), class: 'user-name'
- if action_name != 'show_print'
  = link_to t(:not_voted), '#', class: 'toggle-yet-to-vote'
