.position-row.translate-parent.clearfix{class: "vote-#{vote.id}"}
  %div.activity-icon{ class: "position-#{vote.position}-icon" }
  = link_to vote.user_name, vote.user, class: 'user-name'
  - if vote.user == current_user
    = link_to "edit", new_motion_vote_path(motion), class: 'btn btn-mini', id: 'edit-vote' if can? :vote, motion
  %span.word-break~ vote.statement
  .translation-spacer.translated
  .translated-position.translated
    = t(:loading_translation)
  - if current_user_or_visitor.is_logged_in? && vote.has_statement? && TranslationService.can_translate?(vote)
    %div= translate_link_for vote
