%h3= t :positions
- unique_votes = motion.unique_votes
- if unique_votes.size > 0
  - if current_user && motion.user_has_voted?(current_user)
    = render "motions/votes_table_vote", vote: current_user.get_vote_for(motion), motion: motion
  - unique_votes.each do |vote|
    - unless current_user && vote == current_user.get_vote_for(motion)
      = render "motions/votes_table_vote", vote: vote, motion: motion
#yet-to-vote.hidden
  - Queries::Voters.group_members_that_havent_voted_on(motion).each do |user|
    .position-row.clearfix
      .activity-icon= image_tag "questionmark.png"
      = link_to user.name, user_path(user), class: 'user-name'
= link_to t(:not_voted), '#', class: 'toggle-yet-to-vote'
