.row
  .col-md-6
    %h1= t :"motion_history.title"
    - @motion.versions.each do |version|
      - next unless motion = version.reify
      .version-header= motion.updated_at.strftime("%I:%M%p %d %B %Y")
      %h3= motion.name
      = simple_format motion.description

    = link_to t("common.back_to_discussion"), motion_path(@motion), class: "btn btn-info"
