- if poll.show_results?
  %h5= t(poll.closed_at ? :'poll_common.results' : :'poll_common.current_results')
  - if poll.poll_type == "meeting"
    = render "matrix_bot/poll/results/meeting", poll: poll
  - else
    = render "matrix_bot/poll/results/simple", poll: poll
- else 
  %h5= t('poll_common_action_panel.results_hidden_until_closed')

= render "matrix_bot/poll/undecided", poll: poll
