.page-header
  %h1= t('.title', name: @application.name)
.row
  .col-xs-12
    %h4= t('.application_id')
    %p
      %code#application_id= @application.uid
    %h4= t('.secret')
    %p
      %code#secret= @application.secret
    - if @application.scopes.any?
      %h4= t('.scopes')
      %p
        %code#scopes= @application.scopes
    %h4= t('.callback_urls')
    %table.table-bordered
      - @application.redirect_uri.split.each do |uri|
        %tr
          %td
            %code= uri
          %td
            = link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code'), class: 'btn btn-success', target: '_blank'
  .col-xs-12
    %h3= t('.actions')
    %p.pull-left= link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(@application), class: 'btn btn-primary'
    %p.pull-left= render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger'
