- display_name = case poll.poll_option_name_format
- when 'i18n' then t(poll_option.name)
- when 'iso8601' then format_iso8601_for_humans(poll_option.name, @recipient.time_zone, @recipient.date_time_pref)
- else
  - poll_option.name

- score = stance && stance.option_scores[poll_option.id.to_s]

- link = poll.active? && tracked_url(poll, poll_option_id: poll_option.id)
- link_attrs = {class: 'text-decoration-none'}

%table.rounded.mb-2.pa-1{style: "border: 1px solid #{poll_option.color}; width: 100%"}
  %tr.poll-mailer__poll-option
    %td{style: "width: 48px; height: 48px; text-align: center"}
      = optional_link(link, link_attrs) do
        - if ['count', 'proposal'].include? poll.poll_type
          = image_tag("poll_mailer/vote-button-#{poll_option.icon}.png", width: 48, height: 48, alt: display_name, style: 'display: inline-block')
        - if ['poll'].include? poll.poll_type
          - if score && score > 0
            = image_tag("poll_mailer/radiobox-marked.png", width: 24, height: 24, alt: display_name)
          - else
            = image_tag("poll_mailer/radiobox-blank.png", width: 24, height: 24, alt: display_name)
        - if ['multiple_choice'].include? poll.poll_type
          - if score && score > 0
            = image_tag("poll_mailer/checkbox-marked.png", width: 24, height: 24, alt: display_name)
          - else
            = image_tag("poll_mailer/checkbox-blank-outline.png", width: 24, height: 24, alt: display_name)
        - if ['score', 'dot_vote'].include? poll.poll_type
          - if score
            .text-h6= score
          - else
            = image_tag("poll_mailer/checkbox-blank-outline.png", width: 24, height: 24, alt: display_name)
        - if ['ranked_choice'].include? poll.poll_type
          - if score
            .text-h6
              \#
              = poll.minimum_stance_choices - score + 1
          - else
            = image_tag("poll_mailer/checkbox-blank-outline.png", width: 24, height: 24, alt: display_name)
        - if ['meeting'].include? poll.poll_type
          - if score
            - icon = {0 => 'disagree', 1 => 'abstain', 2 => 'agree'}[score]
            = image_tag("poll_mailer/vote-button-#{icon}.png", width: 48, height: 48, alt: display_name, style: 'display: inline-block')
          - else
            = image_tag("poll_mailer/checkbox-blank-outline.png", width: 24, height: 24, alt: display_name)

    %td.pl-4
      = optional_link(link, link_attrs) do
        = display_name
      .text-caption
        = optional_link(link, link_attrs) do
          = poll_option.meaning
