- poll = event.eventable.poll
- my_stance = @recipient && Stance.latest.find_by(poll_id: poll.id, participant_id: @recipient.id)
- if poll.show_results?(voted: my_stance && my_stance.cast_at)
  .poll-mailer-common-responses
    - if poll.anonymous?
      %p= t(:"poll_common_action_panel.anonymous")

  %table.v-layout-table{cellspacing: 0}
    - poll.stances.latest.with_reason.each do |stance|
      %tr
        %td{valign:"top", style: 'width: 36px; height: 36px'}
          = render partial: 'base_mailer/avatar', locals: { user: stance.participant }
        %td.poll-mailer-common-responses__reason.pl-2
          %table
            %tr
              %td{valign: "top"}
                %strong #{stance.participant.name}:
              %td{valign: "top"}
                = render 'event_mailer/poll/stance_choices', poll: poll, stance: stance
          = render_rich_text(stance.reason, stance.reason_format)
- else
  %p= t(:"poll_common_action_panel.results_hidden_until_closed")