#description-placeholder
  - if group.description.blank? && group.users_include?(current_user)
    .sub-panel
      %a{ :href => "#", :id => 'add-description'}
        .small-icon.edit-icon
        .btn-text Add a group description
#group-description
  - if !group.description.blank?
    .sub-panel.clearfix
      %h3 Group description
      - if group.users_include?(current_user)
        .dropdown
          = link_to image_tag("dropdown.png", title:'description settings', alt:'description settings'), "#", class: "dropdown-toggle", 'data-toggle' => 'dropdown'
          %ul.dropdown-menu.pull-right
            %li= link_to "Edit group description", "#", id: 'edit-description'
      .group-description.word-break= @group.description
#add-group-description.hidden
  .sub-panel
    %h3 Add a group description
    = form_for group do |f|
      = f.hidden_field :id
      .control-group
        = f.text_area :description, id: 'description-input', class: 'inputError limit-250';
      .character-counter
      .save-buttons.clearfix
        = f.submit "Save", class: 'btn btn-small run-validations', id: 'add-description-submit'
        = link_to "Cancel", "#", id: 'cancel-add-description'
