- if @group.membership_for(current_user).following_by_default?
  = link_to group_following_path(@group, following_by_default: false), method: :patch, class: "btn" do
    %i.fa.fa-volume-up
    = t :".following"
  %p= t :".following_details"

- else
  = link_to group_following_path(@group, following_by_default: true), method: :patch, class: "btn" do
    %i.fa.fa-volume-down
    = t :".not_following"
  %p= t :".not_following_details"


