.follow
  - if can? :follow, @group
    - if @group.membership_for(current_user).email?
      = link_to unfollow_group_path(@group), method: :post, class: "btn btn-default btn-left btn-block js-tooltip cuke-unfollow-group", title: t(:"groups.follow.click_to_unfollow") do
        %i.fa.fa-volume-up
        = t :"common.following"
      %p= t :".following_details"
    - else
      = link_to follow_group_path(@group), method: :post, class: "btn btn-default btn-left btn-block js-tooltip cuke-follow-group", title: t(:"groups.follow.click_to_follow") do
        %i.fa.fa-volume-down
        = t :"common.not_following"
      %p= t :".not_following_details"


