#group-form.row
  .span10
    =form_for(group) do |f|
      .control-group
        = f.label :name, "Group Name", {class: "control-label", for: "inputError"}
        = f.text_field :name, class: "inputError"
        %span.error-message Group can not be blank
      .privacy-settings
        %h1 Privacy Settings
        .row
          .span6#setting-label
            Who can see this group?
          .span3
            =f.select :viewable_by, [:everyone, :members].collect{|option| [group_permissions_label(option),option]} if group.parent.nil?
            =f.select :viewable_by, [:everyone, :members, :parent_group_members].collect{|option| [group_permissions_label(option),option]} unless group.parent.nil?
        .row
          .span6#setting-label
            Who can invite members to this group?
          .span3
            =f.select :members_invitable_by, [:members, :admins].collect{|option| [group_permissions_label(option),option]}
        =f.hidden_field :parent_id, :value => parent.id unless parent.nil?
      .notification-settings
        = f.check_box :email_new_motion # TODO: check this by default
        = f.label :email_new_motion,
          "Email group members when a new motion is created in this group",
          class: "checkbox-label"
      .check-presence= f.submit "Update group", class: "btn btn-info", id: "update-group"
