.row
  .span6
    %h1= form_title
    = simple_form_for group, :validate => true do |f|
      = f.input :name
      = f.input :description, as: :text

      %h2= t "group_form.privacy_settings"
      - if group.parent.nil?
        = f.input :viewable_by, :as => 'radio_buttons', collection: [:everyone, :members]
      - else
        = f.input :viewable_by, :as => 'radio_buttons', collection: [:everyone, :members, :parent_group_members]

      %h2= t "group_form.invitation_settings"
      = f.input :members_invitable_by, :as => "radio_buttons", collection: [:admins, :members]
      = f.input :parent_id, :as => :hidden, :input_html => { :value => parent.id } unless parent.nil?
      = f.button :submit, submit_text, :class => "btn btn-info btn-large", :data => { :disable_with => disable_text }, :id => "group_form_submit"
