.row
  .span5#group-form
    %h1 New Group
    =simple_form_for group, :validate => true do |f|
      = f.input :name, :label => "Group Name", input_html: {class: "rm-margin-bottom"}
      %h2 Privacy Settings
      - if group.parent.nil?
        - suffix = "group"
        = f.input :viewable_by, :collection => {'Public - anyone with the link can see this group' => 'everyone', 'Members - only members of this group can see it' => 'members'}, :as => 'radio_buttons', :label => "Who can see this group?"
      - else
        - suffix = "sub-group"
        = f.input :viewable_by, :collection => {'Public - anyone with the link can see this sub-group' => 'everyone', 'Parent group members - only members of the main group can view this sub-group' => 'parent_group_members', 'Members - only members of this sub-group can see it' => 'members'}, :as => 'radio_buttons', :label => "Who can see this sub-group?"
      %h2 Invitation Settings
      = f.input :members_invitable_by, :label => "Who can invite members to this #{suffix}?", :as => "radio_buttons", :collection => {'All group members' => 'members', 'Admins only' => 'admins'}
      = f.input :parent_id, :as => :hidden, :input_html => { :value => parent.id } unless parent.nil?
      = f.button :submit, submit_text, :class => "btn btn-info btn-large", :data => { :disable_with => disable_text }, :id => "group_form_submit"
