- form_params ||= {}

- form_data = {is_editing: group.persisted?,
               previous_discussion_privacy_options: group.discussion_privacy_options,
               confirm_all_discussions_will_be_made_private_message: t(:'group_form.confirm_all_discussions_will_be_made_private_message'),
               confirm_all_discussions_will_be_made_public_message: t(:'group_form.confirm_all_discussions_will_be_made_public_message')}

- form_params.merge!(validate: true, html: {data: form_data, class: 'group-settings'})


= simple_form_for group, form_params do |f|
  %ul.nav.nav-tabs#group-form-tabs
    %li.active
      %a{href: '#profile'}= t :profile
    %li
      %a{href: '#privacy'}= t :"common.privacy"
    %li
      %a{href: '#permissions'}= t :"common.permissions"

  .tab-content
    .tab-pane.active#profile
      = f.input :name, label: t(:'group_form.name')
      = f.input :description, as: :text, label: t(:'group_form.description')
      - if group.is_parent?
        - translated_categories = Category.all.map{|c| [t(c.translatable_name), c.id]}
        = f.input :category_id, as: :select, collection: translated_categories, include_blank: t(:"group_categories.blank"), label: t(:"group_form.category")
      %a.btn.btn-info.profile{href: '#', onclick: "$('a[href=\"#privacy\"]').tab('show')"}
        = t(:next)
    .tab-pane#privacy
      .radio_buttons
        = label_tag :visible_to, t(:'group_form.visible_to.label')
        - group_visibility_options(group).each do |option|
          .radio
            = label_tag "group_visible_to_#{option[1]}" do
              = f.radio_button :visible_to, option[1]
              = option[0]

      .radio_buttons
        = label_tag :membership_granted_upon, t(:'group_form.membership_granted_upon.label')
        - group_joining_options(group).each do |option|
          .radio
            = label_tag "group_membership_granted_upon_#{option[1]}" do
              = f.radio_button :membership_granted_upon, option[1]
              = option[0]

      - if group.is_subgroup?
        .radio_buttons.group_parent_members_can_see_discussions
          = label_tag :parent_members_can_see_discussions, t(:'group_form.discussion_privacy_options.label')
          .radio
            = label_tag "group_parent_members_can_see_discussions_true" do
              = f.radio_button :parent_members_can_see_discussions, true
              = t(:'group_form.parent_members_can_see_discussions.true', parent_group_name: group.parent.name)
          .radio
            = label_tag "group_parent_members_can_see_discussions_false" do
              = f.radio_button :parent_members_can_see_discussions, false
              = t(:'group_form.parent_members_can_see_discussions.false', parent_group_name: group.parent.name)

      .radio_buttons.group_discussion_privacy_options
        = label_tag :discussion_privacy_options, t(:'group_form.discussion_privacy_options.label')
        - discussion_privacy_options.each do |option|
          .radio
            = label_tag "group_discussion_privacy_options_#{option[1]}" do
              = f.radio_button :discussion_privacy_options, option[1]
              = option[0]

      %a.btn.btn-info.privacy{href: '#', onclick: "$('a[href=\"#permissions\"]').tab('show')"}
        = t(:next)

    .tab-pane#permissions
      .form-group.checkboxes.what-can-members-do
        %label.control-label= t :'group_form.what_can_members_do'
        .checkbox
          = label_tag "group_members_can_add_members" do
            = f.check_box :members_can_add_members
            = t(:'group_form.members_can.add_members')
        - if group.is_parent?
          .checkbox
            = label_tag 'group_members_can_create_subgroups' do
              = f.check_box :members_can_create_subgroups
              = t(:'group_form.members_can.create_subgroups')
        .checkbox
          = label_tag "group_members_can_start_discussions" do
            = f.check_box :members_can_start_discussions
            = t(:'group_form.members_can.start_discussions')
        .checkbox
          = label_tag "group_members_can_edit_discussions" do
            = f.check_box :members_can_edit_discussions
            = t(:'group_form.members_can.edit_discussions')
        .checkbox
          = label_tag "group_members_can_edit_comments" do
            = f.check_box :members_can_edit_comments
            = t(:'group_form.members_can.edit_comments')
        .checkbox
          = label_tag "group_members_can_raise_motions" do
            = f.check_box :members_can_raise_motions
            = t(:'group_form.members_can.raise_motions')
        .checkbox
          = label_tag "group_members_can_vote" do
            = f.check_box :members_can_vote
            = t(:'group_form.members_can.vote')

      .hint
        %i.fa.fa-star
        %em= link_to t(:"group_form.learn_about_permissions"), "#learn-about-permissions-modal", 'data-toggle' => 'modal', id: 'learn-about-permissions'

      = f.input :parent_id, :as => :hidden
      = f.submit submit_text, class: 'btn btn-primary', id: 'group_form_submit', data: {disable_with: submit_text}

#learn-about-permissions-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"}×
        %h3= t :"group_permissions.header"
      .modal-body
        %p= t :"group_permissions.coordinators_can"
        %ul
          %li= t :"group_permissions.c1"
          %li= t :"group_permissions.c2"
          %li= t :"group_permissions.c3"
          %li= t :"group_permissions.c4"
          %li= t :"group_permissions.c5"
          %li= t :"group_permissions.c6"
          %li= t :"group_permissions.c7"
          %li= t :"group_permissions.c8"
          %li= t :"group_permissions.c9"
          %li= t :"group_permissions.c10"
          %li= t :"group_permissions.c11"
          %li= t :"group_permissions.c12"
          %li= t :"group_permissions.c13"
        %p= t :"group_permissions.members_defaults"
        %ul
          %li= t :"group_permissions.m1"
          %li= t :"group_permissions.m3"
          %li= t :"group_permissions.m4"
          %li= t :"group_permissions.m5"
          %li= t :"group_permissions.m6"
          %li= t :"group_permissions.m7"
          %li= t :"group_permissions.m8"
        %p= t :"group_permissions.optional_restrictions"

      .modal-footer
        = link_to t(:close), "#", "data-dismiss" => "modal", class: "btn btn-info"
