%h1= t("invitation.invites_header")
%br
.control-group
  %p= t("invitation.recipients")
  = text_area_tag 'invitees', nil, class: 'validate-emails', placeholder: t("invitation.invitees_placeholder")
  .email-validation-help= t('error.invalid_email')
  %br
  %br
  = form.input :recipients, as: :hidden, input_html: { class: 'recipients' }
  %p= t("invitation.invites_more_help")
.control-group
  = form.input :message_body, label: false, as: :text, input_html: { value: t("invitation.body_editable", group: group.name) }, label: t("invitation.message_body")
%p= t("invitation.invites_more_help1")

