%li{:id => user.id}
  .clearfix
    = render 'avatar', user: user, size: "small", kind: nil, id: nil
    .user-name
      - name_length = (user.is_group_admin?(group) or (can? :edit, group and current_user.is_group_admin?(group))) ? 18 : 35
      %span.membership-user-name
        = link_to truncate(user.name, :length => name_length, :omission => '...'), "#",
          "title" => user.name, "data-content" => "#{render 'users/name_popover',
          user: user, group: group }", class: 'user-name-with-popover'
    .admin-controls
      - membership = user.group_membership(group)
      - if (can? :edit, group and current_user.is_group_admin?(group))
        =link_to "×", membership, method: :delete, class: 'close',
          :data => { :confirm => "Are you sure you wish to remove #{user.name} from the group?" }
        - if user.is_group_admin?(group)
          = link_to "Remove admin", "#", 'data-title' => "Remove admin",
              'data-body' => "Are you sure you no longer want #{user.name} to be an admin for this group?",
              'data-confirm-path' => remove_admin_membership_path(membership),
              'data-method-type' => 'post', class: 'confirm-dialog', id: 'remove admin'
        - else
          = link_to "Make admin", "#", 'data-title' => "Make admin",
              'data-body' => "Are you sure you want to make #{user.name} an admin for this group?",
              'data-confirm-path' =>  make_admin_membership_path(membership), 'data-method-type' => 'post',
              class: 'confirm-dialog', id: 'make admin'
      - else
        - if user.is_group_admin?(group)
          = "Group Admin"
