- unless group.hide_members && (cannot? :update, group)
  .sub-panel#members-panel
    -if can?(:update, group) or logged_in_member_can_invite?(group)
      .dropdown.btn-group
        %a.btn.btn-grey.btn-small.dropdown-toggle#group-member-options{ href: "#", 'data-toggle' => 'dropdown' }
          = t(:options)
        %ul.dropdown-menu.pull-right.group-member-options
          -if can? :add_members, group
            -if group.is_top_level?
              %li=link_to t(:invite_people), new_group_invitation_path(group)
            -else
              %li=link_to t(:add_new_member), '#invite-subgroup-members', :id => 'group-add-members', 'data-toggle' => 'modal'
          -if can? :edit, group
            %li=link_to t(:edit_memberships), group_memberships_path(group)
          - if can? :email_members, group
            %li= link_to t(:email_group_members), "#email-members-modal", "data-toggle" => "modal"
        -if group.is_sub_group?
          #invite-subgroup-members.modal.hidden
            = render 'subgroup_add_members', group: group
    %h4
      = "#{ t :members } (#{ group.memberships_count })"

    %ul#users-list
      - group.users.each do |user|
        = render 'membership', user: user, group: group
    -if can?(:add_members, group) && group.is_top_level?
      = link_to members_pending_count(group), group_invitations_path(group), class: 'bottom-panel-link', id: 'pending-count'
