- unless group.hide_members && (cannot? :update, group)
  .panel.panel-default#members-panel
    .panel-heading
      %h4
        = t :members
        = "(#{ group.members.count })"

    .panel-body
      %ul#users-list.clearfix
        - group.members.first(15).each do |user|
          %li{:id => user.id}
            = render 'linked_avatar', user: user, show_title: true

    .panel-footer
      .memberships_link
        = link_to t(:more), group_memberships_path(group)
