- unless group.hide_members && (cannot? :update, group)
  .sub-panel#members-panel
    %h4
      = link_to group_memberships_path(group) do
        = t :members
        = "(#{ group.memberships_count })"

    %ul#users-list.clearfix
      - group.members.first(15).each do |user|
        %li{:id => user.id}
          = render 'linked_avatar', user: user, show_title: true
    %div.memberships_link
      = link_to t(:more), group_memberships_path(group), class: 'bottom-panel-link'
