= form_for @group, html: {class: 'form-horizontal'} do |f|
  .form-group
    .col-sm-9.col-sm-offset-3
      - if @group.errors.any?
        .form__error All fields are required

  .form-group
    .col-sm-3
      %label.control-label Group name:
    .col-sm-9
      = f.text_field :name, class: 'form-control'

  .form-group
    .col-sm-3
      %label.control-label Description:
    .col-sm-9
      = f.text_area :description, class: 'form-control'


  .form-group
    .col-sm-3
      %label.control-label Payment:
    .col-sm-9
      - if @group.errors[:is_commercial].any?
        .form__error Please select an option:

      .radio
        = f.radio_button :is_commercial, true
        = f.label :is_commercial_true do
          %strong Subscription
          \- 30 day free trial. If your group loves Loomio, you can use it for only $1 per member per month.
      .radio
        = f.radio_button :is_commercial, false
        = f.label :is_commercial_false do
          %strong Donation
          \- if you can't pay a regular subscription, we will occasionally ask your group members for a voluntary donation.

      = f.submit t(:"common.start_group"), class: 'btn btn-success btn-block', :data => { :disable_with => t(:"common.start_group") }, id: 'sign-up-submit'

      %p.small
        By starting a group, you agree to Loomio's
        = link_to "Terms of service", terms_of_service_path

  .row
    .col-sm-9.col-sm-offset-3
      %p
        We're developing a pricing model that's in line with our social mission: making it easy for anyone, anywhere to participate in decisions that affect them

      %p.text-right
        =link_to "find out more >", pricing_path

