.dropdown.privacy-dropdown
  - privacy = group.privacy
  - header = t "simple_form.labels.group.privacy_#{privacy}_header"
  - description = t "simple_form.labels.group.privacy_#{privacy}_description_short"
  %span#privacy{"data-title" => "#{header}: #{description}", 'data-container'=> 'body' }
    = image_tag("privicon_"+privacy.to_s+".png", alt: privacy.to_s, :id => 'privacy-image')
