%ul.dropdown-menu.pull-left
  %li.privacy-item
    %a{ :href => "#", id: 'privacy-everyone'}
      .privacy-tick
        %div{:class => css_for_privacy_link(group, 'everyone')}
      = "Everyone"
  %li.privacy-item
    %a{ :href => "#", id: 'privacy-members'}
      .privacy-tick
        %div{:class => css_for_privacy_link(group, 'members')}
      = "Members"
  - if group.parent
    %li.privacy-item
      %a{ :href => "#", id: 'privacy-parent'}
        .privacy-tick
          %div{:class => css_for_privacy_link(group, 'parent_group_members')}
        = "Parent group members"
= form_tag send("edit_privacy_group_path"), :remote => true, id: 'privacy-settings-form' do
  = hidden_field_tag 'id'
  = hidden_field_tag 'viewable_by', {id: 'viewable_by'}