.panel.panel-default.panel-notifications
  .panel-heading
    %h4= t(:'volume.volume')
  .panel-body
    - current_volume = @membership.volume
    .btn-group.dropdown.volume-dropdown
      %button{type: 'button', class:"btn btn-left btn-default dropdown-toggle", 'data-toggle': "dropdown", 'aria-expanded': false}
        %i.fa.fa-lg.fa-fw{class: icon_class_for_volume(current_volume)}
        = t :"volume.#{current_volume}"
        %span.caret
      %ul.dropdown-menu{role: 'menu'}
        - %w[loud normal quiet mute].each do |volume|
          %li.dropdown-menu-item
            = link_to [:set_volume, @group, volume: volume], method: :post do
              %i.fa.fa-lg.fa-fw{class: icon_class_for_volume(volume)}
              %b= t(:"volume.#{volume}")
              %p= t(:"group_volume.#{volume}_description")
    %p.font-mid-grey= t "group_volume.#{current_volume}_description"
