.modal-header
  %button.close{"data-dismiss" => "modal"}×
  %h3= "Select members to add to #{group.name}"
= form_tag add_members_group_path do
  .modal-body
    - addable_users = group.parent_members_visible_to(current_user)
    -if addable_users.count > 1
      - addable_users.each do |user|
        - unless user == current_user
          .invite-member-checkbox-container
            - is_user = group.users_and_invited_users.include?(user)
            = check_box_tag "user_#{user.id}", 1, is_user, disabled: is_user
            = label_tag "user_#{user.id}", user.name
    - else
      = "No parent group members exist to add. Please add the members to the parent group first."
  .modal-footer
    = submit_tag "Invite members", class: "btn btn-info", disable_with: "Invite members"
