.group-title.clearfix
  - if group
    %h1
      .home-title= link_to "Home", "/"
      = content_tag :span, "\u25B6", class: 'name-separator'
      = group.fancy_link
    .dropdown.privacy-dropdown
      %a.dropdown-toggle{ :href => "#", :id => 'privacy', 'data-toggle' => 'dropdown',  "data-title" => "Privacy: '"+group.viewable_by.to_s+"' can see this group." }
        = image_tag("privicon_"+group.viewable_by.to_s+".png", alt: group.viewable_by.to_s)
      - if can? :edit, group
        %ul.dropdown-menu.pull-left
          %li= link_to "Edit group settings", edit_group_path(group)

    - if params[:controller] == 'groups' && params[:action] == 'show'
      - can_edit = can? :edit, group
      - can_leave = group.users_include? current_user
      - can_archive = can? :edit, group
      - can_email = can? :email_members, group
      - if can_edit || can_leave
        .dropdown.btn-group.group-options
          %a.btn.btn-grey.dropdown-toggle{ :href => "#", 'data-toggle' => 'dropdown' }
            %i.icon-cog
            Options
            = image_tag("dropdown.png", title:'Options', alt:'Options', class: "options-dropdown-icon")
          %ul.dropdown-menu.pull-right
            - if can_email
              %li= link_to "Email group members", "#email-members-modal", "data-toggle" => "modal"
              %hr
            - if can_edit
              %li= link_to "Edit group settings", edit_group_path(group)
            - if can_leave
              - membership = current_user.group_membership(group)
              %li= link_to "Leave group", membership, method: :delete, :data => { confirm: "Are you sure you wish to leave #{group.name}?" }
            - if can_archive
              %li= link_to "De-activate group", archive_group_path(group), method: :post, :data => { confirm: "Wait!!! Are you sure you want to de-activate #{group.name}? \n\n You will no longer be able to view the group. However, if you wish to get the group back you can ask us to reactivate it for you by sending an email to contact@loom.io." }
            %hr
            %h3.dropdown-heading Notification settings
            %li{:class => ('selected' if current_user.get_group_noise_level(group) == 2)}
              =link_to "Off", set_noise_user_path(current_user, :noise => '2', :group => group), :method => :post, :remote => true
            %li{:class => ('selected' if current_user.get_group_noise_level(group) == 1)}
              =link_to "Default", set_noise_user_path(current_user, :noise => '1', :group => group), :method => :post, :remote => true 
            %li{:class => ('selected' if current_user.get_group_noise_level(group) == 0)}
              =link_to "All", set_noise_user_path(current_user, :noise => '0', :group => group), :method => :post, :remote => true
      - if can_email
        #email-members-modal.modal.hidden
          = render "groups/email_members", :group => group
  - else
    %h1
      .home-title= "Home"
