.group-title
  %h1.home-title
    = link_to t(:home), "/"
    = content_tag :span, "\u25B6", class: 'name-separator'
    - if @group
      - if @group.is_a_subgroup?
        = link_to @group.parent.name, @group.parent
        = content_tag :span, "\u25B6", class: 'name-separator'
      = link_to @group.name, @group
      = render 'groups/privacy_dropdown', :group => @group
