.group-title
  .row
    - if group
      .span10
        %h1.home-title
          = link_to t(:home), "/"
          = content_tag :span, "\u25B6", class: 'name-separator'
          = group.fancy_link
        = render 'groups/privacy_dropdown', :group => group
    - else
      .span10
        %h1.home-title
          = link_to t(:home), "/"
