- unless group.users_include?(current_user) || current_user.nil?
  - membership_request = group.membership_requests.find_by_user_id(current_user)
  - if membership_request.present?
    = link_to "Membership Requested", membership_request, method: :delete,
      confirm: "Are you sure you wish to withdraw your membership request from this group?",
      class: "btn small", id: "membership-requested"
  - else
    =semantic_form_for(Membership.new) do |f|
      %input{name: "membership[group_id]", type: :hidden, value: group.id}
      =f.commit_button "Request membership", button_html: { class: "btn primary" }

- if group.can_invite_members?(current_user)
  %h4.title-row Add member
  - if group.parent.blank?
    = semantic_form_for(User.new, url: user_invitation_path, html: { method: :post }) do |f|
      = devise_error_messages!
      = f.input :group_id, as: :hidden, label: false, input_html: { value: group.id }
      = f.input :email, placeholder: "Email address", label: false
      %input#group_id{ type: "hidden", value: group.id }
      #button-invite= f.submit "Invite", class: "btn primary small"
    - if group.membership_requests.present?
      #user-requests
        %h4.title-row Membership requests
        %ul.unstyled{:id => "request-list"}
          =render :partial => 'membership_request', :collection => group.membership_requests
  - else
    #invite-group-members.modal.hide.fade
      .modal-header
        %a.close{:href => "#"} ×
        %h3= "Select members to add to #{group.name}"
      = form_tag add_members_group_path do
        .modal-body
          - group.parent.users.each do |member|
            .invite-member-checkbox-container
              = check_box_tag "user_#{member.id}"
              = label_tag "user_#{member.id}", member.name
        .modal-footer
          -#%a.btn.primary{:href => "#"} Primary
          = submit_tag "Invite members", class: "btn primary"

    %button.btn.small.primary{"data-backdrop" => "true", "data-controls-modal" => "invite-group-members", "data-keyboard" => "true"} Add members

%h4.title-row Current members
%ul.unstyled{:id => "users-list"}
  =render :partial => 'membership',
    :collection => group.memberships.sort! { |a,b| a.user_name.downcase <=> b.user_name.downcase },
    :locals => { group: group }


#invite-group-members.modal.hide.fade
  .modal-header
    %a.close{:href => "#"} ×
    %h3= "Select members to add to #{group.name}"
  .modal-body
    = form_tag "/" do
      - group.users.each do |member|
        .invite-member-checkbox-container
          = check_box_tag "member-#{member.id}"
          = label_tag "member-#{member.id}", member.name
  .modal-footer
    %a.btn.primary{:href => "#"} Primary
    %a.btn.secondary{:href => "#"} Secondary

