#member-panel
  - unless group.users_include?(current_user)
    - membership_request = group.membership_requests.find_by_user_id(current_user)
    - if membership_request.present?
      = link_to "Membership Requested", membership_request, method: :delete,
        confirm: "Are you sure you wish to withdraw your membership request from this group?",
        class: "btn small", id: "membership-requested"
    - else
      =simple_form_for(Membership.new) do |f|
        %input{name: "membership[group_id]", type: :hidden, value: group.id}
        =f.commit_button "Request membership", button_html: { class: "btn primary" }

  - if group.can_invite_members?(current_user)
    %h4.title-row Add member
    = simple_form_for(User.new, url: user_invitation_path, html: { method: :post }) do |f|
      = f.input :group_id, as: :hidden, label: false, input_html: { value: group.id}
      = f.input :email, placeholder: "Email address", label: false
      %input#group_id{ type: "hidden", value: group.id }
      #button-invite= f.submit "Invite", class: "btn primary small"
    - if group.membership_requests.present?
      #user-requests
        %h4.title-row Membership requests
        %ul.unstyled{:id => "request-list"}
          =render :partial => 'membership_request', :collection => group.membership_requests

  %h4.title-row Current members
  %ul.unstyled{:id => "users-list"}
    =render :partial => 'membership', :collection => group.memberships,
      :locals => { group: group }
