%h1 Export for #{@exporter.group.full_name}
%p
  Also available in
  = link_to "CSV", group_export_path(@exporter.group, format: 'csv', :export => 1)


= render 'export_table', name: 'Groups',      records: @exporter.formal_groups, fields: @exporter.formal_group_fields
= render 'export_table', name: 'Memberships', records: @exporter.memberships,   fields: @exporter.membership_fields
= render 'export_table', name: 'Discussions', records: @exporter.discussions,   fields: @exporter.discussion_fields
= render 'export_table', name: 'Comments',    records: @exporter.comments,      fields: @exporter.comment_fields
= render 'export_table', name: 'Polls',       records: @exporter.polls,         fields: @exporter.poll_fields
= render 'export_table', name: 'Stances',     records: @exporter.stances,       fields: @exporter.stance_fields
