%h1 Export for #{@group.full_name}


= render 'export_table', name: 'Groups',      records: @groups,      fields: @group_fields
= render 'export_table', name: 'Memberships', records: @memberships, fields: @membership_fields
= render 'export_table', name: 'Invitations', records: @invitations, fields: @invitation_fields
= render 'export_table', name: 'Discussions', records: @discussions, fields: @discussion_fields
= render 'export_table', name: 'Comments',    records: @comments,    fields: @comment_fields
= render 'export_table', name: 'Proposals',   records: @proposals,   fields: @proposal_fields
= render 'export_table', name: 'Votes',       records: @votes,       fields: @vote_fields
