.explore-page.mt-12
  %main.v-content
    .v-content__wrap
      .container.explore-page.max-width-1024
        %h1.pt-4= t(:'explore.header')
        .row.explore-page__groups.my-4
          - @groups.each do |group|
            .col-sm-12.col-md-6.col-lg-6.col
              %a.explore-page__group.my-4.v-card.v-card--link.v-sheet.theme--light{ href: group_url(group) }
                .v-responsive.v-image.explore-page__group-cover
                  .v-responsive__sizer{style: "padding-bottom: 20.6186%;"}
                  .v-image__image.v-image__image--cover{style: "background-image: url(#{group.logo_or_parent_logo}); background-position: center center;" }
                  .v-responsive__content{style: "width: 970px;"}
                .v-card__title= group.name
                .v-card__text
                  .explore-page__group-description= strip_tags(render_rich_text_fast(group.description, group.description_format)).truncate(100)
                  .layout.explore-page__group-stats.justify-start.align-center
                    %i.v-icon.notranslate.mr-2.mdi.mdi-account-multiple.theme--light
                    %span.mr-4= group.memberships_count
                    %i.v-icon.notranslate.mr-2.mdi.mdi-comment-text-outline.theme--light
                    %span.mr-4= group.discussions_count
                    %i.v-icon.notranslate.mr-2.mdi.mdi-thumbs-up-down.theme--light
                    %span.mr-4= group.polls_count
        .row.align-center.justify-center
          %span <
          - (1..@pages).each do |page|
            &nbsp;
            %a{href: "/explore?q=&page=#{page}&export=1"}= page
            &nbsp;
          %span >
