#group
  %h2.headerspace.group-title
    = link_to @group.parent.name, group_path(@group.parent), title: "group" unless @group.parent.nil?
    = " > " unless @group.parent.nil?
    = @group.name

    - if @group.can_be_edited_by? current_user
      = link_to "Edit group", edit_group_path(@group), class: "btn small"
    - if @group.users_include? current_user
      - membership = current_user.group_membership(@group)
      = link_to "Leave group", membership, method: :delete, class: "btn small",
        confirm: "Are you sure you wish to leave #{@group.name}?"
  .row
    .span5
      #sidebar
        - if @group.parent.nil?
          #subgroups
            =render 'subgroups', group: @group
        =render 'users', group: @group

    .span11
      #btn-create-discussion
        = link_to 'Start a new discussion', new_discussion_path(discussion: { group_id: @group }), class: "btn small primary"
      #discussions
        - @group.discussions.each do |discussion|
          - class_name = " voting"
          - if discussion.default_motion.present?
            - motion = discussion.default_motion
            - if motion.voting? && motion.blocked?
              - class_name = " blocked"
          %div{ class: "discussion" + class_name }
            .discussion-title-container
              %h4.discussion-title
                - title = truncate(discussion.title, :length => 75, :separator => ' ')
                = link_to title, discussion_path(discussion)
              - if discussion.default_motion.present?
                - motion = discussion.default_motion
                .alert-info
                  - discussion_count = 0
                  - discussion_count = current_user.discussion_activity_count(motion) if current_user
                  - if discussion_count > 0
                    .discussion-icon-container.discussion-enabled-icon
                      #activity-count.span.label.important= discussion_count
                  - else
                    .discussion-icon-container.discussion-disabled-icon
                      #activity-count.span
            - if discussion.default_motion.present?
              .proposal-container
                .vote-icon
                  - if motion.user_has_voted?(current_user)
                    - position = current_user.motion_vote(motion).position
                    =render partial: "motions/display_icons", locals: {position: position}
                  - else
                    #no-vote-dash
                      = " "
                .proposal-title-container
                  %span.proposal-label Proposal:
                  %span.proposal-title= discussion.default_motion.name
                .proposal-stats
                  .proposal-close-date
                    - if motion.close_date.present?
                      closing in
                      = time_ago_in_words(motion.close_date)
                  .proposal-engagement
                    #percentage-to-vote
                      - percent_voted = (100-(motion.no_vote_count/motion.group_count.to_f * 100)).to_i
                      = "#{percent_voted}% engagement (#{motion.group_count - motion.no_vote_count}/#{motion.group_count})"
