=render '/groups/title', group: @group
.row
  %section.span4
    =render 'description', group: @group
    =render 'subgroups', subgroups: @subgroups, group: @group if display_subgroups_block?(@group)
    =render 'members', group: @group

  %section.span8
    - if current_user && current_user.motions?(@group)
      .selector-panel
        %h1 Proposals
        %ul
          - current_user.motions_awaiting_dicission(@group).each do |motion|
            %li.undecided= render '/motions/motion_preview', motion: motion
          - current_user.motions_dicided(@group).each do |motion|
            %li= render '/motions/motion_preview', motion: motion
    .selector-panel
      %h1 Discussions
      - if current_user && @group.users_include?(current_user)
        = link_to 'Start a new discussion +', new_discussion_path(discussion: { group_id: @group }),
          class: "btn btn-small", id: "new-discussion"
      %ul
        - group_discussions = @group.all_discussions(current_user)
        - if group_discussions.count > 0
          - group_discussions.each do |discussion|
            %li= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
        - else
          %li.no-discussions= "There are no discussions for this group"
