- if current_user && (not current_user.has_read_group_notice?)
  #system-notice.alert-message{ "data-alert" => "alert", :class => "alert alert-info" }
    = link_to "×", dismiss_group_notice_for_user_path,
      :class => "close dismiss-system-notice", "data-dismiss" => "alert"
    This is the Group page.
    %br
    %br
    Here you can see the discussions and proposals for that group, a list of the group members, and the option to start a new discussion or proposal in your group.
    %br
    %br
    Clicking on the Loomio logo in the toolbar above brings you back to this page.
    %br
    %br
    = link_to "Click here to dismiss this message", dismiss_group_notice_for_user_path,
      :class => "dismiss-group-notice", "data-dismiss" => "alert"

=render '/groups/title', group: @group
.row
  %section.span4
    =render 'request_membership', group: @group
    =render 'description', group: @group
    =render 'subgroups', subgroups: @subgroups, group: @group if display_subgroups_block?(@group)
    =render 'membership_requests', group: @group
    =render 'members', group: @group

  %section.span8
    .selector-panel
      .clearfix
        %h1.panel-header#proposal-phase Current Proposals
        .dropdown#proposals
          = link_to image_tag("dropdown.png", title:'proposal settings', alt:'proposal settings'), "#", class: "dropdown-toggle", 'data-toggle' => 'dropdown'
          %ul.dropdown-menu.pull-right
            %li
              %a{ href: '#', id: 'display-current' }
                = "Current proposals"
                = image_tag "tick.png", class: 'tick', id: 'tick-current'
            %li
              %a{ href: '#', id: 'display-closed' }
                = "Closed proposals"
                = image_tag "tick.png", class: 'tick hidden', id: 'tick-closed'
      - new_discussion = Discussion.new(group_id: @group.id)
      - if (can? :create, new_discussion)# && (can? :create, Motion.new(discussion_id: new_discussion.id))
        %ul.tool-bar-list.clearfix
          %li.tool-bar-item#proposal
            %a{ href: new_motion_group_path(@group) }
              Create new proposal
      %ul.selector-list
        #open
          - current_motions_exist = false
          - unless @motions_not_voted.empty?
            - current_motions_exist = true
            - @motions_not_voted.each do |motion|
              %li.selector-item= render '/motions/motion_preview', motion: motion, this_group: @group
          - unless @motions_voted.empty?
            - current_motions_exist = true
            - @motions_voted.each do |motion|
              %li.selector-item= render '/motions/motion_preview', motion: motion, this_group: @group
          - unless current_motions_exist
            %li.selector-item.empty-list-message= "There are no current proposals for this group"
        #closed.hidden
          #group-closed-motions.hidden
            %div{ class: "group_#{@group.id}" }
    .selector-panel
      .clearfix
        %h1.panel-header Discussions
      - if can? :create, Discussion.new(group_id: @group.id)
        %ul.tool-bar-list.clearfix
          %li.tool-bar-item#discussion
            %a{ href: new_discussion_path(discussion: { group_id: @group }) }
              Start new discussion
      #group-discussions.hidden
        %div{ class: "group_#{@group.id}" }
