=render '/groups/title', group: @group
.row
  %section.span4
    =render 'request_membership', group: @group
    =render 'description', group: @group
    =render 'subgroups', subgroups: @subgroups, group: @group if display_subgroups_block?(@group)
    =render 'membership_requests', group: @group
    =render 'members', group: @group

  %section.span8
    .selector-panel
      .clearfix
        %h1#proposal-phase Current Proposals
        .dropdown#proposals
          = link_to image_tag("dropdown.png", title:'proposal settings', alt:'proposal settings'), "#", class: "dropdown-toggle", 'data-toggle' => 'dropdown'
          %ul.dropdown-menu.pull-right
            %li
              %a{ href: '#', id: 'display-current' }
                = "Current proposals"
                = image_tag "tick.png", class: 'tick', id: 'tick-current'
            %li
              %a{ href: '#', id: 'display-closed' }
                = "Closed proposals"
                = image_tag "tick.png", class: 'tick hidden', id: 'tick-closed'
      %ul
        - new_discussion = Discussion.new(group_id: @group.id)
        - if (can? :create, new_discussion)# && (can? :create, Motion.new(discussion_id: new_discussion.id))
          %li.tool-bar.clearfix
            %a{ href: new_motion_group_path(@group), class: 'tool-bar-item tool-bar-item-proposal', id: 'new-proposal' }
              Create new proposal
        #open-motions-list
          - if @motions_not_voted
            - @motions_not_voted.each do |motion|
              %li.undecided= render '/motions/motion_preview', motion: motion, this_group: @group
            - motions_exist = true
          - if @motions_voted
            - @motions_voted.each do |motion|
              %li= render '/motions/motion_preview', motion: motion, this_group: @group
            - motions_exist = true
          - unless motions_exist
            %li.no-proposals= "There are no current proposals for this group"
        #closed-motions-list.hidden
          #group-closed-motions.hidden
            %div{ class: "group_#{@group.id}" }
          #group-closed-motions-loading
            %ul
              %li.loading Loading...
    .selector-panel
      .clearfix
        %h1 Discussions
      %ul
        - if can? :create, Discussion.new(group_id: @group.id)
          %li.tool-bar.clearfix
            %a{ href: new_discussion_path(discussion: { group_id: @group }), class: 'tool-bar-item', id: 'tool-bar-item-discussion' }
              Start new discussion
        #group-discussions.hidden
          %div{ class: "group_#{@group.id}" }
        #group-discussions-loading
          %ul
            %li.loading Loading...
