.group-page.mt-12
  %main.v-content
    .v-content__wrap
      %div
        .container.gruop-page.max-width-1024
          .v-responsive.v-image{:style => "border-radius: 8px;"}
            .v-responsive__sizer{:style => "padding-bottom: 20.4082%;"}
            .v-image__image.v-image__image--cover{:style => "background-image: url(#{@group.cover_photo.url(:large_desktop)}); background-position: center center;"}
          %h1.display-1.my-4
            %span.group-page__name.mr-4= @group.full_name
          .lmo-markdown-wrapper.body-2.text--primary.group-page__description
            = raw render_rich_text(@group.description, @group.description_format)
          %hr.mt-4.v-divider.theme--light{"aria-orientation" => "horizontal", :role => "separator"}/
          -# .v-tabs.v-tabs--centered.v-tabs--grow.theme--light
            .v-item-group.theme--light.v-slide-group.v-tabs-bar.v-tabs-bar--is-mobile.primary--text.transparent{:role => "tablist"}
              .v-slide-group__wrapper
                .v-slide-group__content.v-tabs-bar__content
                  %a.v-tab--active.v-tab.group-page-threads-tab{"aria-selected" => "true", :href => "/#{@group.handle}", :role => "tab", :tabindex => "0"}
                    %span= t(:'group_page.threads')
                  %a.v-tab.group-page-polls-tab{"aria-selected" => "false", :href => "/g/#{@group.key}/polls", :role => "tab", :tabindex => "0"}
                    %span= t(:'group_page.polls')
                  %a.v-tab.group-page-members-tab{"aria-selected" => "false", :href => "/g/#{@group.key}/members", :role => "tab", :tabindex => "0"}
                    %span= t(:'group_page.members')
                  %a.v-tab.group-page-files-tab{"aria-selected" => "false", :href => "/g/#{@group.key}/files", :role => "tab", :tabindex => "0"}
                    %span= t(:'group_page.files')
                  %a.v-tab.group-page-subgroups-tab{"aria-selected" => "false", :href => "/g/#{@group.key}/subgroups", :role => "tab", :tabindex => "0"}
                    %span= t(:'group_page.subgroups')
                  %a.v-tab.group-page-settings-tab{"aria-selected" => "false", :href => "/g/#{@group.key}/settings", :role => "tab", :tabindex => "0"}
                    %span= t(:'group_page.settings')
          .discussions-panel
            -# .layout.py-3.align-center.wrap
              %button.mr-2.text-lowercase.discussions-panel__filters.v-btn.v-btn--flat.v-btn--text.theme--light.v-size--default{:type => "button"}
                %span.v-btn__content
                  %span= t(:'discussions_panel.open')
                  %i.v-icon.notranslate.mdi.mdi-menu-down.theme--light{"aria-hidden" => "true"}
              %button.mr-2.text-lowercase.v-btn.v-btn--flat.v-btn--text.theme--light.v-size--default{:type => "button"}
                %span.v-btn__content
                  %span= t(:'loomio_tags.all_tags')
                  %i.v-icon.notranslate.mdi.mdi-menu-down.theme--light{"aria-hidden" => "true"}
              .v-input.mr-2.flex-grow-1.v-input--hide-details.theme--light.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--is-booted.v-text-field--enclosed.v-text-field--placeholder
                .v-input__control
                  .v-input__slot
                    .v-text-field__slot
                      %input#input-117{:placeholder => "Search threads in Dirty Dancing Shoes", :type => "text"}/
                    .v-input__append-inner
                      .v-input__icon.v-input__icon--
                        %i.v-icon.notranslate.v-icon--link.material-icons.theme--light{:role => "button"}
                    .v-input__append-inner
                      .v-input__icon.v-input__icon--append
                        %i.v-icon.notranslate.mdi.mdi-magnify.theme--light{"aria-hidden" => "true"}
              %button.discussions-panel__new-thread-button.v-btn.v-btn--contained.theme--light.v-size--default.primary{:type => "button"} New thread
            .discussions-panel.v-card.v-card--outlined.v-sheet.theme--light.mt-2
              %div
                .discussions-panel__content
                  .discussions-panel__list.thread-preview-collection__container
                    .v-list.thread-previews.v-sheet.v-sheet--tile.theme--light.v-list--two-line{:role => "list"}
                      - @group.discussions.where(private: false).order('last_activity_at desc').limit(50).each do |discussion|
                        %a.thread-preview.thread-preview__link.v-list-item.v-list-item--link.theme--light{:href => discussion_url(discussion), :role => "listitem", :tabindex => "0"}
                          .v-list-item__avatar
                            = render 'discussions/avatar', user: discussion.author
                          .v-list-item__content
                            .v-list-item__title{:style => "align-items: center;"}
                              %span.thread-preview__title= discussion.title
                            .v-list-item__subtitle
                              %span.thread-preview__items-count= t(:'thread_preview.replies_count').sub('{{count}}', discussion.items_count.to_s)
                              %span
                              /
                              %span
                                %span{"aria-hidden" => "true"}  ·
                              %span= t(:'common.active_time_ago').sub('{{time_ago}}', discussion.last_activity_at.to_formatted_s(:long_ordinal))
                /
