- set_title @group.name, ""
- if current_user && @group.parent.nil? && (not current_user.has_read_group_notice?)
  - message = "This is the Group page for \"#{@group.full_name}\". \n\n Here you can see the discussions for this group, "
  - message += "a description and a list of the group members. "
  - message += "You can start a new topic by clicking on the 'Start a discussion' button.\n\n"
  =render '/application/helper_info', message: message, path: dismiss_group_notice_for_user_path

%header
  = render '/application/loomio-process-flow'
  = render '/groups/title', group: @group
  = render '/application/button', :button_text => 'Start a discussion', :button_icon => 'topic',
    :args => {:href => "#new-discussion",  "data-toggle" => "modal", :class => 'btn btn-grey', :id => 'start-new-topic'}
.row
  %section.span8#discussion-list
    %ul.selector-list
      #discussions-with-motions
        - @discussions_with_current_motion_not_voted_on.each do |discussion|
          %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
        - @discussions_with_current_motion_voted_on.each do |discussion|
          %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
        .discussion-with-motion-divider.hidden
      - if @group.discussions.count == 0
        %li.empty-list-message There are no topics for this group
      - else
        #group-discussions.hidden
          %div{ class: "group_#{@group.id}" }

  %section.span4
    =render 'request_membership', group: @group
    .sub-panel#group-description-panel
      %h3= "Group description"
      =render '/application/description', model: @group, model_name: "group"
    =render 'subgroups', subgroups: @subgroups, group: @group if display_subgroups_block?(@group)
    =render '/application/see_closed_motions'
    =render 'membership_requests', group: @group
    =render 'members', group: @group
  =render '/application/closed_motions', user: nil, group: @group

- if current_user
  =render '/discussions/new_discussion', discussion: @discussion
