.process-flow= link_to image_tag("process-flow.png", title:'start a loomio', alt:'start a loomio'), "#"
=render '/groups/title', group: @group
.row
  %section.span8
    .selector-panel
      .clearfix
        %h2.panel-header Loomios with decisions that need your attention
      %ul.selector-list
        - current_motions_exist = false
        - @discussions_with_current_motion_not_voted_on.each do |discussion|
          %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
          - current_motions_exist = true
        - @discussions_with_current_motion_voted_on.each do |discussion|
          %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
          - current_motions_exist = true
        - unless current_motions_exist
          %li.selector-item.no-proposals= "There are no loomios with current decisions "
    .selector-panel
      .clearfix
        %h2.panel-header Latest loomios
      #group-discussions.hidden
        %div{ class: "group_#{@group.id}" }

  %section.span4
    =render 'request_membership', group: @group
    =render 'description', group: @group
    =render 'subgroups', subgroups: @subgroups, group: @group if display_subgroups_block?(@group)
    =render 'membership_requests', group: @group
    =render 'members', group: @group

  = render '/discussions/new_loomio'
