.process-flow= link_to image_tag("process-flow.png", title:'start a loomio', alt:'start a loomio'), "#", "data-toggle" => "modal", href: "#new-loomio"
- if current_user && @group.parent.nil? && (not current_user.has_read_group_notice?)
  - message = "This is the Group page for \"#{@group.full_name}\". \n\n Here you can see the discussions and proposals for this group, "
  - message += "a list of the group members, and the option to start a new discussion or proposal in this group. \n\n"
  =render '/application/helper_info', message: message, path: dismiss_group_notice_for_user_path

=render '/groups/title', group: @group
.row
  %section.span8
    .selector-panel
      .clearfix
        %h2.panel-header Your loomios
      %ul.selector-list
        - @discussions_with_current_motion_not_voted_on.each do |discussion|
          %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
        - @discussions_with_current_motion_voted_on.each do |discussion|
          %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
        #group-discussions.hidden
          %div{ class: "group_#{@group.id}" }

  %section.span4
    =render 'request_membership', group: @group
    =render 'description', group: @group
    =render 'subgroups', subgroups: @subgroups, group: @group if display_subgroups_block?(@group)
    =render 'membership_requests', group: @group
    =render 'members', group: @group

-#= render '/discussions/new_loomio'
#new-loomio.modal.hidden
  .modal-header
    %button.close{"data-dismiss" => "modal"}×
    %h2 Start a new loomio
    - @discussion = Discussion.new
  = form_for @discussion do |f|
    .modal-body
      - if params[:controller] == 'dashboard'
        = f.label :group_id, "Group"
        = f.text_field :group_id
      - else
        = f.hidden_field :group_id
      .control-group
        = f.label :title, "Title", {class: "control-label", for: "validate-presence"}
        = f.text_field :title, class: "validate-presence inputError limit-150"
        .presence-error-message Please fill in a title for this loomio
      .character-counter
      = f.label :description, "Description"
      = f.text_area :description
      = f.check_box :notify_group_upon_creation
      = f.label :notify_group_upon_creation,
        "Send email notification to group members that this loomio has been created",
        class: "checkbox-label"
    .modal-footer
      = f.submit "Start loomio", class: "btn btn-info run-validations"
      = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-small"
