#group
  %h2.headerspace.group-title
    = @group.name
    - if @group.can_be_edited_by? current_user
      = link_to "Edit group", edit_group_path(@group), class: "btn small"
  .row
    .span11
      %h4.padding
        Open motions
        #btn-create-motion
          - if @group.users_include? current_user
            = link_to "Create a motion",
            new_motion_path({group_id: @group.id}), :class => 'btn primary small'
      .motions-list
        = render "dashboard/open_motions", motions: @group.motions
      %h4 Closed motions
      .motions-list
        = render "dashboard/closed_motions", motions: @group.motions
    .span5
      =render 'users', group: @group
