- set_title @group.name, "", @group.parent
= render '/groups/title', group: @group
.clearfix
  - if can? :create, @discussion
    = icon_button(new_discussion_path(:group_id => @group.id), 'Start a discussion', '/assets/topic-18.png', 'start-new-discussion')
.row.main-content
  %section.span8
    %ul.selector-list.bordered
      #all-discussions-loading
        %li.selector-item.loading Loading...
      #discussions-with-motions
        - @discussions.with_current_motions_user_has_not_voted_on.each do |discussion|
          %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
        - @discussions.with_current_motions_user_has_voted_on.each do |discussion|
          %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
        .discussion-with-motion-divider.hidden
      #group-discussions.hidden
        %div{ class: "group_#{@group.id}" }

  %section.span4
    =render 'request_membership', group: @group
    .sub-panel#group-description-panel
      %h4= "Group description"
      =render 'groups/description', group: @group
    =render 'subgroups', subgroups: @subgroups, group: @group if display_subgroups_block?(@group)
    =render '/application/see_closed_motions'
    =render 'membership_requests', group: @group
    =render 'members', group: @group
    - if (@invited_users.count > 0) && (can? :add_members, @group)
      =render 'invited_users', group: @group
  =render '/application/closed_motions', user: nil, group: @group
