.group-title
  %h2
    %span
      = @group.fancy_link
      .dropdown
        - can_edit = can? :edit, @group
        - can_leave = @group.users_include? current_user
        - if can_edit || can_leave
          = link_to image_tag("settings.png", title:'settings', alt:'settings'), "#", class: "dropdown-toggle", 'data-toggle' => 'dropdown'
          %ul.dropdown-menu.pull-right
            - if can_edit
              %li= link_to "Edit group", edit_group_path(@group)
            - if can_leave
              - membership = current_user.group_membership(@group)
              - if can_edit
                %li.divider
              %li= link_to "Leave group", membership, method: :delete, confirm: "Are you sure you wish to leave #{@group.name}?"
.row
  %section.span4#content-left
    - if @group.description
      .content-block
        .content
          .group-description
            = @group.description
    - else
      - if can? :edit, @group
        .content-block
          .empty-placeholder
            = link_to "Add a group description", "#", id: 'add-description'
          #add-group-description
            = form_for @group do |f|
              = f.hidden_field :id
              = f.text_field :description, id: 'description-input';
              = f.submit "Save", class: 'btn btn-small btn-info', id: 'add-description-submit'
              = link_to "Cancel", "#", id: 'cancel-add-description'
    - if display_subgroups_block?(@group)
      =render 'subgroups', subgroups: @subgroups, group: @group

    =render 'users', group: @group

  %section.span8#content-main
    .content-block
      %h1 Discussions
      .content
        #discussions
          - if current_user && @group.users_include?(current_user)
            = link_to 'Start a new discussion', new_discussion_path(discussion: { group_id: @group }),
              class: "btn btn-info", id: "new-discussion"
          - if @group.beta_features? && current_user && @group.users_include?(current_user)
            =render 'discussions',  discussions_awaiting_vote: @discussions_awaiting_vote,
                                    discussions_active: @discussions_active,
                                    discussions_inactive: @discussions_inactive,
                                    group: @group
          - else
            - @group.all_discussions(current_user).each do |discussion|
              =render discussion, this_group: @group
