.group-page.mt-12
  %main.v-content
    .container.max-width-1024
      .v-responsive.v-image{:style => "border-radius: 8px;"}
        .v-responsive__sizer{:style => "padding-bottom: 20.4082%;"}
        .v-image__image.v-image__image--cover{:style => "background-image: url(#{@group.cover_photo.url(:largedesktop)}); background-position: center center;"}
      %h1.display-1.my-4
        %span.group-page__name.mr-4= @group.full_name
      %hr.mt-4.v-divider.theme--light{"aria-orientation" => "horizontal", :role => "separator"}/
      .v-card.v-card--outlined.v-sheet.theme--light.mt-2.px-3
        %div.py-3.px-3.stretch
          %div.pb-3
            %span.headline= t(:"group.stats.group_stats")
            %br
            %span.caption
              %span= render 'discussions/time_ago', time: @group.created_at
              %span -
              %span= render 'discussions/time_ago', time: Time.now
          %table{ style: "height: 100%; width: 100%" }
            %span= t(:"group.stats.general")
            %tr
              %th
                %p{ style: "text-align: center" }= t(:"group.stats.visits")
              %th
                %p{ style: "text-align: center" }= t(:"group.stats.members")
              %th
                %p{ style: "text-align: center" }= t(:"group.stats.subgroups")
              %th
                %p{ style: "text-align: center" }= t(:"group.stats.threads")
              %th
                %p{ style: "text-align: center" }= t(:"group.stats.polls")
              %th
                %p{ style: "text-align: center" }= t(:"group.stats.votes")
              %th
                %p{ style: "text-align: center" }= t(:"group.stats.comments")

            %tr
              %td
                %p{ style: "text-align: center"}= Queries::GroupStats.visits_count(@group)
              %td
                %p{ style: "text-align: center"}= @group.memberships_count
              %td
                %p{ style: "text-align: center"}= @group.subgroups.count
              %td
                %p{ style: "text-align: center"}= Queries::GroupStats.discussions_count(@group)
              %td
                %p{ style: "text-align: center"}= Queries::GroupStats.polls_count(@group)
              %td
                %p{ style: "text-align: center"}= Queries::GroupStats.stances_count(@group)
              %td
                %p{ style: "text-align: center"}= Queries::GroupStats.comments_count(@group)
          - if Queries::GroupStats.polls_count(@group) > 0
            - poll_types_count = Queries::GroupStats.poll_types_count(@group)
            %table{ style: "height: 100%; width: 100%"}
              %span= t(:"group.stats.polls")
              %tr
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.poll_types.proposal")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.poll_types.count")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.poll_types.choose")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.poll_types.allocate")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.poll_types.score")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.poll_types.rank")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.poll_types.time")
              %tr
                %th
                  %p{ style: "text-align: center" }= poll_types_count["proposal"] || 0
                %th
                  %p{ style: "text-align: center" }= poll_types_count["count"] || 0
                %th
                  %p{ style: "text-align: center" }= poll_types_count["poll"] || 0
                %th
                  %p{ style: "text-align: center" }= poll_types_count["dot_vote"] || 0
                %th
                  %p{ style: "text-align: center" }= poll_types_count["score"] || 0
                %th
                  %p{ style: "text-align: center" }= poll_types_count["ranked_choice"] || 0
                %th
                  %p{ style: "text-align: center" }= poll_types_count["meeting"] || 0

      - if @group.is_parent? && @group.subgroups.any?
        .v-card.v-card--outlined.v-sheet.theme--light.mt-2.px-3
          %div.py-3.px-3.stretch
            %div.pb-3
              %span.headline= t(:"group.stats.org_stats")
              %br
              %span.caption
                %span= render 'discussions/time_ago', time: @group.created_at
                %span -
                %span= render 'discussions/time_ago', time: Time.now
            %table{ style: "height: 100%; width: 100%" }
              %span= t(:"group.stats.general")
              %tr
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.visits")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.members")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.subgroups")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.threads")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.polls")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.votes")
                %th
                  %p{ style: "text-align: center" }= t(:"group.stats.comments")

              %tr
                %td
                  %p{ style: "text-align: center"}= Queries::GroupStats.org_visits_count(@group)
                %td
                  %p{ style: "text-align: center"}= @group.org_memberships_count
                %td
                  %p{ style: "text-align: center"}= @group.subgroups.count
                %td
                  %p{ style: "text-align: center"}= Queries::GroupStats.discussions_count(@group.id_and_subgroup_ids)
                %td
                  %p{ style: "text-align: center"}= Queries::GroupStats.polls_count(@group.id_and_subgroup_ids)
                %td
                  %p{ style: "text-align: center"}= Queries::GroupStats.stances_count(@group.id_and_subgroup_ids)
                %td
                  %p{ style: "text-align: center"}= Queries::GroupStats.comments_count(@group.id_and_subgroup_ids)

            - if Queries::GroupStats.polls_count(@group) > 0
              - org_poll_types_count = Queries::GroupStats.poll_types_count(@group.id_and_subgroup_ids)
              %table{ style: "height: 100%; width: 100%"}
                %span= t(:"group.stats.polls")
                %tr
                  %th
                    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.proposal")
                  %th
                    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.count")
                  %th
                    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.choose")
                  %th
                    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.allocate")
                  %th
                    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.score")
                  %th
                    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.rank")
                  %th
                    %p{ style: "text-align: center" }= t(:"group.stats.poll_types.time")
                %tr
                  %th
                    %p{ style: "text-align: center" }= org_poll_types_count["proposal"] || 0
                  %th
                    %p{ style: "text-align: center" }= org_poll_types_count["count"] || 0
                  %th
                    %p{ style: "text-align: center" }= org_poll_types_count["poll"] || 0
                  %th
                    %p{ style: "text-align: center" }= org_poll_types_count["dot_vote"] || 0
                  %th
                    %p{ style: "text-align: center" }= org_poll_types_count["score"] || 0
                  %th
                    %p{ style: "text-align: center" }= org_poll_types_count["ranked_choice"] || 0
                  %th
                    %p{ style: "text-align: center" }= org_poll_types_count["meeting"] || 0
