.row
  .span9
    - set_title @group.name, "", @group.parent
    = render '/groups/title', group: @group
.row
  .span5
    %h1= t("payment_details.select_your_plan")
    %p= t("payment_details.info")
.row
  .span9#payment-options
    = render 'payment_option', option_color: 'lt-blue', people: 10, dollars: 30
    = render 'payment_option', option_color: 'lime', people: 25, dollars: 50
    = render 'payment_option', option_color: 'yellow', people: 50, dollars: 100
    = render 'payment_option', option_color: 'orange', people: 100, dollars: 200
    #us-dollars= t("payment_details.prices_in_us_dollars")
    #footer
      = t('payment_details.footer')
      %div= t('payment_details.contact_us_html')
