.container.commercial-page{ :id => 'commercial' }
  .col-md-10
    %h1.buffer-bottom Loomio for organisations
    .row.wrapper
      .col-md-8
        .row
          .col-xs-3.text-center.buffer-bottom
            = image_tag 'people/ross.png', class: 'img-circle', style: 'max-width: 100%'
          .col-xs-9
            .quote.buffer-bottom
              %p "Loomio is a tool that gives everybody a voice. Decisions are being made by the people affected by them."

              %p - Ross Phillips, Pathways
        %ul.features.buffer-bottom
          %li $2/person/month
          %li 30-day free trial
          %li hassle-free cloud hosting
          %li custom privacy controls
          %li priority support
          %li discounts available for large groups
        .buttons.text-right.buffer-bottom.clearfix
          = f.submit 'Start your free trial', class: 'btn btn-success hero-text btn-lg col-xs-12', id: 'commercial-sign-up-submit'
        .footnote
          = "In the wrong place? If you're using Loomio for a community project, #{link_to 'click here', 'javascript:;', class: 'commercial-page-toggle', id: 'switch-to-non-commercial'}. If you have any questions, #{link_to 'get in touch', '/contact'}.".html_safe
