.container.commercial-page{ :id => 'commercial' }
  .col-xs-10
    %h1.buffer-bottom Sign up for your free Loomio trial
    .wrapper
      .col-xs-2.text-center.buffer-bottom
        = image_tag 'people/ross.png', class: 'img-circle'
      .col-xs-8
        .quote.buffer-bottom
          %p "Loomio is a tool that gives everybody a voice. Decisions are being made by the people affected by them."
          %p - Ross Phillips, Pathways
        %ul.features.buffer-bottom
          %li $2/person/month
          %li 30-day free trial
          %li hassle-free cloud hosting
          %li custom privacy controls
          %li priority support
        .buttons.text-right.buffer-bottom.clearfix
          = f.submit 'Start your free trial', class: 'btn btn-success hero-text btn-lg col-xs-12', id: 'sign-up-submit'
        .footnote
          = "In the wrong place? If you're using Loomio for a community project, #{link_to 'Click Here', 'javascript:;', class: 'commercial-page-toggle'}. If you have any questions, #{link_to 'get in touch', '/contact'}.".html_safe
