= simple_form_for @group_request do |f|
  = f.input :admin_name
  = f.input :admin_email
  = f.input :name, placeholder: placeholder
  = f.input :is_commercial, as: :select, collection: [[t(:'group_request.commercial_use_option'), true],[t(:'group_request.non_commercial_use_option'), false]], prompt: t(:'common.select')
  = f.input :description, as: :text, required: false
  = f.input :payment_plan, as: :hidden
  = f.submit submit_label, class: 'btn btn-info btn-lg', :data => { :disable_with => submit_label }, id: 'sign-up-submit'
