= simple_form_for @group_request do |f|
  = f.input :admin_name
  = f.input :admin_email
  = f.input :name
  - if hosted_by_loomio?
    = f.input :is_commercial, as: :select, collection: [[t(:'group_request.commercial_use_option'), true],[t(:'group_request.non_commercial_use_option'), false]], prompt: t(:'common.select')

  - else
    = f.input :is_commercial, as: :hidden, input_html: { value: false }
  = f.input :description, as: :text, required: false
  = f.input :payment_plan, as: :hidden

  = f.submit t(:"common.start_group"), class: 'btn btn-info', :data => { :disable_with => t(:"common.start_group") }, id: 'sign-up-submit'