.row
  .span6.offset2
    = simple_form_for @group_request, :validate => true do |f|
      %h1 Get your group on Loomio
      We're in 'private beta' which means we're manually approving each group that asks to join Loomio. This means there might be a delay in getting you on board but you will hear from us within 48 hours.
      %h2 Tell us about yourself
      = f.input :admin_name, label: "What is your name?"
      = f.input :admin_email, label: "What is your email address?"
      = f.input "country_name"
      %h2 Tell us about your group
      = f.input :name, label: "What is the name of your group/organisation?"
      = f.input :sectors, label: false, as: :check_boxes, collection: {'Community' => 'community', 'Business' => 'business', 'Government' => 'government', 'Other:' => 'other'}, :validate => { :presence => true }, label: "What type of group/organisation is it?"
      = f.input :other_sector, label: false
      = f.input :description, label: "Why do you want to use Loomio?", placeholder: "Tell us a bit about your group, and why you'd like to use Loomio"
      = f.input :expected_size, label: "How many people to you expect to be in your loomio group?"

      %h1 We're trying something new
      %p Balancing two principles: money shouldn't be a barrier to access; too achieve maximum  positive social impact on an international scale, Loomio need to be functionally viable.
      %h2 How would you like to contribute?
      = f.input :cannot_contribute, collection: {"My group/organisation can pay a subscription for Loomio" => false, "My group/organisation doesn't have the budget to pay for Loomio" => true}, as: :radio_buttons, label: ""

      = f.submit 'Submit Request', :class => "btn btn-large btn-info btn-block", data: {disable_with: "Requesting new group"}, id: "submit-group-request"

      = f.input :robot_trap, label: false, :placeholder => "Leave this field blank if you're a human", :input_html => { :class => "robot_trap" }
