.row
  .span6.offset2
    = simple_form_for @group_request, :validate => true do |f|
      %h1 Get your group on Loomio
      Loomio is a young project under rapid development - expect exciting changes. At the moment we are accepting applications manually. Tell us about your group and we’ll bring you on as soon as we can. 

      %h2 Tell us about your group
      = f.input :name, label: "What is the name of your group/organisation?"
      = f.input :why_do_you_want, label: "Why does your group want to use Loomio?"
      = f.input :group_core_purpose, label: "What is the core purpose of your group?"
      = f.input :sectors, label: false, as: :check_boxes, 
                collection: ['Informal network', 
                             'Social movement',
                             'Incorporated society',
                             'Company',
                             'Trust',
                             'Government agency', 
                             'Other'],
                 :validate => { :presence => true }, 
                 label: "What is the structure of your group/organisation?"

      = f.input :expected_size, label: "How many people to you expect to be in your loomio group?"

      %h2 Tell us about yourself
      %p You’ll be the coordinator for your group while you’re getting set up.
      = f.input :admin_name, label: "What is your name?"
      = f.input :admin_email, label: "What is your email address?"
      = f.input "country_name", label: 'What country do you live in?'

      %h2 Payment - we’re trying something new...  
      %p 
        The Loomio Cooperative is motivated by a whole new approach to participation in decision-making, making everyday democracy accessible to as many people as possible. To achieve this vision we’re developing an ethical payment model to resource the software development.

      = f.input :cannot_contribute, 
        collection: {"<strong>Subscription:</strong><br/> Established groups and organisations pay a regular monthly subscription".html_safe => false, 
                     "<strong>Pay what you can:</strong><br/> If your group doesn’t have a formal budget, your group members will be invited to make a voluntary contribution.".html_safe => true}, 
                as: :radio_buttons, label: ""

      %p
        It would really useful for us if you could indicate which of these payment options best fits your group. This isn’t a commitment to pay right now, just information to help us design our model.
        
        

      = f.submit 'Submit Request', :class => "btn btn-large btn-info btn-block", data: {disable_with: "Requesting new group"}, id: "submit-group-request"

      = f.input :robot_trap, label: false, :placeholder => "Leave this field blank if you're a human", :input_html => { :class => "robot_trap" }
