= simple_form_for(@group_request, :html => { :class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :expected_size
  = f.input :description
  = f.input :admin_email
  .controls
    = f.button :submit, :class => "btn-primary", id: "submit-group-request"
