.row.deactivation-text
  .span9.offset1
    %h1= t(:'user_profile.deactivation.info_title')
    %ul#info
      %li= t(:'user_profile.deactivation.memberships')
      %li= t(:'user_profile.deactivation.group_contributions')
      %li= t(:'user_profile.deactivation.emails')
      %li= t(:'user_profile.reactivation_html', link: contact_path)

    %p.profile-link
      = link_to t(:'user_profile.back'), profile_path, class: 'btn btn-primary'