.row.deactivation-text
  .span9.offset1
    %h1= t(:'user_profile.deactivation.title')
    %p= t(:'user_profile.deactivation.only_coordinator')
    %ul
    - @adminable_groups.each do |g|
      %li
        %p= link_to g.name, group_path(g)
    %p= t(:'user_profile.deactivation.instructions')
    %p.profile-link
      = link_to t(:'user_profile.back'), profile_path, class: 'btn btn-primary'
