%h1 Create an account
= form_for @user do |f|
  = f.label :name, "Full name"
  = f.text_field :name, id: 'name'
  = f.label :email
  = f.text_field :email, id: 'email'
  = f.label :password
  = f.text_field :password, id: 'password'
  = f.submit "Send an invitation", class: "btn btn-info", id: 'submit'
%br/