.page-container
  =image_tag("loomio-orange.png")
  .row
    .span8.offset2
      %h2= t("new_user_form.create_an_account")
      %p &nbsp;
  .row
    .span4.offset2
      = simple_form_for @user, :validate => true do |f|
        = f.input :name
        = f.input :email
        = f.input :password
        = f.submit class: "btn btn-info btn-large", id: 'submit', :data => {:disable_with => t("helpers.submit.user.create")}
    .span2.offset1
      =image_tag("mascot-medium-lefthand.gif")