%h1= t :'profile_form.profile'
.row
  .span4
    = link_to t(:'profile_form.view'), user_path(current_user), id: 'edit-profile'
    = simple_form_for @user do |f|
      = f.input :name
      = f.input :email
      = f.input :selected_locale, :collection => LocalesHelper::LANGUAGES, include_blank: false, label: t(:'simple_form.labels.user.language_preference')
      = f.submit :class => "btn btn-info btn-large", id: "profile-submit", :data => {:disable_with => t("helpers.submit.user.update")}
.row
  .span4
    = link_to t(:'user_profile.change_password'), change_password_path, id: 'change-password'

.row
  .span6
    %h2= t("profile_form.picture")
.row
  .span3
    = render 'avatar', user: @user, size: "large", id: 'avatar-preview'
  .span3
    %ul.user-image-options
      - if @user.has_uploaded_image?
        = render 'avatar_setting_option', user: @user, kind: 'uploaded'
      - if @user.has_gravatar?
        = render 'avatar_setting_option', user: @user, kind: 'gravatar'
      = render 'avatar_setting_option', user: @user, kind: 'initials'
      %li.image-setting
        = link_to t("profile_form.upload_new_image"), '#', class: 'btn btn-grey', id: 'upload-new-image'
        = form_for [@user], :html => { :multipart => true, :id => 'upload-form' }, :url => upload_new_avatar_user_path(@user), :method => 'post' do
          = file_field_tag :uploaded_avatar, id: 'uploaded-avatar'
          = hidden_field_tag("user[avatar_kind]", "", :id => "user-avatar-kind")
          = hidden_field_tag :max_file_size, User::MAX_AVATAR_IMAGE_SIZE_CONST, id: 'max-file-size'

.row.deactivate-account
  .span3
    - if can? :deactivate, @user
      = link_to t(:'user_profile.deactivate_account'),
        user_path(@user),
        method: :post,
        class: 'btn btn-danger',
        id: 'deactivate-user-account',
        data: {confirm: t(:'user_profile.confirm_account_deactivation')}
    - else
      = link_to t(:'user_profile.deactivate_account'), deactivation_instructions_path, class: 'btn btn-danger', id: "deactivate-user-account"
.row
  .span3
    = link_to t(:'user_profile.about_deactivation'), about_deactivation_path, class: 'deactivation-info'

