%h1= t :'profile_form.profile'
.row
  .col-md-4
    %p= link_to t(:'profile_form.view'), user_path(current_user), id: 'edit-profile'
    = simple_form_for @user do |f|
      = f.input :name
      = f.input :username
      = f.input :email
      = f.input :selected_locale, :collection => language_options, disabled: 'disabled_option', include_blank: false, label: t(:'simple_form.labels.user.language_preference')
      = f.submit :class => "btn btn-primary", id: "profile-submit", :data => {:disable_with => t("helpers.submit.user.update")}
    %p= link_to t(:'user_profile.change_password'), change_password_path, id: 'change-password'
.row
  .col-md-6
    %h2= t("profile_form.picture")
.row
  .col-md-3
    %ul.user-image-options
      = render 'avatar_setting_option', user: @user, kind: 'initials'
      - if @user.has_gravatar?
        = render 'avatar_setting_option', user: @user, kind: 'gravatar'
      - if @user.has_uploaded_image?
        = render 'avatar_setting_option', user: @user, kind: 'uploaded'
      %li.image-setting
        = link_to t("profile_form.upload_new_image"), '#', class: 'btn btn-primary', id: 'upload-new-image'
        = form_for [@user], :html => { :multipart => true, :id => 'upload-form' }, :url => upload_new_avatar_user_path(@user), :method => 'post' do
          = file_field_tag :uploaded_avatar, id: 'uploaded-avatar'
          = hidden_field_tag("user[avatar_kind]", "", :id => "user-avatar-kind")
          = hidden_field_tag :max_file_size, User::MAX_AVATAR_IMAGE_SIZE_CONST, id: 'max-file-size'
  .col-md-3
    = render 'avatar', user: @user, size: "large", id: 'avatar-preview'

.row.deactivate-account
  .col-md-6
    %h2= t(:'user_profile.deactivate_account')
    - if can? :deactivate, @user
      = link_to t(:'user_profile.deactivate_account'), '#deactivate-account-modal', "data-toggle" => "modal", id: 'deactivate-user-account', class: 'btn btn-danger'
    - else
      = link_to t(:'user_profile.deactivate_account'), deactivation_instructions_path, class: 'btn btn-default', id: "deactivate-user-account"
.row
  .col-md-3
    = link_to t(:'user_profile.about_deactivation'), about_deactivation_path, class: 'deactivation-info'


#deactivate-account-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"}×
        %h3= t(:'user_profile.deactivation.query')
      = simple_form_for @user_deactivation_response do |f|
        .modal-body
          = f.input :body, label: false
        .modal-footer
          = submit_tag "Deactivate Account", class: "btn btn-danger", id: 'account-deactivation-submit', :data => { :disable_with => "Deactivate account" }
          = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-default"
