= form_for [@user], :html => { :multipart => true } do |f|
  = f.label :name
  = f.text_field :name
  -#%h3 User picture
  .row#user-image-area
    .span2
      .large-user-image.image-canvas#user-image-preview
        - if @user.avatar_url.nil?
          %span.large-user-initials.initials-decoration= @user.initials
        - else
          = image_tag @user.avatar_url("large")
    .span3
      #user-image-options
        %h3 Change user picture
        %ul
          - if @user.uploaded_avatar.url(:medium) != '/uploaded_avatars/medium/missing.png'
            %li.user-image-option.option-uploaded
              .medium-user-image.image-canvas
                = image_tag @user.uploaded_avatar.url(:medium)
              %a{ id: 'use_uploaded' } Use Uploaded Image
          - if image_alt(@user.gravatar_url(:size => User::MEDIUM_PIXEL_CONST)) != '810bec5b37cf73fa053a2b5ef11605b7'
            %li.user-image-option.option-gravatar
              .medium-user-image.image-canvas#user-gravatar
                = image_tag @user.gravatar_url(:size => User::MEDIUM_PIXEL_CONST)
              =link_to('Use Gravatar', '#', id: 'use_gravatar')
          %li.user-image-option.option-initials
            .medium-user-image.image-canvas
              %span.medium-user-initials.initials-decoration= @user.initials
            =link_to('Use Initials', "#", id: 'use_initials')
          %li.user-image-option.option-upload
            = f.file_field :uploaded_avatar
            .medium-user-image.image-canvas#upload-image
            = link_to "Upload a new image", "#", :id => "upload_image"
  = hidden_field_tag("user[avatar_kind]", "", :id => "user_avatar_kind")
  = f.submit "Update Settings", class: "btn btn-info"
