= form_for [@user], :html => { :multipart => true } do |f|
  = f.label :name
  = f.text_field :name
  -#%h3 User picture
  .row
    .span2#user-image-area
      .large-user-image.image-canvas
        %span{class: 'large-user-initials initials-decoration ' + get_hidden_class_for("", @user.avatar_kind), id: 'user-initials-preview'}
          = @user.initials
        %span{class: get_hidden_class_for('gravatar', @user.avatar_kind), id: 'user-gravatar-preview'}
          = image_tag @user.gravatar_url(:size => User::LARGE_PIXEL_CONST)
        - if @user.uploaded_avatar.url(:medium) != '/uploaded_avatars/medium/missing.png'
          %span{class: get_hidden_class_for('uploaded', @user.avatar_kind), id: 'user-uploaded-preview'}
            = image_tag @user.uploaded_avatar.url(:large)

    .span3
      #user-image-options
        %h3 Change user picture
        %ul
          - if @user.uploaded_avatar.url(:medium) != '/uploaded_avatars/medium/missing.png'
            %li.user-image-option.option-uploaded.clearfix
              %a{ id: 'use_uploaded'}
                %span
                  .medium-user-image.image-canvas#user-uploaded-image
                    = image_tag @user.uploaded_avatar.url(:medium)
                  .image-option-label= "Use uploaded image"
          - if image_alt(@user.gravatar_url(:size => User::MEDIUM_PIXEL_CONST)) != '810bec5b37cf73fa053a2b5ef11605b7'
            %li.user-image-option.option-gravatar.clearfix
              %a{ id: 'use_gravatar'}
                %span
                  .medium-user-image.image-canvas
                    = image_tag @user.gravatar_url(:size => User::MEDIUM_PIXEL_CONST)
                  .image-option-label= "Use gravatar"
          %li.user-image-option.option-initials
            %a{ id: 'use_initials'}
              %span
                .medium-user-image.image-canvas
                  .medium-user-initials.initials-decoration= @user.initials
                .image-option-label= "Use initials"
          %li.user-image-option.option-upload
            = link_to "Upload a new image", '#', :class => 'btn', :id => "upload_image"
            = f.file_field :uploaded_avatar
  = hidden_field_tag("user[avatar_kind]", "", :id => "user_avatar_kind")
  = f.submit "Update Settings", class: "btn btn-info"
