%h2 Change your password
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  %h5
    New password
    .left-format= f.password_field :password
    Confirm new password
    .left-format= f.password_field :password_confirmation
  .standard-button= f.submit "Change my password", class: "btn primary"
= render :partial => "devise/shared/links"
