.container
  %section#sign-in
    .inner-container
      .row
        .col-md-6
          %h2= t :forgot_your_password
          = t :'password_reset.email_guidelines_html'
      .row
        .col-md-4
          = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
            - if resource.errors.any?
              %p.error= t :invalid_email
            .padding
              = f.label :email, t(:email)
              = f.email_field :email, class: "form-control"
            = f.submit t(:send_password_reset), class: "btn btn-primary"
      .row
        .col-md-6
          %p=t :'password_reset.reset_email_timeframe'
