%h3= t('poll_mailer.common.results')
%table{style: "width: 100%"}
  - @info.poll.poll_options.each_with_index do |poll_option, index|
    %tr
      %td #{@info.poll.stance_counts[index]} - #{format_poll_option_name(poll_option, @info.time_zone)}
    %tr
      %td
        %table{style: "width: #{percentage_for(@info.poll, index)}%"}
          %tr
            %td{height: '48px', style: "background-color: #{Poll::COLORS.dig(@info.poll_type, index)}"}
