.poll-mailer__results-chart
  - if poll.show_results?
    %h3= t('poll_mailer.common.results')
    = render "poll_mailer/#{poll.poll_type}/chart", poll: poll, recipient: recipient
  - else
    %h3= t('poll_common_action_panel.results_hidden_until_closed', poll_type: t("poll_types.#{poll.poll_type}"))
