.poll-mailer-score-responses.poll-mailer-common-responses
  %h3= t(:"poll_mailer.common.responses")
  - if poll.anonymous?
    %p= t(:"poll_common_action_panel.anonymous")
  - if poll.show_results?
    = render "poll_mailer/#{poll.poll_type}/responses", poll: poll, recipient: recipient
  - else
    %p= t(:"poll_common_action_panel.hide_results_until_closed", poll_type: t("poll_types.#{poll.poll_type}"))
