.poll-mailer__vote
  - recipient_stance = recipient_stance(recipient, poll)
  - if recipient_stance.cast_at
    %h3= t(:"poll_mailer.common.your_response")
  - else
    %h3= t(:"poll_mailer.common.please_respond")

  - if recipient_stance.cast_at
    = render 'poll_mailer/common/stance', stance: recipient_stance, poll: poll, recipient: recipient
  - else
    %p= t(:"poll_mailer.common.time_zone", zone: formatted_time_zone(recipient, poll)) if poll.poll_type == 'meeting'
    %table{class: "poll-mailer-#{poll.poll_type}__poll-options"}
      - poll.ordered_poll_options.each do |option|
        %tr.poll-mailer__poll-option= render 'poll_mailer/common/poll_option', poll: poll, recipient: recipient, poll_option: option, link: true
