.poll-mailer-common-summary

  %h1= link_to @info.poll.title, @info.links[:target]
  %p

  - if @info.outcome
    %h2= t(:"poll_common.outcome")
    %p= @info.outcome.statement

    %h2= t(:"poll_types.#{@info.poll_type}")

  %p= @info.poll.details

  %p
    - if @info.poll.active?
      = t(:closing)
      = time_formatted_relative_to_age(@info.poll.closing_at)
    - else
      = t(:closed)
      = time_formatted_relative_to_age(@info.poll.closed_at)
