- if @info.recipient_stance
  %h3= t(:"poll_mailer.common.your_response")
  = render 'poll_mailer/common/your_response'
- else
  %h3= t(:"poll_mailer.common.please_respond")
  = t(:"poll_mailer.common.time_zone", zone: @info.formatted_time_zone) if @info.poll_type == 'meeting'
  %table
    - @info.poll.poll_options.each do |option|
      %tr
        %td= render 'poll_mailer/common/chip', color: option.color
        %td= link_to format_poll_option_name(option, @info.time_zone), poll_url(@info.poll, poll_option_id: option.id)
