.proposal-card{ng-show: 'proposal'}
  %h2 {{proposal.name}}
  .proposal-card-started-by
    %span{translate: 'proposal_card.started_by', translate-value-name: '{{proposal.authorName()}}'}
    %span.time-ago>
      {{discussion.createdAt | timeFromNowInWords}}

  .proposal-card-description{btf-markdown: 'proposal.description' }

  .proposal-card-closing-at
    %i.fa.fa-clock-o
    %span.bump Closes {{proposal.closingAt | exactDateWithTime }}

  .pie-graph-container
    -#{{ pieChartData}}
    -#%canvas.pie-graph{tc-chartjs: '', chart-type: 'pie', chart-data:'pieChartData'}
    -#.col-xs-6.test-me
    -#.col-xs-5.proposal-participation
      -#%a{href: '#'} {{proposal.votesCount}} of X members have participated
  .votes
    -#{{ proposal.votesSortedByCreatedAt() }}
    -#{{currentUser}}
    {{lastVoteByCurrentUser()}}
    -#.vote{ng-repeat: 'vote in proposal.votes()'}
      -#{{vote.author().name}}

      -#{{vote.position}}

      -#{{vote.statement}}

  .proposal-vote-buttons{ng-hide: 'currentUserHasVoted()'}
    %h3{translate: 'proposal_card.have_your_say'}
    .proposal-card-vote-btn.proposal-card-vote-yes-btn{ng-click: 'castVote("yes")'}
    .proposal-card-vote-btn.proposal-card-vote-abstain-btn{ng-click: 'castVote("abstain")'}
    .proposal-card-vote-btn.proposal-card-vote-no-btn{ng-click: 'castVote("no")'}
    .proposal-card-vote-btn.proposal-card-vote-block-btn{ng-click: 'castVote("block")'}

  .proposal-your-position{ng-show: 'currentUserHasVoted()'}
    %h3{translate: 'proposal_card.your_position'}

    %a.edit-position.pull-right
      %span.bump{translate: 'common.action.edit'}
      %i.fa.fa-pencil
    .current-position
      -#.pull-left.vote-icon{ng_class: 'currentUserVote().position'}
      %strong.author-name {{currentUserVote().authorName()}}
      %span.author-statement : {{ currentUserVote().statement }}


  .card-meta-header
    %h3 Positions
  .current-votes{ng_repeat: 'vote in proposal.votes()'}
    .vote.thread-item-minor{ng_hide: 'vote == currentUserVote()'}
      .card-left
        .thread-item-icon
          .thread-icon-img{ng_class: 'vote.position'}
      .card-right.thread-item-author
        %span.author-name {{vote.author_name()}} 
        %span.author-statement {{ vote.statement_or_position() }}

  .l-row.statement-form{ng_show: 'voteFormIsExpanded'}
    %form{ng_submit: 'submitVote()'}
      %fieldset{ng_disable: 'voteFormIsDisabled'}
        .form-group
          %textarea{ng_model: 'newVote.statement'}
          %button.btn.btn-primary{type: 'submit'}
            Vote
