- comment = item.eventable
%table
  %tr
    %td.icon
      = render "avatar", user: comment.author
    %td.content
      - if comment.discarded?
        = t(:'thread_item.removed')
      - else
        %b= comment.author.name_or_username
        %p= formatted_text(comment, :body)
        = render "event_mailer/common/attachments", resource: comment if comment.documents.any?
