- stance = item.eventable
- participant = stance.participant

%table
  %tr
    %td.icon
      = link_to user_url(participant) do
        %div{class: "medium-user-avatar #{participant.avatar_kind}-user-avatar avatar-canvas"}
          = render "avatar", user: participant
    %td= participant.name
    %td= render "event_mailer/poll/stance_choices", stance: stance, poll: stance.poll

%p= render_rich_text(stance.reason, stance.reason_format)
