- if motion.closed? || motion.user_has_voted?(current_user)
  - class_name = "bordered closed"
- else
  - class_name = "bordered voting"
- if motion.blocked?
  - class_name += " blocked"
.span{class: class_name, :id =>"motion_#{motion.id}"}
  =render partial: "motions/motion_list", locals: {motion: motion}
  .row{id: "expand_#{motion.id}"}
    .expanded-area
      - unless motion.closed?
        .action-links
          =link_to 'discuss', motion.discussion_url, class: 'no-toggle'
          |
          =link_to 'view', motion, class: 'no-toggle'
          - if motion.user_has_voted?(current_user)
            |
            =link_to 'change vote', edit_motion_vote_path(motion, current_user.motion_vote(motion)), class: 'no-toggle'
      .dashboard-motion-description
        = simple_format h(motion.description)
      .row
        .span4
          .pie{ :id => "vgraph_#{motion.id}" }
          .graph_tooltip{ :id => "tooltip_#{motion.id}" }
          .jqplot-table-legend{ :style => 'grey' }
      %h7
        #dash_percentage_to_vote
          - group_size = motion.group_count
          - still_to_vote = motion.no_vote_count
          - percent_voted = (100-(still_to_vote/group_size.to_f * 100)).to_i
          - if motion.closed?
            = "#{percent_voted}% of members voted on this motion (#{group_size - still_to_vote}/#{group_size})"
          - else
            = "#{percent_voted}% of members have voted on this motion (#{group_size - still_to_vote}/#{group_size})"
