- if @motions
  - if @motions_voting.size > 0
    %h3 Open
    .row
      .motions-list.span13
        - @motions.voting.each do |motion|
          - class_name = "bordered "
          - if motion.user_has_voted?(current_user)
            - class_name += "greyed"
          .row
            .span13{class: class_name, :id =>"motion_#{motion.id}"}
              =render partial: "motions/motion_list", locals: {motion: motion}
              .row{id: "expand_#{motion.id}"}
                .span5.offset1
                  .action-links
                    =link_to 'discuss', motion.discussion_url, class: 'no-toggle'
                    |
                    =link_to 'view', motion, class: 'no-toggle'
                    - if motion.user_has_voted?(current_user)
                      |
                      =link_to 'change vote', edit_motion_vote_path(motion, current_user.motion_vote(motion)), class: 'no-toggle'
                  .dashboard-motion-description
                    =motion.description
                .span7
                  .pie{ :id => "vgraph_#{motion.id}" }
                  .graph_tooltip{ :id => "tooltip_#{motion.id}" }
                  .jqplot-table-legend{ :style => 'grey' }
                    -#- if motion.user_has_voted?(current_user)
                    -#.jqplot-table-legend.greyed
                    -#- else
                    -#.jqplot-table-legend.whited
                - unless motion.user_has_voted?(current_user)
                  .row
                    .span3.offset7
                      #vote-buttons
                        =link_to image_tag("hand-yes.png", height:'20', width:'20', title:'yes', alt:'yes image'), '#',
                          class: 'sml-vote-btn no-toggle', onclick: "$('#vote_position_#{motion.id}').val('yes'); $('#new_vote_#{motion.id}').submit();"
                        =link_to image_tag("hand-abstain.png", height:'20', width:'20', title:'abstain', alt:'abstain image'), '#',
                          class: 'sml-vote-btn no-toggle', onclick: "$('#vote_position_#{motion.id}').val('abstain'); $('#new_vote_#{motion.id}').submit();"
                        =link_to image_tag("hand-no.png", height:'20', width:'20', title:'no', alt:'no image'), '#',
                          class: 'sml-vote-btn no-toggle', onclick: "$('#vote_position_#{motion.id}').val('no'); $('#new_vote_#{motion.id}').submit();"
                        =link_to image_tag("hand-block.png", height:'20', width:'20',title:'block', alt:'block image'), '#',
                          class: 'sml-vote-btn no-toggle', onclick: "$('#vote_position_#{motion.id}').val('block'); $('#new_vote_#{motion.id}').submit();"
                    .span3
                      #dash-vote-form
                        =semantic_form_for([motion, Vote.new], html:{class: 'form-stacked no-toggle', id: "new_vote_#{motion.id}"}) do |f|
                          =f.input :statement, label: false, placeholder: "Reason for your decision"
                          =f.input :position, as: :hidden, input_html: {id: "vote_position_#{motion.id}"}
    #closed-motion-list
      %h3 Closed
      .row
        .motions-list.span13
          - @motions.closed.each do |motion|
            - class_name = "bordered greyed"
            .row
              .span13{class: class_name, :id =>"motion_#{motion.id}"}
                =render partial: "motions/motion_list", locals: {motion: motion}
                .row{id: "expand_#{motion.id}"}
                  .span6.offset1
                    .dashboard-motion-description
                      =motion.description
                  .span6
                    .pie{ :id => "vgraph_#{motion.id}" }
                    .graph_tooltip{ :id => "tooltip_#{motion.id}" }
  - else
    =link_to 'Create a group', new_group_path
    or wait until you are accepted into one.
    or if there are public groups, then wooooooooo.
