%section#motion_panels
  -if @motions
    -if @motions_voting.size > 0
      %h3 Vote required
      .row
        -@motions_voting.each_with_index do |m, index|
          -if index % 4 == 0 && index != 0
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: 'last'}
          -else
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: ''}
    -if @motions_discussing.size > 0
      %h3 Dicussing
      .row
        -@motions_discussing.each_with_index do |m, index|
          -if index % 4 == 0  && index != 0
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: 'last'}
          -else
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: ''}
    -if @motions_closed.size > 0
      %h3 Closed
      .row
        -@motions_closed.each_with_index do |m, index|
          -if index % 4 == 0  && index != 0
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: 'last'}
          -else
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: ''}
  -else
    =link_to 'Create a group', new_group_path 
    or wait until you are accepted into one.
    or if there are public groups, then wooooooooo.


:coffeescript
  jQuery ->
    $('html, body').bind 'click', ()->
      $('.togglable').hide()
    $('.stop_prop').click (e)->
      e.stopPropagation()
