.row
  .col-md-6
    %h1= form_title
    = simple_form_for membership_request, url: group_membership_requests_path(group) do |f|
      - if current_user
        = f.input :name, placeholder: membership_request.name, disabled: true, label: t(:name)
        = f.input :email, placeholder: membership_request.email, disabled: true, label: t(:'common.email')
      - else
        = f.input :name, label: t(:name)
        = f.input :email, label: t(:'common.email')
      = f.input :introduction, placeholder: t(:'simple_form.placeholders.membership_request.introduction', group_name: membership_request.group_name)
      = f.submit t(:ask_to_join_group), class: "btn btn-primary btn-lg", data: { disable_with: t(:ask_to_join_group) }, id: 'submit-membership-request'
