!!!
%html{locale: current_locale}
  %head
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title Loomio | Collaborative Decision-Making
    -#%link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700", rel: "stylesheet", type: "text/css"}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag  "marketing"
    = csrf_meta_tags
    = render 'social_metadata'

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
    = render 'flash_messages'

    .container-fluid
      %nav.navbar.navbar-default
        .content
          .navbar-header
            = link_to image_tag("logo-orange.png"), root_path, class: 'navbar-brand', alt: 'Loomio'
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: '#'}
                %i.fa.fa-github
            %li
              %a{href: '#'}
                %i.fa.fa-twitter
            %li
              %a{href: '#'}
                %i.fa.fa-facebook
            %li= link_to t(:'frontpage.link.blog'), blog_path, class: 'blog'
            %li= link_to t(:'frontpage.link.contact'), contact_path, class: 'contact'
            %li= link_to t(:'frontpage.link.log_in'), new_user_session_path, class: 'btn btn-orange'

      .row.hero
        .content-container
          .content
            =image_tag 'globe.png', class: 'image'
            %h1.header= t(:'frontpage.hero.head_html')
            %h2.subhead= t(:'frontpage.hero.subhead')
            %p.hero-text.description= t(:'frontpage.hero.desc')
            %a{href: '', class: 'btn btn-teal btn-lg hero-text js-not-yet-button'}
              = t(:'frontpage.link.crowdfunding')
              %i.fa.fa-angle-right


      .row.product
        .content-container
          .row
            .content.header
              %h1= t(:'frontpage.product.header_html')
          .row.decision-steps
            .content
              #threads.col-xs-4.step
                .step-img
                  = image_tag 'threads.png', {class: 'top', style: 'opacity:0'}
                %h2.active= t(:'frontpage.product.step1.header')
                %p.active= t(:'frontpage.product.step1.desc')
              #weaving.col-xs-4.step
                .step-img.hide-background
                  = image_tag 'weaving.png', {class: 'top'}
                %h2= t(:'frontpage.product.step2.header')
                %p= t(:'frontpage.product.step2.desc')
              #braid.col-xs-4.step
                .step-img.hide-background
                  = image_tag 'braid.png', {class: 'top'}
                %h2= t(:'frontpage.product.step3.header')
                %p= t(:'frontpage.product.step3.desc')
          .row
            #product-carousel.content.product-carousel.carousel.slide{"data-ride" => 'carousel'}
              .carousel-inner
                .item.active
                  = image_tag 'ipad-1.png'
                .item
                  = image_tag 'ipad-2.png'
                .item
                  = image_tag 'ipad-3.png'
              %a.carousel-control.left-ctrl{href: '#product-carousel', "data-slide" => 'prev'}
                %i.fa.fa-angle-left
              %a.carousel-control.right-ctrl{href: '#product-carousel', "data-slide" => 'next'}
                %i.fa.fa-angle-right


      .row.crowdfunding
        %a{href: '#', class: 'block-link js-not-yet-row'}
          .content
            %h1= t(:'frontpage.crowdfunding.header')
            %h2
              = t(:'frontpage.link.crowdfunding')
              %i.fa.fa-angle-right

      .row.prototype
        .content-container
          .row
            .content.header
              %h1= t(:'frontpage.prototype.header_html')
          .row
            #prototype-carousel.content.prototype-carousel.carousel.slide{"data-ride" => 'carousel'}
              .carousel-inner
                .item.active
                  = image_tag 'wikimedia.png'
                .item
                  = image_tag 'wikimedia.png'
                .item
                  = image_tag 'wikimedia.png'
                .item
                  = image_tag 'wikimedia.png'
              %a.carousel-control.left-ctrl{href: '#prototype-carousel', "data-slide" => 'prev'}
                %i.fa.fa-angle-left
              %a.carousel-control.right-ctrl{href: '#prototype-carousel', "data-slide" => 'next'}
                %i.fa.fa-angle-right
            %p.hero-text= t(:'frontpage.prototype.subhead_html')


      .row.quote
        .content
          %blockquote= t(:'frontpage.quote.header.rushkoff_html')


      .row.mobile

      .row.quote
        .content
          %blockquote= t(:'frontpage.quote.header.sifry_html')

      .row
        = image_tag 'team.png'

      .row.team
        %a{href: '#', class: 'block-link'}
          .content
            %h1= t(:'frontpage.team.header')
            %p.hero-text= t(:'frontpage.team.desc')
            %h2
              = t(:'frontpage.link.more')
              %i.fa.fa-angle-right

      .row.ideals
        .content.first
          .row
            .col-xs-6
              = image_tag 'community.png'
              %h2= t(:'frontpage.ideals.community.header')
              %p= t(:'frontpage.ideals.community.desc')
            .col-xs-6
              = image_tag 'indi.png'
              %h2= t(:'frontpage.ideals.independent.header')
              %p= t(:'frontpage.ideals.independent.desc')
      .row.ideals
        .content
          .row
            .col-xs-6
              = image_tag 'open.png'
              %h2= t(:'frontpage.ideals.open.header')
              %p.open= t(:'frontpage.ideals.open.desc_html')
            .col-xs-6
              = image_tag 'gift.png'
              %h2= t(:'frontpage.ideals.gift.header')
              %p.gift= t(:'frontpage.ideals.gift.desc')

      .row.vision
        %a{href: '#', class: 'block-link js-not-yet-row'}
          .content
            %h1= t(:'frontpage.vision.header')
            %h2
              = t(:'frontpage.link.crowdfunding')
              %i.fa.fa-angle-right

      .row.footer
        .content
          %ul
            %li
              = t(:'frontpage.link.top')
              %i.fa.fa-angle-up
          %ul.pull-right
            %li= link_to t(:'frontpage.link.public_groups'), public_groups_path
            %li= link_to t(:'frontpage.link.terms'), terms_of_service_path
            %li= link_to t(:'frontpage.link.privacy'), privacy_path
            %li= link_to t(:'frontpage.link.services'), services_path

    = javascript_include_tag "frontpage"
