!!!
%html{locale: current_locale}
  %head
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "VBjE1ew0T5SvIIaVInuq-fkL4DkBKt3yVm0rptVREhc", name: "google-site-verification"}
    %title Loomio | #{t(:'frontpage.title.collaborative_decision_making')}
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag  "marketing/index"
    = csrf_meta_tags
    = render 'social_metadata'
    = render 'google_analytics'

  %body{class: "#{controller_name} #{action_name}", dir: language_dir(current_locale)}
    = render 'flash_messages'
    = render 'fork_me_on_github'

    .container-fluid
      %nav.navbar.navbar-default{role: 'navigation'}
        .navbar-content
          .navbar-header
            .navbar-brand
              = link_to_unless_current root_path do
                = image_tag("logo-orange.png", alt: 'Loomio home page')
          .nav.navbar-nav.navbar-right
            .pull-right= link_to t(:'frontpage.link.log_in'), new_user_session_path, class: 'btn btn-orange'
            .pull-right
              = link_to t(:"about_loomio"), about_path, class: 'btn btn-default hidden-xs'
              %br
      %main
        .row.hero
          %section.content
            =image_tag 'globe.png', class: 'image'
            %h1.header= t :'frontpage.hero.header_html'
            %p.hero-text.description= t :'frontpage.hero.lead_html'

            =link_to start_group_path, class: 'btn btn-teal btn-lg hero-text js-not-yet-button', id: 'try-it-main' do
              = t :'frontpage.link.try_loomio'
              %i.fa.fa-angle-right

        .row.product
          .content
            .header
              %h1= t(:'frontpage.product.header_html')
            .decision-steps
              .content
                #threads.col-md-4.step
                  .step-img
                    = image_tag 'threads.png', {class: 'top active'}
                  %h2.active= t(:'frontpage.product.step1.header')
                  %p.active= t(:'frontpage.product.step1.desc')
                #weaving.col-md-4.step
                  .step-img.hide-background
                    = image_tag 'weaving.png', {class: 'top'}
                  %h2= t(:'frontpage.product.step2.header')
                  %p= t(:'frontpage.product.step2.desc')
                #braid.col-md-4.step
                  .step-img.hide-background
                    = image_tag 'braid.png', {class: 'top'}
                  %h2= t(:'frontpage.product.step3.header')
                  %p= t(:'frontpage.product.step3.desc')
            .col-xs-12#product-carousel.content.product-carousel.carousel.slide{"data-ride" => 'carousel'}
              .carousel-inner
                .item.active
                  = image_tag 'ipad-1.png', alt: 'Loomio 1.0 discussion mockup'
                .item
                  = image_tag 'ipad-2.png', alt: 'Loomio 1.0 proposal mockup'
                .item
                  = image_tag 'ipad-3.png', alt: 'Loomio 1.0 proposal outcome mockup'
              %a.carousel-control.left-ctrl{href: '#product-carousel', "data-slide" => 'prev'}
                %i.fa.fa-angle-left
              %a.carousel-control.right-ctrl{href: '#product-carousel', "data-slide" => 'next'}
                %i.fa.fa-angle-right
              =link_to 'https://www.youtube.com/watch?v=ZipyebSY2Lo', class: 'video hero-text' do
                = t(:'frontpage.link.video')

        .row.stories
          .content
            %a{href: 'https://blog.loomio.org/category/stories', class: 'block-link'}
              %h1 Humans of Loomio
            %p.hero-text
              Stories from the amazing people using Loomio to make change in their communities and organizations, all around the world.
            .cards
              - @stories.each do |story|
                = render 'story', story: story
          .clearfix
          %h2
            %a{href: 'https://blog.loomio.org/category/stories', class: 'block-link'}
              More stories and videos
              %i.fa.fa-angle-right

        .row.quote
          .content.rushkoff
            %blockquote= t(:'frontpage.quote.header.rushkoff_html')

        .row.mobile
          .content
            .col-md-6.mobile-header
              %h1= t(:'frontpage.mobile.lead_html')

        .row.quote
          .content.sifry
            %blockquote= t(:'frontpage.quote.header.sifry_html')

        .row
          = image_tag 'team.png', class: 'img-responsive full-width', alt: 'The Loomio team'

        .row.team
          %a{href: about_path, class: 'block-link'}
            .content
              %h1= t(:'frontpage.team.header')
              %p.hero-text= t(:'frontpage.team.desc')
              %h2
                = t(:'frontpage.link.more')
                %i.fa.fa-angle-right

        .row.ideals
          .content.first
            .row
              .col-xs-6
                = image_tag 'community.png'
                %h2= t(:'frontpage.ideals.community.header')
                %p= t(:'frontpage.ideals.community.desc')
              .col-xs-6
                = image_tag 'indi.png'
                %h2= t(:'frontpage.ideals.independent.header')
                %p= t(:'frontpage.ideals.independent.desc')
        .row.ideals
          .content
            .row
              .col-xs-6
                = image_tag 'open.png'
                %h2= t(:'frontpage.ideals.open.header')
                %p.open= t(:'frontpage.ideals.open.desc')
              .col-xs-6
                = image_tag 'gift.png'
                %h2= t(:'frontpage.ideals.gift.header')
                %p.gift= t(:'frontpage.ideals.gift.desc')


        .row.media
          .content
            %ul
              %li#ted
                = link_to image_tag("ted.png"), 'https://www.youtube.com/watch?v=4vCL4I19o9U', alt: 'Ted', target: 'blank'
              %li#guardian
                = link_to image_tag("fast.png"), 'http://www.fastcoexist.com/3029132/fund-this/an-occupy-inspired-app-that-helps-groups-make-actual-group-decisions', alt: 'Fast Company', target: 'blank'
              %li#cnn
                = link_to image_tag("wired.png"), 'http://www.wired.com/2014/04/loomio/', alt: 'WIRED', target: 'blank'
              %li#gigaom
                = link_to image_tag("gigaom.png"), 'http://gigaom.com/2014/03/13/meet-loomio-the-small-scale-decision-making-platform-with-the-biggest-ambitions/', alt: 'Gigaom', target: 'blank'
              %li#sharable
                = link_to image_tag("sharable.png"), 'http://www.shareable.net/blog/loomio-the-occupy-inspired-app-for-consensus-decision-making', alt: 'Sharable', target: 'blank'
              %li#boing
                = link_to image_tag("boing.png"), 'http://boingboing.net/2014/03/19/loomio-democratic-decision-ma.html', alt: 'Boing Boing', target: 'blank'

      %section.row.footer{role: 'contentinfo'}
        .content
          %ul
            %li
              %a{href: 'https://twitter.com/Loomio'}
                %i.fa.fa-twitter
            %li
              %a{href: 'https://www.facebook.com/Loomio'}
                %i.fa.fa-facebook
            %li= link_to t(:'frontpage.link.blog'), blog_path, class: 'blog'
            %li= link_to t(:'frontpage.link.contact'), contact_path, class: 'contact'

            %li= link_to t('footer.pricing'), pricing_path
            %li= link_to t(:'frontpage.link.public_groups'), explore_path
            %li= link_to t(:'frontpage.link.terms'), terms_of_service_path
            %li= link_to t(:'frontpage.link.privacy'), privacy_path
            %li= link_to t(:'frontpage.link.press'), 'http://blog.loomio.org/press-pack', class: 'press'
            %li.enspiral
              %a{href: 'http://www.enspiral.com'}
                = image_tag 'enspiral.png', alt: 'Enspiral'


    = javascript_include_tag "marketing"
