!!!
%html{locale: current_locale}
  %head
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title Loomio | #{t(:'frontpage.title.collaborative_decision_making')}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag  "marketing"
    = csrf_meta_tags
    = render 'social_metadata'

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
    = render 'flash_messages'

    .container-fluid
      %nav.navbar.navbar-default
        .content
          .navbar-header
            = link_to image_tag("logo-orange.png"), root_path, class: 'navbar-brand', alt: 'Loomio'
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: 'https://github.com/loomio/loomio'}
                %i.fa.fa-github
            %li
              %a{href: 'https://twitter.com/Loomio'}
                %i.fa.fa-twitter
            %li
              %a{href: 'https://www.facebook.com/Loomio'}
                %i.fa.fa-facebook
            %li= link_to t(:'frontpage.link.blog'), blog_path, class: 'blog'
            %li= link_to t(:'frontpage.link.contact'), contact_path, class: 'contact'
            %li= link_to t(:'frontpage.link.log_in'), new_user_session_path, class: 'btn btn-orange'

      .row.hero
        .content-container
          .content
            =image_tag 'globe.png', class: 'image'
            %h1.header= t(:'frontpage.hero.head_html')
            %h2.subhead= t(:'frontpage.hero.subhead')
            %p.hero-text.description= t(:'frontpage.hero.desc')
            %a{href: 'https://love.loomio.org', class: 'btn btn-teal btn-lg hero-text js-not-yet-button'}
              = t(:'frontpage.link.crowdfunding')
              %i.fa.fa-angle-right


      .row.product
        .content-container
          .row
            .content.header
              %h1= t(:'frontpage.product.header_html')
          .row.decision-steps
            .content
              #threads.col-xs-4.step
                .step-img
                  = image_tag 'threads.png', {class: 'top', style: 'opacity:0'}
                %h2.active= t(:'frontpage.product.step1.header')
                %p.active= t(:'frontpage.product.step1.desc')
              #weaving.col-xs-4.step
                .step-img.hide-background
                  = image_tag 'weaving.png', {class: 'top'}
                %h2= t(:'frontpage.product.step2.header')
                %p= t(:'frontpage.product.step2.desc')
              #braid.col-xs-4.step
                .step-img.hide-background
                  = image_tag 'braid.png', {class: 'top'}
                %h2= t(:'frontpage.product.step3.header')
                %p= t(:'frontpage.product.step3.desc')
          .row
            #product-carousel.content.product-carousel.carousel.slide{"data-ride" => 'carousel'}
              .carousel-inner
                .item.active
                  = image_tag 'ipad-1.png'
                .item
                  = image_tag 'ipad-2.png'
                .item
                  = image_tag 'ipad-3.png'
              %a.carousel-control.left-ctrl{href: '#product-carousel', "data-slide" => 'prev'}
                %i.fa.fa-angle-left
              %a.carousel-control.right-ctrl{href: '#product-carousel', "data-slide" => 'next'}
                %i.fa.fa-angle-right


      .row.crowdfunding
        %a{href: 'https://love.loomio.org', class: 'block-link js-not-yet-row'}
          .content
            %h1= t(:'frontpage.crowdfunding.header')
            %h2
              = t(:'frontpage.link.crowdfunding')
              %i.fa.fa-angle-right

      .row.prototype
        .content-container
          .row
            .content.header
              %h1= t(:'frontpage.prototype.header_html')
          .row
            #prototype-carousel.content.prototype-carousel.carousel.slide{"data-ride" => 'carousel'}
              .carousel-inner
                .item.active
                  = image_tag 'wikimedia.png'
                  / The Wikimedia Foundation is the non-profit organization that operates Wikipedia and other free knowledge projects. Wikipedia is the world's largest and most popular encyclopedia. It is online, free to use for any purpose, and free of advertising.  It is a collaborative creation that has been added to and edited by millions of people that has become the largest collection of shared knowledge in human history. The Wikimedia Foundation has been using Loomio for staff collaboration in the office.
                .item
                  = image_tag 'pathways.png'
                  / Pathways is New Zealand's leading national provider of community-based mental health and wellness services. Pathways is rolling out Loomio organisation-wide as a mechanism to increase its culture of participatory decision making, consultation and collaboration, and transparency.
                .item
                  = image_tag 'wikimedia.png'
                  / Generation Zero is a youth-led network of climate change activists, founded to provide to cut carbon pollution through smarter transport, liveable cities, and independence from fossil fuels. They use Loomio to brainstorm, test ideas, make decisions, obtain feedback, post about activities, and discuss issues that arise. Decisions that are made on Loomio inform their national campaigns and events.
                .item
                  = image_tag 'wikimedia.png'
              %a.carousel-control.left-ctrl{href: '#prototype-carousel', "data-slide" => 'prev'}
                %i.fa.fa-angle-left
              %a.carousel-control.right-ctrl{href: '#prototype-carousel', "data-slide" => 'next'}
                %i.fa.fa-angle-right

            .content.groups
              .col-xs-3#wikimedia.active
                .group
                  = image_tag 'genzero-logo.png', {style: 'opacity:0'}
              .col-xs-3#pathways
                .group
                  = image_tag 'pathways-logo.png', alt: "Pathways"
              .col-xs-3#genzero
                .group
                  = image_tag 'genzero-logo.png', alt: "Generation Zero"
              .col-xs-3#nvc
                .group
                  = image_tag 'genzero-logo.png'
          .row
            .content
              %p.hero-text= t(:'frontpage.prototype.subhead_html', try_loomio_link: new_group_request_path, join_campaign_link: crowd_path)

      .row.quote
        .content
          %blockquote= t(:'frontpage.quote.header.rushkoff_html')


      .row.mobile

      .row.quote
        .content
          %blockquote= t(:'frontpage.quote.header.sifry_html')

      .row
        = image_tag 'team.png'

      .row.team
        %a{href: about_path, class: 'block-link'}
          .content
            %h1= t(:'frontpage.team.header')
            %p.hero-text= t(:'frontpage.team.desc')
            %h2
              = t(:'frontpage.link.more')
              %i.fa.fa-angle-right

      .row.ideals
        .content.first
          .row
            .col-xs-6
              = image_tag 'community.png'
              %h2= t(:'frontpage.ideals.community.header')
              %p= t(:'frontpage.ideals.community.desc')
            .col-xs-6
              = image_tag 'indi.png'
              %h2= t(:'frontpage.ideals.independent.header')
              %p= t(:'frontpage.ideals.independent.desc')
      .row.ideals
        .content
          .row
            .col-xs-6
              = image_tag 'open.png'
              %h2= t(:'frontpage.ideals.open.header')
              %p.open= t(:'frontpage.ideals.open.desc')
            .col-xs-6
              = image_tag 'gift.png'
              %h2= t(:'frontpage.ideals.gift.header')
              %p.gift= t(:'frontpage.ideals.gift.desc')

      .row.vision
        %a{href: 'https://love.loomio.org', class: 'block-link js-not-yet-row'}
          .content
            %h1= t(:'frontpage.vision.header')
            %h2
              = t(:'frontpage.link.crowdfunding')
              %i.fa.fa-angle-right

      .row.footer
        .content
          %ul
            %li
              = link_to t(:'frontpage.link.top'), '#'
              %i.fa.fa-angle-up
          %ul.pull-right
            %li= link_to t(:'frontpage.link.public_groups'), public_groups_path
            %li= link_to t(:'frontpage.link.terms'), terms_of_service_path
            %li= link_to t(:'frontpage.link.privacy'), privacy_path
            %li= link_to t(:'frontpage.link.services'), services_path

    = javascript_include_tag "marketing"
