.row
  .col-md-6
    %h2= t :change_your_password
    %p= t :'password_reset.length_restriction'
    %p= t :'password_reset.forbidden_passwords'
.row
  .col-md-4
    = simple_form_for @user, :url => change_password_path, :method => :post do |f|
      - if @errors.present?
        %p.error= t :'error.passwords_did_not_match'
      = f.input :password, label: t(:new_password)
      = f.input :password_confirmation, label: t(:confirm_new_password)
      = f.submit t(:change_my_password), class: "btn btn-primary"