.row
  .col-md-4
    %h2= t :change_your_password
    = simple_form_for @user, :url => change_password_path, :method => :post do |f|
      = f.input :password, label: t(:new_password)
      = f.input :password_confirmation, label: t(:confirm_new_password)
      = f.submit t(:change_my_password), class: "btn btn-primary"