- size = local_assigns.fetch(:size, 36)
- initials = user.presence ? user.avatar_initials :  '👤'
- if user.presence && user.thumb_url
  = image_tag user.thumb_url, alt: initials, class: "base-mailer__avatar-image rounded-circle", style: "width: #{size}px; height: #{size}px", width: size, height: size
- else
  %span.base-mailer__avatar-initials.text-center{style: "display:inline-block; width: #{size}px; height: #{size}px"}= initials
