%h1 Try Loomio 2.0 beta.

%p This is not ready for general usage. There are bugs to be fixed, and more to be discovered.

%p
  %a{href: '/dashboard/?use_vue=1'} Try it just once

%p Or switch on and off

= form_tag(beta_path, method: :put) do
  = hidden_field_tag :enable, value: true
  = submit_tag :enable

= form_tag(beta_path, method: :put) do
  = submit_tag :disable
