%main.container
  %section.first#about-us
    .inner-container
      .row
        .subhead
          %h1= t :"about_loomio"
      .row
        .col-md-12
          = t :"about_page.our_story_1_html"

      .row
        .col-md-6
          = t :"about_page.our_story_2_html"
        .col-md-6.video
          <iframe width="426" height="239" src="//www.youtube.com/embed/wSj81OxhdBg" frameborder="0" allowfullscreen></iframe>

  %section
    .inner-container
      .row
        .col-md-12
          = t :"about_page.mission_html"

  %section
    .inner-container
      .row
        .col-md-10
          = t :"about_page.advisors_html"

          %p &nbsp;

      .row
        .col-md-6
          .media
            .pull-left
              .media-object
                = image_tag "round-sascha.png", width: '100px'
            .media-body
              %h3.media-heading Sascha Meinrath
              %p= t :'about_page.sascha_bio_html'

          .media
            .pull-left
              .media-object
                = image_tag "round-katherine.png", width: '100px'
            .media-body
              %h3.media-heading Katherine Borsecnik
              %p= t :'about_page.katherine_bio_html'

          .media
            .pull-left
              .media-object
                = image_tag "round-joi.png", width: '100px'
            .media-body
              %h3.media-heading Joi Ito
              %p= t :'about_page.joi_bio_html'



        .col-md-6
          .media
            .pull-left
              .media-object
                = image_tag "round-rushkoff.png", width: '100px'
            .media-body
              %h3.media-heading Douglas Rushkoff
              %p= t :'about_page.rushkoff_bio_html'

          .media
            .pull-left
              .media-object
                = image_tag "round-monahans.png", width: '100px'
            .media-body
              %h3.media-heading Matthew &amp; Brian Monahan
              %p= t :'about_page.monahan_bio_html'


.container
  %section#people
    .inner-container
      .row
        %p= t :'about_page.team_html'
        %p &nbsp;

      .row
        .col-md-6
          .media
            .pull-left
              .media-object
                = image_tag "people/ben.png", width: '100px'
            .media-body
              %h3.media-heading Ben Knight
              %p= t :'about_page.ben_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/mj.png", width: '100px'
            .media-body
              %h3.media-heading MJ Kaplan
              %p= t :'about_page.mj_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/rob.png", width: '100px'
            .media-body
              %h3.media-heading Robert Guthrie
              %p= t :'about_page.rob_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/jon.png", width: '100px'
            .media-body
              %h3.media-heading Jon Lemmon
              %p= t :'about_page.jon_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/chelsea.png", width: '100px'
            .media-body
              %h3.media-heading Chelsea Robinson
              %p= t :'about_page.chelsea_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/jesse.png", width: '100px'
            .media-body
              %h3.media-heading Jesse Doud
              %p= t :'about_page.jesse_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/mix.png", width: '100px'
            .media-body
              %h3.media-heading Mix Irving
              %p= t :'about_page.mix_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/malcolm.png", width: '100px'
            .media-body
              %h3.media-heading Malcolm Shearer
              %p= t :'about_page.malcolm_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/simon.png", width: '100px'
            .media-body
              %h3.media-heading Simon Tegg
              %p= t :'about_page.simon_bio'

        .col-md-6
          .media
            .pull-left
              .media-object
                = image_tag "people/alanna.png", width: '100px'
            .media-body
              %h3.media-heading Alanna Krause
              %p= t :'about_page.alanna_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/rich.png", width: '100px'
            .media-body
              %h3.media-heading Richard D. Bartlett
              %p= t :'about_page.rich_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/viv.png", width: '100px'
            .media-body
              %h3.media-heading Vivien Maidaborn
              %p= t :'about_page.viv_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/aaron.png", width: '100px'
            .media-body
              %h3.media-heading Aaron Thornton
              %p= t :'about_page.aaron_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/hannah.png", width: '100px'
            .media-body
              %h3.media-heading Hannah Salmon
              %p= t :'about_page.hannah_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/matthew.png", width: '100px'
            .media-body
              %h3.media-heading Matthew Bartlett
              %p= t :'about_page.matt_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/james.png", width: '100px'
            .media-body
              %h3.media-heading James Kiesel
              %p= t :'about_page.james_bio'

          .media
            .pull-left
              .media-object
                = image_tag "people/michael.png", width: '100px'
            .media-body
              %h3.media-heading Michael Elwood-Smith
              %p= t :'about_page.michael_bio'


.container
  %section
    .inner-container
      .row
        .col-md-12
          %h2 Press
          %ul
            %li
              %p
                %strong New Yorker:
                = link_to "In Spain: Politics via Reddit", "http://www.newyorker.com/tech/elements/spain-politics-via-reddit"
            %li
              %p
                %strong Tech President:
                = link_to "Can social software change the world? Loomio just might", "http://techpresident.com/news/wegov/23517/can-social-software-change-world-loomio-just-might"
            %li
              %p
                %strong Globe and Mail:
                = link_to "Digital innovation propels political success story in Spain", "http://www.theglobeandmail.com/news/world/digital-innovation-propels-political-success-story-in-spain/article23542220/"
            %li
              %p
                %strong GigaOm:
                = link_to "Meet Loomio, the small- scale decision-making platform with the biggest ambitions", "https://gigaom.com/2014/03/13/meet-loomio-the-small-scale-decision-making-platform-with-the-biggest-ambitions/"
            %li
              %p
                %strong Wired:
                = link_to "Out in the open: Occupy Wall Street reincarnated as open source software", "http://www.wired.com/2014/04/loomio/"
            %li
              %p
                %strong RT America:
                = link_to "Protesters – there's a fantastic new app for you – Loomio", "https://youtu.be/R_DZY9bnh_U?t=23"
            %li
              %p
                %strong Fast Company:
                = link_to "Loomio – An App That Helps Groups Make Actual Group Decisions", "http://www.fastcoexist.com/3029132/fund-this/an-occupy-inspired-app-that-helps-groups-make-actual-group-decisions"
            %li
              %p
                %strong BoingBoing:
                = link_to "Democratic decision-making tool inspired by Occupy", "http://boingboing.net/2014/03/19/loomio-democratic-decision-ma.html"
            %li
              %p
                %strong VICE:
                = link_to "The Future of Protest According to VICE", "http://www.vice.com/read/the-future-of-protest-looks-a-lot-like-the-past"
            %li
              %p
                %strong Shareable:
                = link_to "The Occupy-inspired app for consensus decision-making", "http://www.shareable.net/blog/loomio-the-occupy-inspired-app-for-consensus-decision-making"
            %li
              %p
                %strong Greenpeace Mobilisation Lab:
                = link_to "Can an app help movements grow by scaling higher level grassroots engagement?", "http://www.mobilisationlab.org/can-an-app-help-movements-grow-by-scaling-higher-level-grassroots-engagement/"


.container
  %section
    .inner-container
      .row#compliance
        .col-md-12
          %h2 Legal stuff
          %p
            Loomio is made with love by the fine humans of the
            %strong Loomio Co-operative Limited,
            a worker-owned and New Zealand registered co-operative company located at:
          %p
            Enspiral Space
            %br
            Level 2, 89 Courtenay Place
            %br
            Te Aro Wellington CBD,
            %br
            6011 Aotearoa / New Zealand
          %p
            Delivery is instantaneous, and no refunds will be given.
