.container
  %section.first#about-us
    .inner-container
      .row
        .subhead
          %h1 About
      .row
        .col-md-12
          %h2 Our story
          %p Loomio is an online tool for collaborative decision-making, built by a team of technologists, activists and social entrepreneurs in New Zealand.

      .row
        .col-md-6
          %p Loomio emerged from the need for a scalable way to make inclusive group decisions during the Occupy movement in 2011.

          %p We experienced the transformative potential of collaborative decision-making, as well as its severe limitations: if people have to be in the same place at the same time to participate, it can never scale.

          %p We set out to build a solution to this problem: using the Internet to give people an easy way to make good decisions together, wherever they are.

          %p It’s called Loomio, like a loom for weaving diverse perspectives together :)

          %p Now more than 75,000 people have made more than 25,000 decisions on Loomio.
        .col-md-6.video
          <iframe width="426" height="239" src="//www.youtube.com/embed/wSj81OxhdBg" frameborder="0" allowfullscreen></iframe>

  %section
    .inner-container
      .row
        .col-md-12
          %h2 Mission
          %p We’re a mission-driven organization with a social purpose at our core: Loomio exists to make it easy for anyone, anywhere, to participate in decisions that affect their lives.

          %p We measure our impact in the numbers and diversity of people and groups involved in decisions AND the inspiring stories from people using it to do great things in their communities.

  %section
    .inner-container
      .row
        .col-md-10
          %h2 Advisors

          %p We’re backed by an Advisory Council with some of the brightest minds in democracy and tech internationally.
          %p &nbsp;

      .row
        .col-md-6
          .media
            .pull-left
              .media-object
                = image_tag "round-sascha.png", width: '100px'
            .media-body
              %h3.media-heading Sascha Meinrath
              %p Founder of <a href="http://thexlab.org/" target="_blank">X-Lab</a> & <a href="http://www.newamerica.org/oti/" target="_blank">Open Technology Institute</a> at New America Foundation

          .media
            .pull-left
              .media-object
                = image_tag "round-katherine.png", width: '100px'
            .media-body
              %h3.media-heading Katherine Borsecnik
              %p Former Senior Vice President, <a href="http://www.aol.com/" target="_blank">AOL</a>, Vice Chair of <a href="http://www.rootcapital.org/" target="_blank">Root Capital</a>

          .media
            .pull-left
              .media-object
                = image_tag "round-joi.png", width: '100px'
            .media-body
              %h3.media-heading Joi Ito
              %p Director of <a href="http://www.media.mit.edu/" target="_blank">MIT Media Lab</a>, Co-founder <a href="https://creativecommons.org/" target="_blank">Creative Commons</a>, Board of <a href="https://www.mozilla.org/en-US/foundation/" target="_blank">Mozilla Foundation</a>



        .col-md-6
          .media
            .pull-left
              .media-object
                = image_tag "round-rushkoff.png", width: '100px'
            .media-body
              %h3.media-heading Douglas Rushkoff
              %p <a href="http://www.rushkoff.com/" target="_blank">Bestselling author</a>, CNN commentator, media theorist

          .media
            .pull-left
              .media-object
                = image_tag "round-monahans.png", width: '100px'
            .media-body
              %h3.media-heading Matthew & Brian Monahan
              %p Cofounders of <a href="http://inflection.com/" target="_blank">Inflection</a>, <a href="http://www.namaste.org/" target="_blank">Namaste Foundation</a>


.container
  %section#people
    .inner-container
      .row
        %h2 Team
        %p Loomio is a cooperative social enterprise based in New Zealand. We’re a passionate team with deep expertise in group process and open technology development.
        %p &nbsp;

      .row
        .col-md-6
          .media
            .pull-left
              .media-object
                = image_tag "people/ben.png", width: '100px'
            .media-body
              %h3.media-heading Ben Knight
              %p Co-founder and Executive Director, community organizer, collective intelligence researcher

          .media
            .pull-left
              .media-object
                = image_tag "people/mj.png", width: '100px'
            .media-body
              %h3.media-heading MJ Kaplan
              %p US operations lead, adjunct professor in social enterprise at Brown University

          .media
            .pull-left
              .media-object
                = image_tag "people/rob.png", width: '100px'
            .media-body
              %h3.media-heading Robert Guthrie
              %p Co-founder and lead software architect, accessibility, user experience

          .media
            .pull-left
              .media-object
                = image_tag "people/jon.png", width: '100px'
            .media-body
              %h3.media-heading Jon Lemmon
              %p Co-founder and software developer, user experience designer, musician

          .media
            .pull-left
              .media-object
                = image_tag "people/chelsea.png", width: '100px'
            .media-body
              %h3.media-heading Chelsea Robinson
              %p Facilitation expert, collaboration coach, Generation Zero co-founder

          .media
            .pull-left
              .media-object
                = image_tag "people/jesse.png", width: '100px'
            .media-body
              %h3.media-heading Jesse Doud
              %p Software developer, design, accessibility, bikes

          .media
            .pull-left
              .media-object
                = image_tag "people/mix.png", width: '100px'
            .media-body
              %h3.media-heading Mix Irving
              %p Software developer, translation specialist, education, group process


          .media
            .pull-left
              .media-object
                = image_tag "people/malcolm.png", width: '100px'
            .media-body
              %h3.media-heading Malcolm Shearer
              %p Organisational systems, process design

          .media
            .pull-left
              .media-object
                = image_tag "people/simon.png", width: '100px'
            .media-body
              %h3.media-heading Simon Tegg
              %p Data analysis, visualisation, software development, communication

        .col-md-6
          .media
            .pull-left
              .media-object
                = image_tag "people/alanna.png", width: '100px'
            .media-body
              %h3.media-heading Alanna Krause
              %p Co-founder and consulting lead, management activist, director of Enspiral Foundation

          .media
            .pull-left
              .media-object
                = image_tag "people/rich.png", width: '100px'
            .media-body
              %h3.media-heading Richard D. Bartlett
              %p Co-founder and software developer, citizen activist, open source hardware hacker

          .media
            .pull-left
              .media-object
                = image_tag "people/viv.png", width: '100px'
            .media-body
              %h3.media-heading Vivien Maidaborn
              %p Co-founder, Chair of Loomio Board, Executive Director UNICEF New Zealand

          .media
            .pull-left
              .media-object
                = image_tag "people/aaron.png", width: '100px'
            .media-body
              %h3.media-heading Aaron Thornton
              %p Co-founder and software developer, front-end specialist

          .media
            .pull-left
              .media-object
                = image_tag "people/hannah.png", width: '100px'
            .media-body
              %h3.media-heading Hannah Salmon
              %p Software developer, user support, illustrator, creative activist

          .media
            .pull-left
              .media-object
                = image_tag "people/matthew.png", width: '100px'
            .media-body
              %h3.media-heading Matthew Bartlett
              %p Designer, data analysis, business development

          .media
            .pull-left
              .media-object
                = image_tag "people/james.png", width: '100px'
            .media-body
              %h3.media-heading James Kiesel
              %p Software developer, open source community coordinator, daring swashbuckler

          .media
            .pull-left
              .media-object
                = image_tag "people/michael.png", width: '100px'
            .media-body
              %h3.media-heading Michael Elwood-Smith
              %p Business development, collaboration coach, motorcyclist


.container
  %section
    .inner-container
      .row
        .col-md-12
          %h2 Press
          %ul
            %li
              %p
                %strong New Yorker:
                = link_to "In Spain: Politics via Reddit", "http://www.newyorker.com/tech/elements/spain-politics-via-reddit"
            %li
              %p
                %strong Tech President:
                = link_to "Can social software change the world? Loomio just might", "http://techpresident.com/news/wegov/23517/can-social-software-change-world-loomio-just-might"
            %li
              %p
                %strong Globe and Mail:
                = link_to "Digital innovation propels political success story in Spain", "http://www.theglobeandmail.com/news/world/digital-innovation-propels-political-success-story-in-spain/article23542220/"
            %li
              %p
                %strong GigaOm:
                = link_to "Meet Loomio, the small- scale decision-making platform with the biggest ambitions", "https://gigaom.com/2014/03/13/meet-loomio-the-small-scale-decision-making-platform-with-the-biggest-ambitions/"
            %li
              %p
                %strong Wired:
                = link_to "Out in the open: Occupy Wall Street reincarnated as open source software", "http://www.wired.com/2014/04/loomio/"
            %li
              %p
                %strong RT America:
                = link_to "Protesters – there's a fantastic new app for you – Loomio", "https://youtu.be/R_DZY9bnh_U?t=23"
            %li
              %p
                %strong Fast Company:
                = link_to "Loomio – An App That Helps Groups Make Actual Group Decisions", "http://www.fastcoexist.com/3029132/fund-this/an-occupy-inspired-app-that-helps-groups-make-actual-group-decisions"
            %li
              %p
                %strong BoingBoing:
                = link_to "Democratic decision-making tool inspired by Occupy", "http://boingboing.net/2014/03/19/loomio-democratic-decision-ma.html"
            %li
              %p
                %strong VICE:
                = link_to "The Future of Protest According to VICE", "http://www.vice.com/read/the-future-of-protest-looks-a-lot-like-the-past"
            %li
              %p
                %strong Shareable:
                = link_to "The Occupy-inspired app for consensus decision-making", "http://www.shareable.net/blog/loomio-the-occupy-inspired-app-for-consensus-decision-making"
            %li
              %p
                %strong Greenpeace Mobilisation Lab:
                = link_to "Can an app help movements grow by scaling higher level grassroots engagement?", "http://www.mobilisationlab.org/can-an-app-help-movements-grow-by-scaling-higher-level-grassroots-engagement/"


.container
  %section
    .inner-container
      .row#compliance
        .col-md-12
          %h2 Legal stuff
          %p
            Loomio is made with love by the fine humans of the
            %strong Loomio Co-operative Limited,
            a worker-owned and New Zealand registered co-operative company located at:
          %p
            Enspiral Space
            %br
            Level 2, CMC Building, 89 Courtenay Place
            %br
            Te Aro Wellington CBD,
            %br
            6011 Aotearoa / New Zealand
          %p
            Our payment processor obliges us to tell you that delivery is instantaneous, and no refunds will be given.
