.container
  .row.content
    .col-md-6.col-md-offset-3
      %h1= t :"pricing_page.header"
      %p= t :"pricing_page.social_mission_html"

      %h3= t :"pricing_page.loomio_for_organisations"
      %p= t :"pricing_page.organisations_deal_html"
      %p= t :"pricing_page.discuss_options_html"

      %h3= t :"pricing_page.loomio_for_communities"
      %p= t :"pricing_page.communities_deal"
      %p
      %p
        %a.btn.btn-success.btn-lg#pricing-page-start-link{href: start_group_path}= t :"common.get_started"
