-# Loomio style guide

%h1 Heading One

%h2 Heading Two

%h3 Heading Three

%h4 Heading Four

%h5 Heading Five

%p.intro
  Intro paragraph (mainly used on pages content)

%p
  Normal paragraph text

%h3 Buttons

= link_to 'large button', '', :class=>'loom-btn large'

//this is the defatul size
= link_to 'default button', '', :class=>'loom-btn'

= link_to 'small button', '', :class=>'loom-btn small'

= link_to 'tiny button', '', :class=>'loom-btn tiny'

%h3 Button Colours

%h4 Main buttons
= link_to 'button', '', :class=>'loom-btn green'
= link_to 'button', '', :class=>'loom-btn blue'

%h4 Special buttons (alerts, warnings etc)
= link_to 'button', '', :class=>'loom-btn orange'
= link_to 'button', '', :class=>'loom-btn loomio-orange'
= link_to 'button', '', :class=>'loom-btn red'
= link_to 'button', '', :class=>'loom-btn grey'
= link_to 'button', '', :class=>'loom-btn white'