.container
  %section.first
    .inner-container
      .row-fluid
        .span10.offset2
          %br
          %h3
            Third Party Services
          %br
          %p
            We use the third parties listed on this page to provide a high-level of service and some of Loomio's functionality. Loomio shares data with these services and for convenience this page provides links to third party privacy policies. For more information please see our
            =link_to "Privacy Policy.", privacy_path
          %br
          .row-fluid
            .span2
              %p
                = link_to "Amazon S3", "http://www.amazon.com/gp/help/customer/display.html?nodeId=468496", target: '_blank'
            .span8
              %p -stores uploaded files and images.
          .row-fluid
            .span2
              %p
                = link_to "Airbrake", "https://airbrake.io/pages/privacy", target: '_blank'
            .span8
              %p -error logging.
          .row-fluid
            .span2
              %p
                = link_to "Bing Translate", "http://www.microsoft.com/privacystatement/en-gb/bing/default.aspx", target: '_blank'
            .span8
              %p -inline comment translation.
          .row-fluid
            .span2
              %p
                = link_to "Cloudflare", "http://www.cloudflare.com/security-policy", target: '_blank'
            .span8
              %p -caches web content for faster page loads.
          .row-fluid
            .span2
              %p
                = link_to "Google analytics", "http://www.google.com/intl/en/policies/", target: '_blank'
            .span8
              %p -tracks page views and other usage statistics.
          .row-fluid
            .span2
              %p
                = link_to "Heroku", "https://www.heroku.com/policy/privacy", target: '_blank'
            .span8
              %p -web hosting.
          .row-fluid
            .span2
              %p
                = link_to "New Relic", "http://newrelic.com/privacy", target: '_blank'
            .span8
              %p -performance monitoring.
          .row-fluid
            .span2
              %p 
                = link_to "Sendgrid", "http://sendgrid.com/privacy", target: '_blank'
            .span8
              %p -used to send emails from the app. 



