.container
  %section
    .inner-container
      %h1= t(:'try_it.header')

      .row
        .col-sm-7
          =link_to start_group_path, class: 'btn btn-teal btn-try-it', id: 'start-group' do
            .fa.fa-plus.fa-try-it
            .button-text= t(:request_new_group)
      .row
        .col-sm-7
          %p= t(:'try_it.start_a_group')

      .row
        .col-sm-7
          =link_to 'https://www.loomio.org/g/WmPCB3IR/loomio-community', class: 'btn btn-blue btn-try-it' do
            =image_tag "join-loomio-community.png", class: 'join-loomio-community-icon'
            .button-text= t(:'try_it.join_the_community')
      .row
        .col-sm-7
          %p= t(:'try_it.loomio_community_info')

      .row
        .col-sm-7
          =link_to explore_path, class: 'btn btn-purple btn-try-it' do
            .fa.fa-search.fa-try-it
            .button-text= t(:'try_it.explore_groups')
      .row
        .col-sm-7
          %p= t(:'try_it.explore_groups_info')