- if email_belongs_to_existing_user? @invitation.recipient_email
  .row
    .span6.offset3
      %p= t :"start_group.sign_in_intro" if @invitation.intent == "start_group"
      %p= t :"join_group.sign_in_intro" if @invitation.intent == "join_group"
  .row
    .span4.offset3.signin-form
      = render "devise/sessions/form"

- else
  .row
    .span6.offset3
      %p= t :"start_group.sign_up_intro" if @invitation.intent == "start_group"
      %p= t :"join_group.sign_up_intro" if @invitation.intent == "join_group"
  .row
    .span4.offset3.signup-form
      = render "devise/registrations/form"
  .row
    .span6.offset3
      %h3= t :"or_sign_in_html", link: user_session_path

