- if @group.is_subgroup?
  %h3= t("invitation.by_email")
.control-group
  %p= t("invitation.recipients")
  = text_area_tag 'invitees', nil, class: 'validate-emails js-autocomplete-contacts', placeholder: t("invitation.invitees_placeholder"), data: {autocomplete_path: autocomplete_contacts_path}
  .email-validation-help= t('error.invalid_email')
  %p
    %small= t(:'invitation.import_contacts_html',
      yahoo_link: link_to(t(:yahoo), import_contacts_path(from: 'yahoo')),
      google_link: link_to(t(:google), import_contacts_path(from: 'gmail')))
  = form.input :recipients, as: :hidden, input_html: { class: 'recipients' }

.control-group
  - if @discussion.present?
    = form.input :message_body, label: false, as: :text, input_html: { value: t("invitation.body_editable_discussion", group: group.name) }, label: t("invitation.message_body")
  - else
    = form.input :message_body, label: false, as: :text, input_html: { value: t("invitation.body_editable", group: group.name) }, label: t("invitation.message_body")
