- if @group.is_subgroup?
  %h3= t("invitation.by_email")
.form-group
  %p= t("invitation.recipients")
  = text_area_tag 'invitees', nil, class: 'validate-emails form-control js-autocomplete-contacts', placeholder: t("invitation.invitees_placeholder"), data: {autocomplete_path: autocomplete_contacts_path}
  -#.email-validation-help= t('error.invalid_email')
  %p
    %small= t(:'invitation.import_contacts_html', google_link: link_to(t(:google), import_contacts_path(from: 'gmail')))
  = form.input :recipients, as: :hidden, input_html: { class: 'recipients' }

.form-group
  - if @discussion.present?
    = form.input :message_body, label: t("invitation.message_body"), as: :text, input_html: { value: t("invitation.body_editable_discussion", group: group.name) }
  - else
    = form.input :subject, label: t("invitation.custom_subject"), input_html: { value: t("email.to_join_group.subject", member: current_user.name, group_name: group.name) }
    = form.input :message_body, label: t("invitation.message_body"), as: :text, input_html: { value: t("invitation.body_editable", group: group.name) }
