= stylesheet_link_tag "poll_mailer"
-# = stylesheet_link_tag "email"

.thread-page.mt-12
  %main.v-content
    .v-content__wrap
      %div
        .container.thread-page.max-width-800
          -if @info.action_name == :export
            %p
            = t(:"poll.export.also_available")
            = link_to "CSV", poll_export_path(@poll, format: 'csv', :export => 1)
          %div.thread-card.v-card.v-card--outlined.v-sheet.theme--light.pa-4
            = render "discussions/thread_items/poll_created", item: @poll.created_event
            -# -# = render "poll_mailer/common/stance_table", rows: @exporter.stance_list
            -# = render "poll_mailer/#{@info.poll_type}/chart"
            = render "poll_mailer/#{@info.poll_type}/responses"
            = render "poll_mailer/common/undecided"
