= render 'next/navbar'
- avatar_size = 32
- avatar_path = "holder.js/#{avatar_size}x#{avatar_size}"
.card-page.discussion
  .card-row
    .card#top
      .card__header--standalone
        .media
          .media__img--right
            %i.icon-earth
          %h3.media__title= link_to @discussion.group.name, @discussion.group

  .card-row
    .card
      .card__content
        %h1.card__title= @discussion.title


  -if @current_motion.present?
    %a#js-mini-motion{href: '#top'}
      .clearfix
        .media
          .media__img
            %i.icon-pie-graph{style: "font-size: 3em; color: green; margin-left: 10px; line-height: 1em;"}
          .media__text
            %h4= @current_motion.title

    .card-row.expanded-motion
      .card
        .card__header
          %h2= @current_motion.title
        .card__content
          .pull-right
            %i.icon-pie-graph{style: "font-size: 10em; color: green;"}
          = @current_motion.description
        .clearfix
        .row.decision-buttons
          .agree
            %i.icon-thumbsup{style: "color: green"}
          .abstain
            %i.icon-thumbsdown{style: "color: orange"}
          .disagree
            %i.icon-thumbsdown{style: "color: pink"}
          .block
            %i.icon-alert-circled{style: "color: red"}
        .row.new-position
          .agree
            %form
              .form-group
                %label Agree
                %textarea.form-control{rows: 3}
              %button.btn
                Submit
          .abstain
            %form
              .form-group
                %label Abstain
                %textarea.form-control{rows: 3}
              %button.btn
                Submit
          .disagree
            %form
              .form-group
                %label Disagree
                %textarea.form-control{rows: 3}
              %button.btn
                Submit
          .block
            %form
              .form-group
                %label Block
                %textarea.form-control{rows: 3}
              %button.btn
                Submit
        .card__show-more
          %a View positions

  .card-row
    .card
      .card__header
        .media
          .media__img
            %img{alt: "...", src: avatar_path}
          .media__text
            %h4.media__title Context
            .media__details
              Edited
              = time_ago_in_words(@discussion.last_versioned_at)
              ago by
              = @discussion.author.name
      .card__content
        = simple_format @discussion.description
      %a.edit-content{href: "#"}
        %i.icon-compose
        Edit

  - @discussion.comments.each do |comment|
    .card-row
      .card
        .card__header
          .media
            .media__img.media__img--card
              %img{alt: "...", src: avatar_path}
            .media__text
              %h4.media__title= comment.author.name
              .media__details= time_ago_in_words(comment.created_at)
        .card__content
          = comment.body
        .toolbar-container
          .toolbar
            .toolbar__button.toolbar__button--first
              %span.icon-thumbsup
              Like
            .toolbar__button.reply
              %a{href: '#'}
                %span.icon-ios7-chatbubble
                Reply

  -unless @current_motion.present?
    .card-row#create-a-proposal
      .card
        .card__header
          %h3 Ready to make a decision?
        .card__content
          =link_to "Create a proposal", next_new_proposal_discussion_path(@discussion.id)

  .card-row#collapsed-comment-box
    .card
      .card-row
        %input.form-control{placeholder: "Write a comment..."}

  .card-row#expanded-comment-box
    .card
      .card-row
        .left
          %textarea#expanded-input.form-control{rows: 5, placeholder: "Say something..."}
        .right
          %button.btn.btn-default.btn-block.submit Post
