= render 'avatar', user: @recipient.inviter
%strong= @recipient.inviter.name
= t(:"email.to_join_group.invitation_text_html")
%br
%strong= @recipient.group.full_name
.invite-people-mailer__message-container
  = link_to t(:"email.to_join_group.accept_invitation"), invitation_url(@recipient, @utm_hash), class: "invite-people-mailer__button"
.invite-people-mailer__value-proposition
  = t(:"email.value_proposition")
