!= "#{@sender.name} made an announcement to #{@group.name}:"
= "--------------------------------------------"
\
!= @message
\
= "Click the link below to view the group on Loomio:"
= "#{group_url(@group)}"
