= render '/application/mailer_doctype'
%html
  %p #{@sender.name} made an announcement to #{@group.name}:

  %p.comment
    = @message
  %p
    #{link_to('Click here', group_url(@group))} view the group on Loomio.
