.center
  = render 'avatar', user: @inviter
  %strong= @inviter.name
  = t(:"email.to_join_group.invitation_text_html")
  %br
  %strong= @membership.group.full_name
  %br
    = link_to t(:"email.to_join_group.accept_invitation"), membership_url(@membership, @utm_hash), class: "base-mailer__button base-mailer__button--primary"
  .invite-people-mailer__value-proposition
    = t(:"email.value_proposition", site_name: AppConfig.theme[:site_name])

  .invite-people-mailer__email-settings

  %p.thread-mailer__footer
    %a{href: email_preferences_url(unsubscribe_token: @membership.user.unsubscribe_token, use_vue: 1)}= t(:"email.to_join_group.stop_emails", site_name: AppConfig.theme[:site_name])
