= "Hello"
\
\
= "#{@invite.inviter_name} has invited you to participate in group discussion and decision making using a new tool called Loomio."
\
\
Click the link below to accept their invitation.
= "#{accept_invite_url(@invite.token)}"
\
\
= "If you have any questions contact #{@invite.inviter_email} or find out more about Loomio at http://loomio.org"
\
