.col-md-5#actions
  #container
    #monthly
      %h3= t("contribution.monthly_html")
      .btns
        -{'12408AB1883124' => 2,
          '12400461853BF0' => 5,
          '2075FEF58DCF04' => 10,
          'A57235C1CC0' => 20}.each_pair do |contract_id, amount|
          %a{:href => "https://subscription.swipehq.com/?contract_id=#{contract_id}", class: "btn btn-info", id: "monthly-#{amount}"} $#{amount}

    #one-time
      %h3= t("contribution.one_time_html")
      .btns
        -{'1CE906993BA4E4' => 5,
          '15CD9F339A187F' => 10,
          '1240208F4FDEBD' => 20,
          '1CE89C7DF9AD78' => 50}.each_pair do |product_id, amount|
          %a{:href => "https://payment.swipehq.com/?product_id=#{product_id}", class: "btn btn-info", id: "once-off-#{amount}"} $#{amount}

    #any-amount
      %h3= t("contribution.any_amount")
      =form_tag(contributions_path) do
        .input-prepend
          %span.add-on= '$'
          %input.input-mini{:id => "custom_amount", :name => "amount", :type => "text"}
        %input{:id => "custom_amount_input", type: 'submit', value: t("contribution.submit"), class: "btn btn-info", :data => {:disable_with => t("contribution.submit")}}
  .row#currency-desc
    %p= t("contribution.currency_desc")
