#contributions
- if signed_in?
  %h1= t("contribution.thought_about_contributing")
  .row
    .span5#description
      = simple_format t("contribution.thought_about_contributing_description")
      = image_tag("loomio-orange-header.png", :alt => "Loomio")
    = render 'contribute-options'

-if not signed_in?
  %h1 Making a donation
  .row
    .span5#description
      %p Loomio is a cooperative social enterprise working to make it easy for anyone to participate in decisions that affect them.
      %p Your contribution means we can keep Loomio independent, free of advertising, and driven by our community of users.
      %p Thanks for making this possible!
    = render 'contribute-options'
