#contributions
- if signed_in?
  %h1= t("contribution.thought_about_contributing")
  .row
    .col-md-5#description
      = simple_format t("contribution.thought_about_contributing_description")
      = image_tag("loomio-orange-header.png", :alt => "Loomio")
    = render 'contribute-options'

-if not signed_in?
  %h1= t("contribution.making_a_donation")
  .row
    .col-md-5#description
      = simple_format t("contribution.making_a_donation_description")
    = render 'contribute-options'
