%h1= t :'networks.membership_requests_header', network: @network.name

%h2= t :'networks.current_requests'
%table
  %tbody
    - @requests.pending.each do |request|
      %tr
        %td.requestor
          %strong= request.requestor.name
          %br
          = request.requestor.email
        %td.group
          %strong= request.group.full_name
          %br
          = simple_format request.message
        %td.action
          = link_to t(:'networks.approve'), approve_network_membership_request_path(@network, request), method: :post, class: 'btn btn-success'
          = link_to t(:'networks.decline'), decline_network_membership_request_path(@network, request), method: :post, 'data-confirm' => t(:generic_confirm)

%h2= t :'networks.previous_requests'

%table
  %tbody
    - @requests.not_pending.each do |request|
      %tr
        %td.requestor
          %strong= request.requestor.name
          %br
          = request.requestor.email
        %td.group
          %strong= request.group.full_name
          %br
          = simple_format request.message
        %td.action
          - if request.approved?
            = t(:'networks.approved', name: request.responder.name)
          - else
            = t(:'networks.declined', name: request.responder.name)

