= "The following person has requested to join #{@campaign.name} on Loomio:"
\
Name:
@name
\
Email:
@email
\
\
= "Please go to the #{@campaign.name} Loomio group and invite them to the group:"
\
= @campaign.showcase_url
