= render '/application/mailer_doctype'
%html
  %p= "The following person has requested to join #{@campaign.name.titlecase} on Loomio:"
  %p Name:
  %p= @name
  %p Email:
  %p= @email
  %p= "Please go to the #{@campaign.name.titlecase} Loomio group and invite them to the group."
  %p
    = link_to "Click here to go directly to the group.", @campaign.showcase_url
