%h1 Welcome to Loomio!

%p Great news! Your request for a Loomio group has been approved!
%p Sorry if you’ve been waiting in line for a while. We’ve been overwhelmed by the number of amazing organisations getting in touch and we’re still building up our capacity to deal with the demand. We’re really happy to be able to bring you on board as a learning partner right now!
%p= "Now it’s time to get your group (#{@group.name}) set up."
%p Here are some simple steps to get your Loomio community up and running:

%h2 1. Create your group
%p Click the following link to start the group setup process:

%strong
  - link_url = start_new_group_group_request_url(@group_request, token: @token)
  %p= link_to link_url, link_url

%p Your group can either be publically viewable or private. The default is private - you can change this on your group settings page:

- link_url = polymorphic_url(@group) + "/edit"
%p= link_to link_url, link_url

%h2 2. Set the context before inviting people in
%p Starting one or two discussions/decisions before inviting people to your group is really important. It’s worth giving this some careful thought - you want an engaging discussion topic with a clear decision on the table, so people will be excited to jump in and start participating. A good proposal contains a plan of action for the group, so that it’s immediately obvious what it means to agree or disagree.
%p If you get this right, people will immediately understand what your group will be using Loomio for and why it’s worth their time to get involved!

%h2 3. Introduce Loomio to your group
%p It’s very useful to send out a group email explaining Loomio and why you want to use it before you invite people to your group. Here’s a template you can use to bring everyone up to speed with what Loomio is, how it works, and how they’ll benefit from joining your group.

%blockquote
  %p Hi,
  %p I’ve been looking into a new online tool for collaborative decision-making called Loomio that I think our group would find useful. Loomio makes it easy for groups to build shared understanding and make good decisions without needing to be in the same place at the same time.
  %p I think it would be great to have a way of getting decisions made between meetings without a mountain of emails.
  %p
    %em [Give an example of some specific upcoming decisions your group might be able to use Loomio for]

  %p
    = "You can see how it works here:"
    = link_to "http://loomio.org/how-it-works", "http://loomio.org/how-it-works"

  %p Loomio is being developed at the Enspiral social enterprise hub in Aotearoa New Zealand. It’s currently invite-only, but they’ve given us the opportunity to come on board as a learning partner group.

  %p I'm going to send out email invites soon so we can get up and running.

%h2 4. Invite members
- link_url = polymorphic_url(@group)
%p
  = "To invite people into your group, go to the group page ("
  = link_to link_url, link_url
  = ") and click ‘Add new member’. You’ll be prompted to add the email addresses of your group members one at a time."
%p It’s a good idea to send out a follow-up email to everyone you’ve invited to make sure that the invite didn’t accidentally go to their spam folder, and to check that they’re not having trouble signing in.
%p That should be enough to get you started!
%p We’re always happy to hear feedback about how we can make Loomio even easier to use. Feel free to get in touch with any questions.

%p
  Love from Team Loomio
  %br
  contact@loomio.org
  %br
  = link_to "http://loomio.org", "http://loomio.org"