= render '/application/mailer_doctype'
%html
  %h2= t("email.verification.header")

  %p= t("email.verification.intro")

  %strong
    - link_url = verify_group_request_url(@group_request, token: @token)
    %p= link_to link_url, link_url

  %p= t("email.verification.ignore")
= t :group
