.row
  .col-md-9
    = render '/groups/title', group: @group
    %h1= t :members
  .col-md-3
    %a.btn.btn-default.btn-block.btn-left{href: new_group_invitation_path(@group), id: 'invite-new-members'}
      %i.fa.fa-user
      = t :invite_people
    %a.btn.btn-default.btn-block.btn-left{href: "#email-members-modal", "data-toggle" => "modal"}
      %i.fa.fa-envelope
      = t(:email_group_members)

    = render "groups/email_members", :group => @group


%table.memberships.table.table-striped
  %thead
    %th.col-md-1= t :photo
    %th= t :name
    %th= t :username
    %th= t :coordinator
    %th= t :remove
  %tbody
    -@memberships.each do |membership|
      -user = membership.user
      %tr{id: "membership-for-user-#{user.id}"}
        %td=render 'avatar', user: user
        %td
          %div= link_to user.name, user_path(user)
          %div.access-level= t :coordinator if membership.admin?
        %td= "@#{user.username}"
        %td
          - if membership.admin?
            = link_to t(:remove_coordinator),
              remove_admin_group_membership_path(@group, membership),
              method: :post,
              class: 'btn btn-warning btn-block',
              data: {confirm: t(:confirm_remove_coordinator, which_user: user.name)}
          - else
            = link_to t(:make_coordinator),
              make_admin_group_membership_path(@group, membership),
              method: :post,
              class: 'btn btn-default btn-block',
              data: {confirm: t(:confirm_make_coordinator, which_user: user.name)}
          %td=link_to t(:remove),
              group_membership_path(@group, membership),
              method: :delete,
              class: 'btn btn-danger',
              data: {confirm: t(:confirm_remove_member)}  

- unless @group.pending_invitations.count == 0
  %h1=  t :pending_invitations
  %table.pending-invitations.table.table-striped
    %thead
      %th= t "common.email"
      %th= t "invitation.invitation_link"
    %tbody
      - @group.pending_invitations.each do |invitation|
        %tr
          %td= invitation.recipient_email
          %td= invitation_url(invitation)
          %td= link_to(t(:cancel), group_invitation_path(@group, invitation), method: :delete, class: 'btn btn-primary')

  %p= t "invitation.copy"
