.row
  .span9
    = render '/groups/title', group: @group
    %h1= t :members
  .span3#button-container
    - if can?(:add_members, @group)
      = icon_button(href: new_group_invitation_path(@group), text: t(:invite_people), icon: '/assets/member-18.png', id: 'invite-new-members', class: 'btn-grey')

.row
  .span12
    %table.memberships.table.table-striped
      %thead
        %th.span1= t :photo
        %th.span11= t :name
      %tbody
        -@memberships.each do |membership|
          -user = membership.user
          %tr{id: "membership-for-user-#{user.id}"}
            %td=render 'avatar', user: user
            %td
              %div
                = link_to user.name, user_path(user)
              %div.access-level= t :coordinator if membership.admin?
