= render '/groups/title', group: @group

%h1= t :members

%table.memberships.table.table-striped
  %thead
    %th= t :photo
    %th= t :name
    %th= t :"common.email"
    %th= t :coordinator
    %th= t :remove
  %tbody
    -@memberships.each do |membership|
      -user = membership.user
      %tr{id: "membership-for-user-#{user.id}"}
        %td=render 'avatar', user: user, size: "small", kind: nil, id: nil
        %td=user.name
        %td=user.email
        %td
          - if membership.admin?
            = link_to t(:remove_coordinator),
              remove_admin_group_membership_path(@group, membership),
              method: :post,
              class: :btn,
              :confirm => t(:confirm_remove_coordinator, which_user: user.name)
          - else
            = link_to t(:make_coordinator),
              make_admin_group_membership_path(@group, membership),
              method: :post,
              class: :btn,
              :confirm => t(:confirm_make_coordinator, which_user: user.name)
        %td=link_to t(:remove),
            group_membership_path(@group, membership),
            method: :delete,
            class: 'btn btn-danger',
            :confirm => t(:confirm_remove_member)

%p=t(:want_to_invite_html, link: new_group_invitation_path(@group))
