.row
  .col-md-9
    = render '/groups/title', group: @group
    %h1= t :members
  .col-md-3#button-container
    - if can?(:add_members, @group)
      %a.btn.btn-default{href: new_group_invitation_path(@group), id: 'invite-new-members'}
        = t :invite_people

.row
  .col-md-12
    %table.memberships.table.table-striped
      %thead
        %th.col-md-1= t :photo
        %th.col-md-11= t :name
      %tbody
        -@memberships.each do |membership|
          -user = membership.user
          %tr{id: "membership-for-user-#{user.id}"}
            %td=render 'avatar', user: user
            %td
              %div
                = link_to user.name, user_path(user)
              %div.access-level= t :coordinator if membership.admin?
