= simple_form_for(@user, url: user_session_path) do |f|
  = f.input :email, required: false, label: false
  = f.input :password, label: false
  .row-fluid
    .span3
      = f.submit t(:sign_in), class: "btn btn-info btn-large", id: "sign-in-btn", :data => { :disable_with => t(:sign_in) }
    .span9.input-options
      = link_to t(:forgot_your_password), new_password_path(resource_name)
      #remember-me
        = f.input :remember_me, :as => :boolean, label: false, inline_label: t(:remember_me) if devise_mapping.rememberable?
    #new-account
      = t(:'dont_have_an_account')
      = link_to t(:'create_one_now'), new_user_registration_path, id:'create_account'

