= simple_form_for(@user, url: user_session_path) do |f|
  = f.input :email, required: false
  = f.input :password, input_html: {autocomplete: 'off'}
  = f.submit t(:sign_in), class: "btn btn-default btn-block btn-info btn-lg", id: "sign-in-btn", :data => { :disable_with => t(:sign_in) }

  .row
    .col-md-6#remember-me
      .checkbox
        = label_tag "user_remember_me" do
          = f.check_box :remember_me
          = t(:remember_me)
    .col-md-6#forgot-pwd
      = link_to t(:forgot_your_password), new_password_path(resource_name)
