= simple_form_for(@user, url: user_session_path) do |f|
  - if @invitation
    = f.input :email, :input_html => { :value => @invitation.recipient_email }, required: false
  - else
    = f.input :email, required: false
  = f.input :password
  = f.input :remember_me, :as => :boolean, label: false, inline_label: t(:remember_me) if devise_mapping.rememberable?
  .sign-in-button
    = f.submit t(:sign_in), class: "btn btn-info btn-large", id: "sign-in-btn", :data => { :disable_with => t(:sign_in) }
= render "devise/shared/links"
