.container
  %section#sign-in
    .inner-container
      .row-fluid
        .subhead
          .span1 &nbsp;
          .span4
            %h2= t :sign_in

      .row-fluid
        .span1 &nbsp;
        .span4
          = render "form"
        .span1 &nbsp;
        .span5
          %p
            %strong= t :dont_have_account
            %br
            = t :closed_beta
          %p= t :closed_beta_details
