%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %h5
    Email
    .standard-input= f.email_field :email
    Password
    .standard-input= f.password_field :password
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      Remember me
  .sign-in-button
    = f.submit "Sign in", class: "btn primary small"
= render :partial => "devise/shared/links"
