.container
  %section#sign-in
    .inner-container
      .row-fluid
        .span6.offset3
          %h1
            - if @invitation
              - if @invitation.to_start_group?
                = t :"start_group.sign_in_intro"
              - else
                = t :"join_group.sign_in_intro"
            - else
              = t :sign_in
          .signin_container
            = render 'devise/shared/omniauth_buttons'
            = render "form"
  .terms
    =t(:terms_of_service_html, button_text: t(:"devise.sessions.sign_in"), link_path: terms_of_service_path)
