.container
  %section#sign-in
    .inner-container
      .row
        .col-md-6.col-md-offset-3.col-xs-12
          - if omniauth_authenticated_and_waiting?
            %h1= t :link_up_your_account
            %p= t :log_in_to_your_loomio_account, provider_name: @omniauth_authentication.provider_name
          -else
            %h1
              - if @invitation
                - if @invitation.to_start_group?
                  = t :'start_group.log_in'
                - else
                  = t(:'join_group.log_in', group_name: @invitation.invitable_name)
              - else
                = t :sign_in

          .signin_container
            = render "form"
            %p.sign_up
              != t :create_account, sign_up_link: link_to(t(:sign_up_link), new_user_registration_path)
            - env = Rails.application.secrets
            - if env.google_key or env.twitter_key or env.facebook_key or env.github_key
              -unless omniauth_authenticated_and_waiting?
                .sso-btn-row
                  %label= t :log_in_with_third_party
                  -if env.facebook_key
                    = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-default btn-block btn-lg login' do
                      = t :log_in_with_facebook
                  -if env.google_key
                    = link_to user_google_omniauth_authorize_path, class: 'btn btn-default btn-block btn-lg login' do
                      = t :log_in_with_google
                  -if env.twitter_key
                    = link_to user_twitter_omniauth_authorize_path, class: 'btn btn-default btn-block btn-lg login', id: 'twitter-login-btn' do
                      = t :log_in_with_twitter
                  -if env.github_key
                    = link_to user_github_omniauth_authorize_path, class: 'btn btn-default btn-block btn-lg login', id: 'github-login-btn' do
                      = t :log_in_with_github
          .terms
            =t(:tos_html, link_path: terms_of_service_path) if hosted_by_loomio?
