.container
  .section#sign-in
    .inner-container
      .row-fluid
        .subhead
          .span1 &nbsp;
          .span4
            %h2 Sign in

      .row-fluid
        .span1 &nbsp;
        .span4
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            = f.label :email, "Email"
            = f.email_field :email
            = f.label :password, "Password"
            = f.password_field :password
            - if devise_mapping.rememberable?
              = f.check_box :remember_me, class: "pull-left"
              = f.label :remember_me, "Remember me", class: "checkbox-label"
            .sign-in-button
              = f.submit "Sign in", class: "btn btn-info btn-large", :id => "sign-in-btn", :data => { :disable_with => "Signing in" }
            = render :partial => "devise/shared/links"

        .span1 &nbsp;
        .span5
          %p
            %strong Don't have an account?
            %br
            We're currently in closed testing and not accepting public sign-ups (yet!).
          %p If you belong to a group that is using Loomio but you don't have your own Loomio account, please contact the person in your organization who set up Loomio and ask them to add you to the group.
