= render '/application/mailer_doctype'
%html
  %p= t("email.proposal_blocked.intro")
  %p
    = link_to(t("email.view_proposal"), motion_url(@motion))

  %table
    %tr
      %th= t :proposal
      %td= link_to @motion.name, discussion_url(@motion.discussion, proposal: @motion)
    %tr
      %th= t :discussion
      %td= @discussion.title
    %tr
      %th= t :group
      %td= @motion.group.name


    - if @rendered_motion_description.present?
      %tr
        %th &nbsp;
        %td &nbsp;
      %tr
        %th= t :details
        %td= @rendered_motion_description

  = render 'user_mailer/unsubscribe_link'
