A motion you are facilitating has been blocked.

= "View the motion here: #{motion_url(@motion)}"
= "\n\n"
= "Motion Name: #{@motion.name}"
= "Group: #{@motion.group.name}"
= "Blocked by: #{@user.name} (#{@user.email})"
