Hi there,
="Just so you know, the motion '[#{@group.name}] #{@motion.name}' has just been blocked by #{@user.name} (#{@user.email})."

= "Have a look at the motion for more info: #{motion_url(@motion)}"
