A proposal you are facilitating has been blocked.
:plain

= "View proposal: #{discussion_url(@motion.discussion, proposal: @motion)}"
:plain


!= "Proposal: #{@motion.name}"
!= "Discussion: #{@discussion.title}"
!= "Group: #{@motion.group.name}"
= "Blocked by: #{@user.name} (#{@user.email})"
