= t("email.proposal_blocked.intro")
\
= t("email.view_proposal")
= discussion_url(@motion.discussion, proposal: @motion)
\
= "#{t(:proposal)}:"
= @motion.name
\
= "#{t(:discussion)}:"
= @discussion.title
\
= "#{t(:group)}:"
= @motion.group.name
\
- if @motion.description.present?
  = "#{t(:details)}:"
  = @motion.description
\
= render 'user_mailer/unsubscribe_link_text'
