A new motion was created in a Loomio group that you belong to.
:plain

= "View motion: #{motion_url(@motion)}"
:plain


= "Motion: #{@motion.name}"
= "Group: #{@motion.group.name}"
- if @motion.description.present?
  = "Description: " + @motion.description
