= render '/application/mailer_doctype'
%html
  %head
    = stylesheet_link_tag 'email'
  %body.proposal-outcome
    %p.author-action= t(:"email.new_motion_created.context", author: @motion.author_name, group_full_name: @group.full_name)
    %p.motion-name= link_to @motion.name, motion_url(@motion, @utm_hash)

    -if @rendered_motion_description.present?
      = @rendered_motion_description

    %p
      = t(:"email.proposal_closing_soon.closes_on") + ' ' + @motion.closing_at.in_time_zone(TimeZoneToCity.convert @user.time_zone).strftime('%A %-d %b - %l:%M%P')
      %br

    %h4.have-say-title= t(:"help.have_your_say")
    = render 'vote_buttons', motion: @motion

    %br
    = render 'user_mailer/unsubscribe_link'
