%p A new proposal was created in a Loomio group that you belong to.

%p
  = link_to("Click here to view this proposal", discussion_url(@motion.discussion))
%p
  Proposal:
  = @motion.name
  %br
  Group:
  = @motion.group.name
  %br
  Author:
  = @motion.author.name
  %br
  - if @motion.has_close_date?
    Closes in:
    = time_ago_in_words(@motion.close_date) + " (" + @motion.close_date.localtime.strftime('%a %d %b %Y, %I:%M%p, %Z') + ")"

  %p
  - if @motion.description.present?
    Details:
    %br
    = @motion.description

= render 'user_mailer/unsubscribe_link'
