.row
  .span8
    %h1= "Search results for '#{@query}'"
  .span4#explanation
    %p= "Below is a list of discussions and proposals that have '#{@query}' in their title or description."

.search-container
  - @search_form.results.group_by(&:group).each_pair do |group, items|
    .search-group
      %h2= link_to group.full_name, group
      %ul.search-list
        - items.each do |item|
          -if item.is_a? Discussion
            =render 'discussion_line_item', item: item
          / -if item.is_a? Motion
          /   =render 'motion_line_item', item: item
