-if @query.empty?
  .row
    .col-xs-12
      %h1= t(:'search.empty_search')
      = t(:'search.please_enter_a_search')
-else
  .row
    .col-xs-12
      %h1= t("search.header", query: @query)

  .search-container
    - if @search_form.results.empty?
      = t(:'search.no_match')
    -else
      - @search_form.results.group_by(&:group).each_pair do |group, items|
        .search-group
          %h2= link_to group.full_name, group
          %ul.search-list
            - items.each do |item|
              -if item.is_a? Discussion
                =render 'discussion_line_item', item: item
              -if item.is_a? Motion
                =render 'motion_line_item', item: item
