= render 'avatar', author: @invitation.inviter
%strong= @invitation.inviter.name
= t(:"email.to_join_group.invitation_text_html")
%br
%strong= @invitation.invitable_name
.invite-people-mailer__message-container
  .invite-people-mailer__message_body
    - if @message_body
      = simple_format @message_body
    - else
      = simple_format @invitation.group.description.to_s.truncate(250, separator: ' ')
  = link_to t(:"email.to_join_group.accept_invitation"), invitation_url(@invitation, @utm_hash), class: "invite-people-mailer__button"
.invite-people-mailer__value-proposition
  = t(:"email.value_proposition")
