%p
  = t(:"invitation.link_help", group_name: @invitation.invitable_name)
  %br
  = link_to "#{invitation_url(@invitation)}", invitation_url(@invitation, @utm_hash)
%p
  = simple_format @message_body
%p
  = t(:"invitation.value_proposition")
%p
  = t(:"invitation.thanks")
= @invitation.inviter.name
