.to-join-group
  .to-join-group__container
    = render '/mailer_header'
    .to-join-group__body
      .to-join-group__invitation-text
        %strong= @invitation.inviter.name
        = t("email.to_join_group.invitation_text_html")
        %br
        %strong= @invitation.invitable_name
      .to-join-group__message-container
        - if @message_body
          .to-join-group__message_body
            = @message_body
        = link_to t("email.to_join_group.accept_invitation"), invitation_url(@invitation, @utm_hash), class: "to-join-group__accept-invitation"
      .to-join-group__tagline
        = t("email.to_join_group.place_for_groups")
        %br
        = t("email.to_join_group.make_decisions_together")

