= render '/application/mailer_doctype'
%html
  %p= t("email.invitation.hi", name: @invitation.recipient_first_name)

  %p= t("email.invitation.intro", group_name: @invitation.invitable_name)

  = link_to "#{invitation_url(@invitation)}", invitation_url(@invitation)

  %p= t("email.invitation.closing_message")

  %p= simple_format t('email.invitation.thanks')
