= t("email.invitation.hi", name: @invitation.recipient_first_name)
\
= t("email.invitation.intro", group_name: @invitation.invitable_name)
\
= invitation_url(@invitation)
\
= t("email.invitation.closing_message")
\
= t('email.invitation.thanks')
