%p= t("email.invitation.hi", name: @invitation.recipient_name.to_s.split(" ").first)

%p= t("email.invitation.intro", group_name: @invitation.invitable_name)

= link_to "#{invitation_url(@invitation)}", invitation_url(@invitation, @utm_hash), data: {skip_click: true}

%p= t("email.invitation.closing_message")

%p= simple_format t('email.invitation.thanks')
