= t("email.invitation.header")
\
= t("email.invitation.hi", name: @invitation.recipient_name)
\
= t("email.invitation.intro", group_name: @invitation.group_name)
\
= invitation_url(@invitation)
\
= t("email.invitation.closing_message")
\
= t :thanks
