- first_name = @recipient.name.split(' ').first

%p= "Hi #{first_name}, thanks for trying Loomio!"

%p
  Now that you’ve finished setup, you can
  = link_to "invite people", new_group_invitation_url(@group)
  to join your group.
%p
  If you’re looking for some pointers on how to get the most out the tool, check out the
  = link_to "How It Works page", help_url
  for a quick introduction.

- if @group.is_subscription?
  %p
    %strong Subscription:
    %br
    You’ve got a 30-day free trial, but if you want to take care of payment now, you can visit the
    = link_to "Subscription page.", group_subscription_url(@group)
- elsif @group.is_pwyc?
  %p
    %strong Pay what you can:
    %br
    As an informal group, there’s no set subscription fee. Instead, people in your group will have an opportunity to make a contribution of their choice. You can find out more about our community funding model on the
    = link_to "Contribute page.", contributions_url

%p If you’ve got any questions or feedback, just reply to this email. I’d love to hear from you!

%p
  Best wishes,
  %br
  Rich

%p on behalf of the Loomio team