.row-fluid
  .span12.header-row
    %h1 Discover groups on Loomio
    .input-append
      = form_tag public_groups_path, method: 'get', class: 'form-search' do |f|
        = text_field_tag :query, params[:query], class: 'search-query'
        .add-on
          %i.fa.fa-search
            = submit_tag "", class: 'submit-search'
.public-groups-container

  %ul.selector-list.bordered
    - @groups.each do |group|
      = link_to group do
        %li.selector-item
          .group-name
            = group.full_name
          .group-description.clearfix
            = group.description

= paginate @groups, :window => 3
