%div.rounded.max-width-600.px-2.py-1{style: 'border: 1px solid #eee'}
  %table.v-layout-table
    %tr
      - if event.user
        %td= render "avatar", user: event.user
      %td
        - title = link_to(event.eventable.title, tracked_url(event.eventable))
        - poll_type = @poll ? t("poll_types.#{@poll.poll_type}") : nil
        - if @recipient.id == event.eventable.author_id && I18n.exists?("notifications.without_title.#{event.kind}_author")
          - key = "notifications.without_title.#{event.kind}_author"
        - else
          - key = "notifications.without_title.#{event.kind}"

        %h2.text-subtitle-1.ml-2=raw t(key, actor: event.user.name, title: title, poll_type: poll_type)

    - if event.recipient_message.present?
      %tr
        %td{colspan: "2" }
          %p
            %i=raw render_plain_text(event.recipient_message)
