
- if @event.eventable.is_a?(Discussion) 
	-# = render "event_mailer/breadcrumbs", eventable: @event.eventable.discussion
	= render "event_mailer/notification", event: @event
	= render "event_mailer/title", eventable: @event.eventable.discussion
	= render "event_mailer/tags", eventable: @event.eventable.discussion
	= render "event_mailer/body", eventable: @event.eventable

- if @event.eventable.is_a?(Comment)
	= render "event_mailer/notification_with_title", event: @event
	= render "event_mailer/body", eventable: @event.eventable

- if @event.eventable.is_a? Stance
	= render "event_mailer/notification_with_title", event: @event
	= render "event_mailer/poll/stance", stance: @event.eventable

- if @event.eventable.is_a?(Poll) or @event.eventable.is_a?(Outcome)
	- poll = @event.eventable.poll
	= render "event_mailer/notification", event: @event
	= render "event_mailer/poll/share_outcome", event: @event
	= render "event_mailer/title", eventable: poll
	= render "event_mailer/tags", eventable: poll
	= render "event_mailer/poll/summary", poll: poll
	= render "event_mailer/poll/vote", poll: poll
	- if @event.kind != "poll_created" && (@event.kind != "poll_announced" && poll.decided_voters_count > 0)
		= render "event_mailer/poll/results", poll: poll
	- if %w[poll_announced poll_created].include?(@event.kind) && @event.eventable.discussion
		%hr
		= render "event_mailer/title", eventable: @event.eventable.discussion
		= render "event_mailer/body", eventable: @event.eventable.discussion
	- else
		= render "event_mailer/poll/responses", event: @event

= render "event_mailer/footer", event: @event
