%div{ class: 'panel' }
  %h3 Group Stats
  %div{ class: 'panel-contents' }
    %table{ id: 'stats-table' }
      %tr
        %th Visits
        %th Members
        %th Threads
        %th Subgroups
        %th Polls
        %th Votes
      %tr
        %td= Queries::AdminGroupPage.visits(group.id).last[:count]
        %td= group.memberships_count
        %td= group.discussions_count
        %td= group.subgroups_count
        %td= group.polls_count
        %td= group.polls.reduce(0) { |sofar, poll| sofar + poll.stances.count }
