%div{ class: 'panel' }
  %h3 Group Stats
  %div{ class: 'panel-contents' }
    %table{ id: 'stats-table' }
      %tr
        %td
          %h2{ style: "text-align: center"}= Queries::AdminGroupPage.visits(group.id).last[:count]
        %td
          %h2{ style: "text-align: center"}= group.memberships_count
        %td
          %h2{ style: "text-align: center"}= group.discussions_count
        %td
          %h2{ style: "text-align: center"}= group.subgroups_count
        %td
          %h2{ style: "text-align: center"}= group.polls_count
        %td
          %h2{ style: "text-align: center"}= group.polls.reduce(0) { |sofar, poll| sofar + poll.stances.count }
      %tr
        %th
          %h4{ style: "text-align: center" } Visits
        %th
          %h4{ style: "text-align: center" } Members
        %th
          %h4{ style: "text-align: center" } Threads
        %th
          %h4{ style: "text-align: center" } Subgroups
        %th
          %h4{ style: "text-align: center" } Polls
        %th
          %h4{ style: "text-align: center" } Votes

    %h3 Tags: #{ group.admin_tags.split(' ').join(', ') }
