= render '/groups/title', group: @group

%h1=  t :pending_invitations

%table.pending-invitations.table.table-striped
  %thead
    %th= t "common.email"
    %th= t "invitation.invitation_link"
    %th= t :cancel
  %tbody
    - @pending_invitations.each do |invitation|
      %tr
        %td= invitation.recipient_email
        %td= invitation_url(invitation)
        %td= link_to(t(:cancel), group_invitation_path(@group, invitation), method: :delete, class: 'btn')

%p= t "invitation.copy"

= link_to t(:invite_people), new_group_invitation_path(@group), :class => "btn btn-info btn-large"
