= render '/groups/title', group: @group
= simple_form_for(@invite_people_form, url: group_invitations_path(@group), method: :post) do |f|
  .row#invitations-header
    %h1= t("invitation.invite_people")
  .row#invitation-options
    - if can? :invite_outsiders, @group
      .span6.invite-by-email
        = render 'groups/invite_users', form: f, group: @group
        = @group.invitations_remaining
        = t :invitations_remaining
    - if @group.is_a_subgroup?
      .span4.invite-members-of-parent
        %h3= t :"invitation.select_members", group_name: @group.parent.name
        .parent-members
          - addable_users = @group.parent.members.map{|u| [u.name, u.id] }
          - existing_user_ids = @group.members.map(&:id)
          - if addable_users.count > 1
            .invite-member-checkbox-container
            = f.input :parent_members_to_add, collection: addable_users, as: :check_boxes, label: false, disabled: existing_user_ids, checked: existing_user_ids

          - else
            =t :empty_parent_group
  .row
    .span5.invitation-submit
      = f.submit t("invite_people"), :class => "btn btn-info btn-large run-validations", :id => "invite-to-subgroup", :data => { disable_with: t("invite_people") }
      =render "application/hint", text: t(:"hint.invitation"), anchor: 'writing-a-great-invitation'

