.light-proposal
  %table
    %tr
      %td.icon
        = render 'thread_mailer/motion_pie', motion: motion
      %td.content
        %h3
          = t(:proposal)+":"
          = link_to motion.name, motion_url(motion, @utm_hash)
        %p
          %em= t(:"email.by_who", person: motion.author.name)

        - if motion.closed?
          %b= t(:closed) + " " + time_formatted_relative_to_age(motion.closing_at)
          - if motion.outcome.present?
            = render_rich_text(motion.outcome, true)
          - else
            = render_rich_text(motion.description, true)
        - else
          = render_rich_text(motion.description, true)
          - unless motion.user_has_voted?(@recipient)
            %h4.have-say-title= t(:"help.have_your_say")
            = render 'thread_mailer/vote_buttons', motion: motion
