%h4= link_to @motion.name, motion_url(@motion, @utm_hash) unless no_title

%table
  %tr
    %td
      = render 'motion_pie', motion: @motion
    %td
      = render_rich_text(@motion.description, true)
%p
  = t(:proposed_when_by_who,
    when: time_ago_in_words(@motion.created_at),
    who: @motion.author_name)

-if @motion.unique_votes.present?
  %h4= t(:positions).capitalize
  %table
    -@motion.grouped_unique_votes.each do |vote|
      %tr
        %td
          = image_tag "thread_mailer/vote-icon-#{vote.position}.png", alt: "#{vote.position} icon", class: "thread-mailer__vote-icon"
        %td= vote.user_name
        %td= render_rich_text(vote.statement)

%p= t(:engagement_on_closed_proposal, percent: @motion.percent_voted, :numerator => @motion.voters_count, denominator:  @motion.members_count)
