= image_tag "thread_mailer/#{vote.position}-24.png", alt: "#{vote.position} icon"
%strong= vote.author.name
- past_tense_position = I18n.t("position_verbs.past_tense.#{vote.position}")
= t('notifications.new_vote', position: past_tense_position) + ": " + @motion.title
%br
= render_rich_text vote.statement, true
