= render 'avatar', author: @author
.thread-mailer__subject
  %strong
    = @motion.outcome_author.name
  %span
    = t(:"email.thread_mailer.outcome_created_html")
  %strong
    %span
      = link_to @motion.name, motion_url(@motion, @utm_hash)

= render_rich_text(@motion.outcome, true)

= render 'motion_with_positions', no_title: true
