= render 'avatar', author: @author
.thread-mailer__subject
  - if @following
    %strong
      = @motion.author_name
    = t(:'email.thread_mailer.new_motion_html')
  - else
    %strong
      =  @motion.author_name
    = t(:'email.new_motion_created.context', group_full_name: @group.full_name, author: @motion.author_name)
  %span
    %strong
      = link_to @motion.name, motion_url(@motion, @utm_hash)

= render_rich_text(@motion.description, true)

%p= t(:'email.proposal_closing_soon.closes_on') + ' ' + motion_closing_time_for(@recipient)
%h4= t(:'help.have_your_say')
= render 'vote_buttons', motion: @motion
