%p= t(:"email.thread_mailer.new_motion", who: @motion.author_name)
%h4= link_to @motion.name, motion_url(@motion)

= render_rich_text(@motion.description, false)

%p= t(:"email.proposal_closing_soon.closes_on") + ' ' + motion_closing_time_for(@user)

%h4= t(:"help.have_your_say")
= render 'vote_buttons', motion: @motion