= t(:"email.thread_mailer.new_motion", who: @motion.author_name)
\
= @motion.name
\
= @motion.description
\
= t(:"email.proposal_closing_soon.closes_on") + ' ' + motion_closing_time_for(@recipient)
\
= t(:"help.have_your_say") + ":"
= motion_url(@motion, @utm_hash)
