- past_tense_position = I18n.t("position_verbs.past_tense.#{@position}")
= "#{@vote.author.name} #{t('notifications.new_vote', position: past_tense_position)}:"
\
= @vote.statement
= render "footer", link: motion_url(@motion)