= render 'avatar', author: @author
.thread-mailer__subject
  %strong= @author.name
  %span= t(:"email.mentioned.context_html")
  %span
    %strong
      = link_to @discussion.title, polymorphic_url(@eventable)
= render_rich_text(@text, true)
- if @eventable.respond_to?(:attachments) && @eventable.attachments.any?
  = render 'attachments', resource: @eventable
