- poll = item.eventable
.poll-created
  .thread-item.px-3.pb-1
    = render "discussions/polls/common/header", poll: poll
    = render "discussions/polls/common/summary", poll: poll
    = render "discussions/polls/#{poll.poll_type}/chart", poll: poll
    = render "discussions/polls/#{poll.poll_type}/responses", poll: poll
