- poll = item.eventable
.poll-created
  .thread-item.px-3.pb-1
    #sequence-3.layout.lmo-action-dock-wrapper{:style => "margin-left: 0px;"}
      .thread-item__avatar.mr-3.mt-0
        = render 'discussions/avatar', user: poll.user
      .layout.thread-item__body.column
        .layout.align-center.wrap
          %h3.thread-item__title.body-2
            =raw t(:"poll_mailer.#{poll.poll_type}.header.poll_created", actor: poll.user.name, title: poll.title)
            %span
              %span{"aria-hidden" => "true"}  ·
            %span.grey--text.body-2
              = render 'discussions/time_ago', time: poll.created_at
        .layout.justify-space-between
          %h1.poll-common-card__title.headline
            %span= poll.title
            %span.ml-2.v-chip.v-chip--outlined.theme--light.v-size--small.warning.warning--text
              %span.v-chip__content
                - if poll.active?
                  = t(:"poll_mailer.common.you_have_until", when: formatted_time_in_zone(poll.closing_at, poll.time_zone))
                - else
                  = t(:"poll_common_form.closed")
                  = formatted_time_in_zone(poll.closed_at, poll.time_zone)
                -# %abbr.closing-in.timeago--inline
                -#   %span{:title => "January 21, 14:55"} Closed January 21, 14:55
        - if poll.current_outcome
          .pa-4.my-4.poll-common-outcome-panel.v-sheet.theme--light.elevation-2.primary.lighten-5
            .title= t(:"poll_common.outcome")
            .poll-common-outcome-panel__authored-by.caption.my-2
              %span= t(:'email.by_who', person: poll.current_outcome.author.name)
              %span
                = render 'discussions/time_ago', time: poll.current_outcome.created_at
            .lmo-markdown-wrapper.body-2.text--primary
              %p= render_rich_text_fast(poll.current_outcome.statement, poll.current_outcome.statement_format)
      .lmo-markdown-wrapper.body-2.text--primary.poll-common-details-panel__details
        %p= render_rich_text_fast(poll.details, poll.details_format)

    = render "discussions/polls/#{poll.poll_type}/chart", poll: poll
