#description-placeholder
  - if model.description.blank? && (can? :edit_description, model)
    = link_to "Add a #{model_name} description", "#", id: 'add-description'
#show-description
  - if !model.description.blank?
    .model-description.word-break= model.description
    - if can? :edit_description, model
      = link_to "Edit #{model_name} description", "#", id: 'edit-description'
#add-edit-description.hidden
  = form_tag send("edit_description_#{model_name}_path"), :remote => true do |f|
    = hidden_field_tag 'id'
    .control-group
      = text_area_tag 'description', model.description, {id: 'description-input', class: inputError_class(model_name)}
    .character-counter
    .save-buttons.clearfix
      = submit_tag "Save", class: 'btn btn-small run-validations', id: 'add-description-submit', :disable_with => "Saving"
      = link_to "Cancel", "#", id: 'cancel-add-description'
