.pages-links
  = link_to t('footer.terms'), terms_of_service_path
  = link_to t('footer.privacy'), privacy_path
  = link_to t('pricing'), pricing_path
  = link_to t('footer.contact'), contact_path
  = link_to t('footer.about'), about_path
  / = link_to t('footer.blog'), blog_path
