%footer.footer{role: 'contentinfo'}
  - if hosted_by_loomio?
    .col-sm-5
      = link_to t(:translate, default: "help translate Loomio!"), 'https://www.loomio.org/d/hB1Oijwv/overview-of-the-translation-process-for-translators'

    .col-sm-7.footer-links
      = link_to t('footer.pricing'), pricing_path,        target: :_blank
      = link_to t('footer.public_groups'), explore_path,  target: :_blank
      = link_to t('footer.blog'), blog_path,              target: :_blank
      = link_to t('footer.help'), help_path
      = link_to t('footer.contact'), contact_path,        target: :_blank
      = link_to t('footer.about'), about_path,            target: :_blank
      = link_to t('footer.terms'), terms_of_service_path, target: :_blank
      = link_to t('footer.privacy'), privacy_path,        target: :_blank
  - else
    = t :"footer.independent_install_html", hostname: ENV['CANONICAL_HOST'] || request.host
