.pages-links
  = link_to t('footer.terms'), terms_of_service_pages_path
  = link_to t('footer.privacy'), privacy_pages_path
  = link_to t('footer.pricing'), pricing_pages_path
  = link_to t('footer.contact'), pages_contact_path
  = link_to t('footer.about'), about_pages_path
  = link_to t('footer.blog'), blog_pages_path
