-color_navbar = "navbar-inverse" if user_signed_in?
.toolbar-navigation
  .navbar.navbar-fixed-top{ class: color_navbar }
    .navbar-inner
      .container
        %ul.nav-bar-list.clearfix
          - if user_signed_in?
            %li.nav-item#logo-home
              %a.nav-logo-link{:href => "/"}
                = image_tag(navbar_logo_path, :alt => "Loomio")
            = render 'inbox'
            = render 'notifications_dropdown'
            = render 'application/groups_dropdown'
            = render 'user_dropdown'
            - if navbar_contribute == "show"
              = render 'contribute'
            = render 'help_dropdown'
            = render 'search'
          - else
            %li.nav-item#logo-home
              %a.nav-logo-link.logged-out{:href => "/"}
                = image_tag('top-bar-loomio-orange.png', :alt => "Loomio")
            %li.pull-right
              - unless controller_name == "group_requests"
                =link_to t(:log_in), new_user_session_path, class: 'btn btn-info'
