.navbar-wrapper
  %header.navbar{:data => {:dropdown =>'dropdown'}}
    %ul.nav-bar-list.clearfix
      - if user_signed_in?
        %li.nav-item#logo-home
          %a.nav-logo-link{:href => "/"}
            = image_tag("top-bar-loomio.png", :alt => "Loomio")

        %li.nav-item.dropdown#groups
          %a.nav-link{href: "#",  class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
            %span.nav-item-icon.large-icon.group-icon
              -#- total_activity = current_user.activity_total
            -#- if total_activity > 0
              -#%span#activity-count.label.label-important
                -#= total_activity
            %span= "Groups"
            %b.caret
          %ul.dropdown-menu
            %li.group-item.all-groups
              %a.selector-link{href: '/'}
                = "Home"
            - current_user.root_groups.order('name').each do |group|
              = render 'group_dropdown_item', group: group, subgroup: false
              - if group.subgroups.size > 0
                - group.subgroups.each do |sub_group|
                  - if current_user.group_membership(sub_group)
                    = render 'group_dropdown_item', group: sub_group, subgroup: true
            %li.group-item.new-group
              =link_to "+ Add New Group", new_group_path

        %li.nav-item.dropdown#notifications-container
          - latest_seen_notification = notifications.first.id if notifications.exists?
          = link_to "#", 'ajax-path' => mark_as_viewed_notifications_path(:latest_viewed => latest_seen_notification),
                   :id => 'notifications-toggle', :class => 'dropdown-toggle nav-link', 'data-target' => '#',
                   'data-toggle' => 'dropdown' do
            %span.nav-item-icon.large-icon.notification-icon
            - if unviewed_notifications.size > 0
              %span#notifications-count.label.label-important
                = unviewed_notifications.size
            %span= "Notifications"
            %b.caret
          %ul.dropdown-menu
            %h3 Notifications
            %li.divider
            #notification-items
              - if notifications.count == 0
                .notifications-placeholder You do not have any notifications yet.
              - notifications.each do |notification|
                = render notification
            #notifications-see-more= link_to "See all notifications", notifications_path

        %li.nav-item.dropdown#user
          %a.nav-link{href: "#", class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
            .small-user-avatar.avatar-canvas#header-user-image
              - if current_user.avatar_url.nil?
                %span.small-user-initials.initials-decoration= current_user.avatar_initials
              - else
                = image_tag current_user.avatar_url("small")
            = current_user.name
            %b.caret
          %ul.dropdown-menu
            %li= link_to "Settings", user_settings_path
            %li= link_to('Sign out', destroy_user_session_path, method: :delete)

        %li.nav-item#feedback
          %a.nav-link{:href => 'mailto:contact@loom.io', :target => '_blank'}
            Give us feedback

      - else
        %li.nav-item#sign-in
          %a.nav-link{:href => new_user_session_path}
            Sign in
