- if hide_beta_logo?
  - logo_class = 'app-logo'
- else
  - logo_class = 'app-logo beta'
.toolbar-navigation
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %ul.nav-bar-list.clearfix
          %li.nav-item#logo-home
            - if Rails.env.development?
              .development-warning
                %i.fa.fa-wrench
            %a.nav-logo-link{class: logo_class, href: dashboard_or_root_path, title: t(:"organisation.name")}
              &nbsp;
          - if user_signed_in?
            = render 'inbox'
            = render 'notifications_dropdown'
            = render 'application/groups_dropdown'
            = render 'user_dropdown'
            = render 'search'
          - else
            %li.pull-right
              - unless controller_name == "group_requests"
                =link_to t(:log_in), new_user_session_path, class: 'btn btn-info login'
