.logged-in-navigation
  - if user_signed_in?
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav-bar-list.clearfix
            %li.nav-item#logo-home
              %a.nav-logo-link{:href => "/"}
                = image_tag("top-bar-loomio.png", :alt => "Loomio")
                = render 'application/groups_dropdown'
                = render 'notifications_dropdown'
                = render 'user_dropdown'
            %li.nav-item#help
              %a.nav-link{ :href => help_path(anchor: 'how-it-works'), target: "help" }
                %i.icon-star.icon-white
                %span= t :"help.help"

  - else
    .container#top
      .inner-container
        .row-fluid
          =link_to image_tag("loomio-orange-header.png"), root_url
          .pull-right
            =link_to 'Sign in', new_user_session_path, class: 'btn btn-info'
