.toolbar-navigation
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %ul.nav-bar-list.clearfix
          %li.nav-item#logo-home
            %a.nav-logo-link{:href => "/"}
              = image_tag('navbar-logo-beta-v2.jpg', :alt => "Loomio")
          - if user_signed_in?
            = render 'inbox'
            = render 'notifications_dropdown'
            = render 'application/groups_dropdown'
            = render 'user_dropdown'
            - if navbar_contribute == "show"
              = render 'contribute'
            = render 'search'
          - else
            %li.pull-right
              - unless controller_name == "group_requests"
                =link_to t(:log_in), new_user_session_path, class: 'btn btn-info'
