.logged-in-navigation
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %ul.nav-bar-list.clearfix
          %li.nav-item#logo-home
            %a.nav-logo-link{:href => "/"}
              = image_tag("top-bar-loomio.png", :alt => "Loomio")

          - if user_signed_in?
            = render 'groups_dropdown'
            = render 'notifications_dropdown'
            = render 'user_dropdown'

            %li.nav-item#feedback
              %a.nav-link{:href => 'mailto:contact@loomio.org', :target => '_blank'}
                = t :feedback

          - else
            %li.nav-item#sign-in
              %a.nav-link{:href => new_user_session_path}
                = t :sign_in
