%li.nav-item.dropdown#help
  %a.nav-link{href: "#", class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    %i.icon-star.icon-white
    %span= t :"help.help"
    %b.caret
  %ul.dropdown-menu
    %li= link_to "How it works", "/help#how-it-works"
    %li= link_to "Getting the most out of Loomio", "/help#getting-the-most-out-of-Loomio"
    %li= link_to "Coordinating your Loomio group", "/help#coordinating-your-Loomio-group"
    %li= link_to "Get in touch", "/help#get-in-touch"
    %li= link_to "Joining the community", "/help#joining-the-community"
