- case controller_name
  - when 'discussions'
    - if @group.profile_image.exists?
      - image = @group.profile_image.url(:discussion_cover_desktop)
    - elsif @group.is_a_subgroup? && @group.parent.profile_image.exists?
      - image = @group.parent.profile_image.url(:discussion_cover_desktop)
    .row.cover-image{style: "background-image: url('#{image}')"}
      .span9= render 'groups/new_title', group: @group
      .span3#button-container= request_membership_button(@group)

  - when 'groups'
    - if @group.profile_image.exists?
      - image = @group.profile_image.url(:group_cover_desktop)
    - elsif @group.is_a_subgroup? && @group.parent.profile_image.exists?
      - image = @group.parent.profile_image.url(:group_cover_desktop)
    .row.cover-image{style: "background-image: url('#{image}')"}
      .text
        = render 'groups/new_title', group: @group
        %h2
          %span.shadow= @group.tagline
      .buttons
        = render 'button_container'

