%li.nav-item.dropdown#user
  %a.nav-link{href: "#", class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    = render 'base/avatar', user: current_user, size: "small", id: 'header-user-image'
    %span#user-name-dropdown
      = current_user.name
    %b.caret
  %ul.dropdown-menu
    %li= link_to t(:user_settings), user_settings_path
    %li= link_to t(:email_preferences), email_preferences_path
    %li= link_to(t(:sign_out), destroy_user_session_path, method: :delete)
