%li
  %a{href: profile_path}
    %i.fa.fa-cog
    = t :'common.profile'
%li
  %a{href: email_preferences_path}
    %i.fa.fa-envelope
    = t :'common.email_settings'
%li
  %a{href: help_path}
    %i.fa.fa-star
    = t :"help.help"

- if Rails.application.secrets.intercom_app_id.present?
  %li
    %a.intercom-proxy{href: "mailto:#{Rails.application.secrets.intercom_app_id}@incoming.intercom.io"}
      %i.fa.fa-question-circle
      = t :"contact_page.contact_us"
%li
  %a{href: destroy_user_session_path, 'data-method' => 'delete'}
    %i.fa.fa-sign-out
    = t :sign_out
