%li
  %a{href: profile_path}
    %i.fa.fa-cog
    = t :profile
%li
  %a{href: email_preferences_path}
    %i.fa.fa-envelope
    = t :email_settings
%li
  %a{href: help_path}
    %i.fa.fa-star
    = t :"help.help"

- if ENV["INTERCOM_APP_ID"].present?
  %li
    %a.intercom-proxy{href: "mailto:#{ENV["INTERCOM_APP_ID"]}@incoming.intercom.io"}
      %i.fa.fa-question-circle
      = t :"contact_page.contact_us"
%li
  %a{href: destroy_user_session_path, 'data-method' => 'delete'}
    %i.fa.fa-sign-out
    = t :sign_out
