!!!
%html{'ng-app' => 'loomioApp', 'ng-controller' => 'RootController as app'}
  %head
    %title= AppConfig.theme[:site_name]
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: "viewport"}
    %meta{content: AppConfig.theme[:text_on_primary_color], name: "theme-color"}
    %base{href: '/'}

    %link{rel: 'canonical', 'ng-if' => 'links.canonical', 'ng-href' => '{{links.canonical}}'}
    %link{rel: 'alternate', type: 'application/rss+xml', 'ng-if' => 'links.rss', 'ng-href' => '{{links.rss}}'}
    %link{rel: 'prev', 'ng-if' => 'links.prev', 'ng-href' => '{{links.prev}}'}
    %link{rel: 'next', 'ng-if' => 'links.next', 'ng-href' => '{{links.next}}'}
    %link{rel: 'manifest', href: '/manifest.json'}
    %link{rel: "shortcut icon", href: AppConfig.theme[:icon_src]}
    %link{rel: "apple-touch-icon", href: AppConfig.theme[:icon_src]}

    %link{href: client_asset_path(:"app.min.css"), rel: 'stylesheet'}
    %link{href: client_asset_path(:"plugin.min.css"), rel: 'stylesheet'}

    = render 'angular/metadata'
    = render 'application/google_analytics', code: ENV['GOOGLE_TAG_MANAGER_ID']
    = render 'angular/intercom' if current_user.is_logged_in?

  %body{'ng-keydown' => 'keyDown($event)', layout: "column", flex: ""}
    %flash
    %navbar{'ng-if' => 'translationsLoaded'}

    %md_content.lmo-sidebar-and-main-container{'ng-if' => 'translationsLoaded', layout: "row", flex: ""}
      %sidebar{'ng-if': "isLoggedIn() && renderSidebar"}
      %md_content.lmo-main-content{flex: ""}
        .lmo-main-background
          %verify_email_notice{'ng-if' => 'isLoggedIn() && !isEmailVerified()'}
          %ng_outlet{'ng-if' => '!refreshing && !pageError'}
          %error_page{'ng-if' => 'pageError', 'error' => 'pageError'}

    %script{src: client_asset_path(:"vendor.min.js")}
    :javascript
      window.Loomio = #{@payload.to_json.html_safe}
      window.Loomio.emojis.source = (emojione.shortnames || "").split("|")
      window.Loomio.emojis.render = emojione.shortnameToImage
    %script{src: client_asset_path(:"app.js")}
    %script{src: client_asset_path(:"plugin.js")}

    = javascript_include_tag 'angular_ahoy' if AppConfig.app_features[:ahoy_tracking]
