!!!
%html{'lang' => current_user.locale, 'ng-app' => 'loomioApp', 'ng-strict-di' => 'true', 'ng-controller' => 'RootController as app'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: "no-cache, no-store, must-revalidate", "http-equiv": "Cache-Control"}/
    %meta{content: "no-cache", "http-equiv": "Pragma"}/
    %meta{content: "0", "http-equiv": "Expires"}/
    %meta{content: 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=5, user-scalable=no', name: "viewport"}
    %meta{content: '{{theme.text_on_primary_color}}', 'ng-if' => 'theme', name: "theme-color"}
    %meta{content: current_version, name: "version"}
    %base{href: '/'}
    %link{rel: 'alternate',        'ng-if' => 'links.rss',       'ng-href' => '{{links.rss}}', type: 'application/rss+xml'}
    %link{rel: 'canonical',        'ng-if' => 'links.canonical', 'ng-href' => '{{links.canonical}}'}
    %link{rel: 'prev',             'ng-if' => 'links.prev',      'ng-href' => '{{links.prev}}'}
    %link{rel: 'next',             'ng-if' => 'links.next',      'ng-href' => '{{links.next}}'}

    %link{rel: "shortcut icon",    href: AppConfig.theme[:icon_src]}
    %link{rel: "apple-touch-icon", href: AppConfig.theme[:icon_src]}

    %link{rel: "stylesheet", href: client_asset_path(:"angular.min.css")}
    %link{rel: 'manifest',   href: '/manifest.json'}

    = action_cable_meta_tag

    = render 'application/social_metadata' if @metadata

  %body{'ng-keydown' => 'keyDown($event)', layout: "column", flex: ""}
    %noscript= I18n.t(:"errors.noscript")
    %browser_warning{'ng-if' => 'warnDeprecation'}
    %flash
    %navbar{'ng-if' => 'translationsLoaded'}

    %md_content.lmo-sidebar-and-main-container{'ng-if' => 'translationsLoaded', layout: "row", flex: ""}
      %sidebar{'ng-if': "isLoggedIn() && renderSidebar"}
      %md_content.lmo-main-content{flex: ""}
        .lmo-main-background
          %verify_email_notice
          %ng_outlet{'ng-if' => '!refreshing && !pageError'}
          %error_page{'ng-if' => 'pageError', 'error' => 'pageError'}
          %powered_by{'ng-if' => '!refreshing && !pageError'}

    %script{src: bundle_asset_path(:"angular.bundle.min.js")}

    = javascript_include_tag 'angular_ahoy' if AppConfig.app_features[:ahoy_tracking]
    = render 'application/matomo_js'
