%h1 Set your name and password
- resource.name = ""
= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token
  = f.label :name, "Name"
  = f.text_field :name
  = f.label :password, "Password"
  = f.password_field :password
  = f.label :password_confirmation, "Password confirmation"
  = f.password_field :password_confirmation
  = f.submit "Create my account", class: "btn btn-info"
