%h2.header-space Set your name and password
- resource.name = ""
= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token
  %h5.padding
    Name
    .left-format= f.text_field :name
    Password
    .left-format= f.password_field :password
    Password confirmation
    .left-format= f.password_field :password_confirmation
  .sign-in-button= f.submit "Create my account", class: "btn primary"
