= form_for [motion, vote] do |f|
  = f.label :position, "Position"
  = f.select :position, Vote::POSITIONS
  = f.label :statement, "Statement"
  = f.text_field :statement
  = f.submit "Update your position", class: "btn btn-info", :disable_with => "Proccesing"
