= form_for [motion, vote] do |f|
  %h3= form_title
  = f.label :position, t("vote_form.your_position")
  = f.select :position, Vote::POSITIONS
  = f.label :statement, t("vote_form.your_statement")
  .control-group
    = f.text_area :statement, placeholder: t("vote_form.placeholder"), class: "statement validate-length limit-250"
    .character-counter
  = f.submit vote_submit_button_text, id: "submit-vote", class: "btn btn-info btn-large run-validations", :data => { :disable_with => vote_submit_button_text }
  = link_to t(:cancel), motion_path(motion.id), class: "btn btn-grey btn-large"
  =render "application/hint", text: t(:"hint.vote"), anchor: 'no-link'
