= simple_form_for [motion, vote] do |f|
  %h3= form_title
  .form-group
    = f.label :position, t("vote_form.your_position")
    - positions = {}
    - Vote::POSITIONS.each do |position|
      - positions[t(position, scope: :position_verbs)] = position
    = f.select :position, positions, {}, { class: 'form-control' }
  = f.input :statement, as: :text, label: t("vote_form.your_statement"), placeholder: t("vote_form.placeholder"), input_html: {class: "statement validate-length limit-250 js-warn-before-navigating-away form-control"}
  .form-group
    .character-counter
  = f.submit vote_submit_button_text, id: "submit-vote", class: "btn btn-primary run-validations", :data => { :disable_with => vote_submit_button_text }
  = link_to t(:cancel), motion_path(motion), class: "btn btn-default"
