.row
  .span5#vote-form
    = form_for [motion, vote] do |f|
      %h2= form_title
      = f.label :position, "Your position"
      = f.select :position, Vote::POSITIONS
      = f.label :statement, "Your statement"
      .control-group
        = f.text_area :statement, placeholder: "Give a reason for your decision (optional)", class: "statement inputError limit-250"
        .character-counter
      = f.submit get_button_label, class: "btn btn-info btn-large run-validations", :data => { :disable_with => get_button_label }
      = link_to "Cancel", motion_path(motion.id), class: "btn btn-grey btn-large"
