.row-fluid
  .span8
    %h1 Public groups directory
  .input-append
    = form_tag public_groups_path, method: 'get', class: 'form-search' do |f|
      = text_field_tag :query, params[:query], class: 'search-query'
      .add-on
        %i.icon-search
          = submit_tag "", class: 'submit-search'

.public-groups-container
  .row-fluid
    .span10
      - order = set_names_order_link
      %a{ :href => order }
        = t :group_name
        %i.sort-icon
    .span2
      - order = set_memberships_count_order_link
      %a{ :href => order }
        = t :members
        %i.sort-icon

  %ul.selector-list.bordered
    - @groups.each do |group|
      %a{href: group_path(group)}
        %li.selector-item.public-groups
          .group-details
            .group-name
              = group.full_name
            .group-description
              = "#{group.description}" if group.description.present?
          .group-members-count
            = group.memberships_count

= paginate @groups, :window => 3
