%H1 AAARRRRR

%ul
  %li Awareness - homepage visits to www.loomio.org during cohort period (measurements started during cohort 4)
  %li Acquisition - number of organisations created during the cohort period
  %li Activation - number of organisations which were ever active (had at least 5 sessions)
  %li Retention - R30 is number of organisations which were active in the month starting day 30 (R60 is the next month, etc). The percentage shows the proportion of activated groups that meet this criteria
  %li Revenue - the total number of paying groups, and the total recurring revenue from each cohort. Includes one-off donations, divided by 12 (i.e. assumes we could get them to donate a similar level once per year)
  / %li Referral - number of organisations started by users who are part of a group in this cohort?

%table.table
  %thead
    %tr
      %th Cohort
      %th Start on
      %th age range (days)
      %th Awareness
      %th Acquisition
      %th Activation
      %th R30
      %th R60
      %th R90
      %th R120
      %th Revenue
      / %th Referral

  / manual hack to use until we have hooked up cohort.paying_organisations.count
  - revenue = ["0", "9: $86/mo", "6: $152/mo", "1: $2/mo", "2: $12/mo", "4: $142/mo", "6: $41/mo", "3: $45/mo", "4: $25/mo", "4: 21/mo", "2: $30/mo"]
  %tbody
    - @cohorts.each do |cohort|

      %tr
        %td= link_to cohort.id, admin_cohort_path(cohort) # cohort id
        %td= cohort.start_on
        %td #{( Date.today  - cohort.end_on ).to_i} - #{( Date.today  - cohort.start_on ).to_i }
        %td= visits_count = cohort.homepage_visits.count # homepage visits
        %td
          = org_count = cohort.organisations.count # acquisitions
          (#{safe_pct(org_count, visits_count)}%)
        %td
          = activated_count = cohort.activated_organisations.count
          (#{safe_pct(activated_count, org_count)}%)

        - retained_count = cohort.retained_organisations(30, 60).count
        - pct = safe_pct(retained_count, activated_count)
        %td{style: "background-color: rgba(0,0,0,0.#{pct})"}
          = retained_count
          (#{pct}%)

        - retained_count = cohort.retained_organisations(60, 90).count
        - pct = safe_pct(retained_count, activated_count)
        %td{style: "background-color: rgba(0,0,0,0.#{pct})"}
          = retained_count
          (#{pct}%)

        - retained_count = cohort.retained_organisations(90, 120).count
        - pct = safe_pct(retained_count, activated_count)
        %td{style: "background-color: rgba(0,0,0,0.#{pct})"}
          = retained_count
          (#{pct}%)

        - retained_count = cohort.retained_organisations(120, 150).count
        - pct = safe_pct(retained_count, activated_count)
        %td{style: "background-color: rgba(0,0,0,0.#{pct})"}
          = retained_count
          (#{pct}%)

        %td
          = revenue[cohort.id]
          -# cohort.paying_organisations.count
          / %td
          -# cohort.referral.count
