%H1 AAARRR

%ul
  %li Awareness - homepage visits to www.loomio.org during cohort period
  %li Acquisition - number of organisations created during the cohort period
  %li Activation - number of organisations which had at least 5 sessions
  %li Retention - number of organisations which had at least 20 new sessions between their 20th and 40th day.
  %li Revenue - number of organisations from cohort that decided to pay
  %li Referral - number of organisations started by users who are part of a group in this cohort?

%p FYI: organisation session records start from 2015-05-13, homepage visits recorded from 2015-05-26

%table.table
  %thead
    %tr
      %th Cohort
      %th Start on
      %th age range (days)
      %th Awareness
      %th Acquisition
      %th Activation
      %th Retention
      %th Revenue
      %th Referral
  %tbody
    - @cohorts.each do |cohort|

      %tr
        %td= link_to cohort.id, admin_cohort_path(cohort) # cohort id
        %td= cohort.start_on
        %td #{( Date.today  - cohort.end_on ).to_i} - #{( Date.today  - cohort.start_on ).to_i }
        %td= visits_count = cohort.homepage_visits.count # homepage visits
        %td
          = org_count = cohort.organisations.count # acquisitions
          (#{safe_pct(org_count, visits_count)}%)
        %td
          = activated_count = cohort.activated_organisations.count
          (#{safe_pct(activated_count, org_count)}%)
        %td
          = retained_count = cohort.retained_organisations.count
          (#{safe_pct(retained_count, activated_count)}%)
        %td
          N/A
          -# cohort.paying_organisations.count
        %td
          N/A
          -# cohort.referral.count
