%h1 bad analytics for #{@group.name}

from #{@start_date.to_s} to #{@end_date.to_s}

%ul
  %li
    %a{href: '#total_visits_per_day'}
      total visits per day
  %li
    %a{href: '#visits_per_discussion'}
      visits per discussion per day
  %li
    %a{href: '#visits_per_referrer'}
      visits per referrer
  %li
    %a{href: '#visits_per_landing_page'}
      visits per landing page

%p total_visits: #{@total_visits}

%h2 total visits per day

%table.table{id: 'total_visits_per_day'}
  %tbody
    - @total_visits_per_day.sort{|a, b| a[0] <=> b[0]}.each do |item|
      %tr
        %td=item[0].to_s
        %td=item[1]

%h2{id: 'visits_per_discussion'} visits per discussion per day

- @visits_per_discussion_per_day.each_pair do |discussion, visits_per_day|
  %h3=discussion.title
  %table.table
    - visits_per_day.sort{|a, b| a[0] <=> b[0]}.each do |item|
      %tr
        %td=item[0].to_s
        %td=item[1]
  total: #{ visits_per_day.sum{|i| i[1]} }
 
%h2{id: 'visits_per_referrer'} visits per referrer

%table.table
  %tbody
    - @visit_count_per_referrer.sort_by{|k, v| 0 - v}.each do |i|
      %tr
        %td= link_to truncate(i[0], length: 50), i[0]
        %td=i[1]

%h2{id: 'visits_per_landing_page'} visits per landing page

%table.table
  %tbody
    - @visit_count_per_landing_page.sort_by{|k, v| 0 - v}.each do |i|
      %tr
        %td= link_to truncate(i[0], length: 50), i[0]
        %td=i[1]

