%html
  %p This calculator takes a list of group ids and returns daily activity totals for the first 30 days in those groups (including their subgroups).
  %table
    %tr
      %th ID
      %th Name
      %th Day
      %th Days old
      %th Subgroups
      %th Discussions
      %th Comments
      %th Proposals
      %th Votes
      %th Outcomes
      %th Members
      %th Financial nature
      %th Creator ID
      %th Locale
      %th Total
      %th Delta
    - yesterday = 0
    - @metrics.each do |m|
      %tr
        %td= m.fetch(:id)
        %td= m.fetch(:name)
        %td= m.fetch(:day)
        %td= m.fetch(:days_old)
        %td= m.fetch(:subgroups)
        %td= m.fetch(:discussions)
        %td= m.fetch(:comments)
        %td= m.fetch(:motions)
        %td= m.fetch(:daily_votes)
        %td= m.fetch(:outcomes)
        %td= m.fetch(:members)
        %td= m.fetch(:financial_nature)
        %td= m.fetch(:creator_id)
        %td= m.fetch(:locale)
        %td= m.fetch(:total)
        %td= m.fetch(:total) - yesterday
        - yesterday = m.fetch(:total)
