%html
  %head
    %title Loomio Retention
  %body
    %h2 Loomio retention calculator v0.1
    %p
      This table shows the key group metrics for each month. So for instance, in the March row, you can see
      %ul
        %li
          how many parent groups were
          %strong acquired
          (created sometime in March)
        %li
          how many were
          %strong activated
          (invited multiple people)
        %li
          how many of them were
          %strong retained 30 days
          (had new comments any time after April 1)
        %li
          and how many were
          %strong retained 90 days
          (had new comments any time after June 1)

    %h2 Disclaimers
    %p
      This is the first iteration of a retention calculator, and will need improvement. Specifically:
      %ul
        %li A group created on March 31st and active on April 1st currently meets the definition of 'retained'.
        %li A group with new proposals but no new comments will not meet the definition of 'retained'.
        %li The R30 for March should tell you how many groups created in March were active <em>in</em> April, but it currently tells you how many were active <em>since</em> April.

    %table
      %tr
        %th Start date
        %th New groups acquired
        %th Trial
        %th Activated
        %th Retained 30 days
        %th Retained 90 days
        %th R30
        %th R90
      - @metrics.each do |m|
        %tr
          %td= m.fetch(:start_date).strftime("%B '%y")
          %td= m.fetch(:acquired_count)
          %td= m.fetch(:trial_count)
          %td= m.fetch(:activated_count)
          %td= m.fetch(:retained_30_count)
          %td= m.fetch(:retained_90_count)
          %td= format_percents(m.fetch(:r30))
          %td= format_percents(m.fetch(:r90))

    %p
      Copying the table into
      = link_to "this google sheet", "https://docs.google.com/spreadsheets/d/1X2ZRjZZPub1H_8__OFMQmg7GZgAeLHGLvbtodsOeAOc/edit#gid=0"
      gives this nice chart:

    %iframe{:src => "//docs.google.com/spreadsheets/d/1X2ZRjZZPub1H_8__OFMQmg7GZgAeLHGLvbtodsOeAOc/gviz/chartiframe?oid=1308190998", height: "585px", width: "968px"}


    %h2 Retention by group size
    %p The following table then splits this data up by group size: small (2-19 members), medium (20-49), large (50+).

    %table
      %tr
        %th Start date
        %th Activated
        %th Retained 90 days
        %th R90
      - @metrics.each do |m|
        %tr
          %td= m.fetch(:start_date).strftime("%B '%y")

          %td
            = "#{m.fetch(:activated_count)} total"
            %br
            = m.fetch(:small_groups)
            \-
            = m.fetch(:medium_groups)
            \-
            = m.fetch(:large_groups)

          %td
            = "#{m.fetch(:retained_90_count)} total"
            %br
            = m.fetch(:retained_small_groups_90)
            \-
            = m.fetch(:retained_medium_groups_90)
            \-
            = m.fetch(:retained_large_groups_90)

          %td
            = "#{format_percents(m.fetch(:r90))} total"
            %br
            = format_percents(m.fetch(:r90_small))
            \-
            = format_percents(m.fetch(:r90_medium))
            \-
            = format_percents(m.fetch(:r90_large))

