%html
  %head
    %title Sitewide activity
  %body
    %iframe{:src => "https://docs.google.com/spreadsheets/d/1X2ZRjZZPub1H_8__OFMQmg7GZgAeLHGLvbtodsOeAOc/pubchart?oid=1487156638&amp;format=interactive", width: "971px", height: "615px"}

    %table
      %tr
        %th Weeks ago
        %th New users
        %th New top-level groups
        %th New discussions
        %th New comments
        %th New proposals
        %th New votes
      - @metrics.each do |m|
        %tr
          %td= m.fetch :weeks_ago
          %td= m.fetch :users
          %td= m.fetch :groups
          %td= m.fetch :discussions
          %td= m.fetch :comments
          %td= m.fetch :motions
          %td= m.fetch :votes
