= semantic_form_for [:admin, @group_request] do |f|
  = f.inputs do
    = f.input :name
    = f.input :admin_email
    = f.input :admin_name
    = f.input :description
    = f.input :admin_notes
    = f.actions

- gr = @group_request

%ul
  - if gr.group.present?
    %li= link_to('Go to group', gr.group)
