<div class="row">
  <div class="span6">
  <h2>Send Approval Email</h2>
  <h3>To: <%=@group_request.admin_email %></h3>
  <h3>Subject: Invitation to join Loomio</h3>

  <%= simple_form_for @group_request, url: approve_and_send_admin_group_request_path do |f| %>
    <textarea name="message_body", rows=20>
Hi <%= @group_request.admin_name.split(' ').first %>,

I've just approved your application to join Loomio. Click the link below to set up your group:

{invitation_link}

Please let me know if you have any questions.

Thanks!
<%= current_user.name.split(' ').first %>
    </textarea>
    <br/>
    <br/>
    <%= f.input :max_size %>
    <br/>
    <br/>
    <%= f.submit 'Approve and send email' %>
  <% end %>
  </form>
</div>
