<div class="row">
  <div class="span6">
  <h2>Send Defer Email</h2>
  <h3>To: <%=@group_request.admin_email %></h3>
  <h3>Subject: <%=t('defered_email.subject') %></h3>

  <%= simple_form_for @group_request, url: defer_and_save_admin_group_request_path do |f| %>
    <%= f.input :defered_until, :as => :string, :input_html => {:class => 'datepicker'} %>
    <br />
    <textarea name="message_body", rows=20>
Dear <%= @group_request.name %>
Dear Hippos!

You've not been accepted to Loomio! Expect to hear from us by {fuzzy_defer_date}.

Your scoobie,

<%= current_user.name %>
    </textarea>
    <br />
    <br />
    <%= f.submit 'Defer and send email', :id => 'submit-defer-email'%>
  <% end %>
  </form>
</div>
