.group
  .group-heading{style: "background-image: url(#{asset_path 'cover-photo-gradient-card.png'}), url('#{image_url group.cover_photo.url(:card)}')"}
    .group-logo{style: "background-image: url('#{image_url group.logo.url(:card)}')"}

    -if group.category.present?
      .group-category.shadow
        =link_to t(group.category.translatable_name), category_explore_path(group.category)

    .group-title
      %h1.shadow=link_to group.full_name.truncate(50), group

  .group-description
    .logo-placeholder
    = render_rich_text group.description

  .group-content
    %ul.discussion-list
      -group.discussions.visible_to_public.not_by_helper_bot.preload(:most_recent_motion).last(5).each do |discussion|
        - if discussion.most_recent_motion.present?
          = render 'motion_line_item', item: discussion.most_recent_motion
        -else
          = render 'discussion_line_item', item: discussion
