!!!
%html{'ng-app' => 'loomioApp', 'ng-controller' => 'ApplicationController as app'}
  %head
    %title Loomio
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: "viewport"}
    %base{href: '/'}

    %link{rel: 'canonical', 'ng-if' => 'links.canonical', 'ng-href' => '{{links.canonical}}'}
    %link{rel: 'alternate', type: 'application/rss+xml', 'ng-if' => 'links.rss', 'ng-href' => '{{links.rss}}'}
    %link{rel: 'prev', 'ng-if' => 'links.prev', 'ng-href' => '{{links.prev}}'}
    %link{rel: 'next', 'ng-if' => 'links.next', 'ng-href' => '{{links.next}}'}
    %link{rel: 'manifest', href: '/manifest.json'}

    %link{href: client_asset_path(:"app.min.css"), rel: 'stylesheet', media: 'screen'}
    %link{href: client_asset_path(:"print.min.css"), rel: 'stylesheet', media: 'print'}

    = render 'angular/metadata'
    = render 'angular/google_analytics'
    = render 'angular/intercom' if current_user_or_visitor.is_logged_in?

  %body{'ng-keydown' => 'keyDown($event)', layout: "column", flex: ""}
    %flash
    %navbar
    %md_content{layout: "row", flex: ""}
      %section{layout: "row", ng_controller: 'SidebarController', ng_cloak: ''}
        %md-sidenav.md-sidenav-left{md_component_id: 'left', md_is_open: 'isOpen()', md_is_locked_open: '$mdMedia("gt-md") && isOpen()', md_disable_backdrop: '', md_whiteframe: 4}
          %md_content.sidebar__content{flex: "", role: "navigation", layout: "column"}
            .sidebar__padding{ng_if: "smallScreen()"}
            %md_list.sidebar__threads
              %md_list_item.md-2-line
                %md_button.sidebar__list-item{href: "/dashboard"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-clock-o
                  %span.sidebar__list-item-label
                    %strong Recent
              %md_list_item.md-2-line
                %md_button.sidebar__list-item{href: "/inbox"}
                  %md_avatar_icon.sidebar__list-item-icon.i.fa.fa-lg.fa-inbox
                  %span.sidebar__list-item-label
                    %strong Unread
                  %span
                    %strong ({{unreadThreadCount()}})
              %md_list_item.md-2-line
                %md_button.sidebar__list-item{href: "/dashboard/show_muted"}
                  %md_avatar_icon.sidebar__list-item-icon.i.fa.fa-lg.fa-times-circle
                  %span.sidebar__list-item-label
                    %strong Muted
            %md_divider.sidebar__divider
            %md_list.sidebar__groups
              %md_list_item.md-2-line{ng_repeat: "group in groups()"}
                %md_button.sidebar__list-item{href: "{{groupUrl(group)}}"}
                  %img.md-avatar.lmo-box--tiny.sidebar__list-item-group-logo{ng_src: "{{group.logoUrl()}}"}
                  %span.sidebar__list-item-label
                    %strong {{group.name}}
            %md_divider.sidebar__divider
            %md_list.sidebar__user
              %md_list_item.md-2-line
                %md_button.sidebar__list-item{href: "/profile"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-cog
                  %span.sidebar__list-item-label
                    %strong Edit profile
              %md_list_item.md-2-line
                %md_button.sidebar__list-item{href: "/email_preferences"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-envelope-o
                  %span.sidebar__list-item-label
                    %strong Email settings
              %md_list_item.md-2-line
                %md_button.sidebar__list-item{href: "{{helpLink()}}", target: "_blank"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-info-circle
                  %span.sidebar__list-item-label
                    %strong Help
              %md_list_item.md-2-line{ng_if: 'showContactUs()'}
                %md_button.sidebar__list-item{ng_click: "contactUs()"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-question-circle
                  %span.sidebar__list-item-label
                    %strong Contact
              %md_list_item.md-2-line
                %md_button.sidebar__list-item{ng_click: "signOut()"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-sign-out
                  %span.sidebar__list-item-label
                    %strong Sign out
      %md_content.lmo-main-content{flex: ""}
        %ng_outlet{'ng-if' => '!refreshing && !pageError'}
      %error_page{'ng-if' => 'pageError', 'error' => 'pageError'}
    %start_menu{'ng-if' => 'isLoggedIn()'}
    %outlet{name: 'after-start-menu'}

    %script{src: client_asset_path(:"vendor.min.js")}
    :javascript
      window.Loomio = #{@appConfig.to_json.html_safe}
      window.Loomio.emojis = {
        source: (emojione.shortnames || "").split('|'),
        render: emojione.shortnameToImage,
        defaults: ':heart:|:smiley:|:sweat_smile:|:star:|:rabbit:|:ok:|:thumbsup:|:nz:|:walking:|:clap:'.split('|')
      }
    %script{src: client_asset_path(:"app.js")}

    - if Rails.application.secrets.faye_url.present?
      %script{src: "#{Rails.application.secrets.faye_url}/client.js", type: 'text/javascript'}

    = javascript_include_tag 'angular_ahoy' if hosted_by_loomio?
