!!!
%html{'ng-app' => 'loomioApp', 'ng-controller' => 'ApplicationController as app'}
  %head
    %title Loomio
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: "viewport"}
    %base{href: '/'}
    = stylesheet_link_tag lineman_css_path

    = render 'angular/google_analytics'
    = render 'angular/intercom'

  %body{'ng-keydown' => 'keyDown($event)'}
    %flash
    %navbar
    %ng_outlet{'ng-if' => '!pageError'}
    %error_page{'ng-if' => 'pageError', 'error' => 'pageError'}
    %start_menu

    #turn-off-angular{'aria-hidden' => 'true'}
      =link_to t(:'angular.switch_back'), angular_url, target: "_self"
      %br
      =link_to t(:'angular.give_feedback'), 'https://docs.google.com/a/enspiral.com/forms/d/1JS75ZdoBiA3k7IzxDPijV4kPh1fXrmWs9A8k_WG_pyE/viewform', target: '_blank'
      .lmo-version= link_to "v#{Loomio::Version.current}", 'https://github.com/loomio/loomio/releases', target: '_blank'

    :javascript
      window.Loomio = #{@appConfig.to_json.html_safe}

    = javascript_include_tag lineman_vendorjs_path
    = javascript_include_tag lineman_appjs_path

    - if ENV['FAYE_URL']
      %script{src: "#{ENV['FAYE_URL']}/client.js", type: 'text/javascript'}
