!!!
%html{'ng-app' => 'loomioApp', 'ng-controller' => 'ApplicationController as app'}
  %head
    %title Loomio
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: "viewport"}
    %base{href: '/'}

    %link{rel: 'canonical', 'ng-if' => 'links.canonical', 'ng-href' => '{{links.canonical}}'}
    %link{rel: 'alternate', type: 'application/rss+xml', 'ng-if' => 'links.rss', 'ng-href' => '{{links.rss}}'}
    %link{rel: 'prev', 'ng-if' => 'links.prev', 'ng-href' => '{{links.prev}}'}
    %link{rel: 'next', 'ng-if' => 'links.next', 'ng-href' => '{{links.next}}'}
    %link{rel: 'manifest', href: '/manifest.json'}

    %link{href: client_asset_path(:"app.min.css"), rel: 'stylesheet', media: 'screen'}
    %link{href: client_asset_path(:"print.min.css"), rel: 'stylesheet', media: 'print'}

    = render 'angular/metadata'
    = render 'angular/google_analytics'
    = render 'angular/intercom' if current_user_or_visitor.is_logged_in?

  %body{'ng-keydown' => 'keyDown($event)', layout: "column", flex: ""}
    %flash
    %navbar
    %md_content.lmo-sidebar-and-main-container{layout: "row", flex: ""}
      %section.lmo-sidebar-wrapper{layout: "row", ng_controller: 'SidebarController', ng_cloak: "", ng_if: 'isLoggedIn()'}
        %md-sidenav.md-sidenav-left.lmo-no-print{md_component_id: 'left', md_is_open: 'showSidebar', md_is_locked_open: '$mdMedia("gt-md") && showSidebar', md_whiteframe: 4}
          .sidebar__user-panel
            .sidebar__user-avatar-container
              %user_avatar{user: "currentUser()", size: "medium-circular", ng_if: "currentUser().avatarKind != 'initials'"}
              .sidebar__user-icon-container{ng_if: "currentUser().avatarKind == 'initials'"}
                %i.sidebar__user-icon.fa.fa-lg.fa-user
            .sidebar__user-details
              .sidebar__user-name
                {{currentUser().name}}
              .sidebar__user-username
                @{{currentUser().username}}
          .sidebar__divider

          %md_content.sidebar__content{flex: "", role: "navigation", layout: "column", ng_click: "sidebarItemSelected()"}
            %md_list.sidebar__list.sidebar__threads{layout: "column"}
              %md_list_item
                %md_button.sidebar__list-item-button.sidebar__list-item-button--recent{href: "", 'lmo-href' => "/dashboard", ng_click: "isActive()", "aria-label" => "{{ 'sidebar.recent' | translate }}", ng_class: "{'sidebar__list-item--selected': onPage('dashboardPage')}"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-clock-o
                  %span{translate: "sidebar.recent"}
              %md_list_item
                %md_button.sidebar__list-item-button{href: "", 'lmo-href' => "/inbox", ng_click: "isActive()", "aria-label" => "{{ 'sidebar.unread' | translate }}", ng_class: "{'sidebar__list-item--selected': onPage('inboxPage')}"}
                  %md_avatar_icon.sidebar__list-item-icon.i.fa.fa-lg.fa-inbox
                  %span{translate: "sidebar.unread"}
                  %span ({{unreadThreadCount()}})
              %md_list_item
                %md_button.sidebar__list-item-button{href: "", 'lmo-href' => "/dashboard/show_muted", ng_click: "isActive()", "aria-label" => "{{ 'sidebar.muted' | translate }}", ng_class: "{'sidebar__list-item--selected': onPage('dashboardPage', nil, 'show_muted')}"}
                  %md_avatar_icon.sidebar__list-item-icon.i.fa.fa-lg.fa-times-circle
                  %span{translate: "sidebar.muted"}
            .sidebar__divider

            %md_list.sidebar__list.sidebar__scrollable-list{ng_class: "{'sidebar__no-groups': groups().length < 1}"}
              %md_list_item{ng_repeat: "group in groups() | orderBy: 'fullName' track by group.id"}
                %md_button.sidebar__list-item-button.sidebar__list-item-button--group{href: "", 'lmo-href' => "{{groupUrl(group)}}", "aria-label" => "{{group.name}}", ng_if: "group.isParent()", ng_class: "{'sidebar__list-item--selected': onPage('groupPage', group.key)}"}
                  %img.md-avatar.lmo-box--tiny.sidebar__list-item-group-logo{ng_src: "{{group.logoUrl()}}"}
                  %span {{group.name}}
                %md_button.sidebar__list-item-button--subgroup{href: "", 'lmo-href' => "{{groupUrl(group)}}", ng_if: "!group.isParent()", ng_class: "{'sidebar__list-item--selected': onPage('groupPage', group.key)}"}
                  %span {{group.name}}
                .sidebar__list-item-padding
              %md_list_item
                %md_button.sidebar__list-item-button{href: "", 'lmo-href' => "/explore", "aria-label" => "{{ 'sidebar.explore' | translate }}", ng_class: "{'sidebar__list-item--selected': onPage('explorePage')}"}
                  %md_avatar_icon.sidebar__list-item-icon.i.fa.fa-lg.fa-globe
                  %span{translate: "sidebar.explore"}
              .sidebar__divider
              %md_list_item
                %md_button.sidebar__list-item-button.sidebar__list-item-button--profile{href: "", 'lmo-href' => "/profile", "aria-label" => "{{ 'sidebar.edit_profile' | translate }}", ng_class: "{'sidebar__list-item--selected': onPage('profilePage')}"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-cog
                  %span{translate: "sidebar.edit_profile"}
              %md_list_item
                %md_button.sidebar__list-item-button.sidebar__list-item-button--email-settings{href:  "", 'lmo-href' => "/email_preferences", "aria-label" => "{{ 'sidebar.email_settings' | translate }}", ng_class: "{'sidebar__list-item--selected': onPage('emailSettingsPage')}"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-envelope-o
                  %span{translate: "sidebar.email_settings"}
              %md_list_item
                %md_button.sidebar__list-item-button{href: "{{helpLink()}}", target: "_blank", "aria-label" => "{{ 'sidebar.help' | translate }}"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-info-circle
                  %span{translate: "sidebar.help"}
              %md_list_item{ng_if: 'showContactUs()'}
                %md_button.sidebar__list-item-button{href: "", ng_click: "contactUs()", "aria-label" => "{{ 'sidebar.contact' | translate }}"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-question-circle
                  %span{translate: "sidebar.contact"}
              %md_list_item
                %md_button.sidebar__list-item-button{href: "", ng_click: "signOut()", "aria-label" => "{{ 'sidebar.sign_out' | translate }}"}
                  %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-sign-out
                  %span{translate: "sidebar.sign_out"}
      %md_content.lmo-main-content{flex: ""}
        .lmo-main-background
          %ng_outlet{'ng-if' => '!refreshing && !pageError'}
          %error_page{'ng-if' => 'pageError', 'error' => 'pageError'}
    %start_menu{'ng-if' => 'isLoggedIn()'}
    %outlet{name: 'after-start-menu'}

    %script{src: client_asset_path(:"vendor.min.js")}
    :javascript
      window.Loomio = #{@appConfig.to_json.html_safe}
      window.Loomio.emojis = {
        source: (emojione.shortnames || "").split('|'),
        render: emojione.shortnameToImage,
        defaults: ':heart:|:smiley:|:sweat_smile:|:star:|:rabbit:|:ok:|:thumbsup:|:nz:|:walking:|:clap:'.split('|')
      }
    %script{src: client_asset_path(:"app.js")}

    - if Rails.application.secrets.faye_url.present?
      %script{src: "#{Rails.application.secrets.faye_url}/client.js", type: 'text/javascript'}

    = javascript_include_tag 'angular_ahoy' if hosted_by_loomio?
