!!!
%html{'ng-app' => 'loomioApp', 'ng-controller' => 'AppController as app'}
  %head
    %title Loomio
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: "viewport"}
    %base{href: '/'}
    = stylesheet_link_tag lineman_css_path
  %body{'ng-keydown' => 'keyDown($event)'}
    %navbar
    %ng-outlet{'ng-if' => '!pageError'}
    %error_page{'ng-if' => 'pageError', 'error' => 'pageError'}
    %start_menu


    - if Rails.env.production?
      #turn-off-angular{'aria-hidden' => 'true'}
        =link_to 'Turn off angular', '/angular', target: '_self'
        %br
        %a{href: 'https://docs.google.com/forms/d/1JS75ZdoBiA3k7IzxDPijV4kPh1fXrmWs9A8k_WG_pyE/viewform', target: '_blank'}
          Give feedback

      %script{src: '/js/airbrake-shim.js', 'data-airbrake-host' => "http://#{ENV['ERRBIT_HOST']}", 'data-airbrake-project-id' => ENV['ERRBIT_KEY'],  'data-airbrake-project-key' => ENV['ERRBIT_KEY']}

    :javascript
      window.Loomio = {};
      window.Loomio.environment = #{Rails.env.to_json};
      window.Loomio.flash = #{flash.to_h.to_json};
      window.Loomio.currentUserId = #{current_user.id};
      window.Loomio.seedRecords = #{CurrentUserSerializer.new(current_user).to_json}
      window.Loomio.permittedParams = #{PermittedParamsSerializer.new({}).to_json}
      window.Loomio.locales = [{name: "English", key: "en"}, {name: "Spanish", key: "es"}]

    = javascript_include_tag lineman_vendorjs_path
    = javascript_include_tag lineman_appjs_path


    - if ENV['FAYE_URL']
      %script{src: "#{ENV['FAYE_URL']}/client.js", type: 'text/javascript'}
