!!!
%html{'ng-app' => 'loomioApp', 'ng-controller' => 'ApplicationController as app'}
  %head
    %title Loomio
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: "viewport"}
    %base{href: '/'}
    %link{href: client_asset_path(:"app.min.css"), rel: 'stylesheet', media: 'screen'}

    = render 'angular/google_analytics'
    = render 'angular/intercom'

  %body{'ng-keydown' => 'keyDown($event)'}
    %flash
    %navbar
    %ng_outlet{'ng-if' => '!pageError'}
    %error_page{'ng-if' => 'pageError', 'error' => 'pageError'}
    %start_menu{'ng-if' => 'isLoggedIn()'}
    %angular_feedback_card

    :javascript
      window.Loomio = #{@appConfig.to_json.html_safe}

    %script{src: client_asset_path(:"vendor.min.js")}
    %script{src: client_asset_path(:"app.js")}

    - if Rails.application.secrets.faye_url.present?
      %script{src: "#{Rails.application.secrets.faye_url}/client.js", type: 'text/javascript'}

    - if ENV['HOSTED_BY_LOOMIO']
      -# coming soon.. seperated metrics
      -# :javascript
      -#   ahoy = {visitsUrl: 'http://localhost:4000/ahoy/visits',
      -#           eventsUrl: 'http://localhost:4000/ahoy/events'}
      -# = javascript_include_tag 'http://localhost:4000/assets/application.js'
      = javascript_include_tag 'angular_ahoy'
      = render 'piwik_tracker'
