!!!
%html
  %head
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title= display_title @unviewed_notifications

    /[if lt IE 9]
      =javascript_include_tag 'ie8'

    = stylesheet_link_tag    "third_party"
    = stylesheet_link_tag    "unstructured"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'social_metadata', :description => @meta_description, :title => @meta_title

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
    .main-container.container
      = render 'application/announcements'
      = render 'application/header'
      = render 'application/flash_messages', :flash => flash, :on_landing_page => false
      .page-container
        = yield
      = render 'footer_logged_in'

  - unless hide_crowdfunding_banner?
    = javascript_include_tag 'campaigns'
