!!!
%html{lang: I18n.locale}
  %head
    %title= AppConfig.theme[:site_name]
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto'}
    %link{rel: "shortcut icon", href: AppConfig.theme[:icon_src]}
    = render 'application/social_metadata'
    =raw vue_head
  %body
    %main#app.v-application.v-application--is-ltr.theme--light
      %div.v-application--wrap
        %header.lmo-no-print.v-sheet.v-sheet--tile.theme--light.v-toolbar.v-app-bar.v-app-bar--clipped.v-app-bar--elevate-on-scroll.v-app-bar--fixed.v-app-bar--hide-shadow.background{"data-booted" => "true", :style => "height: 56px; margin-top: 0px; transform: translateY(0px); left: 0px; right: 0px;"}
          .v-toolbar__content{:style => "height: 56px;"}
            .v-toolbar__title= AppConfig.theme[:site_name]
            .spacer
            .v-toolbar__items
            %a.navbar__sign-in.v-btn.v-btn--flat.v-btn--text.theme--light.v-size--default{:href => "/dashboard"}= t(:'navbar.sign_in')
        = yield
        %footer.v-footer.v-sheet.v-sheet--tile.theme--light
          .layout.justify-space-around
            .powered-by.caption
              %a{:href => "/?frontpage", :target => "_blank"}= t(:'powered_by.powered_by_loomio')
              %span ·
              %a{:href => AppConfig.theme[:privacy_url], :target => "_blank"}= t(:'powered_by.privacy_policy')
              %span ·
              %a{:href => AppConfig.theme[:terms_url], :target => "_blank"}= t(:'powered_by.terms_of_service')
    = javascript_include_tag 'angular_ahoy' if AppConfig.app_features[:ahoy_tracking]
    -# =raw vue_js
