!!!
%html
  %head
    %title= display_title @unviewed_notifications
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/flick/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}

    -# Rob took this out because it looked really incomplete and has failing specs
    -#= render 'social_metadata', :description => @meta_description, :title => @meta_title

  %body{class: "#{controller_name} #{action_name}"}
    .main-container.container
      = render 'announcements' if user_signed_in?
      = render 'header'
      = render 'flash_messages', :flash => flash, :on_landing_page => false
      = render_help_text if user_signed_in?
      .page-container
        = yield

    - if Rails.env.production? || Rails.env.staging?
      = javascript_include_tag 'google_analytics'
      /= piwik_tracking_tag # Disabling piwik until we've moved it over to our own server
