!!!
%html
  %head
    %link{href: 'http://fonts.googleapis.com/css?family=Cuprum', rel: 'stylesheet', type: 'text/css'}
    %title Tautoko
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => 'layouts/header'
    .container
      = render :partial => 'layouts/flash_messages', :locals => {:flash => flash}
      = yield
