!!!
%html
  %head
    %title= display_title @unviewed_notifications
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/flick/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}
    %meta{'name' => 'description', :content => 'Loomio is a free and open-source web application that helps groups make better decisions together.'}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31046122-1']);
      _gaq.push(['_setDomainName', 'loom.io']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{class: "#{controller_name} #{action_name}"}
    - logged_out = true if controller_name == "pages" || controller_name == "sessions"
    - supported = true unless params[:id] == 'browser_not_supported'

    - unless logged_out
      = render 'header', :notifications => @notifications,
        :unviewed_notifications => @unviewed_notifications
    .main-container.container
      = render "fork_us_github" if logged_out && supported
      = render 'flash_messages', :flash => flash
      = render "header_logged_out" if logged_out && supported
      = yield


