!!!
%html
  %head
    %title= display_title @unviewed_notifications
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/flick/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}
    %meta{'name' => 'description', :content => 'Loomio is a free and open-source web application that helps groups make better decisions together.'}

    =render 'google_analytics'

  %body{class: "#{controller_name} #{action_name}"}
    .main-container.container
      = render 'header', :notifications => @notifications,
        :unviewed_notifications => @unviewed_notifications
      = render 'flash_messages', :flash => flash, :on_landing_page => false
      = render_help_text(@group)
      .page-container
        = yield
