!!!
%html
  %head
    %title Loomio
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/flick/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}
    %meta{'name' => 'description', :content => 'Loomio is a free and open-source web application that helps groups make better decisions together.'}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31046122-1']);
      _gaq.push(['_setDomainName', 'loom.io']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{class: "#{controller_name} #{action_name}"}
    = render 'header'
    .container
      .margin-top
        = render 'flash_messages', :flash => flash
        = yield
