!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title= display_title @unviewed_notifications

    - if @feed_url
      %link{href: @feed_url, rel: 'alternate', type: 'application/rss+xml', title: t(:rss_subscribe), class: 'rss-link' }

    /[if lt IE 9]
      =javascript_include_tag 'ie8'

    = stylesheet_link_tag    "application"
    = theme_stylesheet_link_tag
    = javascript_include_tag "application"
    = theme_javascript_include_tag
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
    = render 'application/header'
    .container.main-container{ class: render_help_container }
      - unless (controller_name == 'groups') && (action_name == 'show')
        = render 'application/flash_messages', :flash => flash, :on_landing_page => false
      .page-container
        = yield
      = render 'footer'
  = render 'intercom_tracker'
  = render 'heap_analytics'
