<!DOCTYPE HTML>
%html
  %head
    = stylesheet_link_tag 'email'
    = stylesheet_link_tag 'vtfy/type_and_layout'
    = stylesheet_link_tag 'vtfy/round'
    = stylesheet_link_tag 'vtfy/components'
  %body
    = raw EventMailer::REPLY_DELIMITER
    .base-mailer__body
      = yield
