!!!
%html{lang: I18n.locale}
  %head
    %title= AppConfig.theme[:site_name]
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', href: '/roboto.css'}
    %link{rel: "shortcut icon", href: AppConfig.theme[:icon_src]}
    = stylesheet_link_tag 'basic/all'
    = stylesheet_link_tag 'web'
    = stylesheet_link_tag 'marketing/all'
    = render 'plausible'
  %body
    .container
      %header.d-flex.justify-center
        %a{href: '/'}
          %img{style: 'max-width: 128px', src: AppConfig.theme[:app_logo_src]}
    .container
      = yield

    - if @footer
      %footer= render @footer
