!!!
%html{lang: I18n.locale}
  %head
    %title= AppConfig.theme[:site_name]
    %meta{charset: 'utf-8'}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    %link{rel: "shortcut icon",    href: AppConfig.theme[:icon_src]}
    = stylesheet_link_tag 'basic/all'
  %body
    %header
      %a{href: '/'}
        %img{src: AppConfig.theme[:app_logo_src]}
    %main
      = yield
    %footer
      - if @footer
        = render @footer
    = javascript_include_tag 'angular_ahoy' if AppConfig.app_features[:ahoy_tracking]
