!!!
%html
  %head
    - title = @title ? @title : "Loomio"
    %title= title
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag    "frontpage"
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title

  %body{class: "#{controller_name} #{action_name}"}
    .container.home-flash
      = render 'flash_messages', :flash => flash
    = render "marketing_header"
    = yield
  = javascript_include_tag "frontpage"
  = render 'google_analytics'
