%head
  %title= t(:'meta_tags.default_title')
  %meta{ name: 'description', content: t(:'meta_tags.default_description') }

  %meta{ name: 'twitter:card', content: 'summary'}
  %meta{ name: 'twitter:creator', content: "@Loomio" }
  %meta{ name: 'twitter:title', content: t(:'meta_tags.default_title') }
  %meta{ name: 'twitter:description', content: t(:'meta_tags.default_description') }

  %meta{ property: 'og:title', content: t(:'meta_tags.default_title') }
  %meta{ property: 'og:description', content: t(:'meta_tags.default_description') }
  %meta{ property: 'og:type', content: 'website' }
  %meta{ property: 'og:site_name', content: 'Loomio'}
  %meta{ property: 'og:image:type', content: 'image/png' }
  %meta{ property: 'og:image:width', content: '1200' }
  %meta{ property: 'og:image:height', content: '1200' }
  %meta{ property: 'og:url', content: request.original_url }
  %meta{ property: 'fb:app_id', content:ENV['FB_APP_ID_META']}

  %meta{property:'og:locale', content: I18n.locale}
  - detectable_locales.each do |locale|
    %meta{property:'og:locale:alternate', content: locale}

  %link{href: '//plus.google.com/116342080294548871960/', rel: 'publisher'}

  = stylesheet_link_tag "pages/index"

  %link{href: "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css", rel: "stylesheet"}

  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"

  = render 'application/google_analytics', code: ENV['GOOGLE_TAG_MANAGER_ID_FOR_MARKETING']

  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'}

%body
  - unless flash.empty?
    .lmo-flash-container
      = render 'application/flash_messages', :flash => flash
  = render 'header'
  .lmo-wrap__body
    = yield
    = render 'footer'

= javascript_include_tag "pages/marketing"
