!!!
%html
  %head
    - title = @title ? @title : "Loomio"
    %title= title
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag    "frontpage"
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title

  %body{class: "#{controller_name} #{action_name}"}
    .container.home-flash
      = render 'flash_messages', :flash => flash
    .container#top
      .inner-container
        .row-fluid
          .pull-right
            - if controller_name == 'pages' && (action_name == 'home' || action_name == 'about')
              =link_to 'Sign up', request_new_group_path, class: 'btn'
            =link_to 'Sign in', new_user_session_path, class: 'btn btn-info'
          .span3 &nbsp;
          .span6
            =link_to image_tag("logo-426px-mauve-matte.png"), "/"
            %h2 collaborative decision-making
        .frontpage-nav
          =link_to('Purpose', '/about#purpose')
          %span{style: 'padding-left: 3px; padding-right: 3px'}
            &middot;

          =link_to('How it works', '/about#how-it-works')
          %span{style: 'padding-left: 3px; padding-right: 3px'}
            &middot;
          =link_to('About us', '/about#about-us')
    = yield
  = javascript_include_tag "frontpage"
  = render 'google_analytics'
  /= piwik_tracking_tag # Disabling piwik until we've moved it over to our own server
