!!!
%html{locale: current_locale}
  %head
    - title = @title ? @title : "Loomio | Collaborative Decision-Making"
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title= title
    = stylesheet_link_tag "frontpage"
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title


  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'

    .navbar.navbar-top
      .navbar-inner
        .navbar-container
          = link_to image_tag("logo-orange.png"), root_path, class: 'brand', alt: 'Loomio'

    .container.home-flash
      = render 'flash_messages', :flash => flash

    .row.hero
      .content-container
        .content
          = yield

    = render 'footer_logged_out'
  = javascript_include_tag "frontpage"
