!!!
%html
  %head
    - title = @title ? @title : "Loomio | Collaborative Decision-Making"
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title= title
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag    "frontpage"
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title
    - analytics_scope do
      = render 'google_analytics'

  %body{class: "#{controller_name} #{action_name}"}
    .container.home-flash
      = render 'flash_messages', :flash => flash
    - if controller_name == 'pages'
      = render 'github_fork_us'
      = render 'donate-tab'

    = yield

    .footer
      = render 'footer_logged_out'
      = javascript_include_tag "frontpage"
      = javascript_include_tag 'https://browserid.org/include.js'
      - analytics_scope do
        = render 'segmentio'
